[2016-06-08 11:25] enoch85 commented on #432
cc @skjnldsv Want to change to the same colors here as in the calendar app? :)

[2016-06-08 15:23] skjnldsv commented on #432
It is already merged! :)
see #306  and #345

[2016-06-08 20:25] enoch85 commented on #432
Great news!

[2016-06-08 20:25] #432 closed, assigned to nobody

[2016-06-09 04:32] skjnldsv commented on #432
:tada:

[2016-06-09 10:10] nickvergessen opened #433 "Contact groups/categories are stored wrongly"
### Steps to reproduce
1. Create a contact
2. Assign multiple groups
3. Check the VCard that is sent to the server
### Expected behaviour

Expected: `CATEGORIES:1,2`
### Actual behaviour

Actual: `CATEGORIES:1\,2`

So the `,` is escaped causing the value to be interpreted as one group called `one-slash-comma-two` instead of two groups `one` and `two`

[2016-06-09 10:10] nickvergessen commented on #433
Ref https://github.com/owncloud/core/issues/25030#event-686992296

[2016-06-09 12:38] DeepDiver1975 commented on #433
thx @nickvergessen

[2016-06-09 18:06] carlomorgenstern commented on #433
same thing happens with the "TYPE" property, which makes basically every vcard exported from owncloud invalid for me.

Steps to reproduce
1. Create a contact
2. Insert a parameter with the "TYPE" property (e.g. a work phone number)
3. Check the VCard

Expected: `TEL;TYPE=WORK,VOICE:xxxxxx`
Actual: `TEL;TYPE=WORK\,VOICE:xxxxxx`

[2016-06-10 15:25] Mte90 commented on #430
Any news for that problem?

[2016-06-11 17:38] untitaker commented on #920
From the HTTP RFC:

    An origin server MUST NOT send a validator header field
    (Section 7.2), such as an ETag or Last-Modified field, in a
    successful response to PUT unless the request's representation data
    was saved without any transformation applied to the body (i.e., the
    resource's new representation data is identical to the representation
    data received in the PUT request)

[2016-06-12 13:03] JPustkuchen opened #434 "Allow LDAP access (for VoIP phnes)"
I hope I'm right here for feature requests.
I'm looking for a solution to use Owncloud Contacts for LDAP access from a VoIP phone. I know that this has nothing to do with Owncloud LDAP (Login).

I found several users who require such a solution but could not find an implementation yet. This one is missing: https://mailman.owncloud.org/pipermail/devel/2014-April/000127.html

What can we do?

[2016-06-12 16:03] zenlord commented on #434
This is a request to add support for an entirely different protocol... While I do agree that having multiple possible entries into the same backend is technically preferable, I think you would better set up some synchronization between your owncloud contacts and an LDAP addressbook (or look for phones supporting carddav 😃)

[2016-06-12 16:42] JPustkuchen commented on #434
Thank you very much for your reply, Vincent. Our VoIP phones sadly only
support LDAP and I was hoping there was a plugin or some development
already done to prevent multiple syncs in between... :(

[2016-06-12 17:05] zenlord commented on #434
I agree it would be a useful feature for a lot of people (including myself), but it's a non-trivial thing to do...

[2016-06-13 15:26] devmarxx commented on #430
Same problem here. OC 9.0.2, Contacts 1.3.1, php 5.6. ACP enabled or disabled doesn't matter for me. Spinning wheel, no contacts shown. Export works ...

[2016-06-13 21:43] tessus opened #435 "[Questions] usability and standards"
I'm sorry, if this is not the right place, but with so many different channels, I don't really know which one to use to voice questions and/or concerns.

I've tested the latest version (1.3.1.0) of the Contacts app and there are basic features missing, which makes it practically impossible to use the app in any useful manner.
- Let's say you enter a name like `Helmut K. C. Tessarek`. Where can I s

[2016-06-14 06:05] DeepDiver1975 commented on #435
Thanks for your feedback.
Basically all your points are discussed in individual issues.

Why is the app in the current state: we are right in the middle of implementing it and some things are not yet finished. Plain simple.

I will later reference all issues.

[2016-06-14 06:05] #435 closed, assigned to nobody

[2016-06-14 06:29] scriptPilot commented on #429
Should be fixed with #425

[2016-06-14 08:50] DeepDiver1975 commented on #435
#265

#122

This is in the header - with exception of position
@jancborchardt

Worth a separate issue - works for me so we should analyse why this is broken for you.

[2016-06-14 08:51] DeepDiver1975 commented on #435
this should not happen and has to be addresses -> new separate issue please

[2016-06-14 08:54] DeepDiver1975 commented on #434
The purpose of this app is to act as pure carddav client.
With respect in fulfilling this feature request I'd give it a try to sync ldap to carddav as @zenlord suggested.

[2016-06-14 08:54] #434 closed, assigned to nobody

[2016-06-14 08:56] DeepDiver1975 commented on #431
family is the name you gave the addressbook some time ago - right?

CardDAV defines lookup mechanisms to request the list of addressbooks for a given user.

[2016-06-14 08:56] #431 closed, assigned to nobody

[2016-06-14 08:58] #404 closed, assigned to nobody

[2016-06-14 09:14] jancborchardt commented on #435
@tessus For the Organization details: Title and Position seem to be used as the same on most all other contacts apps. Not sure what you mean by »Position« otherwise, and if »Title« doesn’t suffice, please give an example. :)

[2016-06-14 09:15] jancborchardt commented on #435
@tessus but yeah as @DeepDiver1975 said – most of these are already addressed in issues, and generally for each problem there should be one _issue_ open, not a grouped one.

[2016-06-14 11:39] DarkSteve commented on #435
Hi Tessus. The reason the app feels so far behind even though ownCloud has been out for years, is because the app is only months old!

With the release of ownCloud 9, the calendar and contacts were moved into the OC core. This meant the existing (mature) apps stopped working. The current Contacts app is missing the functionality that you've pointed out because the app basically started again from

[2016-06-14 17:08] Henni commented on #324
might be relevant: https://github.com/joshfraser/JavaScript-Name-Parser

[2016-06-15 01:30] tessus commented on #435
@DeepDiver1975 @jancborchardt there's no field other than the name in the header I can change:

<img width="369" alt="screen shot 2016-06-14 at 21 21 56" src="https://cloud.githubusercontent.com/assets/223439/16065165/1e9b1a64-3276-11e6-81f3-9fa66d57558e.png">

Neither is there a field I can add via the drop down:

<img width="408" alt="screen shot 2016-06-14 at 21 20 09" src="https://cloud.github

[2016-06-15 01:32] tessus commented on #435
I believe that priorities should be assigned differently. I have the feeling that in this case people rather work on how to make the app look fancy and to improve the user experience, which in turn has unfortunately the opposite effect.

Instead, the first priority should be a solid base (backend) namely a contact data structure that adheres to the vCard/CalDAV standard. Users don't care how to en

[2016-06-15 02:34] targeter21 opened #436 "Add Contacts works in IE but not latest Chrome"
### Steps to reproduce
1. Start the owncloud 9.0 docker container.
2. Enable the Contacts app and navigate to it.
### Expected behaviour

I should be able to add a contact in Chrome. Also I should not see an infinite spinner on initial load of the Contacts app.
### Actual behaviour

Initial load shows a spinner that does not go away. Also, when I click 'Add Contact', nothing happens. There are no

[2016-06-15 02:35] targeter21 commented on #436
After loading it in IE, it works correctly in Chrome. Very weird and leads me to believe something is not initializing in Chrome unlike IE.

[2016-06-15 08:06] DeepDiver1975 commented on #435
![bildschirmfoto von 2016-06-15 10-06-21](https://cloud.githubusercontent.com/assets/1005065/16072379/d7b02be2-32e0-11e6-9e9f-6114a6a9df3b.png)

Which browser are you using?

[2016-06-15 08:07] DeepDiver1975 commented on #435
as far as I'm aware of the title is part of the N array

[2016-06-15 08:07] jancborchardt commented on #435
@tessus let me keep it short: This is an open source project, and everyone worked very hard on it to get it into the current state. Just because you have different priorities doesn’t mean the app is not good. It just means that you probably should get involved and help – this app is open source after all!
We aim to develop both functionality and design alongside each other. Because good design can

[2016-06-15 08:09] DeepDiver1975 commented on #435
no need to do that - we all know ourselves where we stand :speak_no_evil:

[2016-06-15 08:12] DeepDiver1975 commented on #436
hmm . I fear there is not much we can do -> close

[2016-06-15 08:12] #436 closed, assigned to nobody

[2016-06-15 10:38] gdeflaux commented on #430
+1 same problem.

[2016-06-15 15:29] tessus commented on #435
@DeepDiver1975 the screenshot I sent was with Calendar 1.3.1.0.
I'm using Firefox 47.0 on OSX 10.11.5 and 10.9.5.

[code]

[2016-06-15 16:08] tessus commented on #435
@jancborchardt

I'm not denying this.

What I don't understand is that oc and its apps use object oriented architecture. Doesn't that mean that certain classes and methods can stay the same while the interfaces to the backend can easiliy be changed via adding another level to the class hierarchy or changing the existing abstraction layer class (which I hope was used in the first place)?

These are

[2016-06-16 06:39] lo-man commented on #429
I've the same problem with my android. @scriptPilot  Where is the fix in #425 ? I can't find a solution.

[2016-06-16 08:07] DeepDiver1975 commented on #255
@jancborchardt such thing exists? Please ref a special or service which could help us with this respect. THX

[2016-06-16 09:04] Pazu commented on #431
@DeepDiver1975 Yes, I assumed so as well, using some UI that perhaps existed in some older owncloud version.

There doesn't appear to be any UI for doing this now, though. As you can see in the attached screenshot, the Default address book can't be renamed. Is there any way to do that?

![contacts](https://cloud.githubusercontent.com/assets/2777268/16111274/0c40d11e-33b2-11e6-966e-86f5bd8e5e4a.png

[2016-06-16 09:13] jancborchardt commented on #255
@DeepDiver1975 actually scratch that – it’s not dependent on the region of the user of course, but you could have contacts all over the place which might or might not have PO boxes.

In the UI we should have it as a separate entry for now, as was said above.

[2016-06-16 09:48] DeepDiver1975 commented on #431
technically speaking renaming the uri 'family' is not possible - this will break all connected clients.
renaming the displayname is technically possible but not yet implemented in the contacts app - you could change it in the db or using another carddav client _maybe_

[2016-06-16 14:17] DeepDiver1975 commented on #255
done :see_no_evil:

[2016-06-16 17:09] scriptPilot commented on #429
If they implement fix #425, the sync Problem should be fixed as well. The data is synced, but not interpreted well by the phone. Workaround: Read contact data, Change invalid code, update contact data in oc - could be automized.

[2016-06-16 17:50] manishbisht commented on #354
@jancborchardt @skjnldsv @aspdye @DeepDiver1975
Hi, I am working on this issue. I have split the contact details section into 2 columns if the screen width is greater then 1200px.

Now by default only 3 fields i.e Phone, Email and Address are shown and after splitting into 2 columns there is more empty space shown in the contact details section which looks bad.

Now how can I display the more fiel

[2016-06-16 20:44] DeepDiver1975 commented on #324
That libs dead Baby, that libs dead!
Last commit 2 years old

[2016-06-17 05:08] skjnldsv commented on #324
:skull: Nooooooooo

[2016-06-17 08:28] jancborchardt commented on #354
What is very important regarding layout:
- use 2 columns, and not more!
- left column is phone, email address etc
- right column is addresses
- have enough whitespace between the columns

[2016-06-17 08:37] manishbisht commented on #354
@jancborchardt
- Only 2 columns will be displayed on screen size larger than 1200px [Implemented]
- left column is phone, email, address etc [By default Implemented]
- right column is addresses [Can be Implemented Easily](What I have think of is to display the other fields like Website, Social, Note etc instead of showing the repeated field address)
- have enough whitespace between the columns (Ca

[2016-06-17 12:57] skjnldsv commented on #354
@manishbisht I was already working on this see #411 :)
If you want to inspire from it, feel free!

[2016-06-19 18:21] Rello opened #438 "Which Contact-Tables are the correct ones - after 9.x?"
there are several tables - some from the old some from he new contacts version.
which can be cleaned up? shouldn´t the cleanup be part of the migration?

from the size, the 2 *_cards seem to be the same.

oc_addressbookchanges
oc_addressbooks

oc_cards
oc_cards_properties

oc_contacts_addressbooks
oc_contacts_cards
oc_contacts_cards_properties

[2016-06-19 20:24] irgendwie commented on #438
The old tables will be automatically dropped with the upcoming ownCloud 9.1 version.
https://github.com/owncloud/core/issues/21889

No need to manually take care of them.

[2016-06-19 20:24] #438 closed, assigned to nobody

[2016-06-19 21:01] Rello commented on #438
strange that my search did not find it.

thank you!

[2016-06-20 21:41] lookfar commented on #430
same issue, I will have to wait before I allow users to use this feature.

[2016-06-22 05:01] phsc84 commented on #265
Shouldn't this issue be fixed with #437?

[2016-06-22 05:02] phsc84 commented on #324
Shouldn't this issue be fixed with #437?

[2016-06-22 05:02] phsc84 commented on #276
Shouldn't this issue be fixed with #437?

[2016-06-23 04:48] enoch85 commented on #426
Correct me if I'm wrong here, but isn't the app just a GUI? The backend is done in DAV.

[2016-06-23 10:57] #265 closed, assigned to nobody

[2016-06-23 10:58] jancborchardt commented on #324
@phsc yup, thanks!

We can do enhancements in the future, but for now this should fix it.

[2016-06-23 10:59] jancborchardt commented on #324
Or wait – this was for the other issue.

This issue is about parsing the name, which is an entirely different beast. ;)

[2016-06-23 14:23] schiessle opened #440 "Hard to distinguish which input field contain what kind of data"
If you start with a empty contact the placeholder tell you which kind of data should be added to which field. But if you look at a existing contact there is no indication about the input fields data.

For example look at this screenshot:

![contacts](https://cloud.githubusercontent.com/assets/1589737/16306454/0b64471a-395e-11e6-9cb3-b6a3cbaa560b.png)

Can you tell me what data is stored for John D

[2016-06-23 14:25] skjnldsv commented on #440
Do you suggest some header title for the fieldset types?

[2016-06-23 14:31] schiessle commented on #440
Yes, a header title could be a solution. Or a label next to each input field? Maybe "home", "work",... could also be extended to "Home Email", "Work Email",... or something like that? Or a tooltip on hover, but might be also hard to detect and doesn't work on mobile.

I don't have a special solution in mind. I'm happy to let the developers  and designers decide what fits best. But I think there sh

[2016-06-23 14:33] jancborchardt commented on #440
Yes, we need to bring back the small header inbetween the fields, like we had in the old Contacts app. :) @skjnldsv do you want to take care of that?

(Should be the size of the text, same opacity/greyscale as the field labels, and left aligned with the fields themselves – not on the far left.)

[2016-06-23 14:34] skjnldsv commented on #440
This could be compatible with the way the page is calculated. All the fields are grouped by types.

@jancborchardt I don't have the time right now. But I should be able to work on the app again and continue my work on #411.
#411 is compatible with some heading here. I will see what I can do :)

[2016-06-23 14:38] MorrisJobke commented on #440
I like how the android input field labels are shifted up once you type something in:

![screenshot_20160623-163549](https://cloud.githubusercontent.com/assets/245432/16307243/da5cacfe-3960-11e6-8269-555fc3f204ae.png)
![screenshot_20160623-163603](https://cloud.githubusercontent.com/assets/245432/16307244/da5d0f6e-3960-11e6-865e-16f0dc2d85ad.png)

[2016-06-23 14:44] skjnldsv commented on #440
I'm on the opposite side :p
I hate this way of displaying a placeholder. This seems like a new thing a lot of webdev start doing. This confuse the hell out of me! ^^

I think we should keep it simple. :)

[2016-06-23 15:26] jancborchardt commented on #440
@MorrisJobke this is not about the same labels though, and also this switching is weird. For addresses e.g. there is a top »Address« label and all the fields like street, city etc have their own labels.

@skjnldsv awesome! Sure, take your time. I would say it should _not_ be part of #411 though since it’s unrelated. And having big pull requests is never ever good! :) Just do a separate pull reques

[2016-06-23 15:32] skjnldsv commented on #440
Of course :)

[2016-06-23 21:12] ghormoon commented on #430
I've got this for one user for some time (even previous versions), javasript spits out "TypeError: model.getProperty(...) is undefined"
can  Isomehow easily find out on which entry?

[2016-06-23 21:19] lookfar commented on #430
I removed version 9 of OC and installed version 8.2 from scratch and everything is working

[2016-06-23 21:21] ghormoon commented on #430
between OC 8.2 -> OC 9 there as a change in access, it was accessing the DB directly, now it uses carddav, so there's the problem usually (I already had one open issue for some bad characters breaking this, but it is still not all)

[2016-06-24 08:26] b3 commented on #283
Why is this issue closed, since it is not fixed yet?

[2016-06-24 08:30] b3 commented on #283
OK found an open bug #324.

[2016-06-27 11:51] martingwb opened #441 "Problem with contacts since last app update"
Hi,
I am having a problem with the contacts app since the last app upgrade.
I guess I will have to repair the oc_cards table. (but where can I find information what the table(s) should look like?) Or is there a way to reinstall the tables for the contacts app?
### Steps to reproduce
1. select "Contacts" ap
2. no contacts displayed, spinning wheel stays
### Expected behaviour

Contacts should be di

[2016-06-27 12:28] irgendwie commented on #441
Core issue now, since with 9.0 a new dav endpoint was established.
The Contacts app is just a frontend using the dav endpoint.
Maybe this is helpful: https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/occ_command.html#dav-commands
Otherwise please open a new issue in [owncloud/core](https://github.com/owncloud/core)

[2016-06-27 12:28] #441 closed, assigned to nobody

[2016-06-27 19:12] hameau commented on #255
IMO, the purpose of the Contacts app is to store, display and **exchange** vcard data, so [RFC 6350](https://tools.ietf.org/html/rfc6350) has to be the definitive standard, which says that the fields are:
1. the post office box;
2. the extended address (e.g., apartment or suite number);
3. the street address;
4. the locality (e.g., city);
5. the region (e.g., state or province);
6. the postal code

[2016-06-28 09:00] jancborchardt commented on #255
@hameau Since this is the second time someone brings up »bikeshedding« when we were talking about how to design stuff well, I’ll just make it clear:

One of the main goals of this software project is that it’s easy to use, not just barely functioning. Traditionally open source software hasn’t put a lot of weight on good design, but we and lots of other projects nowadays do. The fact that it’s open

[2016-06-28 12:19] pollti opened #442 "No possibility to delete multiple contacts"
Can you please add a possibility to select multiple/all contacts and delete them?
Deleting the contacts one by one is very time consuming ;-)

[2016-06-29 12:15] rfc2822 opened #443 "VCard4 returned with invalid PREF value"
Steps to reproduce:
1. Exporting contacts from Android generates VCards 2.1 with lines like `TEL;CELL;PREF:+12345`.
2. Import the vcf into OwnCloud (one contact with a line like above is enough).
3. Request the VCard with `Accept: text/vcard; version=4.0` and OwnCloud serves a VCard 4 with this line: `TEL;CELL=;PREF=:+12345`. [The missing value for `PREF` is not allowed](https://tools.ietf.org/htm

[2016-06-30 05:34] hameau commented on #255
@jancborchardt

Well, frankly I don't think the Contacts app works as well as it used to. Just to cherry-pick a couple of issues:
- How on earth did those colours get through to release (v1.3.1.0)(https://github.com/owncloud/contacts/issues/432)? White letters on bright green or bright yellow? I can't even read the name of the contact without changing the css locally. (I know that #432 has been cl

[2016-06-30 07:32] DeepDiver1975 commented on #255
Gentlemen - instead of blaming and throwing shit at each other - please just contribute and fix things.

![this-is-open-source](https://cloud.githubusercontent.com/assets/1005065/16480289/8e44faca-3ea5-11e6-86a2-33ad74c4be77.jpg)

[2016-06-30 14:09] DeepDiver1975 commented on #443
Sounds more like a pure backend issue - maybe even upstream within sabre dav

[2016-06-30 18:54] schiessle opened #444 "Support custom fields in Contacts"
Originally reported here https://github.com/nextcloud/server/issues/250 by @chepec

I guess this is more of a feature request than a bug.

Coming from Google Contacts, I couldn't avoid noticing that the Nextcloud Contacts app lacks the ability to customise the field labels.

![Field labels](https://luxor.chepec.se/nextcloud/index.php/s/QTH0gzenT8nNpuh/download)

I did some research, and if I read

[2016-07-01 08:03] DeepDiver1975 commented on #444
duplicate #234

[2016-07-01 08:03] #444 closed, assigned to nobody

[2016-07-01 09:32] rfc2822 commented on #443
Shall I report it elsewhere?

[2016-07-02 06:07] DeepDiver1975 commented on #443
Let me find the time to analyse this. I will move the Ticket where it should go.

[2016-07-03 07:59] devmarxx commented on #430
The issue still exists on Owncloud 9.0.3
Sadly no hints at all in the log files.

[2016-07-03 14:27] Happyfeet01 opened #445 "[Feature request] sync contact profile picture."
I would be good if there was an option, like Google contacts, to migrate dublicate Contacts. Also would be good if the contact has an Thumbnail that can be imported from *.vcf

[2016-07-03 23:02] mgrachten commented on #430
@4rensiker from reading your comment about disabling php cache, it sounds like the cache needs to be refreshed i.e. the old cache files should be deleted (something that just disabling and re-enabling may not do). I'm writing this from the top of the head, I have not experienced this problem (yet) so I can't help any further with it.

[2016-07-04 18:18] jospoortvliet opened #446 "breaking on a lot of valid vcards"
I wanted to have some testing vcard data so I grabbed files here:
https://gitlab.com/pwithnall/vcard-test-suite/tree/master/vcards/valid

and started to import them randomly.

Whaddayaknow, this broke rather quickly and now the contact app loads infinitely ;-)

Not sure if there's a testsuite of vcards atm but perhaps those can be grabbed ;-)

[2016-07-05 05:38] DeepDiver1975 commented on #446
Thanks for your feedback Jos! But I'm sorry to say that this is far from a helpful Report.

You know: issue template;-)

[2016-07-05 05:38] #446 closed, assigned to nobody

[2016-07-08 05:37] devmarxx commented on #430
Workaround: I exported all my contacts with the download button under settings in the web interface of this plugin into a vcf fle. Then I deleted all my contacts on my phone and synced my phone with the carddav account. Then I imported the previously exported vcf file over the webinterface of this plugin. All the contacts were listed correctly. After that I synced my phone again and everything was

[2016-07-08 05:42] devmarxx commented on #430
Correction: After logoff and login the issue is back :-( Spinning wheel again ...

[2016-07-08 11:15] jospoortvliet commented on #446
Yeah, sorry. It was more of a suggestion to use the v-cards in that repo as a test suite, in case you were looking for one. I could create issues for each of the breakage points of course but I'm not sure if that is helpful.

[2016-07-08 14:17] ghormoon commented on #430
I had the same with the broken whitespace issue (#311). if you import broken contact, it gets to the database and is still displayed correctly. but when it has to be retrieved from the DB, it hangs.

[2016-07-08 15:04] DeepDiver1975 commented on #446
better then nothing :wink:

[2016-07-09 11:07] TecJon opened #449 "Display number of contacts below the contacts list"
### Display total number of contacts

I suggest to display the total number of contacts below the contact list for convenience and verification.

I imported a .vcf file with several hundred contacts and couldn't verify if all contacts got imported correctly. In fact they didn't and I only found out by chance that contacts were missing.

![numberofcontacts](https://cloud.githubusercontent.com/asset

[2016-07-11 06:29] xshadow commented on #430
Same issue here. Nothing special in the logs.

Debian 8, PHP7, OC9.02, all Caching done by Redis .

[2016-07-12 15:18] fracture-point opened #450 "OwnCloud + CloudFlare breaks new Contacts and Calendar UI"
### Steps to reproduce

Upgrade to 9.0.3 from 8.2.
### Expected behaviour

Contacts + Calendar works as usual
### Actual behaviour

Cloudflare is killing the Contacts and Calendar front ends (everything else works fine).  It took me a very long time to narrow this down, and I have finally determined that if you are using CloudFlare as a proxy (it's main purpose) for the owncloud domain, it will, b

[2016-07-15 08:01] j-ed opened #451 "OC9.0.3/Contacts 1.3.1.0 - Categories are written multiple times"
## Expected behavior

When opening a contact all categories, like `home` or `work` should be assigned correctly to all relevant fields.
## Current behavior

Under some circumstances cateories are not assigned correctly to some field, maybe because their doubled. On an Android phone I've e.g. assign the category 'home' to an address or email address. After synchronizing this address to the ownCloud

[2016-07-15 15:31] savely-krasovsky opened #452 "Acid random colors for contacts!"
Problem:
![vivaldi_2016-07-15_18-25-08](https://cloud.githubusercontent.com/assets/5345489/16879623/1566eb9c-4aba-11e6-8462-71556e54fe13.png)
Solution:
![2016-07-15_18-23-20](https://cloud.githubusercontent.com/assets/5345489/16879647/2ce974a6-4aba-11e6-95a9-b783e876d948.gif)
So, just convert RBG hex code to HSV, fix saturation on 30, brightness on 100, and randomize only hue. You will get light a

[2016-07-15 20:21] DeepDiver1975 commented on #452
Pull request welcome! THX

[2016-07-18 16:56] AndrzejMM commented on #430
For me the reason of "Spinning wheel" are accounts with space e.g. "Tom Moon", "Tester 2". Accounts without space works correctly e.g "TomMoon", "Tester2"

[2016-07-18 17:28] devmarxx commented on #430
For me it seems to be a browser version issue. I did some tests this weekend on the laptop of my wife and found out that she could view all the contacts without spinning wheel. Back on my laptop, logged in with my wife's owncloud account, I got the spinning wheel again. The difference between the laptops is, that I'm still using FF 29 (on windows) and my wife is up to date with FF 47 (on linux). S

[2016-07-18 17:36] AndrzejMM commented on #430
For me accounts which have space in username not working at all. Neither on browser or Android CardDav. Accounts without space works great.

[2016-07-19 05:58] DarkSteve commented on #430
@devmarxx, is there a reason you're using such an old version of Firefox? v29 is pretty old!

FWIW, I don't get the spinning wheel, and at home I use the latest Pale Moon (forked from FF around v25 or 26), and at work I use Firefox 38 (Extended Support Release).

[2016-07-19 07:22] devmarxx commented on #430
I used FF 29 because I just love the Firefox Sync plugin for Owncloud. I didn't want to update all my devices with the about:config services.sync.username stuff to make Firefox Sync running on newer Firefoxes. I admit, I was lazy :-) Well, I did the update to FF 47 this morning on two machines (windows and linux) and everything works well for me. Firefox Sync works and no spinning wheel anymore in

[2016-07-19 15:00] DarkSteve commented on #430
Ah, I use the ownCloud Mozilla Sync app as well! It works perfectly with Pale Moon, which still uses the older 1.1 sync.

However, once you've connected to your ownCloud sync, you should be able to upgrade to a newer version of Firefox. I was able to connect using an older version of both Seamonkey (2.25) and Firefox (25) and then update them while keeping sync intact. Admittedly, I haven't regula

[2016-07-19 15:54] xshadow commented on #430
I can see this spinning wheel with FF47.0

Only users with large address books or large address books and pictures are affected.

[2016-07-19 15:55] ghormoon commented on #430
can confirm that the problematic user has ~1100 contancts

[2016-07-19 16:16] spoorun commented on #430
In a business scenario, people have many contacts by necessity.
I (as a personal user) have over 2,000. Our business lists include over 5,000 contacts.

[2016-07-19 21:10] qirtaiba opened #454 "My contacts do not appear in Mac OS X Address Book (but another user's shared contacts do)"
### Steps to reproduce

Another ownCloud user's contacts are shared with me, it appears as a separate group in the ownCloud UI called "Contacts (otheruser)".  My own contacts are ungrouped, but I've also tried grouping them, and it makes no difference to the behaviour as explained below.
### Expected behaviour

My contacts are accessible in Mac OS X Address Book.
### Actual behaviour

My contacts

[2016-07-21 10:22] Mte90 commented on #430
the problem happen also on nextcloud... I was hoping that the migration will fix that problem:

[code]

[2016-07-21 10:57] MajorCGN opened #455 "Creating a group under OSX creates an entry under contacts"
This is an issue with **OSX** contacts as a CalDAV-client, so i mention **OSX** contacts explicitly if meant so, otherwise i think of OC/NC contacts
### Steps to reproduce
1. Open OSX contacts
2. Click on plus-sign of the OC/NC-addressbook in the sidebar and give it a name to create a new group
   2.1 group is created, but with a generic name, like new group. Given name is ignored
   2.2 rename gr

[2016-07-21 15:28] xshadow commented on #430
I further investigated another problem (https://github.com/owncloud/core/issues/25535), which led to a solution.

Seems so that there was an package update for debians php packages, which removed crucial packages.

After reinstalling all php7 packages, a restart of the webserver and the upgrade to owncloud 9.0.4, the spinning wheel won't show up again.

Maybe an update to owncloud 9.0.4 is not nec

[2016-07-23 14:32] spoorun opened #456 "Alternative names"
Currently missing are the following name fields which should be able to be added.
User should be able to add them by clicking a '+' icon next to the main name field.
This will be uncluttered and graceful, and intuitive.

When it clicking + they will have a dropdown option of addtional name types:

1) phonetic name (vcard draft: PHONETIC-FULL-NAME)
to show a name readable in the user's language.

2

[2016-07-23 14:43] spoorun opened #457 "Name display"
To ensure effective name display and sorting.

1) Use Nickname as contact's display name if Name and Organisation are empty

2) Set FN to be the same as display name i.e. Fullname, or Organisation, or Nickname.
(Currently FN is left empty if the contact is an organisation or only has a nickname. This breaks vCard sync/transfer).

[2016-07-23 14:46] spoorun opened #458 "Name sorting"
Vcard supports SORT-AS for setting upon which names/parts a contact should be sorted.

SORT-AS should be set and stored when creating a contact, or editing name fields.
If there is no name for a contact then ORG should be the SORT-AS field, and failing that NICKNAME.

User should be able to set in Options what the default sort-as field will be:
i.e. Firstname Lastname / Lastname, Firstname etc...

[2016-07-23 14:52] spoorun opened #459 "Edit and View mode slider"
When Users are dealing with a lot of data, or are viewing contacts only and wary of making unintentional edits, it would be efficient and useful to have a view<>edit slider.
It would save some users a _lot_ of unnecessary grief (for example those who have difficulty with touch screens, those with limited keyboard ability, and those who are scared with IT and don't need to edit contacts regularly).

[2016-07-23 14:59] spoorun opened #460 "Preferred items"
For each major item type a User should be able to set a 'preferred' item, by clicking a star symbol next to the item.

The items which are not preferred would have a hollow star, the ones which are would have a filled-in grey star.

Only one item of each type would be able to be preferred.

This would be intuitive to most users, since other interfaces use the same paradigm (Android, Google and App

[2016-07-23 15:08] spoorun opened #461 "Default field layout"
It is realised that keeping options streamline is important, to have an intuitive, simple, and graceful interface. However, having a fixed field layout, with no customisation, means having to continuously enter numerous fields for each contact again and again defeats that. And doesn't make the interface work for the User. Thus:

1) In options, User (or Administrator) should be able to define which

[2016-07-23 15:11] spoorun opened #462 "Address layout per country"
A simple and graceful but powerful enhancement to make the app look and work better for users around the globe.

To relieve problematic issues with users having to distort address layouts, and postal printing, etc... dependant upon their country:

1) Have a backend of address layouts per country (Universal Postal Union has this listed, I'm happy to do the work to put them in a file).
2) Provide an

[2016-07-23 15:18] spoorun opened #463 "Display Fullname separately to name fields"
Problem:
1) Users who use Organisation name or Nicknames for some of their contacts only see 'Name' written in large letters across the top of the contact when they view any Organisation contact. The name they wish to use is much smaller below. This looks terrible and is confusing for users.
2) It is not clear to a user what the current entry is for 'Display name' (which should be stored as FN in

[2016-07-23 15:55] spoorun opened #464 "Add missing fields"
Currently the following fields are missing.
- This limits vCard/CardDAV 4 interoperability.
- It also limits business usage of the Contacts app.
- (CAPITALS IN BRACKETS)=vCard property name.

1) TO AUTO-DETERMINE WHERE POSSIBLE
Kind (Organisation, Individual, Location (i.e. venue, premises), Group (automatic))
Logic
- Individual - default type
- Group type (if new group created)
- Organisation (on

[2016-07-23 16:03] spoorun opened #465 "Filter contacts by Kind"
Contacts should be able to be filtered, in the lefthand panel, by the KIND property, i.e.:

Individuals
Groups
Organisations
Locations (venues, premises, event sites etc...)

This is subject to #464
These would resolve #186

[2016-07-25 12:43] pulcov opened #466 "Bad date for contact's Birthday after Davdroid sync"
### Steps to reproduce
1. Create or modify birthday's contact on android phone
2. Synchronize contact with davdroid
3. Go to contact apps
### Expected behaviour

Contact birthday have formatted date
### Actual behaviour

Date is not formatted
Here, date is 2016-07-22 but visible date is 20160722:
![contact](https://cloud.githubusercontent.com/assets/16894464/17055871/fdc01c06-500f-11e6-91c4-238c0d

[2016-07-25 14:20] dschrempf opened #467 "Grouped entries appear under "Not Grouped""
### Steps to reproduce
1. Create a contact.
2. Set a group in the field "Groups".
3. Click "Not grouped" on the left.
### Expected behaviour

The newly created contact should not show up in "Not grouped".
### Actual behaviour

The newly created contact shows up.
### Server configuration

**Operating system**:
Arch Linux

**Web server:**
Apache 2.4.23-1

**Database:**
MariaDB 10.1.14-1

**PHP versi

[2016-07-26 08:11] xshadow commented on #442
A "delete-all" option would also be quite nice

[2016-07-27 22:29] wgregori opened #469 "importing csv file to a seperate contact list"
I'm not sure if this should be in the core repo (it does deal with CardDav) but here goes... I'm using owncloud 9 and I understand that some functionality that we had in Contacts OC-8.2 versions will be added over time.

My question is importing records into contacts.

Previously we could direct a new import to a specific contact list.  No more.  I understand that this is a CardDav/Contacts servic

[2016-07-28 08:14] Henni commented on #469
closing as duplicate of #414

[2016-07-28 08:14] #469 closed, assigned to nobody

[2016-07-28 18:14] jancborchardt opened #470 "Export suggests strange name for export file"
For me it shows: `hcLGwqdm`, whereas it should be `Addressbookname.vcf`, so by default `Contacts.vcf`.

Running on stable9 Nextcloud.

cc @Henni @irgendwie @DeepDiver1975 any idea? If I remember correctly we had that issue before, maybe it was fixed but not backported?

[2016-07-29 05:45] DeepDiver1975 commented on #470
Requires Update of sabre Library. Afaik works with  ownCloud 9.2.

[2016-07-29 05:47] DeepDiver1975 commented on #470
https://github.com/owncloud/contacts/issues/396

[2016-07-29 05:47] #470 closed, assigned to nobody

[2016-07-29 08:41] jancborchardt commented on #470
Ah, thanks! So this is nothing for a backport I assume cause it could cause breakage?

[2016-07-29 09:38] DeepDiver1975 commented on #470
sabre dav 3.2 is required - https://github.com/fruux/sabre-dav/commit/3b4306913e448a32be2a2c63def635c7a2638ec3#diff-dd9eff86b0d0b7e37674809f9b92f8ca

[2016-07-29 11:45] dschrempf commented on #467
I found the reason:
- If some contacts are ungrouped, it workds.
- However, if all contacts are grouped, and when "Not grouped" should be empty, it shows all contacts instead.

[2016-07-29 12:06] DeepDiver1975 commented on #449
fixed with #453

[2016-07-29 12:06] #449 closed, assigned to nobody

[2016-07-29 12:20] spoorun commented on #186
The standardised way of doing this is to use the 'KIND' property of vCard 4.
KIND is a property for each contact item. It can be Individual (default), Org (organisation), Group, or Location.
Issue #464 sets-out a way of guessing KIND when a contact is created, and provides a way for User to change KIND for a specific contact.
Issue #465 sets-out a way for the User to filter by Individual, Organisa

[2016-07-29 14:49] jancborchardt opened #473 "Rework how to add new details"
Currently you need to use the very strange dropdown in the bottom to use any kind of new field.

Instead we should do it like iOS and Android (and probably others) that the normal sets of fields like phone number, email, address etc have an entry directly below to »Add new phone number« etc.
These sets of fields should of course be visually separated by whitespace and also need a header. Which we

[2016-07-29 15:34] spoorun commented on #473
@jancborchardt  Indeed, Outlook, Gmail, Zimbra, Yahoo all use that kind of system.

The sections might be:

(Untitled header) [Name, organisation details, image]
Tel [e.g. Tel, Mobile, VoIP, Fax, Pager, SMS and labels Personal/Business/Other]
Email [e.g. personal, business, fax-email, etc...]
Address [e.g. personal, business, delivery, location]
Messaging [e.g. Instant Messaging usernames]
Social

[2016-07-31 16:17] #467 closed, assigned to DeepDiver1975

[2016-08-01 00:06] alptz opened #474 "importing birthdays in the wrong form"
### Steps to reproduce
1. OS X El Capitan 10.11.3: birthday is in the region specified form of DD.MM.YYYY
2. Exporting in a vcf-File saves the birthday as YYYY-MM-DD
3. owcloud 9.0.4 now is importing the birthday as YYYY-MM-DD
### Expected behaviour

owncloud 7 presents the birthdays in the correct regional form
### Actual behaviour

owncloud 9 presents the birthdays in the wrong form on the same

[2016-08-01 01:50] sushidave opened #475 "Contact groups/categories not shown in OS X Address Book after vCard import"
### Scenario

Migrating contacts from an external ownCloud provider to own server with ownCloud/Nextcloud.
### Steps to reproduce
1. OS X Address Book with some addresses with groups, stored on an ownCloud server of a provider. As expected, the groups are listed in the Address Book.
2. Export vCard file in the Address Book
3. Deactivate CardDAV account
4. On an own Nextcloud 9.0.53 server: Import

[2016-08-01 12:37] MariusBluem opened #476 "Download icon for .vfc does not appear"
### Expected behavior

Download icon for .vfc does appear
### Actual behavior

It doesn't 😒
<img width="714" alt="hello" src="https://cloud.githubusercontent.com/assets/19711361/17292360/d5caaee6-57e9-11e6-952c-428def1efba4.png">
### Server configuration

**ownCloud version:** (see ownCloud admin page)
Nextcloud 9.0.53
**Contacts version:** (see ownCloud apps page)
1.3.1
### Client configuration

[2016-08-01 13:34] DeepDiver1975 commented on #476
there is an sabre dav plugin necessary to allow this operation - this was introduced with owncloud 9.0.2
https://github.com/owncloud/core/pull/23897 - maybe something missing on the nc server side

this is not an issue of the contacts app -> closing

[2016-08-01 14:00] LukasReschke commented on #476
@DeepDiver1975 Thanks for your feedback.

I would greatly appreciate if you could spend a bit more time before closing an issue. It's otherwise  contra-productive and only makes all participants feel bad.

The download button is also missing on ownCloud. I have just taken the time to install ownCloud 9.0.4. It is also not appearing there:

![2016-08-01_15-58-49](https://cloud.githubusercontent.com

[2016-08-01 14:14] DeepDiver1975 commented on #476
backport to stable9 is missing - https://github.com/owncloud/core/pull/23891

[2016-08-01 14:16] DeepDiver1975 commented on #476
And again - not a contacts issue - but in core -> close.

[2016-08-01 14:16] #476 closed, assigned to nobody

[2016-08-01 20:48] mhzawadi commented on #389
I too get this issue, I have contacts that get synced from my HTC and have lots of notes.

#

Request headers:

Request URL:https://owncloud.horwood.biz/remote.php/dav/addressbooks/users/matt/contacts/
Request Method:REPORT
Status Code:504 Gateway Time-out
Remote Address:192.168.49.200:443
Response Headers
view source
Connection:keep-alive
Content-Length:578
Content-Type:text/html
Date:Mon, 01 Aug

[2016-08-02 05:16] phsc84 commented on #276
Ping... This is fixed with #437, isn't it? Furthermore, I think that #437 alone would justify a new release as it affects the CardDAV sync, which probably is widely used.

[2016-08-02 09:00] DeepDiver1975 commented on #276
form my pov it's at least one step closer ....

[2016-08-02 09:05] DeepDiver1975 commented on #391
I did not face this recently ->close

[2016-08-02 11:22] spoorun commented on #207
@jancborchardt I appreciate priorities. Though it must be said, the spec is not all dream world. It provides room for more advanced contact management (like for business vibrates). But just as importantly, specifying multiple types such as home & mobile or work & mobile, for example, is a very common use case. People with hearing challenges will also appreciate being able to specify phone types ho

[2016-08-03 18:53] spoorun commented on #255
Agree with @j-ed about adding Post Office Box as a different address type (like home, work, _postal_, location, other) since it is indeed a different address type (it's not a physical address per se).

Having addresses parsed (as per @jancborchardt ) is a nice idea, but unworkable given the number of global and regional address connotations, and that Users tend not to be very consistent in the way

[2016-08-03 19:43] spoorun commented on #255
It's important to think globally and 'outside the box' (pun intended) and make software accessible to users.
A Post Office Box **is** important for personal users, not just corporate customers.
They provide the only means of delivery for over 1 billion people in the world who are not offered delivery to the door - including most people in Africa (for example Kenya, Namibia, rural Nigeria), Jordan,

[2016-08-04 10:48] jankkm opened #478 "Contacts not showing up in contacts app"
Since upgrading to nextcloud from owncloud 8.x I have problem with the contacts app. It is running on a shared hosting.
I have 462 contacts in my address book synced between multiple Apple devices which still works fine but the contacts web app just shows "No contacts in here". If I remove about 20 contacts it works and it does not matter which contacts I remove so this is not about a faulty conta

[2016-08-04 20:51] sushidave commented on #478
@jankkm
Bare with me if the question is too silly but just to make sure: Do your CardDAV settings on the Apple devices show the address and credentials for your Nextcloud (or still owncloud or even iCloud)?

[2016-08-04 21:18] jankkm commented on #478
@sushidave I have used owncloud for quite some time now and the address did not change after the move to nextcloud. The devices are properly synced with nextcloud.
This is definitely something about the web interface which seems to be trying to load the contacts but then just gives up and shows none. Could be about some sort of cache which is too small or a timeout.

[2016-08-04 22:19] sushidave commented on #478
@jankkm Yes. What version of Nextcloud is it and is there anything in the error log file of your server (not the one on Nextcloud's Admin page) that could give us a hint?

[2016-08-05 08:02] jankkm commented on #478
It is the most recent stable of nextcloud, so 9.0.53
The error log of apache does not show anything interesting. There is nothing reported when opening the contacts app in nextcloud.
The web server uses php 5.6.20 which might not be ideal but I can only choose between 5.6.20 and 7.0.6 and the latter makes nextcloud run into an internal server error. It is a shared hosting and have to deal with wha

[2016-08-05 09:04] warnerbryce commented on #455
I have the same problem.
Then when i open my iPhone, i create a new connection to Owncloud server CardDav,
I can see the group working fine, but when i want to select only some groups to view, i can't deselect the Contact default group without the group created on OS X. It looks like they are tided.

[2016-08-05 09:21] jankkm commented on #478
It looks a little different though.
In my case there is the spinning wheel first as usual and then it shows this:
![screen shot 2016-08-05 at 11 17 00](https://cloud.githubusercontent.com/assets/7794417/17432273/b2755cee-5afe-11e6-9b7f-059735d4935c.png)

[2016-08-05 10:36] Tealk opened #479 "blank page on NextCloud 10 Beta"
### Expected behaviour

See the contacts
### Actual behaviour

See a blank page
![kontakte](https://cloud.githubusercontent.com/assets/12276250/17434136/0762dae2-5b09-11e6-8e2c-24cf0d1219a8.jpg)
### Server configuration

**Operating system**:
Debian GNU/Linux 8.5 (jessie)
**Web server:**
Apache2
**Database:**
MySQL
**PHP version:**
7
**ownCloud version:** (see ownCloud admin page)
NextCloud10Beta

[2016-08-05 11:25] Tealk commented on #479
Its a problem with CloudFlare Minify Javascript crash this app

[2016-08-05 11:29] #479 closed, assigned to nobody

[2016-08-05 14:13] sushidave commented on #478
@jankkm What happens when you add a single contact via the GUI? Please backup your contacts on the Apple device first.

[2016-08-05 15:54] sushidave commented on #475
Deleted all cards from the server and then imported this single card via the web UI contacts app:

[code]

Added another contact in OS X Address Book to initialise CardDAV sync.

Expected result:
- The group (category) is shown in the web UI contacts app and also in OS X Address Book.

Actual result:
- The group (category) is shown in the web UI contacts app.
- No group (category) shown in OS X Ad

[2016-08-05 21:33] ossadmirer314 commented on #430
one solution probably....

I have the same problem with a **complete new installation** of nextcloud!
User with blank in username CAN NOT USE contact app
-serverside encryption enabled
-app contacts activated, deactivated, activated...
-Apps die Benutzung der Share-API erlauben  on/off/on....
no effect,
- New User generated without a blank in user name ... et voilà ... contacts app runs
  This is

[2016-08-06 07:22] kyluke commented on #430
Same problem here. The spinner endlessly mocks me. Contacts v1.3.1.0.

[2016-08-06 19:37] jankkm commented on #478
I tried that and it the new contact does not show up on the synced devices. So nothing actually changed after adding that contact.

[2016-08-06 19:46] sushidave commented on #478
@jankkm Thanks for testing. Does the new contact appear in the web UI contacts app? Do the other contacts then appear there too? After updating any contact on the synced device does the new contact appear on the synced device?

[2016-08-06 19:49] spoorun opened #481 "Improve alignment of Group' and 'New Field' labels"
Currently, when a contact is created or edited, the label and button for 'Group' and 'New Field' are both aligned indented, in line with the address components.
This makes it already they are related to address (which they are not), rather than storage field entities.

Expected/resolution: Below address, 'Groups' 'Address Book' and 'New Field' are positioned in line with 'Address' 'Email' etc..

[2016-08-06 20:11] Zenzlhuber opened #482 "Adding New Contact - Sync to iPhone is broken"
### Steps to reproduce
1. Adding new Contact just with Name  and Organisation
2. Adding new Contact just with Firstname Lastname
### Expected behaviour

The Synced Contact should have placed the fields to the right place
### Actual behaviour

ad 1:   Sync looses the Name and only Organisation field is synced
ad 2:  Sync places Firstname Lastname in whole to the Lastname field
### Server configurat

[2016-08-06 20:19] MariusBluem commented on #482
I have the same problem - Reproducable :wink: Ref: #186

[2016-08-06 22:33] jankkm commented on #478
The new contact appears in the web UI while creating it but after a reload of the page the contact list is empty again.
The new contact does not appear on any synced device not after updating any existing contact on a synced device eather. It seems like the contact is not being saved at all.

[2016-08-07 09:24] MariusBluem commented on #430
Ref: https://help.nextcloud.com/t/contacts-app-only-shows-spinning-wheel-but-no-content-in-webview/2173

[2016-08-07 10:03] sushidave commented on #478
@jankkm Does the new contact appear in the database, tables "oc_cards" and "oc_properties"?

[2016-08-07 12:06] jankkm commented on #478
I can't tell if it appears in oc_cards because I don't know the card id or etag. In oc_cards_properties (or did you really mean oc_properties? Because that doesn't exist in my database) there is no entry with the string as a value that I used as a name in the contact I created in the UI.
So no.

[2016-08-07 12:24] sushidave commented on #478
@jankkm Yes and sorry, I meant oc_cards_properties. If the new contact entered via web UI isn't stored in the database it looks to me as if your contacts app is broken... Could you try to backup the contacts folder in the apps directory (apps/contacts) and replace it by the source files? Do the contacts then appear in the contacts app?

[2016-08-07 12:27] MariusBluem opened #483 "Move new Contacts button to sidebar"
According to the removal of the **Search for new Messages**-Button in the Mail app, I think we should move the **New Contacts** Button to the left sidebar, because we also have the **New Message** Button in the Mail-app at this place 😉
### Mail:

<img width="588" alt="mail_repro" src="https://cloud.githubusercontent.com/assets/19711361/17462367/d702bea0-5caa-11e6-9744-0f57fb8efb1a.png">
### Contac

[2016-08-07 12:29] jankkm commented on #478
I just tried that but it doesn't change anything. I used the latest release v0.0.0.146

[2016-08-07 12:34] jankkm commented on #478
Oh wait! Now new contacts actually do appear on the synced devices. But the UI still doesn't show any contacts after a reload.

[2016-08-07 12:50] sushidave commented on #478
@jankkm That's better now :) So, the contacts are stored in the database and can be processed for CardDAV. I suspect that the contacts app has an issue with data of one or several contacts in the database. Looking at other recent issues here on Github it might be something specific to Apple.

Please try this:
1. Create a new user account on Nextcloud.
2. Log-out and log-in as the new user.
3. Add

[2016-08-07 18:05] phsc84 commented on #482
Probably also related to #276 and possibly fixed by #437.

[2016-08-07 18:39] jankkm commented on #478
A faulty contact was my first guess on this problem but I ruled that out. As described in the first post I can just remove about 20 contacts and then it works fine. I tested around a little more and it is definitely not about one specific contact but contacts with photos which are large in size are kind of problematic. But I am very sure that it is about the total size of all contacts. If it excee

[2016-08-07 19:41] Zenzlhuber commented on #482
downloaded latest release and problem still exists

[2016-08-07 19:47] phsc84 commented on #482
Did you download the latest official release or a pre-release from this [page](https://github.com/owncloud/contacts/releases)? The latest official release does not include the fix.

[2016-08-07 19:47] sushidave commented on #478
I just tested with a file of 800 kB containing around 1'200 contacts and no photos. After importing on OS X Address Book the contacts appear in the web UI as expected. If imported via web UI the browser after a while comes up with user prompt about Javascript not responding (=> timeout). In both cases, all groups/categories are missing on OS X Address Book as reported in #475. Of what size is your

[2016-08-07 19:51] Zenzlhuber commented on #482
the one with number 147

[2016-08-07 19:51] jankkm commented on #478
My address book contains about 460 contacts and when exported to one single file are just under 10mb.

[2016-08-07 20:00] sushidave commented on #475
Same result when importing the above mentioned card in OS X Address Book.

[2016-08-07 20:07] sushidave commented on #478
Halleluja, that's another dimension ;) Alright, let's see what the experts here can do about it.

[2016-08-07 23:33] spoorun commented on #481
#473 May assist with this issue - by having section headers

[2016-08-09 07:28] DeepDiver1975 commented on #483
Pull request welcome! :see_no_evil:

Thanks!

[2016-08-10 16:17] Zenzlhuber commented on #482
149 i couldn´t test so far, because when i uploaded the files i got a message i could uodate the app to 1.3.1.2 clicking the button did nothing but offering again option
App could not be deactivated also.

Maybe a silly question but what is right process to update the app?
Just upload the files?

[2016-08-11 11:36] jancborchardt commented on #255
@olantrust we do not want to introduce a separate read/edit mode since it’s an unnecessary distinction. If at all, we could make the items appear as if they are read-only (remove the border around the text fields) and have them appear on hover, and editable on click. Basically like we do for the name/lastname input.

But to simply keep it to this issue: the solution by @j-ed to add post box as a s

[2016-08-11 11:44] jancborchardt commented on #483
Yup, this is also something I talked about with @ChristophWurst. Will look much better and make it easier to add contacts when already scrolled down.

Do you want to go for it and open a pull request @mar1u5? :)

[2016-08-11 11:44] jancborchardt commented on #483
(Btw, wording and casing should be »+ Add contact«. :)

[2016-08-11 11:58] insomebox opened #485 "Imported contacts without FN-field not showing up in contacts app"
### Steps to reproduce
1. Import vcard file with missing FN-fields, e.g.

[code]

Comment: Imported contact appears in the "all contacts" list.
2. Log out from owncloud
3. Log back in and open contacts app
### Expected behaviour

Imported contact should appear in the "all contacts" list.
### Actual behaviour

Imported contact does not appear in the "all contacts" list.
Comment: Imported contact is

[2016-08-11 12:03] hameau commented on #255
I feel most strongly about this decision. It is too easy to make irrevocable changes to live Contacts data, completely without warning.

There is a good reason why a workflow of 'Select edit', 'Make changes' then 'Okay/Accept/Save' or 'Cancel' is the accepted norm. Please, let's have 'Least surprise': wiping out Contact data without warning is not it.

[2016-08-11 12:38] DeepDiver1975 commented on #255
There is too much discussion in this issue.
It is not clear how this shall work.

Please join https://central.owncloud.org for discussion on how this shall work.

Based on any decission we come back to github with an explicit list of Tasks.

Closing ..

[2016-08-11 13:07] jancborchardt commented on #255
Reopening and locking since there is indeed an explicit task as said multiple times above:
- [ ] change the post box to a separate field which has to be added via the dropdown and is not there by default.

No need to discuss further on a forum which is separate from this repo. Also, anything discussed in this issue which has nothing to do with this issue should be opened as a separate issue.

[2016-08-11 13:18] DeepDiver1975 commented on #255
And this approach does not work.

[2016-08-11 13:21] jancborchardt commented on #255
@DeepDiver1975 please explain. Can’t find why it shouldn’t work in previous comments of yours on this issue.

When the value of post box is found in the vCard of course the field is shown. If not it’s just not there. I really don’t see the problem with that approach since we’re just fixing it in the frontend.

[2016-08-11 13:29] DeepDiver1975 commented on #255
There is only one field in the vcard: address.
We either add an address or we don't.
There is no separate Po Box field

[2016-08-11 15:01] jancborchardt commented on #255
The values are semicolon-separated. Is it entirely impossible to check if the PO Box section is empty or not and display the field based on that?

[2016-08-11 15:47] DeepDiver1975 commented on #255
display is for sure not a problem - we simply hide fields which are not set - this might be a valuable approach for all fields?

But how to edit? We need a possibility to display the po box field.
This is where the edit vs display mode makes sense to some extend - as we had this with the old contacts app.

Thinking about e.g. date fields - using a date picker is only one option to enter a date.
E.

[2016-08-11 15:50] jancborchardt commented on #255
As said above:

That’s how you display it. Just like you would add the field for »Notes« or »Nickname« or whatever.

[2016-08-11 15:53] DeepDiver1975 commented on #255
again this will not work

[2016-08-11 15:54] DeepDiver1975 commented on #255
you have 5 addresses and then hit 'add po box' - to which address will this go?

[2016-08-11 15:54] DeepDiver1975 commented on #255
sorry - but this is a joke to make such a hugh mess around one bloody field

[2016-08-11 16:03] jancborchardt commented on #255
Thanks for finally providing a good explanation why it will not work. How about a simple solution: When you click »Add PO box«, it will just show the PO Box field of _all_ of the addresses. And focus the one of the first address.

The reason we make such a huge deal around that one field is because it’s _very_ present but comparatively not used that much. And apparently it annoys a bunch of people

[2016-08-11 16:06] MariusBluem commented on #483
Nah ... Thats something for our design pros :stuck_out_tongue_winking_eye: @jancborchardt

[2016-08-11 16:18] DeepDiver1975 commented on #255
feels like a mad solution to me ... let me think about this ...

I'm still in favor of separating view and edit mode .....

[2016-08-13 09:05] rob9 opened #486 "Support custom vCard type values"
According to rfc, type values (the descriptor like home, work other) supports lists of values and in particular custom values prefixed by x-

For example in the phone number dropdown, Home-Work-Mobile
the last entry could be "custom"
if custom is selected a string can be input, the user may input anything like "tollfree"
The phne numbver field then gets internally labeled x-tollfree and displayed

[2016-08-13 09:08] rob9 commented on #176
13 s would be great. I got 80 s per click since forever. Practically every click, and during those 80 s, browser is at 100% cpu. It used to be worse, blocking the server, too. It is very common for first-version vCard apps to put everything in memory and fall apart under that data load. Then they go sqlite or objct cache.

You are using Angular, so I am not sure why caching individual objects woul

[2016-08-13 10:31] trfrde commented on #430
Hello,
I have solved the issue for me: I used vdirsyncer (https://github.com/pimutils/vdirsyncer) to sync all CardDAV data to a local directory. After opening the vCards (using TextWrangler on my Mac) I found out that nearly 2/3 of them had an illegal character at the end (after "END:VCARD"). After delting this character for all of the vCards and syncing the changes back to OwnCloud (using again v

[2016-08-13 11:05] DeepDiver1975 commented on #176
Pull requests are welcome.

[2016-08-13 11:06] DeepDiver1975 commented on #486
this is a duplicate of https://github.com/owncloud/contacts/issues/207

[2016-08-13 11:06] #486 closed, assigned to nobody

[2016-08-13 16:03] tobiasgraeber opened #487 "Contacts wont Work on nextcloud / MIME type ('text/html') is not executable"
Can be Closed, Thx.

[2016-08-14 19:11] ghost commented on #487
@graebermedien

You can't use just the github master as this will cause missing files (like the mentioned .js file) and this seen behavior.

Please either:
- Don't use github releases if don't know exactly what you're doing
- Read the readme and build the app like described here: https://github.com/owncloud/contacts/#building-the-app

[2016-08-15 07:10] #487 closed, assigned to nobody

[2016-08-15 13:02] jankkm commented on #475
Isn't this the old issue with Apple using a different approach of creating groups? On OSX and iOS groups are actually created like contacts so they don't appear in the owncloud contacts app.
To migrate to a new server properly you should eather export from owncloud and then import on the new owncloud platform OR export from the OSX address book then import on OSX after adding the new carddav-serve

[2016-08-15 19:02] sushidave commented on #475
@ jankkm Thanks very much for your comment. Yes, telling from the issues on Github with OSX and contacts I conclude that OSX handles contacts a bit differently than others.

In my case it didn't lead to the expected result, see the 2nd case in "Steps to reproduce" above. It would be great if the cloud app could handle OSX contacts seamlessly for both kinds of export/import. The less OSX users run

[2016-08-15 19:33] hakan42 opened #488 "InvalidArgumentException on imported VCF files"
### Steps to reproduce
1. Create a vcf file containing the line "BDAY:Jan 1, 1970"
2. Import said VCF file
3. See the "Contacts" app endlessly spin
4. Get the "contacts" request from the web browser via Developer tools or somesuch
5. Run the call on the shell
### Expected behaviour

Birthday should be correctly imported, as this was working in earlier versions
### Actual behaviour

The birthday tr

[2016-08-15 19:37] hakan42 commented on #488
As I have not yet run a sync against this freshly installed server (I value my contacts on my mobile too much ), I cannot say whether this exception would cause the CardDAV-Sync to fail mid-operation.

But, as I cannot retrive the full VCF file from the server, I would expect some kind of failure during sync. Hopefully nothing that deletes all my contacts :smiling_imp:

[2016-08-15 21:48] lysathor opened #489 "Profile picture addede via web interface not displayed in android contacts"
### Steps to reproduce
1. Change profile picture via web interface
2. Sync to android phone (I use CardDAV)
3.
   ### Expected behaviour
   I expected to see the same picture that the web interface shows.
### Actual behaviour

But an android fallback picture is shown.
### Server configuration

**Operating system**:
Synology DSM 6.0.1
**Web server:**
Apache 2.2
**Database:**
SQLite

**PHP version:*

[2016-08-16 08:02] DeepDiver1975 commented on #489
Known issue. Please test the open pull request. Thx

[2016-08-16 08:02] #489 closed, assigned to nobody

[2016-08-16 15:35] nado opened #490 "Feature request: PGP key support"
Hi,
I’d like to see PGP key support in contacts app to share them more easily across my devices.

See https://github.com/RainLoop/rainloop-webmail/issues/1116 as some docs have already been linked.
### Expected behaviour

Add PGP key to contacts from servers or manually. (ID or complete key)

[2016-08-17 19:43] lysathor commented on #489
Hi,

thanks for the info.

But how to test the pull request?
Is there a zip of the contacts app (e.g. a nightly build) that I could
use to replace the current version?

Or could you tell me what files to replace?
In none of the subdirectories of my owncloud installation there is a
"contact_model.js" file that I could replace by your fixed version.

I found a similar code in "js/public/script.js".

[2016-08-19 08:57] renne commented on #490
The PHP-library [Net_DNS2](https://netdns2.com/) supports OpenPGPkey lookups. You can install it with [Pear](https://pear.php.net/package/Net_DNS2) or manually from [Github](https://github.com/mikepultz/netdns2). You need to include the class 'netdns2/Net/DNS2.php' (or '/usr/share/php/Net/DNS2.php' with Pear on Ubuntu) in your code. See the [code example](https://netdns2.com/documentation/examples

[2016-08-20 15:03] DeepDiver1975 commented on #488
absolutly valid to throw this exception - see https://tools.ietf.org/html/rfc6350#section-6.2.5

Jan 1, 1970 is not a valid date format

[2016-08-20 15:45] hakan42 commented on #488
While the exception might be correct, the handling at the user level is truly broken.

It is possible to load such an entry into the database via the "import" function. But as soon as it is loaded, the GUI is unusable and therefore the user unable to fix the offending entry, assuming that he would even get a hint which entry is the culprit.

Therefore, I would like to reopen this issue and hope th

[2016-08-21 09:22] DeepDiver1975 commented on #488
So the invalid vcard could be imported?
I mssinterpreted your report then.

[2016-08-21 11:16] hakan42 commented on #488
Yes, the issue is that it is possible to introduce the broken entry into the database via import and then ìt is not possible anymore to use the GUI.

I believe it might have something to do with the calendar for "Contact Birthdays"

[2016-08-21 12:52] gtozzi opened #492 "Synced contacts do not show up until page is refreshed"
(Repost from https://github.com/owncloud/core/issues/25847#issuecomment-240642399)

Hi there!
This is a very nice software that works smoothly out-of-the-box almost all the time… thank you!

Anyway, even best software have some bugs; I believe I've found a minor one:
### Steps to reproduce
1. Setup a carddav contacts sync on your device
2. Open the contacts page in owncloud web
3. Add a contact on

[2016-08-21 20:57] raf64flo commented on #317
Such a feature is a must have for a contact app. I'm surprised it has never been implemented since almost 4 years it is discussed:
https://github.com/owncloud/apps/issues/314
https://github.com/owncloudarchive/contacts/issues/102
I'd be happy to test it as soon as possible. :-)

[2016-08-22 08:54] DeepDiver1975 commented on #317
I'd be happy to see contributions ....

[2016-08-22 12:22] j-ed opened #494 "OC9.0.3/Contacts 1.3.1.0 - REV field not updated when contact details are edited"
## Expected behavior

When contact details are edited using the ownCloud GUI the `REV` field should be updated with the current time-stamp. (See description of REV field on https://en.wikipedia.org/wiki/VCard#Properties)
## Current behavior

When contact details are edited using the ownCloud GUI the `REV` field is not updated with the current time-stamp. It looks like the time-stamp is kept from t

[2016-08-22 20:07] DeepDiver1975 commented on #488
no - it's a general import issue in core .... working on it ...

[2016-08-22 20:09] #483 closed, assigned to nobody

[2016-08-22 20:59] raf64flo commented on #317
Unfortunately, I can't help for code contribution. But I keep an eye here if I can give feedback the day when developers will be able to consider this feature.

[2016-08-23 08:12] #425 closed, assigned to DeepDiver1975

[2016-08-23 08:38] ghost commented on #478
Hm, this seems to be a size problem.
If the addressbook is larger than about 10M, it isn't shown any more.
Mine is about 16M and not displayed in the contacts app.
If I add a new addressbook and import a few contacs, all entries in
the new addressbook are shown, all "old" entries not.
As soon as the new addressbook gets about 10M in size, nothing
is displayed any more, just the spinning wheel.

[2016-08-24 17:11] toaster commented on #234
This would also allow to give fields from iPhone contacts better names.

[2016-08-24 17:47] pieplu opened #496 "OC/NC 9 Javascript error on loading "Uncaught ReferenceError: Set is not defined ""
### Steps to reproduce
1. Install a fresh nextcloud / owncloud 9.0.53 / 9.1.0
2. Activate, from admin, the contats app
3. Go on the contact app
### Expected behaviour

Th contact app should work
### Actual behaviour

An js error break the contact app

Next CLoud 9
![NextCloud9](http://img15.hostingpics.net/pics/955285BOgNC9contact.png)

Owncloud 9
![Owncloud9](http://img15.hostingpics.net/pics/850

[2016-08-25 09:10] sake commented on #430
Based on the comment from Sora1248, I was able to build test files (vCard 4) that illustrate the problem. [test_image.vcf.zip](https://github.com/owncloud/contacts/files/436537/test_image.vcf.zip)
The file without an image, in this case with a PHOTO tag,  works as expected. The other image contains an embedded JPEG image and triggers the erroneous behavior. It doesn't matter whether the file is sy

[2016-08-25 11:36] crackytsi opened #497 "Order of Postnumber is no longer country localized"
### Expected behaviour

Postnumber / ZIP-Code is in germany in the order:
zipcode city
### Actual behaviour

Using the latest Owncloud version together with latest DAVDroid the order is:
city zipcode
### Server configuration

**Operating system**:

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
7

**Server version:**
9.0.53

**Calendar version:**
1.3.3

**Updated from an older insta

[2016-08-25 13:29] pieplu commented on #496
it's looks like a matter of environment (maybe specificity of the network/system of the office where I test it), today I'm on my ubuntu 14.04, and it's work fine...

[2016-08-25 13:30] #496 closed, assigned to nobody

[2016-08-25 13:31] DeepDiver1975 commented on #497
pull request welcome

[2016-08-26 08:12] crackytsi opened #498 "Number of contacts in group is no longer displayed"
### Expected behaviour

The number of contacts within owncloud groups is displayed (as it was in older versions of contacts)
### Actual behaviour

The groups does not show the number of entries

I try to create a pull-request.
### Server configuration

**Operating system**:
Linux

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
7

**Server version:**
9.0.53

**Calendar version:**
1.3

[2016-08-26 08:19] crackytsi commented on #497
I try. I would bind the configuration to the language of the user. Or do you have a better idear or comment?

[2016-08-26 18:47] zeugmatis commented on #356
+1 for this, got a new Macbook today and spent ~hour figuring out that the link provided does not work or match what is in the [ownCloud documentation](https://doc.owncloud.org/server/9.1/user_manual/pim/sync_ios.html) for iOS / OSX.  It should be identical to Calendar app, with two links.

What @aspdye said would be optimal but in the meantime the links should be there, and probably stay there fo

[2016-08-26 20:29] DeepDiver1975 commented on #498
Im not sure if we can do this given the carddav protocoll capabilities.

[2016-08-26 22:16] pepprim opened #499 "Contacts created in the app do not display names in other clients when synced"
### Steps to reproduce
1. Create a new contact entry within the Owncloud Contacts app through the web browser, and fill at least the name field.
2. Synchronize the address book with this new contact to other clients or apps (like Rainloop Webmail or an Android phone with CardDav-Sync by dmfs GmbH) through URL offered by the Ownloud Contacts app itself.
3. Optionally repeat steps 1 and 2 _in a reve

[2016-08-27 15:10] JSoko commented on #430
On my server under nC 10.0.0, the issue exists only for users with a blank in the username...
 `Max Mustermann`
doesn't see his adresses, just the spinning wheell...
`Max_Mustermann`
works as expected...

For both users i've imported the same adresses

[2016-08-28 13:54] spoorun opened #500 "Deleted items folder"
Contacts app should have a deleted items folder, working in the same way as the Files app, with a 'Deleted items' link displaying in the left-hand bar, above the Settings link.

Deletion would become a two step process, deleted items would move to that folder, and then be permanently removed if the folder was emptied, or an individual items was deleted from within the folder.

Items could also be

[2016-08-29 01:00] Tamsy commented on #430
I cannot confirm that this happens for users with a blank in the username only.

We have a user with a single username but his contacts are not displayed but just the "spinning wheel“. Other users do not have this problem though. This happens all the way up from ownCloud/Nextcloud 9 and up to Nextcloud 10.

We tried different versions of the Contact App compatible with ownCloud/Nextcloud 9.x inclu

[2016-08-29 05:15] JSoko commented on #430
Im afraid, there are 2 different errors in the app with are handled together.
1. If there are broken cards, the spinning wheel ist shown
2. **If the user has a blank in his name the spinning wheel is show.**

In both cases caldav syncing with android and thunderbird works.
No 2 is reproducable on my system under NC 9.1.0.16 and Ubuntu 16.04 on odroid xu4:
just create two Users, 1. _Max Mustermann_

[2016-08-29 14:51] irgendwie commented on #499
Thanks for your report!

When creating a new contact and filling the name field (in the header of the contact), only the full-name 'FN' property is filled. Other application should be able to read the property and split the name themselves or directly show the full-name property.

You can select "Detailed name" in the "Add field" drop-down menu in the contact detail view, to manipulate the first a

[2016-08-29 14:51] #499 closed, assigned to nobody

[2016-08-29 14:56] irgendwie commented on #500
Thanks for your suggestion!

A deleted folder is not planned for the contacts app. Also there is no way to sync this between different clients, connecting to the dav-backend in owncloud/core as it is not part of the carddav specification.
Plase correct me, if I'm wrong here @DeepDiver1975 @olantrust.

A 'undo'-function is probably the better solution in this case and tracked in issue #201.

[2016-08-29 14:56] #500 closed, assigned to nobody

[2016-08-29 15:55] JSoko commented on #430
Fix loading spinner with usernames containing spaces:
https://github.com/owncloud/contacts/pull/502

It works! Thank You!

[2016-08-29 21:44] pepprim commented on #499
Thanks for your reply and help @irgendwie, but I don't see any "Detailed Name" field in the drop-down menu... Neither First name or Last name fields (only nickname...which is  not what we are talking about). In fact, the entire list I can see in the drop-down list of the add field button (for new contacts and previous entries) is as follows:
- Address, Birthday, Email, Federated Cloud ID, Instant

[2016-08-29 22:02] irgendwie commented on #499
@pepprim  I'm sorry, that was my fault - the detailed name feature was introduced by #437, which is not yet packed into a release. You can either install one of the current nightly versions (https://github.com/owncloud/contacts/releases)  or wait for the next release.

[2016-08-30 10:12] irgendwie commented on #389
#502 fixes the endless spinner if username contains spaces. Broken vcards can still lead to the mentioned issue!

[2016-08-30 11:12] awdrfunk opened #503 "importet contacts with "umlaute" ä/ö/ü are not correct"
### Steps to reproduce
1. export adressbook in thunderbird (vCard)
2. import in nc
### Expected behaviour

contacts with "umlaute" ä/ö/ü are not correct
example:
"Günter" is imported as "G=C3=BCnther"
"Däppen" is imopted as "D=C3=A4ppen"
### Actual behaviour

Tell us what happens instead
### Server configuration

Version     Plesk v12.5.30_build1205150826.19 os_Debian 7.0
OS  Debian 7.11

**Web se

[2016-08-30 14:47] irgendwie commented on #503
When you export address books with Thunderbird, the resulting file:

The umlauts are encoded with https://en.wikipedia.org/wiki/Quoted-printable

[2016-08-31 20:01] flop25 commented on #442
#388

[2016-09-01 12:19] irgendwie commented on #498
With #453 this issue should already be fixed. You should be able to see the number of contacts at the bottom of the contacts list, also when a group is selected.

This PR is not part of the current stable version of the contacts app, but feel free to test the nightly builds.

[2016-09-01 12:19] #498 closed, assigned to nobody

[2016-09-01 12:28] irgendwie commented on #497
@crackytsi I'm not sure if I understand the problem correctly. Would you mind providing screenshots so I can see for myself and understand the problem? Is it the problem still active?

[2016-09-01 13:54] irgendwie commented on #503
Closing in favor of:  #399

[2016-09-01 13:54] #503 closed, assigned to nobody

[2016-09-01 14:02] irgendwie commented on #204
Closing, since issue is fixed by #377.

[2016-09-01 14:02] #204 closed, assigned to DeepDiver1975

[2016-09-01 14:05] irgendwie commented on #492
We currently don't automatically refresh the list of contacts.
Still this is something we should implement, thanks for reporting.

[2016-09-01 15:03] DeepDiver1975 commented on #492
this is what webdav sync is for

https://tools.ietf.org/html/rfc6578

[2016-09-01 19:53] irgendwie opened #505 "Two columns contact details"
Since #480 the contacts app shows the contact details in a two column list, if screen size is >= 1450px. It makes use of the ['CSS3 Multiple Columns' Feature](http://www.w3schools.com/css/css3_multiple_columns.asp). This has the advantage of being less error-prone but comes with a few minor disadvantages:
- The columns are always balanced, meaning address fields, detailed name, etc. may get split

[2016-09-01 19:53] irgendwie commented on #354
Closing in favor of #505

[2016-09-01 20:24] irgendwie commented on #452
Should be fixed with the usage of the color generator in core, or not? ref #345
Reopen please if I'm mistaken!

@DeepDiver1975 @skjnldsv

[2016-09-01 20:24] #452 closed, assigned to nobody

[2016-09-01 20:57] irgendwie commented on #142
@DeepDiver1975 is it possible to add custom hooks to the files app for specific file endings?
Or how do we accomplish this?

[2016-09-01 20:58] #144 closed, assigned to nobody

[2016-09-01 21:03] irgendwie commented on #298
fixed by #502.

[2016-09-01 21:03] #298 closed, assigned to DeepDiver1975

[2016-09-01 21:05] irgendwie commented on #252
Fixed by #453.

[2016-09-01 21:05] #252 closed, assigned to nobody

[2016-09-01 21:25] irgendwie commented on #393
Can't reproduce anymore!

[2016-09-01 21:25] #393 closed, assigned to nobody

[2016-09-01 21:29] irgendwie commented on #365
Should be fixed by now, reopen please if I'm mistaken!
@DeepDiver1975

[2016-09-01 21:30] irgendwie commented on #386
jfr  #409 #406

[2016-09-01 21:40] irgendwie commented on #400
@Pastafarianist If you still got problem, try to give an example VCard - either exporting it via the contacts app (export/download button in the settings menu in the bottom left) or via thunderbird (select addressbook and tools->export in the menu). Clean up the file(s) to only contain one vcard with a problematic account or example account without violating any privacy issues! :wink:

[2016-09-01 21:41] irgendwie commented on #403
Also a issue through using the current dav lib (doesn't report all contacts), may be fixed by switching to #216.

[2016-09-01 21:42] rfc2822 opened #506 "[CardDAV] LABEL doesn't change when ADR is modified in Web UI"
### Steps to reproduce
1. Create a contact with a home address. For instance, create a user "Alpha Beta" and use PO Box "1", street address "Street 2", postal code "333", city "Virtual", country "Schland" as address.
2. Download the VCard using CardDAV:

[code]

It will look like this:

[code]

Note there's no `LABEL` in the `ADR` property, so that clients will generated the formatted address them

[2016-09-01 21:49] irgendwie commented on #416
ownCloud < 9.0
https://github.com/owncloudarchive/contacts/blob/master/appinfo/database.xml

ownCloud / Nextcloud >= 9.0
https://github.com/owncloud/core/blob/master/apps/dav/appinfo/database.xml

[2016-09-01 21:49] #416 closed, assigned to nobody

[2016-09-01 21:59] irgendwie commented on #426
Since ownCloud 9.0 the dav backend was moved into core and the contacts app is just a dav-client itself, so if the contacts app is not working - this repository is the correct place to report issues. :+1: Otherwise if the backend is not working (external clients not working), please report issues in  [owncloud/core](https://github.com/owncloud/core).

CardDAV links < 9.0:

CardDAV links >= 9.0:

[2016-09-01 21:59] #426 closed, assigned to nobody

[2016-09-01 22:01] irgendwie commented on #429
Is this problem still occurring or can we close this issue? @scriptPilot @lo-man

[2016-09-01 23:04] scriptPilot commented on #429
Unfortunately not, photos are still saved not correctly: PHOTO;TYPE=image/jpeg:/9j/4AAQ...

[2016-09-02 04:30] skjnldsv commented on #505
Ahahah! :D
Can't....look.....away!!!

[2016-09-02 04:33] skjnldsv commented on #452
Yes it is!

[2016-09-02 06:29] scriptPilot commented on #429
I tried to install the newest release, but I didn't work for me. How could I install the newest release to the server, is there any documentation?

[2016-09-02 07:47] crackytsi commented on #497
Hi,
Issue can be closed, topic is mentioned here: https://github.com/owncloud/contacts/issues/506

[2016-09-02 07:47] #497 closed, assigned to nobody

[2016-09-02 10:00] #391 closed, assigned to nobody

[2016-09-02 10:02] #494 closed, assigned to nobody

[2016-09-02 14:03] irgendwie commented on #399
We could use [mathiasbynens/quoted-printable](https://github.com/mathiasbynens/quoted-printable) to encode/decode quoted printables.

[2016-09-02 23:28] irgendwie opened #508 "Missing addressbook share icon in settings pane, when using ad-blocking addons"
Some users (ref. https://help.nextcloud.com/t/chrome-problem-with-sharing-contacts/1834) experience problems with missing share icons for addressbooks if using ad-blocking addons like ublock or adblock.
The browser doesn't seem to matter, since issues in Firefox and Chrome are reported.

Since I **don't** experience this issue, it would be very helpful if someone could dig into this issue and find

[2016-09-03 07:12] renne commented on #490
As a first step I suggest to add a textarea to the email-address field to manually add/show the PGP-key in the contacts app. The second step should be a background service which scans for new/updated PGP-keys regularly.

[2016-09-03 09:50] irgendwie commented on #490
@renne I'm sure we can add the KEY property, but I don't think we would add a background service for automatic scans. This app by now is a simple javascript only carddav client, connecting to the dav backend in the core cloud. Currently we have **no** intention change that:
- [ ] Add KEY property
- [X] ~~Background update service~~ (won't fix)

[2016-09-03 12:38] irgendwie commented on #508
Occurs when using:
- Fanboy’s Annoyance List (Static filter `##.icon-share`)
- Fanboy’s Social Blocking List (Static filter `##.icon-share`)
- ...

https://github.com/owncloud/contacts/blob/master/templates/addressBook.html#L19

[2016-09-03 12:44] TecJon commented on #365
@irgendwie @DeepDiver1975
I believe there are still some issues:

### Labels: (iOS vs. web ui)
- iPhone -> Iphone Cell Voice
- mobile -> Cell Voice
- (main -> Main)
- (home -> Home)
- (work -> Work)

Email:
- home -> Internet Home
- work -> Internet Work

However
- iCloud = iCloud

### Address

The address of the iOS contact is missing completely on the web interface.

[2016-09-03 12:51] irgendwie commented on #508
This issue is not a problem of the contacts app, but rather a problem of the filter lists for using too generic filters. Won't fix for now.

## TLDR, workaround:
- Disable your ad-blocking addon for your cloud

[2016-09-03 12:51] #508 closed, assigned to nobody

[2016-09-03 13:44] MariusBluem opened #510 "Make Contacts & Mail Buttons look better and more the same"
#493 moved the "Add contact"-button to the sidebar - which is nice. Unfortunately - it is a bit different to the Mail-apps one 😉
- I think the solution of the mail-app has a better "+" because it is a bit bigger.
- The contacts button has a better button, because it fits better in the sidebar.

Maybe we can take the positive aspects from every button-style 😜

Mail:
<img width="264" alt="mail-png"

[2016-09-03 14:19] skjnldsv commented on #505
I will add that I would prefer not to split fieldset between the two columns! :)
For reference, a simple `detailsitem { break-inside: avoid-column; }` is enough to avoid this.

[2016-09-03 14:20] skjnldsv commented on #510
Indeed! I agree! This is a simple one!

[2016-09-03 14:25] irgendwie commented on #505
@skjnldsv feel free to create a PR :blush:

[2016-09-03 14:31] skjnldsv commented on #505
Youhouuu!

I will probably work on it and try to implement #114 too!

[2016-09-03 14:43] #510 closed, assigned to nobody

[2016-09-05 10:59] j-ed commented on #433
ownCloud version: 9.0.4
Contacts app version: 1.4.0.0

[code]

I can confirm that this issue causes problems when synchronize phone number types from ownCloud to Android using e.g. the "ContactSync - CardDAV und mehr" app. I had a discussion with the app developer and she confirmed that the escaped comma is causing the problem and that this need to be fixed in ownCloud.

[2016-09-05 17:16] irgendwie commented on #433
jfr. This issue is caused by our vcard parser:
https://github.com/Heymdall/vcard

[2016-09-06 07:34] j-ed commented on #433
@irgendwie  If the root cause has been identified half way of a fix has already been done ;-)
Let me know if anything should be tested, I'm usually synchronizing data to an Android phone and iPhone.
(**BTW:** wouldn't it be possible to provide pre-compiled test releases. This would make testing of individual fixes much easier)

[2016-09-06 14:24] bitsandnumbers commented on #389
I've got the same issue (i.e: spinning wheel in contacts list) and a "gateway timeout" error when trying to download the vcard. No errors in logs (even while in level 0). My contacts app is the latest to date, straight from the repo v1.4 (so using the patch mentioned above)  running on OC 9.1. I have no spaces in my username.

Any news on this issue ?

As a side note, I had this same issue with OC

[2016-09-06 14:32] pbek commented on #389
I exported all my contacts, delete them and imported them back. That worked for two hours. I could browse all my contacts (after importing half of them again because they weren't imported the first time)... But later suddenly I got the dreaded spinner again and my contacts were gone from the  web-browser. They were still available via CardDAV, like before. No error messages in the ownCloud log fil

[2016-09-07 06:23] koksnuss opened #513 "navigation with tab key buggy"
### Steps to reproduce
1. Open contacts app in your nextcloud
2. Click on any existing contact / Or add a new contact
3. Navigate through the input fileds using your tab key
### Expected behaviour

One would expect to navigate from field directly to the next field - exept beside the fileds are other form elements which allow to take action on something.
### Actual behaviour
1. When the cursor is i

[2016-09-07 11:13] DeepDiver1975 commented on #513
pull request welcome

[2016-09-07 19:05] koksnuss commented on #513
im new to github. what exactly do you mean?

edit: figured it out

[2016-09-08 07:55] scriptPilot commented on #429
Fixed with release 1.4.0 - Thanks a lot!

[2016-09-08 07:55] #429 closed, assigned to nobody

[2016-09-08 07:57] ghost commented on #478
Hi,
The same issue for me. In my case 14M of contacts.
At the moment I import them from a OC8 file, the contacts was displayed, but when i try to load again the contact page it's blank :(

[2016-09-08 11:48] alebeta opened #514 "ownCloud Contacts don't receive contacts from iOS"
Hello friends,

ownCloud Version: 9.1.0 Stable
OS: CentOS 7
iOS: 9.3.5

CardDav url: https://cloud.domain.com/owncloud/remote.php/dav/addressbooks/users/USERNAME/contacts/

The problem that i have is the next:

I configure my CardDav following the documentation from owncloud and for me its possible to receive some test contacts that i create in the owncloud app Contacts, but in the other direction

[2016-09-08 12:20] alebeta commented on #514
UPDATE:

Now i check if i create a new contact in my iOS it is uploaded to the owncloud contacts App, but why the old users are not being uploaded?

thanks

[2016-09-11 18:52] mrosic commented on #399
This is a huge deal breaker because it's not possible to properly export contacts for Android to Owncloud/Nextcloud.

I've found this website as a workaround: http://www.webatic.com/run/convert/qp.php
Unfortunately you have to give your contacts to this website... over unencrypted HTTP.

[2016-09-11 19:03] robin13 commented on #414
+1
Also a method to export from one owncloud and import to another owncloud retaining the addressbook assignment.

[2016-09-14 15:11] ghost commented on #514
I think, this is because your current contacts are saved in the Apple Cloud (iCloud).

You will have to export and import them manually (export from iCloud -> import to Owncloud) if you want to get rid of the cloud.

Every new contact gets saved to your standard addressbook (iOS-Settings).
Every then taken action gets synced to your standard addressbok (iOS-Setting).
It works for my setup this way

[2016-09-14 15:30] alebeta commented on #514
Hey DJstone thanks for the answer! if i export the contacts from iCloud and Import to ownCloud , when my iphone sync with the owncloud contacts i will have contacts duplicated? or not?

[2016-09-14 15:33] alebeta commented on #514
thanks for the help! all the best

[2016-09-14 15:40] alebeta commented on #514
DJstone i already imported and i check about the contact duplication, and is not problem with duplicate contact. Everything was ok! thanks for all

[2016-09-14 15:40] #514 closed, assigned to nobody

[2016-09-15 07:39] nickvergessen opened #516 "Update dependency to fix group/nickname handling"
See https://github.com/Heymdall/vcard/issues/5 for more information.

[2016-09-15 09:29] weisseu opened #517 "address books no visible"
From a certain number of address books in the settings, the first address books are no longer visible!

[2016-09-15 09:37] irgendwie commented on #517
@jancborchardt @skjnldsv Any ideas on how to solve this in a nice looking way?

![2016-09-15-113628_239x244](https://cloud.githubusercontent.com/assets/8360698/18545269/b0239f78-7b38-11e6-9f90-6effa2393b40.png)

[2016-09-15 09:40] irgendwie commented on #516
Just updating Heymdall/vcard doesn't work for me, will look into this...

[2016-09-15 17:21] skjnldsv commented on #517
Ooh! That's unfortunate! :/
And we got a problem too with the length of a name:
![screen](https://cloud.githubusercontent.com/assets/14975046/18559873/8cc3254e-7b79-11e6-902f-dd9057eede4e.png)

[2016-09-15 17:47] irgendwie commented on #517
For the length, we could crop them with simple dots and show the full title when hovering it?

[2016-09-15 17:52] skjnldsv commented on #517
I would have suggested otherwise! :p
Hide the 4 items of the menu with a 3 dot icon, and ellipse the name + show menu when hovering :)

[2016-09-15 18:19] skjnldsv commented on #517
First step done, what do you think @irgendwie :
![kazam_screencast_00001](https://cloud.githubusercontent.com/assets/14975046/18561821/b93317e4-7b81-11e6-91d4-7c79acd7dfc0.gif)

cc @DeepDiver1975

[2016-09-15 18:23] Henni commented on #517
@skjnldsv does this also work on mobile?

[2016-09-15 18:27] skjnldsv commented on #517
Almost. The switch when clicking the menu button make the whole menu appear so quickly, the delete icon is beeing clicked instead! :p
On it!

[2016-09-16 11:20] dschrempf opened #519 "Newline not shown in Address field"
Step to reproduce:
1. Modify an address of a contact to contain a newline character on a client (not Owncloud/Contacts).  The client will create a VCARD that with ADR:

[code]
1. Look at Address label in Web GUI.
   The newline character is ignored and MyNewline will be appended to 123/123 without space.  I observed this behavior in the Address field but it may be a general behavior.

[2016-09-16 22:45] javaboyuk commented on #401
Do you think this will make it into 1.5 ?

[2016-09-16 22:49] javaboyuk commented on #399
Any chance this will make it into 1.5 ? (I just fill importing and exporting is quite important, which is why currently I am on 8.2 tree, but so want to come over 9.1.

[2016-09-21 13:36] Jather90 commented on #406
any updates on this?

[2016-09-21 18:59] #513 closed, assigned to nobody

[2016-09-23 12:02] krombel opened #520 "Request: Allow changing default displayname pattern"
I would like to change the default ordering.

`Firstname Lastname` should be changeable to `Lastname, Firstname`.

As the Displayname - which manually can set to be according this pattern - gets updated when the entry changes it may be possible to set the display name according this pattern, if this preference got set.
- [ ]  implement setting this option in preferences-tab
- [ ]  set display-name

[2016-09-24 13:15] R1tschY commented on #430
I used following workflow as a work-around:
1. Make a backup of the server database and of possibly existing synchronized address books (e.g. in Thunderbird).
2. Install `cadaver` (any other webdav tool may also work).
3. Try to download all vcards from the address book over webdav.
   -> Some files won't be downloaded because of a timeout (server sends no bytes while generating high processor loa

[2016-09-25 10:03] fr43nk commented on #475
Wouldn't it be a good approach to dynamically create a contact if there is more than one caldav address book available to be able to see them in the macOS contacts app? This automatically created contact contains all the information that are necessary to get handled as a group. Or is this not possible by this app?

[2016-09-27 13:46] DeepDiver1975 commented on #488
We will update sabre dav in 9.2 which will bring the vcard validation

[2016-09-28 09:11] Po2le commented on #466
I noticed the same behaviour plus something else when changing multiple contacts:
1. Create or modify birthday's contact on android phone `2016-09-28`
2. Synchronize contact with DAVdroid
3. Go to contact apps `20160928`
4. Change date at contact app to `2016-09-28`
5. Sync again using DAVdroid
6. Reload the contacts page and you will sometimes see `2016-0928`

... maybe some kind of race conditio

[2016-09-28 10:57] Po2le commented on #466
Does not happen with CardDAV-Sync because there is an option to configure the "Internal date format" to `yyyy-mm-dd` I did not find an option todo so at DAVdroid.

[2016-09-28 17:17] DeepDiver1975 commented on #466
Can I see the vcard from the db after each step?

Someone is writing an invalid date from my understanding - either davdroid or ownc loud contacts

[2016-09-28 17:34] pulcov commented on #466
Extract of carddata in oc_card table :

**After DAVDROID sync :**

BEGIN:VCARD
VERSION:4.0
PRODID:+//IDN bitfire.at//DAVdroid/1.3.1-ose vcard4android ez-vcard/0.9.11
REV;VALUE=timestamp:2016-09-20T13:48:34.585Z
UID:6330a33e-00bc-4102-a136-480e04bf1f3b
FN:AAA
N:;AAA;;;
TEL;TYPE=cell:+33600000000
BDAY:20160929
PHOTO:data:image/jpeg;base64,...
REV:20160928T172059Z
END:VCARD

**After web site change :

[2016-09-28 17:46] DeepDiver1975 commented on #466
Allowed formats for bday: https://tools.ietf.org/html/rfc6350#section-6.2.5

We do it wrong :see_no_evil:

[2016-09-28 18:23] pulcov commented on #466
nobody is perfect ☺️

[2016-09-28 18:28] irgendwie commented on #466
Also the REV field should only be there once and not twice :disappointed:

[2016-09-29 21:41] jancborchardt commented on #517
@skjnldsv it would be better if we can keep it in line with the other apps. That is, no hover effect. One action like sharing can be out of the menu, also as indicator.

[2016-09-30 04:30] skjnldsv commented on #517
It would, but we're still confronted to the issue with the popup size and the orientation.

[2016-09-30 07:43] Mannshoch opened #522 "[App request] Insource"
The Oposite of Outsourcing is In my Opinion Insourcing. And an App for that is what I would Like request.

A quiz game.
More and more I outsourced my own knowledge about the contacts on my Phone to my mobile phone and PC. Thats not in every situation a good Idea.

Please made a Quiz-game:

**Easy Question:**
-  Which Person is on this Photo?
-  Choose the Photo of this Person
-  Which Person(s) li

[2016-10-03 15:54] jancborchardt commented on #517
With the popup size do you mean the actions popup? If you mean the list of address books (that is, the settings view), that should just scroll at some point. :)

[2016-10-03 15:58] skjnldsv commented on #517
I mean the popup with actions. In the files app we have a big blank empty space to prevent the popup to go outside the window. It would be a shame to have to do the same on the addressbook list :)

[2016-10-03 16:29] jancborchardt commented on #517
@skjnldsv the empty space is not only for the popup, it’s also to signify the end of the file list. ;)
Anyhow: We have 4 actions. Sharing we can show directly. That leaves us with 3 actions in the popover. I believe there’s enough space for that, since the »Address book name« input and the Import button are below.

Btw, it seems to be a side-effect of this PR that the icon-confirm button of the »A

[2016-10-03 17:17] skjnldsv commented on #517
What do you mean the "icon-confirm button"?

[2016-10-07 20:52] smed79 commented on #508
Not need to disable **[ad-blocking addon](https://adblockplus.org/)**, you have a choice between:
- disable [Fanboy's Social Blocking list](https://adblockplus.org/en/features#socialmedia) (or [Fanboy's Annoyances list](https://adblockplus.org/subscriptions#type_other)) **or**
- add a filter like this `#@#.icon-share` (see [How do I add a customer filter?](https://adblockplus.org/forum/viewtopic.p

[2016-10-07 23:37] ryanbr commented on #508
Given we can't whitelist all the domains, if owncloud changed to a less social element name that'd be far easier.

[2016-10-08 18:38] FlorianLiers commented on #1072
@pasbec and all others that hit this very old bug: I installed owncloud 8.2.7 and contact app 0.5.0.0 and applied #1054. Afterwards, I could sync my contact pictures without problems (via davdroid 1.3.1 on andorid 4.4.4).

[2016-10-10 11:23] brjhaverkamp commented on #506
If you decided to go the direction of updating the label field. (instead of dropping it), please let me know!
I have php code to format address LABEL fields based on target country. Unfortunately I lack the programming skills to incorporate itt in the contact app.

Regards,

Bert Haverkamp

[2016-10-10 22:11] DeepDiver1975 commented on #522
This is not really in scope of this app

[2016-10-10 22:11] #522 closed, assigned to nobody

[2016-10-11 01:33] bitsandnumbers commented on #430
I confirm that the issue may also be triggered by the photo encoding. I re-installed nextcloud (I was using own cloud before, and the same issue was happening) from scratch and imported a vcard generated with macos contacts app. Before generating the vcard, I wen through my 140 contacts to remove any bad characters. While importing back to nextcloud, the contacts show up as they are loaded. If I s

[2016-10-12 19:49] irgendwie opened #523 "Change versioning to semver"
http://semver.org/

[2016-10-13 09:31] brjhaverkamp commented on #363
For what it's worth, also downloading/exporting a group separately has been missing from the old contacts app. I'm really missing both

[2016-10-15 16:11] RealRancor commented on #608
SOGo has now fixed this known bug in their product:

https://sogo.nu/bugs/bug_relationship_graph.php?bug_id=2570&graph=relation

with the upcoming 31.0.4. of SOGo connector:

https://github.com/inverse-inc/sogo-connector.tb31/commit/2253f36fb2093db6749127ddd48270f70675ed72

That version of SOGo is not released yet but the issue here could be closed anyway as it is not a bug in the oC contacts App

[2016-10-17 01:17] enoch85 commented on #523
Please use the same version number in info.xml as the latest realease. Thanks!

Btw, would be nice if you could release 1.5.0.0 soon.

[2016-10-18 09:54] Gerii commented on #430
How can I find out which contact causes this issue?

[2016-10-19 15:54] flortsch opened #524 "Renaming of Contact Birthdays Calendar"
Since the calendar app shows the Contact Birthdays calendar as a subscription, I think the issue belongs to this app. It would be nice, if people could rename this calendar.

[2016-10-19 18:45] DeepDiver1975 commented on #524
already reported in https://github.com/owncloud/core/issues/25424

[2016-10-19 18:45] #524 closed, assigned to nobody

[2016-10-20 07:34] steinjer commented on #485
I've got the same problem. After importing many contacts, all vcard without a fn attribute are lost.
I'm using nextcloud 10.0.0 and  Contacts 1.4.0.0.

[2016-10-20 12:22] PanierAvide commented on #443
Hello, any clues about this problem ? I have the same one and no solution for the moment (Owncloud 9.1.0, Contacts 1.4.0.0).

[2016-10-20 19:44] maximevaillancourt commented on #450
Hi,

~~I'm having the same issue (though on NextCloud). Here's a dirty fix : in the CloudFlare DNS panel, simply disable the HTTP proxy (by clicking the orange cloud) on the record pointing to your OwnCloud/NextCloud server (so that CloudFlare only manages the DNS for that record). For some reason, the CloudFlare reverse proxy / CDN breaks OwnCloud/NextCloud.~~

~~Hope that helps!~~

EDIT: After r

[2016-10-20 21:08] daxcore commented on #208
apps/dav/lib/CardDAV/CardDavBackend.php:

[code]

[2016-10-23 12:09] Wikinaut commented on #389
Problem went away after I upgraded/migrated from ownCloud 9.0.x to Nextcloud 10.0.1.

[2016-10-23 12:24] pbek commented on #389
Neither migrating to NC nor exporting/importing all contacts helped in my case...

[2016-10-24 11:24] #466 closed, assigned to nobody

[2016-10-24 20:15] E-VANCE commented on #234
+1

[2016-10-25 05:15] palegrand commented on #208
*_Please add this feature again! *_ In business last name is what I and most others are looking for.
Would be a nice extra if the sorting order default could even  be saved per user...

[2016-10-27 14:01] lofloflof commented on #266
Hi everyone!
I really love ownCloud and the recent development of everything. But like the other people here I'm really missing the group sync feature for OS X. As the past post is more than a year old … are there any news on that?

Please? :)

[2016-10-28 10:34] DeepDiver1975 commented on #389
It's still hard to get an understanding of the issue you are facing @pbek - most probably the issue is within parsing the vcard on the client side within the app.

[2016-10-28 10:35] DeepDiver1975 commented on #450
I guess so - closing because of that- THX

[2016-10-28 10:35] #450 closed, assigned to nobody

[2016-10-28 11:32] pbek commented on #389
@DeepDiver1975 I can access them with all kind of 3rd party apps, like iOS / OS X Contacts, KAddressbook, ...

[2016-10-28 13:45] DeepDiver1975 commented on #389
most probably because they are more flexible with respect to 'invalid' vcards

[2016-10-28 17:38] pbek commented on #389
I would love to know which one are invalid, but there are no log nor javascript errors... It just says "no contacts" after a while. The curious thing is that I saw my contacts for about 10min in the beginning...

It would help a lot if contacts would throw some errors/warning if there are parsing problems...

[2016-10-28 20:05] rgr101 commented on #266
For some time, I'm using BusyCal and BusyContacts - ok, they are not for free, but fortunately, I grabbed a special offer... I have been sick of the non-standard OS X Group handling and no solution in sight...

I'm planning to switch to Nextcloud anyway; hopefully they are trying harder on this topic ;-)

[2016-10-29 09:16] DeepDiver1975 commented on #389
The problem is within the 3rdparty libs we use. They just die and give no errors

[2016-10-31 15:10] bl4ckOut commented on #443
Same here... any update on this ?

[2016-11-03 05:00] dlford opened #529 "Unable to add new contacts"
### Steps to reproduce
1.Go to Contacts app and click +
2.Fill out information
3.Reload page

### Expected behaviour
New contact is in list of contacts

### Actual behaviour
New contact is gone

### Server configuration
**Operating system**:
Ubuntu 16.04
*Web server:**
Apache2
**Database:**
Mysql
**PHP version:**
7.0.8
*ownCloud version:** (see ownCloud admin page)
9.1.1
**Contacts version:** (see

[2016-11-03 21:42] jankkm commented on #478
I think the issue here is pretty clear now. If the size of an address book is over a certain limit which is at about 10mb the contacts app stops working. It is very easy to reproduce by adding and removing contacts when the address book is at around that size
So what is the procedure now? How can we get some developer's attention?

[2016-11-04 12:24] #523 closed, assigned to Henni

[2016-11-04 12:26] DeepDiver1975 commented on #529
This is the error response - looks like a concurrent save operation.

Are you using a second client in parallel?

[2016-11-04 16:09] dlford commented on #529
@DeepDiver1975
I have CardDAV set up in roundcube webmail client but not logged into that when trying add contacts in OwnCloud, I also have CardDAVSync set up on Android and thought that might be the issue even though it only syncs once per day.  I tried turning off the phone and rebooting the server running OwnCloud but the issue still persists.

As it stands now, adding a contact in Roundcube or

[2016-11-04 19:43] kangaroo72 opened #530 "Wrong mapping while syncing new contact from nextcloud to android"
Ubuntu 16.04LTS + Nginx or Apache (latest)
PHP 7.08
MariaDB or MySQL

I only can speak for german entries:

Add a contact on nextcloud (10.01):

Duck, Donald (Name, Firstname)
+49 555 666666 Tel. Privat (Phone Home)
+49 666 777777  Tel. Arbeit (Phone Work)

When you sync this to an german android (via DavDroid) you'll get shown both entries as
"Festnetz" - you cannot divide, where you call - offic

[2016-11-05 00:36] paul-mesnilgrente opened #531 "Load full of contacts with pictures is slow"
Hello,

It's not a bug, it's more an improvement.
I have a lot of contact (200) and I like to manage them threw the web interface. All was good since I add pictures for a lot of them.

Now, the page is very slow to load because of this pictures. Maybe you can do the sending in two steps : contacts information (name, phone number, mail etc.) first, display them, and next download the pictures assoc

[2016-11-05 07:35] xenji commented on #433
FYI: https://github.com/Heymdall/vcard/pull/6

[2016-11-14 10:56] DeepDiver1975 commented on #266
FYI: the current development is within https://github.com/owncloud/contacts - I'm closing this issue in here

[2016-11-14 10:56] #266 closed

[2016-11-14 12:38] DeepDiver1975 commented on #531
We need to optimize the queries which are sent to the server .......

[2016-11-20 16:43] IwishIcanFLighT commented on #389
I just upgraded my OC server to 9.1.2 and Calendar to 1.4 and noticed that both my calendar and contacts pages are broken.
The contacts page (1.4.0.0) loads a blank empty page like @pbek.
However the logs are empty, the sync still works fine with my android and looking at my database everything is still here. Any update on that issue?

[2016-11-20 21:24] derqurps commented on #433
@xenji is the pull request only intended for the TYPE field or also for the groups/categories fields? If not, should i do another one for these fields?

[2016-11-21 05:21] xenji commented on #433
@derqurps Due to https://github.com/Heymdall/vcard/pull/6/files?diff=unified#diff-d44c6e34337aec12784cda75e6a8a40aR245 it only targets the `TYPE` field. Other field should be easy to add in this if / else construct. Although I think there are better ways to solve this from the architectural perspective (delegation / strategy), than the way I did.

[2016-11-21 15:38] Finn-Sueberkrueb commented on #430
I have a similar Problem. If i Import my Contacts without pictures everything works fine. But if i import them with Pictures (18 MB) the the Frontend of the Contacts App doesn't show any Contacts when I login again. I guess the problem has to do something with the size of the Adressbook, becourse I am able to add single Contacts with Pictures.

ownCloud 9.1.2
PHP-Version 7.0.11 / 5.6.5
MySQL 5.5.4

[2016-11-21 15:42] Mte90 commented on #430
![screenshot_20161121_163854](https://cloud.githubusercontent.com/assets/403283/20489004/fbba6ec4-b000-11e6-9472-7500dda71bb9.png)
In the javascript console I get this with the 1.4.0, the message are in Italian but I think that they are easy to understand

[2016-11-28 09:57] almet commented on #363
Hi, and thanks for the work you do on owncloud contact. Just a quick note to let you know that some friends of mine would really use this feature, and were surprised to not see it in the current app, as it was in the previous.

Keep the good vibes, thanks again :-)

[2016-11-29 11:27] crackytsi commented on #466
@DeepDiver1975  I updated from 9.0 to 9.1.2 and added a birthday to an account on my phone. Again the date in Owncloud is wrong.  (20161128 instead of 2016-11-28). Are you sure this topic can be closed?

[2016-11-29 11:43] DeepDiver1975 commented on #466
yes - we 'only' need to release contacts app 1.5

[2016-11-29 11:47] crackytsi commented on #466
Whooops, oh sorry : -/

[2016-11-29 12:00] DeepDiver1975 commented on #466
no problem!

[2016-11-29 16:24] #485 closed, assigned to nobody

[2016-11-30 12:50] hodyroff opened #535 "Add T-Shirt Size Field"
There is a field "T-Shirt Size" or similar missing where people can add their cloth size so they can get a nice shirt, hoodie or whatever ... @felixboehm or did I miss a way to add fields?

[2016-11-30 12:52] hodyroff commented on #535
https://github.com/owncloud/contacts/issues/234 seems a broader request to this, but I guess this one should be standard ;)

[2016-11-30 13:42] loconox commented on #454
I'm facing the same issue ! Very annoying.

[2016-11-30 16:54] SergioBertolinSG opened #537 "Contacts 1.5.0 shows a blank page."
Just tested contacts 1.5.0 (master) with current master and 9.1.3RC1. Both enterprise and community. Not working. It just shows an empty page:

![screen shot 2016-11-30 at 17 52 36](https://cloud.githubusercontent.com/assets/9048796/20762190/e00b8a6a-b725-11e6-8ce3-797cced2ef07.png)

[2016-11-30 16:59] nasli commented on #537
related https://central.owncloud.org/t/contacts-1-5-0-is-about-to-arrive/4259

[2016-11-30 17:23] SergioBertolinSG commented on #537
My mistake, didn't run make.

[2016-11-30 17:23] #537 closed, assigned to nobody

[2016-11-30 21:00] DeepDiver1975 commented on #535
There is no standard field for this so it is necessary to create a custom file as requested in #234.

I'm closing this one in favor of the more general approach

[2016-11-30 21:00] #535 closed, assigned to nobody

[2016-11-30 21:02] DeepDiver1975 commented on #531
requires https://github.com/fruux/sabre-dav/pull/909 and an update of the server to support his query style.

[2016-11-30 21:02] DeepDiver1975 commented on #530
Can you please provide the vcard? Please anonymize data within - THX

[2016-11-30 21:03] DeepDiver1975 commented on #529
not reproducible -> I'm closing this as of now. Please reopen as soon as more information is available. THX

[2016-11-30 21:03] #529 closed, assigned to nobody

[2016-11-30 21:40] dlford commented on #529
@DeepDiver1975

What other information is needed?  I think this issue is a little beyond the scope of my understanding. I did my best to remedy it on my own before I opened this issue, I'll take another crack at it but I don't expect to find anything new.  Will let you know if anything changes.

[2016-11-30 21:49] DeepDiver1975 commented on #529
I'd gladly tell you if I only would know :wink: - based on all the information in here I cannot make up my mind on what the issue could be.
It's sad and a pitty - but there is no much I can do right now - sorry

[2016-11-30 22:02] dlford commented on #529
@DeepDiver1975

Gotcha, well I appreciate your efforts nonetheless, I'll let you know if anything changes.

[2016-11-30 23:17] kangaroo72 commented on #530
Hi and thanks for your help. The issue is also posted in nc-repo
[https://github.com/nextcloud/contacts/issues/32](url)

There I posted following vcard:

BEGIN:VCARD
VERSION:2.1
N:Duck;Donald;;;
FN:Donald Duck
TEL;PREF:0612399999999
TEL;PREF:069777777777
END:VCARD

I'll be very glad if someone can fix this. A working carddav for android/ios should be an amazing xmas-gift

Thanks,

Tom

[2016-12-01 10:09] xenji commented on #433
FYI: My patch in the vcard lib has been merged upstream.

[2016-12-01 10:27] DeepDiver1975 commented on #443
Starting with ownCloud 9.2 it will not be allowed to import vcard 2.1 - we should add a general check in the contacts apps as well ....

[2016-12-01 15:32] DeepDiver1975 commented on #443
Starting with ownCloud 9.2 it will not be allowed to import vcard 2.1 - we should add a general check in the contacts apps as well - see #540

[2016-12-02 10:56] #443 closed, assigned to DeepDiver1975

[2016-12-03 07:54] plastikschnitzer commented on #198
Great idea! This would be a breakthrough feature for me to use the contacts app!

[2016-12-05 11:33] #433 closed, assigned to nobody

[2016-12-05 13:39] #530 closed, assigned to nobody

[2016-12-05 13:39] #451 closed, assigned to nobody

[2016-12-05 14:18] DeepDiver1975 opened #545 "Copy to clipboard is not working on ownCloud 9.1 and lower"

[2016-12-05 17:40] wopl commented on #406
Haven't heard anything from this. I urgently need enable/disable adressbooks feature to support multiple address books.

As open since May I suggest, there is no interest by developers to implement this?
Any comment welcome, so that I can decide to switch platform.

Please let us know, if in scope and what estimated release date ... (hope never dies)
Wolfram

[2016-12-05 18:00] #545 closed, assigned to DeepDiver1975

[2016-12-05 18:02] DeepDiver1975 commented on #406
![this-is-open-source](https://cloud.githubusercontent.com/assets/1005065/20896299/673ca1d6-bb1d-11e6-945a-b4396afd499c.jpg)

[2016-12-05 18:03] DeepDiver1975 commented on #406
guys you are welcome to contribute - thx

[2016-12-05 21:48] mm28ajos opened #547 "Version 1.5.0 in app store config?"
While installing the app it reads version 1.5.0 is going to be installed but I get the following error message:

Might it be necessary to update the app store version config to 1.5.1 to fix this or is the app store still delivering version 1.5.0?

Running oc 9.1.1.

[2016-12-05 23:11] urquhartwebsystems commented on #547
Having the same issue with the same error message here.

[2016-12-06 00:57] guakamole commented on #547
Exact same error when I try to update from 1.4.0 to 1.5.0.

[2016-12-06 02:47] milesgillham opened #548 "Version 1.5.1 missing js/vendor and more"
### Steps to reproduce
1. git clone https://github.com/owncloud/contacts.git
2. Let upgrade run
3. Attempt to connect to contacts app

### Actual behaviour
Blank screen

### Server configuration
**Operating system**:
CentOS 7

**Web server:**
Apache 2.6.0

**Database:**
MariaDB 10

**PHP version:**
5.6.28

**ownCloud version:** (see ownCloud admin page)

**Contacts version:** (see ownCloud apps pa

[2016-12-06 03:13] tepung commented on #547
same error here
"App can't be installed because the version in info.xml is not the same as the version reported from the app store "

- tested with oc 9.1.2 and nc 10.0.1

[2016-12-06 03:28] lachlan-00 commented on #547
broken with 1.5.1 as well now. i tried to manually install and it broke the database

[2016-12-06 06:42] DeepDiver1975 commented on #548
Please follown the build instructions.  You need to run make.

[2016-12-06 06:42] #548 closed, assigned to nobody

[2016-12-06 06:49] DeepDiver1975 commented on #547
Please try again - there was a miss-config in the app store - my fault. I'm sorry

[2016-12-06 07:16] DeepDiver1975 opened #549 "angular.isBoolean is not a function"
As reported on the appstore:

after updating to 1.5.1 I only get a spinning wheel when opening the app. it loads the groups, but then nothing moore.
Its on OC 9.1.1

the console showes this:
[code]

[2016-12-06 07:50] SpacyNG commented on #547
Thanks that fixed it. The package.json in github still shows 1.5.0 (if that was the problem)

[2016-12-06 08:51] #547 closed, assigned to nobody

[2016-12-06 09:40] Wikinaut commented on #547
fixed. thanks.

[2016-12-06 10:25] #549 closed, assigned to nobody

[2016-12-07 01:05] tepung commented on #547
fixed in oc 9.1.2 and nc 10.0.1, thank you ..

[2016-12-07 11:40] arkascha opened #552 "Version 1.5.2-alpha does not load any exissting contacts"
I am using the contacts app in version 1.4.0.0 without any issues on an owncloud-9.1.2 system.

After upgrading to app version 1.5.1 the loading of addresses stopped working. The app itself loads, initializes, the existing address books are recognized, but the spinner indicating the loading of the entries themselves spins forever without producing any results. There are 3 address book inside owncl

[2016-12-07 13:19] weisseu commented on #517
Has a solution already been found for this problem?
![grafik](https://cloud.githubusercontent.com/assets/22213814/20969067/ac9e321a-bc87-11e6-978e-e61f76016821.png)

[2016-12-07 13:38] DeepDiver1975 commented on #552
Please open the network console of the browser and look for the REPORT request which is asking for all the contacts - is the response status 207?

like this?

![bildschirmfoto von 2016-12-07 12-52-02](https://cloud.githubusercontent.com/assets/1005065/20966742/156c7394-bc7c-11e6-94ae-5d4fa2e628e0.png)

[2016-12-07 14:32] arkascha commented on #552
@DeepDiver1975
Correct, I see one such REPORT request for each address book, they all show status 207 and they also actually contain the address book entries in their response which I did not notice before. They are not visualized though...

[2016-12-07 15:11] DeepDiver1975 commented on #552
okay - so - I guess there is at least one vcard which is causing the js code to fail.
Nothing in the error console?

[2016-12-07 16:15] arkascha commented on #552
Hm, I played around a bit further:

Seems there is some unpredictable behavior involved:
when trying a few times I sometimes do get an error in the console:
`Uncaught (in promise) Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!(…)`

My stomach says that this is an issue with a partial update of the app... Sorry that I have to ask, but as you know I stopped working with the ow

[2016-12-07 16:28] DeepDiver1975 commented on #552
get the 1.5.2-alpha package - https://github.com/owncloud/contacts/releases/download/1.5.2-alpha/contacts.tar.gz and extract it fully to apps/contacts

in order to get the browser in a clean state: use a private/incognito browser window :wink:

[2016-12-07 16:29] DeepDiver1975 commented on #552
can I get the full print out from the console? it can give some indication - THX a lot!

[2016-12-07 16:41] arkascha commented on #552
I had to disable the asset pipeline to get something meaningful:

`angular.js?v=adc76e2…:13920 Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in the last 5 iterations: [[{"msg":"ctrl.contactList","newVal":[],"oldVal":[]}],[{"msg":"ctrl.contactList","newVal":[],"oldVal":"..."}],[{"msg":"ctrl.contactList","newVal":[],"oldVal":"..."}],[{"msg":"ctrl.contactList","

[2016-12-07 22:09] DeepDiver1975 commented on #552
I have seen this once during development ... only once ...

Which language is selected for this user?

[2016-12-07 22:12] arkascha commented on #552
English language.

[2016-12-08 02:40] wopl commented on #406
keep calm... I am aware this is open source. I just wanted to know. Now I do.
A bit sad, as it already was implemented in previous version.

Too many tasks already on my wash-list to open further ones.
Thx Wolfram

[2016-12-09 15:43] sedrubal opened #554 "Feature: Add Mass import"
### Steps to reproduce
1. In Webapp click on <kbd>⚙ Settings</kbd>
2. Click on <kbd>⬆️ Import</kbd>
3. Try to select multiple vCards

### Expected behaviour
It should be possible to upload many vCards at once.

### Actual behaviour
It is only possible to import only one file.

### Server configuration
**ownCloud version:** `9.1.2`
**Contacts version:** `1.4.1`

[2016-12-09 17:26] DeepDiver1975 commented on #554
If your browser allows selection of multiple files this should work from my understanding

[2016-12-09 22:44] sedrubal commented on #554
I have Mozilla Firefox 50.0.2 which supports uploading multiple files.

[2016-12-11 11:50] LeOS-GSI commented on #552
On my 9.1.2 server the connects are still not shown. Is there a way to downgrade ?

[2016-12-12 08:14] arkascha commented on #552
Could this be connected to or identical with https://github.com/owncloud/contacts/issues/478?

[2016-12-12 08:19] LeOS-GSI commented on #552
Thx, it could, but I don't think so, because I only have around 750 contacts and the vcf file is under 1mb. I have downgraded and now, all contacts are shown again.

[2016-12-12 08:20] arkascha commented on #490
Indeed a full background service to keep all keys updated is probably not the focus of this app.
But when adding key column anyway, would an interactive dialog then make sense? To fetch / identify matching keys from the servers? This appears to be a JS based solution with promising browser support, though I never used it myself: https://github.com/openpgpjs/openpgpjs

[2016-12-12 08:23] arkascha commented on #552
@harvey186 Ok, looks like you have the same issue as I do...
Can you spot anything of interest in your log files / the browser console? @DeepDiver1975 certainly is grateful for all hints on this...

[2016-12-12 11:27] Webbeh opened #555 "Add support for BlackBerry PIN"
Currently, the Blackberry PIN is not displayable at all in the contacts app, even though it is present in the vcard.

It is saved as **X-RIM-PIN**, and is an 8 character hexadecimal string (always saved uppercase in the vcard).

### Expected behaviour
- Display the PIN of users having one set, and not display it for those who don't
- Eventually add a "Blackberry PIN" option in the "add field" menu

[2016-12-13 04:06] targetdrone commented on #365
I am also having a similar problem with the address of the iOS contact missing from the web interface.  Additionally, clicking "Add Field.../Address" yields no new address fields on the screen.

![screen shot missing address issue](https://cloud.githubusercontent.com/assets/3345219/21127402/25f3ce3e-c0b8-11e6-9453-9aa96fbd7eab.png)

I'm using OwnCloud 9.0.2, and Contacts 1.5.1.

I was able to recr

[2016-12-14 13:45] ikarus13 opened #556 "don't shows all contacts"
### Steps to reproduce
Update nextcloud 10.0.1 to 10.0.2
2.
3.

### Expected behaviour
The members of all groups should be shown in all contacts

### Actual behaviour
 After update nextcloud from 10.0.1 to 10.0.2 contacts 1.5.1 dont show contacts in "all contacts"
I have group my contacts in 5 groups. Only the members of 2 groups are shown.
There where no members in "all contacts"
No errors in nex

[2016-12-14 23:02] #122 closed, assigned to nobody

[2016-12-15 08:49] IwishIcanFLighT commented on #552
I have the same issue on my 9.1.2 OC instance. Broken since 1.4.0, 1.5.1 didn't fix it.
I tried the 1.5.2 alpha this morning and am still facing the same issue. Blank page, nothing shows up beside the parameters gear button (which does nothing).

Firefox console logs:
[code]

[2016-12-15 11:49] rinurinu commented on #430
I have the same issue with Nextcloud 11 (also in version 10 before the update I had the same issue). It would be awesome if the Contacts app would be fixed or at least would tell you which contact is broken / more info on what is wrong.

Maybe this is the same issue as this one:
https://github.com/owncloud/contacts/issues/478

[2016-12-15 11:56] rinurinu commented on #478
Maybe this is helpful for the developers: In the Javascript-Console I get a an Error 500.  (The first one points to the adress "URL/remote.php/dav/addressbooks/users/USERNAME/kontakte/ Failed to load resource: the server responded with a status of 500 ()" where I replaced URL and USERNAME)

![bildschirmfoto 2016-12-15 um 12 52 15](https://cloud.githubusercontent.com/assets/17022765/21223046/859a36

[2016-12-15 14:02] ikarus13 commented on #556
After update to 1.5.2 it works fine.

[2016-12-17 20:48] siyman commented on #430
What is also weird is that whenever I click on "add new" (Neuer Kontakt in German), I can see one of my two address books where there is definitely no image in the contacts as it's email addresses only. The phone book is not accessible, not even via SOGo Thunderbird connector or KAddressbook.
Running nextcloud 11.0.0, previously migrated from ownlCloud 8.2.9 where everything was working plain fine

[2016-12-19 12:56] Ascendor commented on #552
I have the same problem. I tried a bit more, and this version: https://github.com/owncloud/contacts/releases/tag/v0.0.0.216 is the last one working fine for me. Releases v0.0.0.217 through v0.0.0.244 have NOT been tested by me as they don't provide a download package.

[2016-12-19 13:28] arkascha commented on #552
The issue is still present in OC-9.1.3, all versions above 1.4.0.0 fail to show any contancts.

[2016-12-22 11:05] DeepDiver1975 commented on #556
let's close this then - THX - have fun

[2016-12-22 11:05] #556 closed, assigned to DeepDiver1975

[2016-12-22 22:04] SomeStrangeName commented on #430
This issue also occurs when you upgrade from nextcloud 10 to nextcloud 11!
In the browser console I can see: Error: Bad status: 500
If I look into network tab it seems to be an error to a shared address-book (same nextcloud installation other user).
By the way my version of contacts is 1.5.2

[2016-12-22 22:09] SomeStrangeName commented on #430
In admin console logs I can see following error: Fatal	webdav	Sabre\VObject\ParseException: Invalid Mimedir file. Line starting at 3 did not follow iCalendar/vCard conventions
Could it be that the newer contacts app is more strict to vcards compared to the old one?
Anyhow it is strange to have a corrupt card in the database (after the upgrade) and not already before, right?

[2016-12-23 21:05] siyman commented on #430
This is my exact logging whenever I try to open up the contacts app.

`Fatal	webdav	Sabre\VObject\EofException: End of document reached prematurely

    /var/www/nextcloud/3rdparty/sabre/vobject/lib/Parser/MimeDir.php - line 177: Sabre\VObject\Parser\MimeDir->readLine()
    /var/www/nextcloud/3rdparty/sabre/vobject/lib/Parser/MimeDir.php - line 89: Sabre\VObject\Parser\MimeDir->parseDocument()

[2016-12-27 09:23] PartisanEntity opened #560 "Feature Request: Sorting of contacts in web view + general feedback"
In the web view, when viewing "All contacts" it would be nice to be able to sort by date created, first name, last name, group, etc..

Also as general feedback, it would be nice to have some consistency. For those of us who have been using Owncloud for many years now the contacts are rather confused. Newly added contacts have different fields than older ones.

I have also started seeing new groups

[2016-12-28 08:15] Linkinsoldier commented on #552
Same issue here with NC 10.0.2. and Contacts 1.5.1.

After adding a contact I could not get the app to show me any contacts anymore (Firefox and Chrome). Sync with Davdroid still worked... after deleting about 10 contacts on my cell phone everything works again :)

[2016-12-28 18:09] arkascha commented on #552
@Linkinsoldier And were you able to add those 10 contacts again and still have a usable app? Or did it break again which would indicate some limit of the number of contacts that can exist?

[2016-12-28 18:24] Linkinsoldier commented on #552
I didnt dare to try readding them. But my contact count is < 200, so i hardly doubt the number is the reason - I think it is the size (around 10MB) as mentioned above!

[2016-12-29 01:49] eagles051387 opened #561 "Contact app doesnt allow you to add a user/group to give share permissions"
Uncaught TypeError: Cannot read property 'users' of undefined
    at Object.<anonymous> (addressBook_controller.js:43)
    at Object.<anonymous> (jquery.min.js?v=205a419…:2)
    at j (jquery.min.js?v=205a419…:2)
    at Object.fireWith [as resolveWith] (jquery.min.js?v=205a419…:2)
    at x (jquery.min.js?v=205a419…:4)
    at XMLHttpRequest.<anonymous> (jquery.min.js?v=205a419…:4)

The above is the

[2016-12-29 18:47] eagles051387 commented on #561
Turns out the issue is triggered when the file sharing funtionality is turned off. I think this is an enhancement request that either the file share is renamed to sharing, or remove the dependency of the contact app to find users and groups on the system.

[2016-12-30 13:02] Mte90 commented on #430
As I can see it is also impossible do the export of all the contacts for try to debug the problem...

[2016-12-31 07:51] siyman commented on #430
What I did to solve the issue on my end (just one affected account with ~250 entries): I synced my phone via DAVdroid (you can install it via f-droid.org) and got several errors, outputting a list with web addresses to the respective vcf-files. For me it has been 8 records with numerous string formats, nothing in common when it comes to specific fields or even the creation dates (2013-2016; about

[2017-01-05 23:07] sedrubal opened #563 "Create new contact silently fails when there is no address book"
### Steps to reproduce
1. install owncloud, create database
2. install contacts app by cloning the git repo and run make or by installing it from the app store
3. go to contacts and try to create a new contact

### Expected behaviour
A default address book should be generated or a hint/warning should appear, when there is no address book

### Actual behaviour
No new contact will be created and no

[2017-01-06 11:12] ghost commented on #430
Issue:
I am running OC 9.1.3 (Stable) with the contacts UI web app version 1.5.1. A single user (with *no* spaces in the owncloud unsername) was not able to see the contacts in the web UI app. The spinning wheel was running endlessly and also a message appeared after some time saying there are no contacts. There was no error message in the owncloud log file. The contacts were perfectly in sync wit

[2017-01-06 13:26] #554 closed, assigned to DeepDiver1975

[2017-01-06 14:07] NeverWise opened #564 "Add custom date (X-ABDATE)"
Some "addressbook providers" like google and apple uses this extension.

apple for example uses this ones:

`item2.X-ABDATE;type=pref:1604-09-04`
`item2.X-ABLabel:_$!<Anniversary>!$_`

gmail contacts uses this ones:

`item2.X-ABDATE:1604-09-04`
`item2.X-ABLabel:my date`

I think it's a good idea let the user be able to add to a contact all the dates he needs.

[2017-01-08 00:22] 0-kaladin opened #565 "Not saving entered info?"
### Steps to reproduce
I'm using the contact app on OC9.1.2 Stable and everything is working fine as far as the contacts sync'ing down to carddav clients. My issue is when i make any changes they don't always get saved. For example if i update a users phone number I'd enter +1 555 123 4567
I can click away from the user and come back and the number is there. but if i sync my client i might just se

[2017-01-09 20:30] diesl commented on #407
I think this is a duplicate of #198.

This could be solved with a view/edit mode as mentioned in another issue. Right now, the app is mainly focused on editing contacts, but not on viewing/using them.

[2017-01-12 22:11] arkascha commented on #552
I can confirm that https://github.com/owncloud/contacts/releases/tag/v0.0.0.216 works for me to (version 1.5.0).
Version 1.5.1 is broken as is 1.5.2-alpha.

@DeepDiver1975  Any news on this? It appears more users are affected...

[2017-01-13 14:54] wdehoog commented on #552
We have the same problem which is also 'solved' by installing the v.0.0.0.216 version of the contacs app.

We migrated from 8 to 9 and then the problem started. The javascrpt is in an endless loop and when paused stops at line 169 from apps.js. There is also an error 'Error: key must be a string!' at angular-cache.js 491:17 but I do not know if that is related.

[2017-01-16 12:34] blitzdesigner commented on #552
I second that, with 1.5.0. is working for me too, evrything above it not.

[2017-01-16 16:46] LeOS-GSI commented on #552
I have just tried the update to 1.5.1 and it's still not working. So I will g back again

[2017-01-18 09:03] howi42 opened #567 "Contacts picture"
A few issues :
- no upload from Owncloud files anymore, just directly from the connected system
- contact pictures cannot be deleted
- no cropping of pictures when uploading

Thanks,   Wolfgang

[2017-01-19 10:08] howi42 opened #568 "Country code"
Is the country code field used for something inside Owncloud ( i.e. the entry has to follow some rules )or can I enter something as I like it ?
Thanks,
Wolfgang

[2017-01-19 11:21] DeepDiver1975 commented on #568
vcard defines pure text for the country field - so you can enter what ever you want.

[2017-01-19 11:21] #568 closed, assigned to nobody

[2017-01-25 16:03] snaiperskaya96 commented on #208
Implemented! Have a look at the referenced PR 😄

[2017-01-25 17:00] snaiperskaya96 commented on #317
Should this be an automatic process or something that the user can actually do eg: from the settings menu?

[2017-01-25 22:12] DeepDiver1975 commented on #317
A manual process.

[2017-01-27 12:57] 466 opened #571 "restore contacts (mysql - sqlite)"
Using mysql database for owncloud, where does this app save the contacts to?

I had to reinstall everything from scratch, choosing sqlite3 over mysql results in having no contacts anymore ... .
As i do have my database directory (/var/lib/mysql) from my previous installation, is there an easy way, getting my contacts back?

[2017-01-27 13:40] DeepDiver1975 commented on #571
Connect to the mysql database and query for the information like this:

[code]

[2017-01-27 14:59] #571 closed, assigned to nobody

[2017-01-28 19:27] overlind commented on #207
I appreciated the ability to customize the type fields in past releases of Owncloud.  It has be quite an inconvenience to manually edit the VCARD info in the database each time I want to customize a field.  My use case is that use Owncloud as a contact directory.  Each card represents a family, so I need the ability to store multiple phone numbers and to identify whose cellphone some of the number

[2017-01-28 22:14] Peweuk opened #572 "Cannot create or import contacts"
I have just installed Owncloud 9.1.3 and activated the Contacts app.

When I go to 'Contacts' the loading wheel just keeps spinning.
If I try to create a new contact - nothing happens.
If I go to import an addressbook, after I select a ,vcf file on the pc - nothing happens.

There are no errors in the log so I can't see what might be going wrong.

![image](https://cloud.githubusercontent.com/asset

[2017-01-29 19:09] 466 commented on #571
Thanks for your reply, seems i still got a problem left ... .
Any ideas?
Selecting carddata:

ERROR 1146 (42S02): Table 'cloud.oc_cards' doesn't exist

ERROR 1146 (42S02): Table 'cloud.oc_calendar_objects' doesn't exist

These are the tables, stored in database "cloud"

+-----------------------------------+
| Tables_in_cloud                   |
+-----------------------------------+
| oc_activity

[2017-01-30 08:57] DeepDiver1975 commented on #572
Any errors in the browser error console?
Which version of contatcs are you using?

[2017-01-30 09:09] DeepDiver1975 commented on #571
Please seek out for help at https://central.owncloud.org - THX

[2017-01-30 11:27] Peweuk commented on #572
Hi DD.

I am using V 1.5.1 of contacts - which is installed automatically by OC when I activate it on the site (use the apps panel for this as I am on a shared server).

Strangely, when I went to the site to check the web console after seeing your message I found that the page loaded OK this time and I was able to import contacts.
However, when the import started I had 2 lines of errors appear at

[2017-01-30 11:47] DeepDiver1975 commented on #354
I'm reopening this issue because there is a bounty on this issue. #505 will be closed - here is the specification:

Since #480 the contacts app shows the contact details in a two column list, if screen size is >= 1450px. It makes use of the ['CSS3 Multiple Columns' Feature](http://www.w3schools.com/css/css3_multiple_columns.asp). This has the advantage of being less error-prone but comes with a fe

[2017-01-30 11:47] #505 closed, assigned to nobody

[2017-01-30 11:50] DeepDiver1975 commented on #572
How many contacts are there in your addressbooks?

[2017-01-30 12:03] Peweuk commented on #572
In the addressbook I imported there are only 74.
When I first imported the list showed 72 at the bottom of the list before I went to the admin/log section.
On returning from admin to the contacts section it was showing 74 in the addressbook and they were all there.

[2017-01-30 12:06] Peweuk commented on #572
It is weird though - because I had OC9.1.1 working perfectly on a hosted server where it worked for quite some time.
Suddenly I had page load errors and tried to re-install - but continued to get page load errors and contacts would not import.
The host was most unhelpful so I moved to my current host last week and after installing OC 9.1.3 I could not import contacts.
I tried OC 9.1.1 on the new s

[2017-01-30 12:37] DeepDiver1975 commented on #572
I guess you are facing a combination of issues:
- the amount of contacts is putting quite some load on your sever and causes a long waiting time for you
- while not all contacts are loaded any attempt to create a new contacts or import them causes further confusion

The initial loading is really painful at the moment - we need to work on this.

[2017-01-30 14:49] garbast commented on #317
A manual process would be a great help. I have 550 records which most are multiples of entries that were exported from gmail and need to be merged now. Would be a very unpleasent process...

[2017-01-30 16:18] Peweuk commented on #572
Thanks DD.

I am surprised that you say that 74 contacts is putting a load on the server. I always thought (comparatively speaking) that was a low number. My other address book (which I also always thought was small) has over 300 names in it.
The other reason I am surprised is that I also installed Nextcloud on the same server, and although that uses a later version of the contacts app (1.5.2) the

[2017-01-31 00:23] Peweuk commented on #572
I have just found an error which has appeared in the log

- contacts
	- EXCEPTION
		- OC\IntegrityCheck\Exceptions\InvalidSignatureException
		- App Certificate is not valid.

This is new.

[2017-01-31 09:30] DeepDiver1975 commented on #572
This is most probably because you mixed the contacts apps and the server as of owncloud and nextcloud.

[2017-01-31 10:59] Peweuk commented on #572
Would there be any information which may cause this error held in the database or anywhere other than the in the Apps/Contacts directory?

Before running the currently used version (1.5.1) I had disabled the contacts app in admin, then uninstalled it in admin and finally checked using ftp to ensure that the apps/contacts directory was gone. I then re-installed the app using admin - so all the file

[2017-01-31 17:18] snaiperskaya96 commented on #354
So basically the issue is now about splitting details between the two columns even if they become unbalanced and fix the visual issue?

[2017-02-01 05:43] TryDevBetter opened #573 "Connect LDAP books"
Good day, can you add LDAP connection books feature as in old version of Contacts App?
It's so cool feature. So usefull.

[2017-02-01 12:04] #208 closed, assigned to nobody

[2017-02-01 12:21] DeepDiver1975 commented on #573
We would need to add this to the owncloud server core.

Solution idea:
- implement a new app
- background job and/or occ command is used to sync ldap user information to new addressbooks#
- using sharing this book can be share with all users

[2017-02-01 12:22] DeepDiver1975 commented on #573
Getting an idea on how to create vcards from ldap:
https://github.com/dsv-su/ldapdav/tree/master/src

[2017-02-02 10:10] Peweuk commented on #572
OK.

There had been a few issues with this instal so I decided to try again and did a completely new install of OC in a different directory.
This time everything went OK the first time round and I now have my contacts (and calendar/tasks) all imported and sync'e with my PC/Phone.

All I have to do now is delete the original directory and see if I can rename the new one to get back to consistency.

[2017-02-02 10:51] DeepDiver1975 commented on #572
You are welcome - is was not that much :wink:

Please let us know if we can close the ticket - THX

[2017-02-02 10:57] Peweuk commented on #572
Yup - closed.
Thanks again

[2017-02-02 10:57] #572 closed, assigned to nobody

[2017-02-02 11:48] dercorn commented on #552
@DeepDiver1975 @arkascha I can confirm that [v0.0.0.216](https://github.com/owncloud/contacts/releases/tag/v0.0.0.216) works for me, too. The issue came up after an upgrade from 9.1.0 to 9.1.3.

[2017-02-02 16:18] hodyroff commented on #430
Did you retry with the newest version oC Server and Contacts app from app store?

[2017-02-03 10:54] Ascendor commented on #552
Has anyone tried it on OC 9.1.4 already? Don't want to go through the hassle of upgrading and downgrading the contacts app again in case anyone else tried it.

[2017-02-03 11:53] senshes commented on #552
@Ascendor After Upgrade to OC 9.1.4 no change, contacts 1.5.1 is going to be installed and it is still broken.

[2017-02-03 14:18] DeepDiver1975 commented on #552
@senshes - mind testing the current development stage?
[contacts.zip](https://github.com/owncloud/contacts/files/750665/contacts.zip)

[2017-02-03 18:03] senshes commented on #552
@DeepDiver1975  installed, tested, works like a charm on my server, no issues found - thanks a lot

[2017-02-07 14:43] Bilemma opened #575 "Blank group, not deletable"
### Expected behaviour
A list of all groups on the left side of the screen. **No blank lines** between "not grouped" and first group.

### Actual behaviour
A blank line is inserted between "not grouped" and the first group name. See picture. Also a **blank group** is inserted in the drop down list in the contact details area (can't see this on the screenshot). It is the first entry in the list and

[2017-02-07 14:55] Bilemma opened #576 "contacts birthday remains in calendar after deletion"
### Expected behaviour
After I delete a contact, its birthday entry should be removed from the calendar.

### Actual behaviour
recently I noticed some (!) double birthday entrys in my contact's birthday calendar. After I deleted one of these contacts completely, one of the two entrys disappeared from calendar. But the other one is still there and I can't get get rid of it.

Maybe my database is co

[2017-02-07 15:17] DeepDiver1975 commented on #575
Can I ask you to test this version:
[contacts.zip](https://github.com/owncloud/contacts/files/750665/contacts.zip)

[2017-02-07 16:54] Bilemma commented on #575
Thank you very much -this version solved the problem for me! I don't know what exactly changed, but everything works fine now!

Thank you so much for the fast help!

[2017-02-07 17:41] Bilemma commented on #575
Oh no, sorry, I was too fast...

First it looked fine, but now I have the same thing again. It seems that (only in my case?) every contact which is not assigned to a specific group will be handled as part of the "" group. If there are no contacts without category, everything is fine.

btw, here is a screenshot of the dropdown list with the grey, half-height-line of the untitled category:
![image](

[2017-02-07 19:35] Bilemma commented on #575
another hint:

i found in the exported vcard of all contacts the following:
some contacts have a special UID: they begin with "urn:uuid:"
f.e.
UID:urn:uuid:824a5799-3efc-4b0a-ae02-027ae8c8d8d9

Excuse me please if this is normal - but to me it seems that this might have to do with this problem.

[2017-02-08 10:34] Mte90 commented on #430
Actually for me is impossible to download and reupload the contacts for this bug, also I am using nextcloud offered from a service so I don't have access to the files and database.
Is an year that I cannot use anymore the contacts on owncloud, I was hoping that moving on nextcloud fixed the bug without success.
After 5 years of using owncloud I am very disappointed.

In the console I get:
```Conte

[2017-02-08 11:05] DeepDiver1975 commented on #430
so there is an invalid vcard in your database ... maybe you have the chance to find out which one this is and fix/delete that one?

[2017-02-08 11:08] DeepDiver1975 commented on #430
@Mte90 the status code 500 indicates that you are facing a server side issue - server side logs would be great. I suspect that this is related to invalid vcards as well.

Looks like we should find a mechanism to detect/fix invalid vcards.

[2017-02-08 13:43] Mte90 commented on #430
I get this in the log:
[code]

[2017-02-08 14:29] DeepDiver1975 commented on #430
looks like a malformated vcard - a multi line image property is most probably missing a white space in the beginning and because of that identified as a new property and not as data belonging to the previous property.

Maybe you can find out which vcard this is - we can then fix it manually to get your contacts up and running again.

[2017-02-08 14:31] Mte90 commented on #430
![screenshot_20170208_153055](https://cloud.githubusercontent.com/assets/403283/22741464/a06a3d1e-ee13-11e6-942b-a52449096171.png)
The issue not enable me to edit any contact, remove it or upload again for this error.
And this is the situation from an year...

[2017-02-08 14:38] DeepDiver1975 commented on #430
@Mte90 sorry if this was not clear - I mean grabbing the vcard data from the database.

[2017-02-08 14:40] Mte90 commented on #430
I am using a third-service so I cannot access to my db, if I had access I already fixed a clean install of contacts :-/
Actually this problem creates problems on download a backup or upload a new one, usually this kind of things (interface vs features) need to be separated to enable the users to use the software.

[2017-02-08 14:42] DeepDiver1975 commented on #430
from my pov bugs need to be fixed - plain simple :wink:

[2017-02-10 12:09] fossxplorer opened #578 "One event could not be migrated: Invalid Mimedir file"
### Steps to reproduce
1.Upgrade from oC stable8.2 to stable9 with updating contacts to current version
2.Follow the oC log

### Expected behaviour
Contact gets updated to recent version

### Actual behaviour
Lots of error as given in the subject field

### Server configuration
**Operating system**: CentOS 7

**Web server:** Apache 2.4

**Database:** MariaDB 10.x

**PHP version:** 5.6.x

**ownClou

[2017-02-10 12:21] DeepDiver1975 commented on #578
Data is not lost - please have a look at the old table and see if you can manually recover the event

[2017-02-10 12:36] fossxplorer commented on #578
It's now 777 of such events. It's a pretty big instance we are talking about with thousands of users.
But i'm running a pre-upgrade test environment to test the upgrade to oC 9 so the prod env isn't touched yet (still on stable8.2).

Is there a way to avoid this prior to the upgrade to oC 9 and contacts 1.3.3?
Thanks @DeepDiver1975  :)

[2017-02-10 15:19] DeepDiver1975 commented on #578
the only option I see is to extract all events from the database and fix them.
Pretty bad situation ....

[2017-02-13 17:21] arkascha commented on #552
@DeepDiver1975 It appears this version you linked here 10 days ago is a step forward:
Contacts do get loaded for me too now. Yeah! Thanks!

However there is a new issue in that version now:
Some of the contacts (about half of mine) show a broken display in the list of contacts:
there name is shown as ["Name","Surname"], with the literal square brackets around the name and the icon to the left of t

[2017-02-13 19:22] DeepDiver1975 commented on #552
mind opening a new issue with an example vcard attached? I'll happily debug into this then .... THX

[2017-02-13 19:22] DeepDiver1975 commented on #552
Nice! Let me release this version right after your other bug is fixed

[2017-02-14 17:20] arkascha opened #579 "Upcoming version of contacts app displays some names in a scrumbled way"
Testing the upcoming version of the contacts app as offered for download in issue #552 I saw that part of my contacts (about 50%, roughly) are displayed with the contact name scrumbled:

Instead of of usual `name, surname` or sometimes `surname name` those contacts are shown as `["name", "surname"]`. In addition the icon left of the contacts in the list features a `{{` instead of the usual first l

[2017-02-14 17:23] arkascha commented on #552
@DeepDiver1975 Create issue #579

[2017-02-14 21:57] DeepDiver1975 commented on #579
Works for me .... using current master ...

![bildschirmfoto von 2017-02-14 22-57-01](https://cloud.githubusercontent.com/assets/1005065/22951303/f6475376-f308-11e6-84d1-58fd74305de2.png)

[2017-02-14 21:57] DeepDiver1975 commented on #579
Let me bundle a new release cadidate and let's see ...

[2017-02-14 22:15] DeepDiver1975 commented on #579
@arkascha here we go
[contacts.zip](https://github.com/owncloud/contacts/files/775432/contacts.zip)

[2017-02-14 22:31] arkascha commented on #579
That version unfortunately does not change the issue:

![screenshot-owncloud-contacts](https://cloud.githubusercontent.com/assets/2156237/22952518/b0f38e66-f30d-11e6-9759-7f87fd6eb106.png)

[2017-02-14 22:32] DeepDiver1975 commented on #579
:cry:

[2017-02-14 22:36] DeepDiver1975 commented on #579
Any error in the browser console?

[2017-02-14 22:59] arkascha commented on #579
Nothing in the browsers console, sorry.

I just took a look into the database, I fail to see any structural difference between contacts displayed correct and such getting scambled.

[2017-02-14 23:05] DeepDiver1975 commented on #579
Within the setting in the bottom left corner there is a sort order setting - mind switching between the modes? Maybe we get some different display? THX

[2017-02-14 23:17] arkascha commented on #579
Changing the sort mode from "Anzeigename" to "Vorname" or "Name" party fixes the issue, since obviously it is the "Anzeigename" that is causing issues here. However the icon featuring the strange `{{` stays broken.

[2017-02-14 23:22] DeepDiver1975 commented on #579
this gives some pointers at least ..... THX

[2017-02-14 23:35] DeepDiver1975 commented on #579
I can reproduce this behavior is I remove the \ from the FN

Works:
[code]

Causing issues:
[code]

[2017-02-14 23:36] DeepDiver1975 commented on #579
![bildschirmfoto von 2017-02-15 00-35-29](https://cloud.githubusercontent.com/assets/1005065/22954432/af355470-f316-11e6-93e9-bd2c9fb70b57.png)

[2017-02-14 23:37] DeepDiver1975 commented on #579
lets see if I can find a fix tomorrow ....

[2017-02-15 09:01] arkascha commented on #579
Ok, seems like that backslash got removed when importing the contacts from my local PIM suite (exported as VCards) into ownCloud in a much earlier version. If so, then one might consider this corrupt data that should be fixed instead of getting worked around.

I wonder about that logic, though... why is the backslash required? The "display name" is a separate field (design decision in the VCard fo

[2017-02-15 09:18] DeepDiver1975 commented on #579
the vcard specification defines the comma to be a value separator - in case the comma is to be used within the value it has to be escaped with a \

the definition that fn is a single string value only applies afterwards when the value is already parsed and exists as an array of two elements.

[2017-02-15 09:23] arkascha commented on #579
Ok, thanks, das decides the cause of the issue: corrupted data in the owncloud database
I found the old VCard export file I used to import my address collection into owncloud years ago. Aren't backups a wonderful thing? ;-)
That file does contain the backslashes, so the VCard file itself is _not_ corrupted, but the imported data is. To me that clearly indicates an error in (at least) previous vers

[2017-02-15 09:27] DeepDiver1975 commented on #579
well - this is not that easy from my understanding. This would require a hugh collection of possible corrupted cases and rules on how to fix them.

Starting with oc10 the server backend is much more restrictive on import of data and it should not be possible to import corrupted data - if this case is handled is to be tested.

[2017-02-15 09:30] arkascha commented on #579
As said: the data that got imported is _not_ corrupted as I see it...

With "possible to fix" I meant: only existing `FN` entries in VCards inside the database should get fixed: any comma in there that is _not_ escaped by a backslash should be preceded with a backslash. That certainly will not fix potential other issues, but the issue at hand.

[2017-02-15 13:17] snaiperskaya96 commented on #386
Hiya, it's annoying me again.
I'm implementing this, just wondering about two points:
  - Which icon should I use to unlock/lock an address book? Cannot find any suitable one, should I add my own icon?
  - There's a visual bug when trying to add more than 4 action icons to an address book (icons go straight below the address book's name - see screenshot). What's the best thing to do in this case?

[2017-02-15 14:31] DeepDiver1975 commented on #386
For enable/disable I assume? What about using a checkbox?

well there was the idea to move all these action into a popover menu
This is how it looks like in the calendar app

![bildschirmfoto von 2017-02-15 15-30-42](https://cloud.githubusercontent.com/assets/1005065/22978628/c5d67448-f393-11e6-8135-1357405d6020.png)

[2017-02-15 14:37] snaiperskaya96 commented on #386
Whoops, ya, that's what i meant. A checkbox should do the trick!

This is how it looks like in the calendar app

Cool, will do it in that way

[2017-02-27 10:05] andreaslink-de commented on #430
Hej guys, I'm following this discussion here since some days and as I'm also having this issue, I'm interested in a solution. It does not have very high prio for me, but I see this as a major issue in owncloud if there are incompatibilities with a format beeing used at multiple devices affecting unusability for the official extension, don't you?
Are there already solutions existing, and if, when w

[2017-03-01 07:35] m3ntalsp00n commented on #563
This seems fixed to me?

[2017-03-02 15:36] sedrubal commented on #563
Yes, now clicking the button has no effect anymore when there is no address book 👍

But the UX is still quite bad IMHO:

- You open contacts the first time:
  - you see an empty app with a button <kbd>➕ New contact</kbd> which is not working
  - there is an endless loading spinner
  - You have no Idea how to continue
- You find the <kbd>⚙️ Settings</kbd> button and click on it and see an textfield

[2017-03-03 10:10] Mte90 commented on #430
Ok I asked to my third part service to reset the DB for the contacts and I will upload them manually to see what create the issue.

[2017-03-08 12:10] frankwerner opened #582 "Group 'Not grouped' is always empty"
### Expected behaviour
I expect to see all contacts without a group to see here.

### Actual behaviour
This group is always empty

### Server configuration
**ownCloud version:** 9.1.4

**Contacts version:** 1.5.1

**Updated from an older ownCloud or fresh install:**fresh install

Here is the solution working for me :-)

[code]

[2017-03-08 12:15] frankwerner commented on #575
I saw this 'blank group' too. My fix in #582 fixes this bug too :-)

[2017-03-08 16:05] fossxplorer commented on #578
@DeepDiver1975 I'm running this again couple in advance of a real migration in couple of days. It seems the contacts get migrated good actually, but when that parts finishes, i get out of memory error.
The samme happened a while back. How can i continue with calendar migration now?

$ time php -c /home/oc/php.ini ./occ upgrade --skip-migration-test --no-app-disable -vvv
ownCloud or one of the apps

[2017-03-10 06:09] pbek commented on #389
@IwishIcanFLighT do you maybe have this issue: https://github.com/nextcloud/server/issues/3740

[2017-04-04 22:02] oraclesod opened #584 "Request: CLI Contact Import"
I'm in need of a way to be able to query / add / update / remove contacts via the command line.
Or at least export per user contacts. So i can use another script to query / add / remove / update and then re-import and replace the original contact list.

Perhaps something where the contacts are imported/exported with CSV ?

[2017-04-05 02:46] glitchsys commented on #565
I'm having the same exact issue. I'll enter phone numbers, names, addresses. It may look fine but then when I move on to the next contact and then go back to the contact only bits of the information got saved. Half the phone number or name or address is cut off or just the last character or two. It's very strange.

[2017-04-05 05:23] glitchsys commented on #565
Hey 0-kaladin, I'm curious about something. Do you happen to have the "LDAP user and group backend  0.9.0" App/Module enabled? If you do, just as a test, can you disable the LDAP module and logging in as a non-ldap user/local admin and try making some changes to the contacts?

[2017-04-05 15:24] mokkin commented on #430
I am also affected by the issue on my instance.

In my case I have watched an additional behaviour. You open the contacts app, the spinning wheel spins without stopping and on the right side it says "no contacts available". But if you click on the button "new contact" all the available contacts appear even when you cannot open them.
There seems to be no difference between new users without contact

[2017-04-16 07:38] Dr34ml4and3r opened #586 "Request:Auto importing/populating addressbook from the phone contacts to owncloud"
Right now , you have to manually export contacts from your phone and import in Owncloud Contacts.
For example,on google contacts service when the phone connect to the service for the first time, all the contacts from the phone are saved/imported automatically , so it populates the new empty addressbook from google.
Can you have also this feature on owncloud?
Or is it a bug?
Thank you!

[2017-04-16 07:58] Dr34ml4and3r opened #587 "Importing vcf contacts list stucks at 4%"
I'm trying to manually transfer all my contacts(581) from my iphone to the addressbook of my owncloud.
From the iphone I exported them in vcf format,the importing process in owncloud stops at 4% and in the addressbook imports only 26 contacts.
The syncronization process is working fine, I can add,edit,delete contact in owncloud and it syncronizes with my iphone addressbook and viceversa.
The only

[2017-04-16 13:53] ThePlatzhalter commented on #317
I started working on this. My solution will search for contacts with the same name and merge them automatically, providing a possibility to review the changes before they are made persistent and either apply all, or select which ones to apply and which ones not to individually.

The same mail address with different names is not a realistic scenario in my opinion.

[2017-04-16 18:56] cboltz opened #588 "vcf import should update existing records, not duplicate them"
### Steps to reproduce
1. Login to the ownCloud web interface
2. go to the contacts app
3. import a vcf file (exported from somewhere else)
4. (optional) slightly edit the vcf file, for example change a phone number
5. import that vcf file again

### Expected behaviour
The address book entry created after step 3 (hint: same `UID:`) should be updated (if the vcf file was modified)

### Actual behav

[2017-04-16 19:24] Dr34ml4and3r commented on #587
In owncloud.log I found this errors when importing contacts in owncloud

{"reqId":"WPO8tsC5BHkAAS5c8vgAAACH","remoteAddr":"84.232.195.215","app":"webdav","message":"Exception: {\"Message\":\"HTTP\\\/1.1 401 No 'Authorization: Basic' header found. Either the client didn't send one, or the server is mis-configured, No 'Authorization: Basic' header found. Either the client didn't send one, or the ser

[2017-04-17 10:58] ojob opened #589 "One-letter groups created, also not showing in contact"
Hi to All,
I've created new contacts, and have set them to new groups. Most often this works, but sometimes (~30% ?) I have two defaults:

  1. New groups are created as an explode of the name of the group I wanted to create, e.g. I wrote "Kayak" and I obtain "K", "a", "y", "a", and "k".
  2. The new Contact is created, and visible under all these groups, including the intended one. But these grou

[2017-04-17 14:37] ThePlatzhalter commented on #317
I just finished a working proof of concept of the merging feature: https://github.com/ThePlatzhalter/contacts

I didn't pull request yet, because it still has some flaws i will be working on later.
For example, I want the duplicates page to redirect to the contacts list once "Merge all" has completed.
Also, I did not find the time to implement suitable icons, so the icons on the buttons are just t

[2017-04-18 18:59] Linkinsoldier commented on #552
May I ask if this bugfix made it into 1.5.3 of the app? I have 2 contact addressbooks near 10MB and would be grateful for this fix :)

[2017-04-20 13:00] ghost opened #590 "White page in contacts"
After upgrading owncloud (version 9.0.8), the contacts page is white. Anymore contacts appears.
In the owncloud log, this error :  Directive 'allow_call_time_pass_reference' is no longer available in PHP at Unknown#0

### Server configuration
**Operating system**: Linux Debian Jessie

**Web server:** : Linux Debian Jessie

**Database:** mysql-server-5.5 (version 5.5.54)

**PHP version:** 5.6.30

*

[2017-04-25 08:55] JKawohl opened #591 "enabling contacts app from marketplace results in internal server error"
### Steps to reproduce
1. Have owncloud 9.1.5 installed with ldap
2. Disable user_ldap before updating to 10.0.4 RC4
3.Install contacts from marketplace.

### Expected behaviour
App should work

### Actual behaviour
{"reqId":"fYx4cw7YA2kvkEOmcfMW","level":3,"time":"2017-04-25T08:46:07+00:00","remoteAddr":"172.18.0.1","user":"admin","app":"index","method":"GET","url":"/index.php/apps/files/","messa

[2017-04-25 13:58] DeepDiver1975 commented on #591
I could not reproduce this - can you please double check if the file exists locally?

[2017-04-25 14:18] JKawohl commented on #591
Sorry seems to be an architectural thing.

https://github.com/owncloud-docker/server/issues/6

[2017-04-25 14:18] #591 closed, assigned to nobody

[2017-04-26 07:29] willem2668 commented on #589
+1

[2017-04-28 05:46] Schlumpfpapa commented on #219
Most off the above links are not working any more. This makes it very difficult to understand what the problem with owncloud and El Captian and Sierra is, because it still remains unsolved by Apple.

[2017-04-28 11:59] wolfen351 opened #593 "Ubuntu 16.04 official repositories contains owncloud 10, but still older contacts"
So the title says it all.. owncloud 10 seems to be have been opened for general release yesterday, I apt-get updated my machine, and i'm stuck where contacts is concerned - the repo seems to contain older contacts package.

### Steps to reproduce
1. Use ubuntu 16.04
2. Upgrade to owncloud 10 - see contacts not upgraded
3. unable to disable maintenance mode

### Expected behaviour
Upgrade of ownclo

[2017-04-28 12:00] wolfen351 commented on #593
`
ownCloud or one of the apps require upgrade - only a limited number of commands are available
You may use your browser or the occ upgrade command to do the upgrade
Maintenance mode disabled
ownCloud or one of the apps require upgrade - only a limited number of commands are available
You may use your browser or the occ upgrade command to do the upgrade
Set log level to debug
Turned on maintenance

[2017-05-05 09:23] mayerflash commented on #414
This is not really an enhancement, because it was already working under owncloud 8.2 and task 0.7.1
I just installed owncloud 9.1 and I was really disappointed that this function is no longer available.
It's really hard to migrate 500 contacts coming from 3 separate addressbooks...

[2017-05-05 11:03] sushidave commented on #475
The trouble with this imported vCard from the OS X Address Book is that those wrongly stored categories on the server sync to other non-Apple devices and of are stored there in the same wrong fashion as well.

What's the way out of it?
a) Deactivate CalDAV on the connected devices, delete all contacts on the server and reactivate CalDAV? Will OS X be going to automatically transfer the contacts to

[2017-05-06 12:14] deisi commented on #389
are there any updates on this matter? Its really a killing bug.

[2017-05-06 12:16] pbek commented on #389
@deisi, does my last comment at <https://github.com/nextcloud/server/issues/3740> help you? That was what I did as workaround...

[2017-05-06 12:32] deisi commented on #389
you meaning splitting up the adressbooks into smaller chunks. Didnt try yet but will. Thx

[2017-05-06 12:33] pbek commented on #389
yes, I did that...

[2017-05-06 12:35] bitsandnumbers commented on #389
Issue solved with nextcloud 11.0.3 on my end

[2017-05-06 12:53] Wikinaut commented on #389
I moved to Nextcloud, and everything works fine now.

[2017-05-06 15:01] myzinsky commented on #590
I have the same problem 👎

[2017-05-08 06:03] DeepDiver1975 commented on #590
This is a problem with your system setup. Google helps ;-)
https://github.com/pagekit/pagekit/issues/325

[2017-05-08 06:03] #590 closed, assigned to nobody

[2017-05-08 10:20] falcongoat commented on #589
+1

[2017-05-08 12:09] myzinsky commented on #590
Independent of that the contacts were not working. I was truncating all the contact related tables, and synced my contacts again. Now the DAV synchronisation works again, however in the contacts app there is still a white page.

[2017-05-09 20:03] Schack17 opened #594 "Allow events/hooks to trigger other apps"
Allow events/hooks to trigger other apps on create, change or delete contacts.
Usecase: Trigger a change and export the changed contact to an external phonebook. Fritz!Box as example.

[2017-05-11 16:26] j-holub commented on #219
I have a similar issue.

It didn't work then after hours of trial & error (since CardDav things aren't really documented anymore in the OC documentation) I managed to get it to work again.

Then suddenly one day half of my contacts were gone. Now I deleted the account and fail again the recreate it in a way that works.

[2017-05-14 09:49] ghost commented on #590
I found my mistake
A rule in .htacess file
`<IfModule mod_alias.c>
  RedirectMatch 301 (.*)\.html$ http://192.168.0.100/$1.php
         RedirectMatch 301 (.*)\.html$ http://www.numeriquement.fr$1.php
</IfModule>
`
So i deleted this rule and now it's OK

[2017-05-15 07:35] DeepDiver1975 commented on #593
@wolfen351 please disable the contacts app as advised, perform the upgrade to oc10 and next install the new contacts version from the market app.

[2017-05-15 07:35] #593 closed, assigned to nobody

[2017-05-17 09:30] apotek commented on #450
The workaround here appears to be to log in to cloudflare, go to the "Speed" page, go to the Auto Minify section, and uncheck the box for javascript.

While your JS won't be minified anymore by cloudfront, at least it will work.

![screen shot 2017-05-17 at 5 27 05](https://cloud.githubusercontent.com/assets/279278/26147491/ba60a488-3ac1-11e7-8cfa-78d0266c3ed9.png)

[2017-05-19 11:30] blackpit73 commented on #414
yes, we REALLY need this feature. Especially users with large addressbooks cannot move to owncloud like this.

[2017-06-15 19:22] mokkin commented on #430
The same happens in ownCloud 10.

[2017-06-15 19:37] mokkin commented on #430
JS console says:

[code]

[2017-06-17 17:58] alele-de opened #596 "No flags at addressbooks"
Hello at All,

I´m using owncloud 10.0.1 but have had the same problem in 9.0.9. I´m using two addressbooks and until OC 9 it was possible to separate the view for each addressbook with a flag. But now the flags are lost or not active. Do i have to customize it?

Contacts Version: 1.5.2

![unbenannt](https://user-images.githubusercontent.com/5948961/27255090-cd4a79b4-5396-11e7-955b-4029eb209ada.PN

[2017-06-18 20:38] guettli opened #597 "From tine20 to owncloud"
Up to now I host my contacts in tine20.

I would like to switch to owncloud.

I could not find a migration guide.

It would be very kind, if someone could provide the basic steps how to transfer the contacts
from tine20 to owncloud.

Thank you.

[2017-06-27 21:36] DeepDiver1975 commented on #597
No idea if tine has an export function to export contacts/addressbooks as vcards. but with the contacts app you can import vcard.

maybe this helps.

for further discussion please join https://central.owncloud.org/ - thx

[2017-06-27 21:36] #597 closed, assigned to nobody

[2017-06-27 21:40] DeepDiver1975 commented on #594
this request has to go into core because the contacts app only holds the front end.

but good news these hooks already exist - e.g. https://github.com/owncloud/core/blob/master/apps/dav/lib/CardDAV/CardDavBackend.php#L529

[2017-06-27 21:40] #594 closed, assigned to nobody

[2017-06-27 21:43] DeepDiver1975 commented on #587
all these 'No 'Authorization: Basic' header found.' messages are not related. I suspect an issue in the front end code. Please have a look at the browser console. THX

[2017-06-27 21:45] DeepDiver1975 commented on #586
I see no way to do this. ownCloud exposes a carddav interface and any client can connect.
If the phone (being the carddav client) cannot provide such a service there is not much we can do on the server side. Sorry

[2017-06-27 21:45] #586 closed, assigned to nobody

[2017-06-27 21:46] DeepDiver1975 commented on #584
I see this more as a request to the backend -> https://github.com/owncloud/core/issues/new

[2017-06-27 21:46] #584 closed, assigned to nobody

[2017-06-27 22:15] #589 closed, assigned to nobody

[2017-06-27 22:15] DeepDiver1975 commented on #582
fixed with #598

[2017-06-27 22:15] #582 closed, assigned to DeepDiver1975

[2017-06-27 22:35] DeepDiver1975 commented on #575
[contacts.tar.gz.txt](https://github.com/owncloud/contacts/files/1107022/contacts.tar.gz.txt)

Please test this version - THX
(rename the file name and kill .txt)

[2017-06-30 18:02] william-weber commented on #354
<img width="882" alt="screen shot 2017-06-30 at 10 39 21 am" src="https://user-images.githubusercontent.com/1109049/27748217-6d88c624-5d83-11e7-92b1-6863f78afc62.png">
Here's what it looks like on large screens. I checked for jumping issues/glitches when resizing and didn't see any.

[2017-06-30 18:36] william-weber commented on #386
There's a bounty on this & I'd like to start but I see a couple of unmerged PRs that could be related. Is this claimable?

[2017-06-30 19:41] william-weber commented on #407
<img width="423" alt="screen shot 2017-06-30 at 12 34 30 pm" src="https://user-images.githubusercontent.com/1109049/27751494-78566472-5d91-11e7-96c2-ec67230b8188.png">
How does this look? Implementation is the same as the Web link, just different icons.

[2017-07-03 07:46] #198 closed, assigned to nobody

[2017-07-03 07:46] #407 closed, assigned to nobody

[2017-07-03 08:02] #354 closed, assigned to nobody

[2017-07-03 08:12] DeepDiver1975 commented on #386
absolutly - got for it!

[2017-07-03 19:50] #12 closed, assigned to nobody

[2017-07-03 19:51] #387 closed, assigned to nobody

[2017-07-03 19:54] DeepDiver1975 commented on #317
feel free to submit the pr - we can discuss details on code basis then. THX

[2017-07-03 20:12] DeepDiver1975 commented on #430
@mokkin what contacts version are you using? THX

[2017-07-03 20:25] mokkin commented on #430
OC 10.0.2
Contacts 1.5.2
PHP 5.6.30
Apache/2.4.10 (Debian)

[2017-07-08 08:04] T-a-z commented on #531
Are there any news? So the app is useless.

It's very, very slow! If only one contact, an image with 837kb is assigned, loading the page takes 34 seconds! And syncronizing with DAVdroid also takes very long. If more images are, syncronizing is no longer possible!

Ownlcloud 9.1.6
Contacts 1.5.1

[2017-07-13 20:30] Schack17 commented on #594
Great. Thanks @DeepDiver1975 .
Have you a documentation for me how to use this hook?

[2017-07-14 12:13] DeepDiver1975 commented on #594
documentation and comments lie - the truth is only in code ;-)

sorry - this is not really documented - please have a look at the pointed code locations - in case of questions feel free to reach out to me.

Take care

[2017-07-14 16:30] guettli commented on #597
Just for the records, I found a solution, and posted it here: https://android.stackexchange.com/a/176960/40698

[2017-07-17 09:45] severalthings opened #602 "contact app 1.5.1 constructs/shows new groups"
This error must have been introduced via an update. So the "steps to reproduce" won't work, but they explain the result.

### Steps to reproduce
1. create 3 contacts X,Y,Z
2. create 2 groups A and B
3. put X in A, Y in B, and Z in A and B

### Expected behaviour
On the left side of the web-interface there should be tw groups.
When accessing the groups / contacts with thunderbird/category manager2/

[2017-07-17 09:46] Bilemma commented on #575
I tested your Version but the blank group is still there. I'm sorry!
Any special tests I can do for you?

[2017-07-17 11:21] DeepDiver1975 commented on #575
hmmm ... would be good to identify which vcard is causing the generation of this empty group ....

[2017-07-17 11:21] DeepDiver1975 commented on #602
mind testing this version? [contacts.tar.gz.txt](https://github.com/owncloud/contacts/files/1107022/contacts.tar.gz.txt)

[2017-07-29 16:07] davidarp commented on #478
This discussion thread has definitely helped me out: I was going crazy with this contact app which was working yesterday (on my ownCloud 10.0.2, contact app 1.5.2)! I got lost in all the solutions that you can find on this site dealing with address books containing corrupted entries.

The easiest way to confirm this simple diagnosis is:
1.  Export your address book (with the https://_my_path_to_ow

[2017-07-30 12:31] EgbertW commented on #488
I found this issue using a search engine because I encountered the same problem. I imported a bad vcf file in OwnCloud 9.0.3 and since I get the spinning loader. I figured maybe updating would help so I updated to 10.0.2 today. While the import error may be fixed, the database itself is not fixed - there's still a broken VCF in there and no way to get it out.

I am currently trying to resolve this

[2017-08-08 10:26] pmaier1 opened #608 "1.5.3 Release checklist"
QA
- [ ] create testplan and test cases
- [ ] test and document in testplan. Final release "Go"

Marketing
- [x] Update info.xml (summary, description, etc.) https://github.com/owncloud/contacts/pull/607
- [x] Find screenshot/image

Build
- [x] bump version to 1.5.3
- [x] sign and build tarball
- [x] upload to marketplace

Docs
Nothing to do

Communication
- Blogpost on .org ? @lefherz

[2017-08-13 15:45] yvanmoriame commented on #565
Hi,
I'm having same issue ...
This issue has been reported since january   !!!     Nobody there ???
Firefox V = 54.0.1 (32 bits)
OC = ownCloud 9.1.6 (stable)
Contacts App = 1.5.1
PHP = 7.0.19-1

[2017-08-14 14:09] blausand commented on #587
Same with me. Different address books stuck at different percentages.
Leaving the browser open to let import proceed in the background.
# Actual behaviour
Firefox crashes during the import process (at 60%).
After restart, the number of contacts online ist 383, while Notepad++ finds 702 instances of `BEGIN:VCARD` in the file. This matches 60%...
The Contact #383 and #384 seem unsuspicious to me:
[c

[2017-08-15 10:34] UK-Universal-Support-Limited opened #611 "Escape, Un-escape issue for Notes"
For "Notes", some strings are not stored correctly.
The string #\\\\n became the string #\
The string #\n became null

### Steps to reproduce
1. Open a Web browser, and login to ownCloud.

2. Input the following 3 lines in the Notes field, see the attached screen-shot Input.png
\#\\\\n
\#\\n
\#n

![input](https://user-images.githubusercontent.com/26228501/29311988-1faad606-81a3-11e7-8373-d6be131d0

[2017-08-15 13:30] prsnbrg opened #612 "{{ctrl.t.emptySearch}} Error can´t see my contact list"
### Steps to reproduce
1. Open the contact app obout the web interface
2.
3.

### Expected behaviour
Tell us what should happen
See my contact list
### Actual behaviour
Tell us what happens instead
I the this error "{{ctrl.t.emptySearch}}"
### Server configuration
**Operating system**:
Raspbian
**Web server:**
Apache2
**Database:**
MySql
**PHP version:**
PHP5
**ownCloud version:** (see ownCloud ad

[2017-08-28 01:09] spoorun opened #616 "Accidental, ignore"
**Currently**
There is no way of syncing or storing or setting preferred items within a field type.
For example preferred email address, preferred phone etc...
Most other modern systems allow this.
It permits syncing, allows the user to intuitively email or dial the correct details and store that important information intuitively. It also ensures that the User sees the most important fields first

[2017-08-28 01:10] #616 closed, assigned to nobody

[2017-09-11 10:51] #608 closed, assigned to DeepDiver1975, felixboehm, pmaier1

[2017-09-11 10:53] DeepDiver1975 commented on #612
What is within your browser error console?

[2017-09-11 10:53] DeepDiver1975 commented on #602
should be fixed with 1.5.3 -> closing

[2017-09-11 10:53] #602 closed, assigned to nobody

[2017-09-11 15:24] DeepDiver1975 commented on #552
1.5.3 was just published - please give it a try - thx

I'll close this issue - please open a new new for 1.5.3 - THX

[2017-09-11 15:24] #552 closed, assigned to DeepDiver1975, arkascha

[2017-09-19 08:58] KhaosFarbauti opened #620 "Contacts not working on fresh install"
### Steps to reproduce
1. Fresh owncloud install
2. Install contacts via market in owncloud
3. Go to Contacts tab

### Expected behaviour
Normal contacts page with new/import button

### Actual behaviour
"Partial" contacts page : No new button, no import button
Only a settings button on bottom left without any option in it

### Server configuration
**Operating system**: Wheezy
**Web server:** Apac

[2017-09-24 20:55] Ascendor opened #621 "Owncloud contacts don't load after OC upgrade"
### Steps to reproduce
1. Upgrade owncloud from 9.1.6 to 10.0.2
2. Upgrade Contacts from 1.5.0 to 1.5.3
3.

### Actual behaviour
 Owncloud contacts (web) doesn't load, owncloud webdav does not synchronize

### Server configuration
**Operating system**: Debian Wheezy

**Web server:** Apache 2.2.22

**Database:** 5.5.57-0+deb7u1

**PHP version:** 5.6.31-1~dotdeb+7.1

**ownCloud version:**  10.0.2

*

[2017-09-25 14:21] Ascendor commented on #621
Fixed by two/three steps:
1. Some contacts where corrupted: They had "ENCODING=BASE64", I replaced this bei ENCODING=b.
2. Some contacts where corrupted #2: They had "ENCODING=QUOTED-PRINTABLE". I removed that.

After these steps I had it working again on the web, but not on my Android device (Easy DAV für owncloud).

3. I had to re-setup DAV sync on the android device from scratch.

[2017-09-25 14:21] #621 closed, assigned to nobody

[2017-09-26 12:41] nsa-a1 commented on #620
I have the same issue.
Workaround is:
1. download contacts app from [https://apps.owncloud.com/content/show.php/Contacts?content=168708](https://apps.owncloud.com/content/show.php/Contacts?content=168708)
2. Extract gzip into <path to owncloud root>/apps (in my case the path is /var/www/owncloud/apps)
3. Enable contacts app.

[2017-09-26 12:57] KhaosFarbauti commented on #620
This workaround doesn't seem to work with Owncloud 10.0.2. Can't enable an old contacts version.

[2017-09-28 11:43] KhaosFarbauti commented on #620
Ok after playing around i manage to find the cause : It seems to be Cloudflare (specificaly Cloudflare JS optimization) that make Contacts crash.

Disabling Cloudflare performance (not caching or SSL) make Contacts works again.

Any idea on how to make Contacts and Cloudflare works together ?

[2017-09-28 12:43] DeepDiver1975 commented on #620
Not really - but this is already somewhere in the issues tracker.
I'm sorry to let you know but there are no plans to support this.

[2017-09-28 12:43] #620 closed, assigned to nobody

[2017-09-28 12:44] DeepDiver1975 commented on #620
see https://github.com/owncloud/contacts/issues/450

[2017-10-02 18:34] jzeevi opened #622 "iOS sync doesn't get names, just orgnaization (as name)"
### Steps to reproduce
1. set up carddav per instructions
2.go to contacts on iOS
3.

### Expected behaviour
Expect to see names, phones, email, etc.

### Actual behaviour
Every "Name" is the organization field. The org does also appear in the "company" field with the title.
For those that have numbers, emails, etc that seems to work. Pictures come across

### Server configuration
**Operating syst

[2017-10-04 06:02] DeepDiver1975 commented on #622
Can you Please Export the Contact and Post Herr for testing? Thx

[2017-10-04 11:19] jzeevi commented on #622
Thomas,

   I hope I've done as you asked. I downloaded the contacts into a vcf file that I zipped for upload.

   josef

[2017-10-04 11:19] jzeevi commented on #622
Oops. Sorry - pressed the wrong button.

[2017-10-04 11:31] DeepDiver1975 commented on #622
Evolution uses the ORG as displayname as well .... I'll have a look

[2017-10-04 11:33] jzeevi commented on #622
Thanks. I know iOS apps can be tricky.

[2017-10-04 14:19] DeepDiver1975 commented on #622
To me this looks like a general issue within vcards.

Since your vcard hold no N element - ORG will be chosen as SORT-AS property.
To solve this: set the N element with the names of the people and this will be taken.

Let me know if this works for you.

(The N element is set if you enter data into the 'Detailed Name' section)

[2017-10-04 14:31] jzeevi commented on #622
So that did fix it. Seems like owncloud should fill in the N element with the basics from the "New Contact" (first name, last name) if it can figure it out or perhaps change that mechanism so the user will enter data for the N element that will also show as the "New Contact" info.

Thoughts?

[2017-10-04 14:46] DeepDiver1975 commented on #622
Well - processing FN and filling in N is not an easy task. Algorithms do exist but they are language/country/region specific.
I guess the best would be to add SORT-AS support. Something like a checkbox on attributes...

[2017-10-04 14:57] jzeevi commented on #622
Ah. I see. Perhaps creation of  a new contact could require N element info and use that to create an FN? I get that ti may not be simple and do appreciate the chance to brainstorm it with you.

[2017-10-05 07:29] alfonx commented on #531
Same here, sadly the basic use-case of contacts is unusable for me for months now. :-/

[2017-10-09 14:31] tony5 commented on #565
just a thought but look at your apache2.conf and see if there is anything related to etags.
maybe something like "FileETag None" if so comment it out and try that.

[2017-10-09 19:38] DeepDiver1975 commented on #622
quite valid approach - let's see ... moving to backlog for now

[2017-10-13 20:11] saddy001 commented on #612
I have the same issue. The error log is

[code]
I replaced `<id>` because I don't know if it is sensitive. If you need it, let me know what it's for and I may add it.
Also, I may have enabled the encryption module before or after activating the contacts app.

[2017-10-14 21:37] rehoehle commented on #464
I have a question regarding this. My customer use CalDav Sync to sync directly from Outlook to Owncloud. So we had the problem that the company wasn't synced.

And the Contact groups aren't synced.

[2017-10-14 22:02] rehoehle opened #623 "Unsupported Media Type (Only allow valid card error)"
Since some days we get a strange error in Owncloud 10.0.3 (contacts 1.5.3) when you edit an existing contact or create a new one you get the following error and the contact isn't updated anymore. I can't reproduce the problem exactly but we got that problem with Linux and Windows Clients (Outlook with CalDav Sync).

[code]

The only possibility is to delete the contact in Outlook and create it aga

[2017-10-16 09:28] alferca commented on #612
I have the same issue here. I don't see any contacts, and the following message on the box:
{{ctrl.t.emptySearch}}

Also,the  contact form is not appearing, but  if press button "Create new contact" , adds +1 to the counter

Error in the console log ( Firefox 56.0 (64-bit)):

Exception { message: "", result: 2153971714, name: "NS_ERROR_STORAGE_IOERR", filename: "https://xxx.uv.es/nextcloud/a…", li

[2017-10-16 14:36] #623 closed, assigned to nobody

[2017-10-18 10:39] root555 commented on #612
I have the same problem. The contacts app means there are contacts, but shows only "{{ctrl.t.emptySearch}}".
My version numbers are:
Nextcloud 12.0.3
 Contacts 2.0.1

[2017-10-21 20:39] Siassei commented on #430
identical problem here. Try to import vcard version 2.1 file. the import does not starts and the wheel is spinning.
hard coded replace of version 2.1 to 3.0 gets same fails of contact import

Example

[2017-11-01 23:02] mcteefax commented on #612
With Firefox (56.0.2) I have the same problem: No contacts, but the list of groups is shown.
One hint could be,, that in "Settings" the dropdown-field for sorting is empty. Instead of the description previos to the dropdown-field only a variable/function is shown:
`{{ctrl.sortText}}`

Workaround: With the browser "iron" everything is OK.

[2017-11-02 14:36] karnhold commented on #612
Same problem on my Owncloud 10.0.2 (on Raspberian Jessie).
Access to the contacts by using a Firefox 56.0.x or Midori Browser just show {{ctrl.sortText}} as described.
Opera 48.0 browser works fine. Access via carddav interface is ok.
Upgrade to Owncloud 10.0.3 and reinstallation of calendars does not change anything.

Owncloud reports invalid certificate
- contacts_defekt
	- EXCEPTION
		- OC\Inte

[2017-11-21 12:09] ikarus13 commented on #612
Everything is ok with Firefox 52.5.0 (64-Bit Linux) when i disable noscript.
Give it a try...

ikarus

[2017-11-22 07:41] brunt82 commented on #612
I could reproduce it with FF 52.5.0 ESR on Win10, but not with the same FF version on Win7.

[2017-11-24 04:46] rupertdev commented on #386
Is there any more work to be done on this?

[2017-11-24 11:26] Bilemma commented on #575
I updated recently to OwnCloud X and have now contacts 1.5.3 running. The problem with the blank group still exists.

I would like to identify the vcard as you told me, but I don't know how to do that. Any suggestions?
Thank you again!

[2017-11-24 14:09] Julian1998 commented on #386
@MichaelRupertDev  I don't think so.... so let's close this

[2017-11-24 14:09] #386 closed, assigned to nobody

[2017-11-30 17:28] frankest commented on #596
Just want to support this feature request. I'm missing it as well. Steffen.

[2017-12-05 12:46] Julian1998 commented on #576
It would be nice to know what your last ownCloud version was

[2017-12-06 10:36] Julian1998 commented on #622
@jzeevi So finally....... We decided that this is an iOS bug... You can prevent it by setting a detailed name instead of just only a display name.... But if u like to... fork calendar and create the detailed name out of your display name... we can't do that because of names/regions ;)

[2017-12-06 10:36] #622 closed, assigned to nobody

[2018-01-07 19:52] LordBritish12 opened #628 "Endless Spinning wheel with 2 empty adressbooks: steps to reproduce"
### Steps to reproduce
1. Create a new user test
2. login as test and create an additional adressbook (no need for contacts)
3. press f5
4. Endless spinning wheel shown.

### Expected behaviour
No contacts and no spinning wheel displayed

### Actual behaviour
Spinning wheel which never ends (reproducible !!!)

### Server configuration
**Operating system**:
root ubuntu 16
**Web server:**
apache
**D

[2018-01-10 14:47] Julian1998 commented on #628
Looks like a little blemish... not very important for the moment as long as you can do everything else like create contacts ....

But thx - I will fix it sometime

[2018-01-14 12:31] LordBritish12 commented on #628
The starting point for me was that none of my contacts where shown in the GUI instead an endless spinning wheel. I couldn't even search for a contact, only thing working was synchronisation to devices ...
So I wouldn't say a "little blemish" ..

I got it working by:
Exporting all contacts via SQL select since I have 2 different adressbooks which I'd like to keep separate.
Creating a new test user.

[2018-01-17 13:54] Julian1998 commented on #628
Ah alright! My fault....
I will have a look at this later!

Thanks

[2018-01-22 02:17] UtechtDustin opened #629 "Contacts not syncing/multiple birthdays on calender"
### Expected behaviour
Synchronizing of contacs not working
Contact birthdays will be not deleted on change

### Actual behaviour
The App CardDAV-Sync(0.4.21) free shows "last sync before x minutes" also i can see the the corect name of the contat "group".
But there are no contacts from owncloud on my mobile phone after the sync.
I can also see the request of the app to owncloud.
-----------------

[2018-01-22 09:20] DeepDiver1975 commented on #629
there is an issue in the web interface which will be fixed in 10.0.5 - which shall be release asap

[2018-01-22 09:20] #629 closed, assigned to nobody

[2018-01-24 06:24] LukazZ opened #630 "Fresh install OC10 doesn't sync contacts with CardDav which remains the same version and which worked fine with OC9"
### Steps to reproduce
1. create new addressbook (in shell)

`sudo -u www-data php occ dav:create-addressbook user1 user1addressbook`

2. remove previous/default addressbook (Contacts web gui)

3. create new contact and save (Contacts web gui)

4. remove all CardDav addressbooks (in Android 6 phone)

5. create new CardDav connection to OC10

6. sync brings no changes to either OC10 and CardDav add

[2018-01-24 07:41] DeepDiver1975 commented on #630
we had an issue in 10.0.4 which affected some caldav/caddav clients - 10.0.5 will fix this. It will be released these days.

[2018-01-24 07:41] #630 closed, assigned to nobody

[2018-01-24 08:43] LukazZ commented on #630
Thank you DeepDiver1975 for your answer. Have a great day.
Bye  Lukas

[2018-01-26 16:07] Julian1998 commented on #628
@LordBritish12 Updated from an older ownCloud or fresh install: ?
Can you answer me that question please. For me it's working fine with contacts. A endless spinning wheel only happens when my adressbook is empty.

[2018-01-27 14:19] Julian1998 commented on #628
So this is fixing the little blemish!
If this doesnt work for you your data is crashed. In this case please post your logs here.

[2018-01-27 16:38] Julian1998 commented on #588
A fix for that is not that easy. Hopefully we can implement it next version.
You can't simply update duplicates. So in case of duplicates the user has to decide if he either wants to override, merge or ignore that contact.

[2018-01-27 16:38] #588 closed, assigned to nobody

[2018-01-27 16:41] Julian1998 opened #632 "Actions for duplicates when importing"
In case of duplicates while importing the user has to decide if he either wants to merge, override or ignore that contact

[2018-01-28 18:31] Andreas111 opened #633 "Kontakte werden nicht Syncronisiert"
Ich benutze Own-Cloud in der 10.0.4 version dazu Outlook 2016 zur Syncronisation benutze ich cFos Outlook Dav und Contakt, leider wird nichts syncronisiert
owncloud läuft auf einem Raspberry piII

Was kann ich machen?

Andreas

[2018-01-29 18:11] Julian1998 commented on #633
https://github.com/aluxnimm/outlookcaldavsynchronizer#install-instructions ;)

Not sure if cFos Outlook Dav supports ownCloud. I would recommend that tool (It's already tested with ownCloud)

[2018-01-29 18:11] #633 closed, assigned to nobody

[2018-01-29 20:36] Andreas111 commented on #633
Danke Dir erst einmal, werde ich die nächsten Tage Testen, ob wohl ich OWNCloud in deer 8 ter Version immer benutzt habe und dort hat es wunderbar funktioniert

Thank you for once, I will test the next few days, although I have always used OWNCloud in the 8 ter version and there it worked wonderfully

[2018-01-30 11:10] DeepDiver1975 commented on #633
Please note that 10.0.4 has an issue in the dav implementation which can cause issues in some sync scenarios. 10.0.6 will fix this - release is planned for January 31st

[2018-01-31 13:33] Julian1998 commented on #633
@Andreas111 @DeepDiver1975 Thx

[2018-02-18 23:35] cboltz commented on #588
I'm a bit confused because you closed this ticket. Do you have another place to track the hard-to-implement things? If so, is there a way to get notifications when you work on this?

BTW: For my usecase, overwriting the existing contact (VCF file always wins) would be perfect, but it probably makes sense to let the user decide on that. As a first step, not creating duplicate address book entries i

[2018-02-19 00:20] Julian1998 commented on #588
@cboltz https://github.com/owncloud/contacts/issues/632

I summed the possible events when importing a vfc file up in a new ticket

If you want to I can tell you what you have to change for your usecase (It's pretty simple)
I don't think that I can implement that feature the next few months

[2018-02-19 21:54] cboltz commented on #588
Thanks for the pointer to the new ticket!

And yes, some hints about what I need to change to avoid duplicates would be welcome ;-)

[2018-02-28 18:57] Julian1998 opened #637 "Enable/Disable addressbooks"
At the moment you are only able to create, share and delete an addressbook... But enabling/disabling is very important... Now you are creating an addressbook but it's never used because contacts are only saved in the default addressbook.... so it would also be cool if you are able to set the default addressbook

[2018-03-06 12:00] #517 closed, assigned to DeepDiver1975

[2018-03-07 08:22] christophefromparis commented on #414
I have just updated directly the database to import contacts to the right address book! It works but we have to implement this feature to avoid this manipulation.

[2018-03-07 08:25] christophefromparis commented on #637
Is it not a duplicate of #414?

[2018-03-07 16:53] Julian1998 commented on #637
@christophefromparis Not really... In #414 we are talking about importing an addressbook.
Enabling/Disabling is like showing/hiding contacts from an specific addressbook. You can imagine that like in calendar

[2018-03-12 11:55] disy-mk opened #639 "Looking for a working OC v8.0.x release"
**Please report only issues corresponding to the contacts app for ownCloud 9 or later.**
**The old contacts app, which is compatible with ownCloud 8.2 or earlier, is discontinued!**

OK, I read the above lines, however I upgraded my OC instance from 7.0.x to 8.0.16 just right now.

This disabled several plugins, including contacts.

As I am still on my upgrading roadmap I however want to verify th

[2018-03-12 15:52] deMattin commented on #637
This GUI issue of contacts app together with the (for me) even more important #414 is the only reason why I haven't ugraded my owncloud so far and am still on 8.2.11.

Owncloud X works much better (I test every new release), but without such basic PIM features, that have been working before, I'm not able to upgrade my personal, productive cloud system.

I really hope, someone will take care of thi

[2018-03-13 20:51] Julian1998 commented on #637
@deMattin Don't worry ;) I guess we will repair/renew the gui for the addressbooks flags as next step.

[2018-03-13 20:52] Julian1998 commented on #639
@DeepDiver1975 Do you know something about that?

[2018-03-14 08:24] DeepDiver1975 commented on #639
First of all you need to move on to ownCloud 10. Any other previous version is out of support.

If you follow the upgrade process going from 7 -> 8.0 -> 8.1 -> 8.2 -> 9.0 -> 9.1 -> 10 all your data will be preserved and properly migrated. Please not that php minimum requirements are changing through out the releases.

Nevertheless a backup is always neccessary.

[2018-03-14 08:35] disy-mk commented on #639
So contacts DB data is not impressed about upgrading through all the releases without contact app being installed/used after each upgrade?

I have some major issues with my installation which I don't want to resolve, as they are hunting me since 2013/2014.

I decided to install a new OC10 instance and then reimport the most important data, which is users/passes and contact data, maybe folders shar

[2018-03-14 08:39] DeepDiver1975 commented on #639
Hint for importing contact data: on user basis you can export and import addressbook in both contacts apps. No idea how many users/addressbooks you have but this would be the easiest approach.

Good luck!

In case you face issues during migration look out for help at https://central.owncloud.org

[2018-03-14 08:39] #639 closed, assigned to nobody

[2018-03-14 08:55] disy-mk commented on #639
thought about that as well. However, I am not sure if contacts images are exported as well in vcard format? Do you happen to know if they are stored (as BLOB or BASE64) in the same contacts table or simply referenced somewhere to the file system?