[2015-11-01 13:54] RealRancor commented on #1058
@tristan-k https://github.com/owncloud/contacts/issues/1058#issuecomment-151835650

[2015-11-01 13:55] tristan-k commented on #1058
I did that.

[code]

[2015-11-01 13:57] RealRancor commented on #1058
@tristan-k
And where is this .htaccess file located?

[2015-11-01 13:58] tristan-k commented on #1058
It is located at `DOCUMENTROOT/owncloud/.htaccess`

[2015-11-01 13:58] gvde commented on #1058
@tristan-k Are using Apache? Did you install owncloud as document root?

What do you get with curl?

curl https://www.example.com/.well-known/carddav

[2015-11-01 13:59] gvde commented on #1058
You have to edit the .htaccess file at document root!

[2015-11-01 14:01] RealRancor commented on #1058
That won't work as it would redirect:

DOCUMENTROOT/owncloud/.well-known/carddav to DOCUMENTROOT/owncloud/remote.php/carddav

The redirect needs to be

DOCUMENTROOT/.well-known/carddav to DOCUMENTROOT/owncloud/remote.php/carddav

[2015-11-01 14:01] tristan-k commented on #1058
Thanks. Got it. My fault. Now it syncs fine.

[2015-11-01 21:02] tigermick commented on #1079
I said : "it's OK now." because I had updated my logs ...
Is it possible to delete this issue to try open another one correctly ? (directly with the good template to report a bug)

[2015-11-01 21:10] sectorchan commented on #1058
What do you mean with DOCUMENTROOT? The Root from the Webserver folder?
eg on a Synology, it is web.
So it should be  Redirect 301 /.well-known/carddav web/owncloud/remote.php/carddav
?

[2015-11-01 21:22] RealRancor commented on #1058
https://httpd.apache.org/docs/2.4/en/mod/core.html#documentroot

[2015-11-01 21:37] sectorchan commented on #1058
Interesting that I need now a htaccess file in the /web/ folder.
on oC 8.0.3 it was working when I edited the .htaccess file in my /web/owncloud folder

[2015-11-02 05:05] RealRancor commented on #1058
@sectorchan With oC 8.0.3 you also need to edit the .htaccess within the web folder when using OS X 10.11...

[2015-11-02 05:47] gvde commented on #1058
@sectorchan You can always use curl to check if the redirect is working:

```curl https://www.example.com/.well-known/carddav```

And it was pretty definitively not working if you only edited the .htaccess file in a sub directory and not document root, regardless of owncloud version, because it's technically not an issue of owncloud but apache and when it process which .htaccess file.

[2015-11-02 05:53] gvde commented on #1079
You have opened this issue. You can close it and you can open a new one. It's best to reference the new one here in the old one when closing so that anyone who comes across this issues knows where it moved...

[2015-11-02 10:52] sectorchan commented on #1058
My .htaccess is empty except:
Redirect 301 /.well-known/carddav owncloud/remote.php/carddav
Redirect 301 /.well-known/caldav  owncloud/remote.php/caldav

But I get a different response from example.com as from my Homepage.
This is my response:
<title>301 Moved Permanently</title>

[2015-11-02 11:36] gvde commented on #1058
@sectorchan You are supposed to replace www.example.com with your server name.

And unless you post the full output of curl, it's impossible to tell if you did it right or not...

[2015-11-02 11:40] sectorchan commented on #1058
Hi Gvde,

This is the complete curl output

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>301 Moved Permanently</title>
</head><body>
<h1>Moved Permanently</h1>
<p>The document has moved <a href="https://www.myurl.de/owncloud/remote.php/carddav/principals">here</a>.</p>
</body></html>

I can provide you the complete url per PM but not here.

[2015-11-02 12:39] RealRancor commented on #1058
@sectorchan
Please post the complete output of:

``curl -i https://www.myurl.de/.well-known/carddav``

as already asked.

[2015-11-02 13:31] joergmschulz commented on #1058
For me, this returns
<d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
<s:sabredav-version>2.1.7</s:sabredav-version>
<s:exception>Sabre\DAV\Exception\NotImplemented</s:exception>
<s:message>There was no handler found for this "GET" method</s:message>
</d:error>

while all carddav syncs from other devices works fine.

[2015-11-02 13:38] gvde commented on #1058
@joergmschulz That's not the complete, full output of that curl command...

[2015-11-02 13:54] joergmschulz commented on #1058
curl on osx doesn't have access to the correct certificates :-( the displayed output comes from the browser.

But, in the first place, whenever I create a new carddav account, no message is seen in the apache logs.

[2015-11-02 13:58] gvde commented on #1058
@joergschulz Your browser does follow those redirects. Thus, you won't see the redirect itself and the output is pointless. That's why I have specifically asked for that curl output...

curl option -k will allow you to connect even if the certificate is unknown.

[2015-11-02 14:00] joergmschulz commented on #1058
Ahhh, thank you:
HTTP/1.1 301 Moved Permanently
Date: Mon, 02 Nov 2015 13:59:21 GMT
Server: Apache/2.4.17 (Debian)
Location: https://jslz.de/owncloud/remote.php/carddav
Content-Length: 329
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>301 Moved Permanently</title>
</head><body>
<h1>Moved Permanently</h1>
<p>The document has move

[2015-11-02 14:02] Scherar commented on #1058
For me the fix (for caldav) was adding the redirects in the apache vhost-config and enable the calendar and tasks modules in owncloud for everyone. when i allow the use of a module just for a defined user-group (doesn't matter if my account is in there) the sync does not work.

[2015-11-02 14:05] gvde commented on #1058
@joergmschulz Put three backquotes at the beginning and the end to prevent html tags to be interpreted. If that curl output is for https://www.jslz.de/.well-known/carddav then the well known URI is working fine and you can use automatic configuration to get the carddav account configured on OS X.

[2015-11-02 14:09] joergmschulz commented on #1058
well, the automatic configuration still crashes :-(

[2015-11-02 14:12] gvde commented on #1058
@joergmschulz What crash? I haven't had any crashs setting up carddav accounts...

[2015-11-02 14:17] joergmschulz commented on #1058
Ouch, holy sh**.
If you create users with FQDN (js@jslz.de instead of js only), automatic creation works.
But the extended dialogue of ElCapitan does not work for the non-FQDN users doesn't work.

[2015-11-02 14:25] gvde commented on #1058
Correct. The automatic configuration works. But as the osx preference dialog is broken, advanced configuration is not possible. But that's for Apple to fix...

[2015-11-02 14:27] joergmschulz commented on #1058
Completely agree; you probably are aware of the discussion at the apple site. I didn't believe it's so bad that a fqdn username works and the short ones don't.

[2015-11-02 14:28] gvde commented on #1058
I think manual with short name and server name and the well-known redirect works also. Advanced doesn't work at all...

[2015-11-02 14:34] joergmschulz commented on #1058
No, manual didn’t work for me as well using a short name.
What I see is that the sync sources configuration isn’t visible in
~/.Library/Application Support/AddressBook/Sources/ any more.
So THEY seem to have changed the backend.

[2015-11-02 14:36] sectorchan commented on #1058
///curl -k -i https://www.karinundpatrick.de/.well-known/carddav
HTTP/1.1 301 Moved Permanently
Date: Mon, 02 Nov 2015 14:36:02 GMT
Server: Apache
Location: https://www.karinundpatrick.de/owncloud/remote.php/carddav
Vary: Accept-Encoding
Content-Length: 266
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>301 Moved Permanently</tit

[2015-11-02 14:39] gvde commented on #1058
@sectorchan the well-known redirect is working correctly. You can use automatic configuration to configure the carddav account.

Use three backquotes to quote unmodified html code: ```

[2015-11-02 15:50] sectorchan commented on #1058
Thanks for the confirmation, but now the Backend crashes....

Automatic = doesn't work, Accountname/Password couldn'T be verified. (idk the correct english translation, sorry)
Manual = also the same error. Doesn't matter if I use username@karinundpatrick.de or only the username..
Advanced = Username (w/o @) password, and the url without https and the path /owncloud/remote.php/carddav/principals/Pa

[2015-11-02 15:54] joergmschulz commented on #1058
for automatic, did you create the username@fqdn account in your cloud in addition to the plain username? This is needed once for the sync setup and then ignored. Revert to the old osx version is what I'd recommend anyway for the time being.

[2015-11-02 16:05] sectorchan commented on #1058
No I haven't, I should have give them a shot.

Not sure why this is so hard :( to get it working without such workarounds..
Is it for sure that oC installation in the Webroot does not cause this problems?

[2015-11-02 16:06] joergmschulz commented on #1058
no, it is sure the install in webroot presents the same problems. OSX El Capitan broke the configuration dialogue.

[2015-11-02 16:13] sectorchan commented on #1058
Is it possible to set up it via a configuration dummy?

[2015-11-02 16:29] gvde commented on #1058
That is odd. I use plain simple user names in owncloud and I was able to add my account with automatic and  username@www.example.com. OS X then uses www.example.com to find the carddav URL via .well-known/carddav and uses the username as login name...

[2015-11-02 16:54] sectorchan commented on #1058
If I do it your way, it always throws me the error Accountname/Password could not be verified.
In Mavericks time, things went smoother than yet... :(

[2015-11-02 17:02] gvde commented on #1058
Can you check your apache ssl access log?

This is what I get, if I set up a new carddav account with the System Preferences - Internet Accounts - Add Other Account... - CardDAV account - Account Type: Automatic, Email Address: username@www.example.com, Password: (owncloud password for username).

[code]
After that it starts accessing my address books...

[2015-11-02 17:44] sectorchan commented on #1058
Sorry, which logs?
sys-cgi_log     sys-error_log   user-error_log
I had a look into /var/logs/httpd

[2015-11-02 17:46] gvde commented on #1058
Depends on your exact apache configuration. Usually it's /var/log/httpd/access_log or ssl_access_log. Is this a standard apache installation on a standard linux distribution?

[2015-11-02 18:52] sectorchan commented on #1058
It is from a Synology Diskstation. As far as I know the log files should be in the /var/log/httpd folder.
But no file contains information about the contacts.app connection.

Now my console response with: 02.11.15 19:49:47,375 IMDPersistenceAgent[339]: [Accounts] Failed to update account with identifier AD89DE1A-8B41-4027-A9A6-19E6D6BD2101, error: Error Domain=ABAddressBookErrorDomain Code=1002 "(

[2015-11-02 21:23] cweiske commented on #1072
Related bug report for DAVdroid, which turned out to be this issue in ownCloud here: https://forums.bitfire.at/topic/827/owncloud-doesn-t-understand-vcard-photo-tag

[2015-11-02 21:31] babelouest commented on #1087
So if I understand correctly, the `Federated ID URL` is a LDAP property in the Active Directory server that hosts the addressbook. Whatever the information stored in this property, you must already have parsed the addressbook in Owncloud to be able to use it, so I don't see how it would be relevant to use this information _a posteriori_.

Or maybe you're confused with 2 separate parts in Owncloud:

[2015-11-03 07:37] atroxix commented on #1087
I'm still talking about address book storage, not authentication :)  I hope I can shed more light on my thoughts with the following explanation now :)

The idea is that an LDAP address book would present some field in LDAP/AD and present it to user as "Federated ID" field.

Eg. there is field "url" in Active Directory, so what we'd do with it:
1. Configure LDAP address book to map field "url" to "

[2015-11-03 13:39] babelouest commented on #1087
If you want to use the `Federated ID` with LDAP backend, you can add the correspondance in the connector you're using. For example, let's say you use the `inet_org_person` connector for your addressbook, its xml file is here: https://github.com/owncloud/contacts/blob/master/formats/backend_ldap_inet_org_person_connector.xml

There you can add a `<vcard_entry>` to match the LDAP->VCard translation,

[2015-11-03 14:19] atroxix opened #1093 "OC_Log class errors in LDAP backend after upgrading OwnCloud to 8.2"
After upgrading OwnCloud to 8.2 and Contacts to 0.5.0.0 LDAP address book started giving "internal server error" and the following lines in owncloud.log:
[code]

Per [user_cas #22](https://github.com/owncloud/user_cas/issues/22) issue I performed the following replacements in contacts/lib/backend/ldap.php and it fixed the issue:
[code]

[2015-11-03 14:48] atroxix opened #1094 "only limited number of users are shown from LDAP address book"
I've connected LDAP address book to Active Directory and there are at least several hundred users, but only about 200 (even less) are listed when browsing.

Using OwnCloud 8.2 and Contacts 0.5.0.0 (was the same with OwnCloud 8.1 and Contacts 0.4.0.x).

[2015-11-03 15:16] atroxix commented on #1087
Tried that, but couldn't get address book to show this field as Federated ID. Tried both with ldif_entry name="federated-cloud-id" and ldif_entry name="federated-id". Which one should it be really?

Diff:
[code]

[2015-11-03 15:32] babelouest commented on #1087
Firstm `extensionAttribute1` is not a valid VCard property, you have 2 choices for that: either you use an already existing property like `URL`, or you create your own with a `X-` prefix, like `X-FEDERATED-ID`.

But the created attribute won't be visible in owncloud UI because it chooses not to show all the VCard properties. It will be available in your VCard though.

Also, you have to modify the

[2015-11-03 15:35] atroxix commented on #1087
It seems like this workaround is not really relevant to the original feature request then.

The idea is to be able to use any field from the LDAP backend as the Federated ID to be able to share files to that user by the specified Federated ID.

[2015-11-03 18:32] alex42ka commented on #517
Not only Android devices are affected but IOS-devices as well! Is some more data needed for resolving the issue?

[2015-11-04 18:21] babelouest commented on #1094
There is an arbitrary limit in the ldap contact search of 10 pages.
As a workaround, you can change the page size value in the addressbook settings.

[2015-11-04 18:22] babelouest commented on #1087
I don't see how your original feature request is possible then. There is no connection of that kind between OC Contacts, LDAP Authentication and Files.

[2015-11-04 18:59] atroxix commented on #1094
The default setting for the page size is 20, but in my case all contacts are shown on one page and I'm not able to change LDAP address book settings currently (because of another bug which I can point to later).

[2015-11-04 19:04] babelouest commented on #1094
Yes, the page size is a LDAP search parameter, and the page number is set to 10 in the source code, so in your case, it makes sense to have no more than 200 contacts.

I remember, when I was trying to select a huge ldap addressbook without limits, there was a server timeout and/or a memory limit reached.

[2015-11-04 19:05] atroxix commented on #1087
Sorry, I don't understand. First of all, LDAP authentication is not relevant anyhow on this case.

If address book supports storing and using Federated ID field then it shouldn't really matter what's the backend in use - LDAP just needs to use some other field for storing that info because most likely no LDAP schema has currently Federated ID defined by default.

[2015-11-04 19:07] atroxix commented on #1094
Maybe its possible to select only a number of LDAP objects, something like LIMIT keyword works in SQL?

[2015-11-04 19:10] babelouest commented on #1094
that's the point of the page size parameter (not very understandable at first I agree)

[2015-11-04 19:13] atroxix commented on #1094
Then it doesn't work properly I guess? Because in my case there's only 1 page with a bit less than 200 contacts (or maybe it's even 200 exactly - I haven't counted fully) and no more pages or anything.

[2015-11-04 19:17] babelouest commented on #1094
the `page size` parameter isn't the number of contacts shown in Owncloud UI, it's the number of ldap contacts returned in a ldap search query.

Since ldap backend can pipe no more than 10 search result lists, in your case, your UI will display 20 (page size)*10 (search query limit) = 200 contacts.

[2015-11-04 19:34] atroxix commented on #1094
Can this option be renamed? :-)

I most set page size to <number of my contacts> / 10 + some extra?

[2015-11-04 21:40] timreeves opened #1095 "Fatal carddav This resource only supports valid vcard data"
For some (unknown) time ownCloud 8.1.3 is regularly (every couple of hours) producing a couple of messages like this titled "Fatal carddav":

`Exception: {"Message":"HTTP\/1.1 415 This resource only supports valid vcard data. Parse error: This parser only supports VCARD and VCALENDAR files","Code":0,"Trace":"#0 \/var\/www\/vhosts\/gemeinwohl.info\/owncloud.lasslos.net\/3rdparty\/sabre\/dav\/lib\/C

[2015-11-04 22:04] mohataj opened #1096 "Contacts on OSX El Captitan always gets everything and not only the specified addressbook"
it's successfully connected via http://server.lan/owncloud/remote.php/carddav/addressbooks/matthias/kontakte but behaves like http://server.lan/owncloud/remote.php/carddav/principals/matthias
So it syncs every addressbook in this owncloud-account.
It should only sync "kontakte" and not additionally "kontakte - archiv" or all addressbooks.

How can I do this?

apache access log
<pre>
192.168.10.2 -

[2015-11-04 22:55] nazgul77 commented on #983
Got this error message when upgrading to 8.1.4
"Symfony\Component\Routing\Exception\RouteNotFoundException: Unable to generate a URL for the named route "contacts_index" as such route does not exist."
It asks to report the issue

[2015-11-05 05:18] gvde commented on #1095
I would say the broken card starts with line "BEGIN:VLIST".

However, this is a PUT call...

You should your web server access log for which client does what at that time.

And as usually: use the template from the contribution guidelines. All the basic information would be available at one place...

[2015-11-05 05:38] gvde commented on #1096
1. Use the template from the contribution guidelines.

2. The access log part is NOT from when you have set up the carddav account on OS X 10.11. It starts with '/owncloud/remote.php/carddav/principals/matthias/'.

3. Your owncloud installation is not in the document root. Thus, #1058 fully applies here. So how did you set it up exactly? You must have added the .well-known redirect and must forget

[2015-11-05 10:21] mariobig opened #1097 "OC's contacts can't be synchronized with OSX EL Capitan"
**Following suggestion to reopen the issue I publish the problem description once again**

I can't configure contacts at OS X EL Capitan to be synchronized with Owncloud 8.1.4.

instruction described at:
https://doc.owncloud.org/server/7.0/user_manual/pim/sync_osx.html
does not work. There is no Configuration.plist file at the indicated folder to be be edited.

Apache log shows following:
83.28.18

[2015-11-05 10:49] jancborchardt opened #4 "Layout"
Since we’re now reworking the whole architecture based on the movement of dav into core, it’s a good point to revisit the design as well. Generally we should continue where we left off with the design of the current Contacts app because we put a lot of thought and work into it. cc @babelouest @jbtbnl
- app-sidebar is for displaying groups, adding and editing them
- app-content is for showing the a

[2015-11-05 12:15] kropveld commented on #983
Same problem here on Ubuntu server 14.04.3 LTS

[2015-11-05 12:30] gvde commented on #983
1. Use the template from the contribution guidelines for issue submissions.

2. Update contacts app.

[2015-11-05 12:36] gladiac opened #1098 "[REGRESSION] carddav sync stopped working since upgrading to 8.1 and newer"
Hello,

I've recently updated to 8.1 and yesterday to 8.2. Since then I'm not able to synchronize contacts anymore. It doesn't matter which client I use. The error is always the same:

Message: "Only vCard 2.1, 3.0 and 4.0 are supported for the input data"

[code]

I've triggered the log using kaddressbook from KDE. I get the same error with davdroid.

[2015-11-05 14:41] gvde commented on #1098
1. Please use the template from the contribution guidelines for issue submission.
2. Make sure to update the contacts app.
3. Check that all cards in your database have a correct VERSION property...

[2015-11-05 14:44] gvde commented on #1097
You already know that this is a duplicate of #1058... No point opening another issue...

[2015-11-05 15:20] ngrundmann commented on #1058
Apple just called me and the Supporter said that they're working on this problem with the CardDAV integration in OS X and a few other problems relating calendars, contacts and so on.
When there's an update he asked me to provide feedback if the problem is solved or not. Maybe you guys can test it as well then and write your answers here so I can give the Supporter not only my feedback but yours to

[2015-11-05 15:22] spuntotheratboy commented on #1058
Good news @ngrundmann - I'd be very happy to provide feedback for this issue. Do you have any idea how soon an update addressing this issue is likely to be released?

[2015-11-05 15:25] ngrundmann commented on #1058
No, I'm sorry he couldn't tell me an exact date or a period.

[2015-11-05 15:26] spuntotheratboy commented on #1058
Fair enough - too much to hope for, I suppose! Nice to hear someone's thinking about it, though.

[2015-11-05 15:34] gladiac commented on #1098
The contacts app is up2date. I've updated yesterday. Why don't owncloud tell me if a vcard is wrong?

[2015-11-05 15:41] gladiac commented on #1098
A lot of entries do not have:

´´´
BEGIN:VCARD
VERSION:3.0
...
´´´

they only have:

´´´
BEGIN:VCARD
FN: Bob
´´´

This worked with owncloud 8.0. Do you expect all owncloud users to manually edit thouands of contact entries in the database?

Why can the webinterface display them?

[2015-11-05 16:17] gvde commented on #1098
Again: please use the template from the contribution guidelines. It tells you how to extract exact information about your installation. You say 'contacts app is up2date' but noone can verify that it really is...

owncloud comes with a new sabre version now which is more stringent in regard to rfc compliance. It won't accept so much as it used to.

And, yes, generally if the user imported broken ca

[2015-11-05 20:00] bugsyb commented on #983
Try to repair in maintenance mode, it did help me:
sudo -u www-data php <path_to_your_installation>/occ maintenance:repair

[2015-11-05 22:43] timreeves commented on #1095
Sorry about the poor reporting - but your tip got me to the solution (I think): I'm using SOGo Connector with Thunderbird (the only option with Thunderbird) and recently I created a couple of contact groups - which (only) SOGo Connector exports as VLIST - that'll be the invalid PUT data. The connector does that because SOGo Server can and wants to handle it - and there's no option in Connector to

[2015-11-06 09:16] kropveld commented on #983
I solved this by typing `sudo -u www-data php /occ upgrade`
(previously I did the final upgrade from the web-interface)

[2015-11-09 12:32] atroxix commented on #1094
I raised this hard-coded limit of 10 to 100 now, and I see now 2000 contacts.

Can some pagination be implemented, so that this "page size" would really mean how many contacts are queried and shown per page in address book?

[2015-11-10 13:59] babelouest commented on #1094
There is an issue to implement the pagination but I can't find it.
I'll add to the config popup the number of search in the loop and rename the page size parameter. But the pagination can't be implemented in the ldap backend, only in contacts UI source code.

[2015-11-10 14:04] atroxix commented on #1094
I guess this is it: #136 (unfortunately closed).

Although there would be little use of pagination if it's for UI only.

[2015-11-10 14:14] mohataj commented on #1096
### Steps to reproduce
1. create a new carddav account on OSX 10.11
or
1. create a new carddav account on IOS 9

### Expected behaviour
have the chosen OC addressbook available in OSX/IOS contact app

### Actual behaviour
I have only the alphabetically first OC addressbook available, not the chosen one, in OSX contact app
I have all OC addressbooks available, not only the chosen one, in IOS contac

[2015-11-10 14:29] PeregrineLinux opened #1099 "Editing a shared contact causes view to jump to "All", making it necessary to scroll down and find the contact again"
When I click on a contact in a shared address book to edit it, the view switches from that particular address book to All, and then I have to scroll down to the contact in order to edit it. Note that if I am the owner of the address book, the expected behavior (I click on a contact, and can immediately edit it in place) occurs. The bug only seems to occur when an address book is shared with me by

[2015-11-10 14:35] gvde commented on #1096
You still haven't posted how exactly you have set up that carddav account... You do know that there is a bug in the carddav settings dialog in OS X?

As you can see in the logs, it's the client which uses the well-known redirect, determines the principal, checks for all address books of that principal and picks what it wants. The owncloud contacts app can't do anything about that.

Contact Apple a

[2015-11-10 14:39] mohataj commented on #1096
Systemeinstellungen -> Internet Accounts -> anderen Account hinzufügen -> CardDAV-Account ->
Accounttyp: Manuell
Benutzername: OC username
Passwort: OC passwort
Serveradresse: http://server.lan/owncloud/remote.php/carddav/addressbooks/matthias/kontakte

yes, I saw access to principal, but why does he only pick the alphabetically first addressbook?
IOS does the same, but picks all addressbooks.

[2015-11-10 16:43] gvde commented on #1096
Manual account configuration is broken in OS X 10.11.1. It doesn't work. OS X basically ignores it and uses the .well-known redirect instead. If you remove the redirect from your web server you can't configure the account. It pretty much doesn't matter what you enter as server address, OS X will pick the host name and check for the .well-known redirect...

OS X currently only uses a single address

[2015-11-10 16:44] mohataj commented on #1096
OK

[2015-11-10 19:34] mohataj commented on #1096
IOS - added CardDAV-Account using server, username and password.
The OC addressbooks now show up in contacs app as "groups" and here I can (de)select all I need.

[2015-11-10 19:38] gvde commented on #1096
Yes. iOS supports multiple address books for a carddav account. OS X doesn't.

Again: send a feature request to Apple. The problem is not the server but the client. There is no way for the server to trick the OSX client to pick a specific address book or to offer all to the user...

[2015-11-11 07:54] gladiac commented on #1098
Would it be possible to add a warning in the web interface if the vcard doesn't have a version set or uses an unsupported version by the carddav protocol.

This way a user can go through his contacts, create a new one and delete the problematic one.

[2015-11-11 12:30] atroxix opened #1100 "implement sharing to user-defined groups"
Users often work together in "working groups" and thus need to share files between each other. As users in groups may change it does make sense to define such group of users under Contacts app and use this group to share files. Currently files can be shared to groups defined by administrators in Users interface, but not to groups defined in Contacts app.

[2015-11-12 19:55] babelouest commented on #1100
This feature request is interesting but you mix different aspects of owncloud:

Contact app is not owncloud user list. If your contact list is the same list as the owncloud user list, it is defined by you and for your usage, even if those 2 lists can be related, for example with the ldap backend, they are completely different lists according to owncloud core system.

If you wanted to relate your c

[2015-11-14 13:38] mpuls commented on #1092
I ran into the same problem like kousu. Thus, I updated my oc to 8.2 and contacts to 0.5.0.0 in order to see if it gets any better. Unfortunately, it didn't.

Nevertheless, at least in my case, the origin of the problem were several contacts with a UID like `UID:AAMkAGY3NTUyYWMwLTZmNjEtNDQwMi1hNjBkLTZmMDczNGE2NzU3MQBGAAAAAAAbcxze/PU
 /Srux3ey2goyQBwDlwvDlHgKiQqHNPQVhZ+KKAAAAAlNbAADRH5XZKInsTar5qbi

[2015-11-14 15:51] atroxix commented on #1100
Indeed, it seems that the only way to share anything to users in Contacts app is by using Federated ID. So in my case what we want is to:
1. Define groups that have both local and remote (ie. Federated ID) OwnCloud users in them
2. Share to those groups

It seems to me that if this were somehow to be implemented in OwnCloud Core then it would require a way to define users with Federated ID in Core

[2015-11-14 19:24] babelouest commented on #1100
It makes some sense, although I don't know the Federated ID field so I'm not an expert.
Anyway, as you say:

You'll never know for sure unless you ask for it. You can also start an implementation if you're willing.

[2015-11-15 10:18] atroxix commented on #1100
This is interesting, considering the fact that it's possible to define Federated ID for a contact in Contacts app, and this contact can then be specified as a receiver of a share.

But if this is really a coincidence of some functionality in OwnCloud Core and not implementation in Contacts app then I suggest you take a look at https://owncloud.org/federation/

[2015-11-15 10:41] atroxix commented on #1087
The same issue for OwnCloud Core: https://github.com/owncloud/core/issues/20513

[2015-11-15 10:53] atroxix commented on #1100
This is at least partially already requested in https://github.com/owncloud/core/issues/8201

[2015-11-16 19:43] 2easy opened #1102 "Autoload problems when enabling plugin with OwnCloud 8.2"
I am trying to install your app on ubuntu 14.04 with owncloud ver. 8.2.

After enabling the plugin - OwnCloud stops working with 500 error:

{"reqId":"5pU7P\/UxAmWTIV5GADgp","remoteAddr":"172.17.42.1","app":"index","message":"Exception: {\"Exception\":\"OCP\\\\AutoloadNotAllowedException\",\"Message\":\"Autoload path not allowed: \\\/var\\\/www\\\/html\\\/owncloud\\\/apps\\\/user_ldap\\\/user_ldap

[2015-11-17 09:03] Zettt commented on #1058
Since this issue is partially/entirely up to Apple to fix. And there is a temporary fix. Has someone formulated a blog post or a manual of steps to do in the meanwhile? That would be really helpful for everyone involved. I'm following this issue for quiet a while now, and haven't seen that kind of information. If anything, I've seen many discussions always going in the same direction. Therefore I

[2015-11-17 09:15] phsc84 opened #5 "Contact birthdays"
Is it planned to offer a CalDAV link for all contacts birthdays?

I'm not sure whether this should be addressed by the new contacts app or the new calendar app.

[2015-11-17 09:33] gvde commented on #1058
How about https://doc.owncloud.org/server/8.2/admin_manual/issues/index.html#service-discovery

[2015-11-17 10:58] RealRancor commented on #1102
@2easy Sure this is caused by the contacts app and not by the user_cas or user_ldap app? Please also fill out the issue template as asked in the guidelines for contributing:

https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md#short-version

linked in the yellow box when creating a new issue.

[2015-11-17 11:28] DeepDiver1975 opened #6 "Handle not existing .well-known gracefully"
I'm running owncloud with the php integrated web server and .htaccess is not supported.
As a result .well-known is not know - this results in fatal error

![bildschirmfoto von 2015-11-17 12-28-44](https://cloud.githubusercontent.com/assets/1005065/11210209/c42fb656-8d26-11e5-9c46-6599f5576322.png)

[2015-11-17 11:38] #6 closed, assigned to nobody

[2015-11-18 13:39] nRaecheR opened #1103 "OC 8.2.1/Contacts 0.5.0.0: Evolution crashes and 404 log spamming after update from 8.1.x"
Owncloud: 8.2.1
Contacts : 0.5.0.0
Apache 2.4.12
Ubuntu Wily amd64

After updating my working OwnCloud installation from 8.1.x to 8.2.1 and the corresponding Calendar app version 0.5.0.0 I experience crashing of my PIM Evolution 3.16.5 (from Ubuntu Wily amd64 too) and a lot of 404 errors in the Apache log file. Other clients seem to work normally. Here a snippet from the log file

[code]
The GET c

[2015-11-18 13:43] gvde commented on #1103
Please use the template from the contribution guidelines...

[2015-11-18 15:40] Mannshoch opened #1104 "[Feature Request]Infobox how to use the "Instant Messaging" field"
I have a contact in my address-book and wish to add its Messaging information.

Should I enter the whole Link or only the Username of this Person
* https://twitter.com/{USERNAME}
* twitter.com/{USERNAME}
* {USERNAME}

1. Please prompt for every Messenger entry a hint how the value should look like
2. If Possible add a Link right of the field to visit the Profile

[2015-11-18 20:10] rompic commented on #1058
+1

[2015-11-19 10:33] xn--nding-jua commented on #1103
Does look like a broken contact-setup in PIM, doesn't?

[code]

should be this:
[code]

or this:

[code]

the doubled vcf-extension (.vcf.vcf) looks wrong, too...

[2015-11-19 11:53] piflixe commented on #961
I am really missing this feature too. Search field is displayed for a second while the site is loading, but then it disappears. I would really appreciate if it is reincluded in an upcoming update.

Using Owncloud 8.1.3  with contacts app 0.4.0.0

Is the search field Owncloud or Contacts app functionality?

[2015-11-19 12:57] pasbec commented on #1072
Is there any news about this problem? I just got a lot of white pictures after syncing my contacts with davdroid...

[2015-11-19 13:02] gvde commented on #1072
No. There is no news: Apply the patch mentioned above...

[2015-11-19 13:49] Phil1988 commented on #1072
Another question regarding this:
Will all mentioned above fixes be added in future OC versions?
I cannot see any disadvantage on this and the benefit for all the other users who want to use "contacts" and get something that works "out of the box" will be huge...

[2015-11-19 13:56] gvde commented on #1072
The contacts app is a separate app from the owncloud core. I very much hope my pull request will be added in a future contacts version. However, lacking a maintainer at the moment, progress is very slow.

I guess it would help if people posted "voted" on those pull requests, i.e. confirm that it works as intended.

[2015-11-19 13:59] Phil1988 commented on #1072
Sorry but I'm not that familiar with github.
Could you send me a link where I can vote?
I will do it for sure!
Changed a not fully working sync of contacts to something great!

[2015-11-19 14:04] gvde commented on #1072
There is no real vote. Just write a comment in the pull requests...

[2015-11-19 14:48] pasbec commented on #1072
Hello everyone,

could you please be so kind to list the needed commits again. I'm a little bit confused of all these detailed posts even after reading it multiple times. What's the smallest set of patches? Do you know whether it is safe to just apply necessary git-pachtes to my repository-version of owncloud 8.2 for ubuntu with contacts 0.5.0.0? From the above I could not figure out for which ver

[2015-11-19 14:54] aspdye commented on #961
I must honestly admit that I am quite surprised that you can not make it after more than a month that the calendar and contacts a search function (one of the most important functions for a calendar, and contacts) gets back. It is incomprehensible to me that you could publish this update at all (8.1) and it still does not could you fix with 8.2.

That this should only be fixed with 9.0, is not as g

[2015-11-19 18:48] nRaecheR commented on #1103
It happens with the Android CardDAV app too :

[code]

And it causes very high load on the webserver...

[2015-11-19 19:20] gvde commented on #1103
Again: Please use the template from the contribution guidelines...

[2015-11-20 06:20] nRaecheR commented on #1103
@gvde Sorry for not using the "contribution guidelines" but I couldn't find any link to them on the main page of this project, so this should be a bit difficult to follow them. Could you please provide a link and I will try to change the top post to follow those rules.

I had to disable the contact syncing on all clients because of this bug. The bug causes :

* Lots of traffic on the clients
* Bat

[2015-11-20 06:26] gvde commented on #1103
You didn't find anything? Neither with google nor after you have entered "contribution guidelines" in that search box for this repository at the top of the page nor while browsing through existing open issues nor in the owncloud documentation on how to submit bugs?

[2015-11-20 06:44] nRaecheR commented on #1103
@gvde Sorry, this rant of yours is not helpful...simply provide a link on the front page if you want your users (and contributors) to follow the specific rules of the project. Nobody wants to doing long research for every single project a bug was found for. A simple link to https://raw.githubusercontent.com/owncloud/core/master/issue_template.md should do it. Okay, I will change the front post now

[2015-11-20 06:56] nRaecheR commented on #1103
Okay, first post updated according to the so called contribution guidelines...

[2015-11-20 07:13] gvde commented on #1103
Sorry. But if you have browsed through issues here you would see how many people are blissfully ignorant of what has been said over and over and over again. It's not my job to post links of things which other people are too lazy to look for. Why do I have to do the search for you and post the link for you?

It's enough to point out the essential things which people omit when filling out the templa

[2015-11-20 07:31] nRaecheR commented on #1103
Okay, first post updated once again...

[2015-11-20 07:33] nRaecheR commented on #1103
And to say it once again : It worked without any problem before the server-side update to 8.2.1/0.5.0.0 without any changes on client-side...

[2015-11-20 08:07] gvde commented on #1103
If it worked before doesn't mean it was supposed to work before...

That's exactly how I have set it up for my server and it worked just fine.

Remove the account again. Enable debug logging (loglevel 0) in owncloud. Then set up the account again. Post the logs from owncloud and apache starting at the time when you set up the account again until you see the problem. Please make sure no other clien

[2015-11-20 13:10] nRaecheR commented on #1103
After deleting an re-creating the account in Evolution it seems that it partially works. Some contacts have been synced to Evolution. After that the described problem continues as seen in the log files and the contacts are visible in the OC WebUI but not in Evolution.

Here's the link to the log files : https://athena.bockholdt.com/index.php/s/PT3dESc2Weebrx6

[2015-11-20 13:30] nRaecheR commented on #1103
I've found a difference between the working and the not-working contact items in the database :

[code]

[2015-11-20 13:33] gvde commented on #1103
That looks as if uri or uid in the database contains the full url.

Can you check this in your database:

```select id, addressbookid, fullname, uri from oc_contacts_cards;```

Look for those cards which don't work, e.g. that with ```f89f0313e5``` in the uri.

If the uri string looks like the others, check the whole card in the database, i.e. use the id number shown for that card and run

```selec

[2015-11-20 13:39] nRaecheR commented on #1103
Yes, as seen in my previous posts, there are items with URIs as full URLs:

[code]
[code]

[2015-11-20 13:48] gvde commented on #1103
O.K. And what's the UID property in the card?

[2015-11-20 13:52] nRaecheR commented on #1103
[code]

[2015-11-20 14:02] gvde commented on #1103
No. The UID in the card itself. As I wrote before. Check the card in oc_contacts_card.

[2015-11-20 14:17] nRaecheR commented on #1103
You meen UID from the VCARD in CARDDATE ?
[code]
Note: This is the original output from select statement, all lines are wrapped there with leading space.

[2015-11-20 14:25] gvde commented on #1103
That's the double encoding problem as in #1050 and others.

You have to undo commit 3ee20ca1b62bff67fcf71adfcbef1affa8007dc8

The first part (line 185) should already be the original code. The second part (line 201) needs to be undone, i.e. remove the urldecode. With the current source code it should be at line 217 of backend.php.

[2015-11-20 19:13] nRaecheR commented on #1103
I've patched the line you mentioned, removing the urldecode() call from the line. Unfortunately the problem stays the same, I still get the 404 errors and the contacts won't be synced.

[2015-11-20 19:38] gvde commented on #1103
Setup the account again and collect the new logs... I guess it will be necessary to clean up those double encodings or better the whole uids...

[2015-11-20 20:36] nRaecheR commented on #1103
Yes, I think it would be the best to get rid of the legacy stuff in the database. What would be the best way to change the UIDs of all the contacts? Export to vcf and write a script to replace all the UIDs to a random UID? After that doing an import via the WebUI as new address book?

[2015-11-21 08:56] gvde commented on #1103
I think the easiest way to fix this would be directly in the database. Of course, make a database backup before the change. As it's a fixed string you need to remove it's a fairly simple change. You need to change oc_contact_cards columns uri and carddata and the URI property in the oc_contacts_cards_properties table...

[2015-11-21 13:20] fonzmike opened #1105 "Thunderbird CardBook sync failure OC 8.2.1 Contacts 0.5.0.0"
### Steps to reproduce
Sync worked with OC 8.1 and matching Contacts app (version unknown)
1. Update to OC 8.2.1
2. Update to Contacts 0.5.0.0
3. Create a card book in Thunderbird Cardbook plugin using the provided URL by Contacts App
4. Sync the card book

### Expected behaviour
All contacts should be synced

### Actual behaviour
1. List of contacts is fetched
2. Import of every single contact fa

[2015-11-21 13:24] fonzmike commented on #1105
What i tried so far with no success:

1. Delete all contacts in OC via Web Gui
2. Try to sync from Cardbook again ==> Failure

and:

1. Import vcf contacts list into empty OC contacts space ==> works
2. Try to sync from Cardbook again ==> Failure

[2015-11-21 13:25] fonzmike commented on #1105
Also Android EasyDav for Owncloud App stopped syncing contacts with http 404.

[2015-11-21 16:12] RealRancor commented on #1105
Looks to me like a duplicate of https://github.com/owncloud/contacts/issues/1103 as pointed out in your issue created in https://github.com/owncloud/core/issues/20658

[2015-11-21 18:07] gvde commented on #1105
I agree, it should be a dup of #1103. But omitting the apache logs makes it hard to tell. The apache log must show those accesses with 404 error code. That must show the uri requested. That way we could say what was really asked for.

The owncloud log errors are unrelated. They are almost 4 minutes or maybe even 1h 4m before that client log depending on the time zone of the client log. That proble

[2015-11-21 21:42] gitbreaker222 opened #1106 "uncheck address book doesn't remove contacts from list"
![address book](https://picload.org/image/piglpli/bildschirmfoto_2015-11-21_21-4.png)

# Steps to reproduce

1. Open calendar app with some contacts in address book (my data is stored in a postgresql db)
2. uncheck the address book in the bottom left corner
3. check the same selection box again

(after page refresh it is back to normal)

# Expected behaviour

- On step 2 the contacts should be rem

[2015-11-22 07:29] gvde commented on #1106
The webserver log is missing. Without it I can't tell if the owncloud log is actually related or not to what you did. Post all logs, and post all from related actions, i.e. from the same time showing the same actions in the respective logs...

The owncloud log says that you have cards which start with BEGIN:VLIST which is not a card. See also #1095

[2015-11-22 09:33] stephane84 opened #1107 "Upgrade Contact app to 0.5.0.0 broken (Owncloud 8.2.1)"
### Steps to reproduce
1. Upgrade owcloud core to 8.2.1 successfully
2. Got to the deactivated apps page
3. You got the message : "This application cannot be installed because of non satisfied dependencies : Owncloud 8.1 or lower is required."
3. Click on the "upgrade contact app to 0.8.1" button

### Expected behaviour
The Contact app is upgraded to a compatible version with oc core 8.2.1

### Ac

[2015-11-22 09:35] stephane84 commented on #1107
Related https://github.com/owncloud/calendar/issues/989

[2015-11-22 09:37] gvde commented on #1107
It's a core problem. Thus also a duplicate of owncloud/core#19145

[2015-11-22 11:02] RealRancor commented on #1107
Yes, nothing what can be done on app level.

[2015-11-22 11:44] gitbreaker222 commented on #1106
I'm not good with server administration, so I left out the server log, as I don't know where it is. But I can try to find out.

Thx for your response :)

[2015-11-22 15:22] fonzmike commented on #1105
Attached pls. find the apache access log and the cardbook client log. This is a test i did today with thunderbird cardbook, times now match.
[thunderbird_cardbook_client_log.txt](https://github.com/owncloud/contacts/files/41070/thunderbird_cardbook_client_log.txt)

[thunderbird_carddav_access.txt](https://github.com/owncloud/contacts/files/41069/thunderbird_carddav_access.txt)

[2015-11-22 15:26] fonzmike commented on #1105
Additional testing:

Entering an uri copied from the access log in my browser results in this xml:
<d:error><s:sabredav-version>2.1.7</s:sabredav-version><s:exception>Sabre\DAV\Exception\NotFound</s:exception><s:message>Card not found</s:message></d:error>

[2015-11-22 15:46] ferdiga commented on #1082
on debian 8 i had to

apt-get install redis-server php5-redis
usermod -a -G redis www-data
# the socket is not generated automatically
mkdir /var/run/redis
chown redis:redis /var/run/redis
chmod 755 /var/run/redis
/etc/init.d/redis-server restart
chmod g+rwx  /var/run/redis/redis.sock

works -now

[2015-11-22 15:52] fonzmike commented on #1105
Additional debugging: I fetched the result of the PROPFIND requests with wget, see attachement. Maybe it helps.
[propfind_response.txt](https://github.com/owncloud/contacts/files/41077/propfind_response.txt)

[2015-11-22 15:52] gvde commented on #1105
This is very much a duplicate of #1103. Check the database table oc_contacts_card, column uri. Compare the uris you find there with the names in the access log. In particular "oCRFnz24AAAI3AQAAAA%3d%3d.vcf" looks ugly. base64 encoded uri oCRFnz24AAAI3AQAAAA== ??

[2015-11-22 16:14] fonzmike commented on #1105
The entries in table uri all are like

[code]

These entries can be found urlencoded in the propfind result.
[code]

The apache access log only shows requests uris containing the last part starting at the last slash.
`/oc/remote.php/carddav/addressbooks/michael/kontakte/oCRFnz24AAAI3AQAAAA%3d%3d.vcf`

[2015-11-22 16:17] gvde commented on #1105
That's even worse: a slash in the uri... Who came up with that? I am not sure that is supposed to work. Ever. I have to check the RFC but I guess at least the / needs to be encoded to work. If it's not encoded it should be a separator.

I would highly recommend to clean up those uris...

[2015-11-22 18:12] mach-o opened #1108 "First and last name fields import wrongly from Thunderbird CSV"
If you create a simple contact in Thunderbird with first and last name fields specified and export it to csv, and then import it through the OwnCloud GUI specifying "Thunderbird CSV", the first name field in the imported contact will be blank, and the last name will be "{Last Name};{First Name}".

Example two-line csv file generated by Thunderbird that demonstrates the problem:
`First Name,Last Na

[2015-11-22 19:26] gvde commented on #1108
Start at the current open pull requests. You should immediately find the right one related to the N property...

[2015-11-22 20:10] mach-o commented on #1108
Thanks so much! The change in [#1063](https://github.com/owncloud/contacts/pull/1063/) fixes my problem, and now I know where to look for future reference regarding imports.

[2015-11-22 20:10] #1108 closed

[2015-11-23 06:11] nRaecheR commented on #1103
I edited all contacts with URLs as URIs and the problem went away. But this is only a temporary workaround because if clients add new contacts that uses URLs as URIs the problem would begin to surface again. So I won't close this issue report.

@gvde Thank you very much for your help to find a solution !

[2015-11-23 06:16] gvde commented on #1103
Please create a new contact and post the vcard from the database. If it's broken, please post the logs during creation and retrieval.

[2015-11-23 08:36] #1107 closed

[2015-11-23 09:13] nRaecheR commented on #1103
Yes, Evolution does that the right way, but we use a lot of different clients and I haven't found out which client is to blame for the URL-style of URIs. Initially the contacts were imported from an VCF export from my phone. Other users started from scratch and using other clients. I will try to find out which clients uses the URL-scheme and report back when I find out.

[2015-11-23 09:21] gvde commented on #1103
Check the PRODID property in the cards. Maybe it helps to identify which client causes this...

[2015-11-23 14:17] gitbreaker222 commented on #1106
ok I think I've got the right logs - I (tried to) seperated them into three blocks, so they fit the three steps from _steps to reproduce_ :
1. (re)load calendar page
2. uncheck calendar
3. check calendar

[code]

also I have exported my contacts as .vcf and there is no VLIST (full text search)

[2015-11-23 14:28] gvde commented on #1106
The export function validates the cards before export and won't export broken cards in the database. You have to check the cards in the database.

[2015-11-23 15:27] nRaecheR commented on #1103
The old items have two different PRODIDs :

* PRODID:-//ownCloud//NONSGML Contacts 0.2.5//EN
* PRODID:-//dmfs.org//mimedir.vcard//EN

I will look at this when new items will show up.

[2015-11-26 15:56] #3 closed, assigned to nobody

[2015-11-27 20:54] ownhardy commented on #1027
This "my contact's birthdays calendar" is the only way I can see those useful birthdays on my PC calendar. I use Thunderbird with the Lithning calender plugin, and this syncs via CalDav to Owncloud. Please also have this usecase in mind as well!

I know of no alternative way of watching a cloud-synced calendar on a PC, except for using Google Calendar or other proprietary software instead of Owncl

[2015-11-29 11:21] jancborchardt commented on #1027
@ownhardy no worries, there’s work being done to move the CalDAV/CardDAV into core for the next ownCloud release, and to reboot the Calendar and Contacts apps. :)

[2015-11-29 11:35] hitam4450 opened #1109 "Optional view of upcoming birthdays"
Hi,
what about a special view for upcoming birthdays of contacts per week or per month??

regards, hitam4450

[2015-11-30 20:50] 2easy commented on #1102
I am terribly sory - this issue should go to other repository. I really have no idea why it posted here.

[2015-11-30 20:50] #1102 closed

[2015-12-01 15:59] awrede opened #1110 "Wrong Birthyear in calendar"
If a contact's birthday is 31.Dec then the calendar entry generated will show the wrong birth year in the title. It' is caused by the year of the DTEND record being used to, with is the birthday +1D.  Trivial fix attached.

[patch0.txt](https://github.com/owncloud/contacts/files/48725/patch0.txt)

[2015-12-01 18:10] gvde commented on #1110
Created #1111 for master branch.

[2015-12-03 06:38] marneu opened #1113 "Feature request: telephone book link for voip phones"
See description in https://github.com/owncloud/contacts/wiki/Integration-for-the-voip-phone-addressbook for a detailed example of the feature request.

[2015-12-04 12:15] ferdiga commented on #1082
FYI:
a security update of redis server changed the redis.sock permission to 700 and caused troubles again
I installed a cron job to repair this

mkdir /var/run/redis
chown redis:redis /var/run/redis
chmod 755 /var/run/redis
chmod g+rwx /var/run/redis/redis.sock

[2015-12-06 07:35] pbek commented on #1105
I'm also getting the error: `Argument 3 passed to Sabre\\CardDAV\\Card::__construct() must be of the type array, boolean given, called in \/var\/www\/owncloud\/apps\/contacts\/lib\/carddav\/card.php on line 50 and defined at \/var\/www\/owncloud\/3rdparty\/sabre\/dav\/lib\/CardDAV\/Card.php` on OC 8.2.1 with Contacts 0.5.0.0 when syncing from my iPhone. A lot of contacts went missing on the iPhone

[2015-12-06 07:38] pbek commented on #1105
Same error messages when syncing with the OS X Contacts app...

[2015-12-06 08:17] gvde commented on #1105
@pbek as you have read in this is issue, it's a duplicate of #1103 and the solution is here and there. The cards in your database are messed up. Fix them and it works.

[2015-12-06 09:23] pbek commented on #1105
Thank you, @gvde. I wasn't sure what the "fix" was... Apparently I have hundreds of contacts with a uri like this `a9b767d4-b3fc-4ec1-83ad-57647a165527@my.domain.name.vcf`, but contact sync worked after exporting all contacts, deleting all contacts and importing all contacts again. The URIs are still the same, but it seems to work now. Strange... Nevertheless "someone" seemed to have duplicated a

[2015-12-07 08:19] jancborchardt commented on #961
@aspdye we know it’s unfortunate for the time being, but as you say Calendar and Contacts are community projects. There will already be massive improvements with the dav sync in core to make sure that’s stable. And then the app frontends themselves will also be updated.

[2015-12-07 08:19] jancborchardt commented on #863
Closing as duplicate of https://github.com/owncloud/contacts/issues/961 – more discussion there, less +1 ;)

[2015-12-07 08:19] #863 closed

[2015-12-07 08:42] aspdye commented on #961
This Time the calendar gets refactored. Is the Same planend for Contacts Too?

[2015-12-07 10:37] StephanRichter commented on #939
Actually, when performing an "OPTIONS" request against owncloud/sabredav, it returns "GET" as a possible request method. Either "GET" should be removed from the options, or it should remain available.

I know this is an issue with sabreDAV, but unfortunately, i'm not sure, where to report this.

[2015-12-07 12:14] jancborchardt commented on #961
@aspdye yes, see https://github.com/Henni/contactsrework by @Henni @irgendwie etc. – help is very welcome. :)
This is because the codebase is quite old and with sync in core we only need the frontend. Hence it’s better to start with a new approach. @babelouest @jbtbnl would be cool if you join again. :)

[2015-12-07 15:42] marneu opened #10 "[Feature Request] Telephone book offload link for voip phones"
I've tried a description already in https://github.com/owncloud/contacts/wiki/Integration-for-the-voip-phone-addressbook

Just a crosslink: https://github.com/owncloud/contacts/issues/1113

[2015-12-08 08:42] mroess commented on #182
Could it be the same error as in Sogo:

http://www.sogo.nu/bugs/view.php?id=2993

[2015-12-10 09:37] phrrrk commented on #1058
For me this bug is still present in 10.11.2

[2015-12-10 09:43] RealRancor commented on #1058
@phrrrk Please complain to apple: https://github.com/owncloud/contacts/issues/1058#issuecomment-154090785

[2015-12-13 09:55] crti commented on #1113
Good idea. However two downsides:
a) The XML format is not standardized for common VOIP phones
b) Not much interest in this feature seems to exist so far

Would it be not better to press some voip phone manufacturer to implement a real CardDAV synchro in the phone software? This should work on serveral CardDAV-Servers without the need to add and verify code.

[2015-12-13 10:33] marneu commented on #1113
IMHO the one how has the solution for this will be the first to serve a _defacto standard_ and help making up users decisions.

The _Iptel_ solution will become a standard in my eyes for the XML block as such, the inner part of the xml will be the defacto standard, what else makes sense for a phone? Except extending for the type of tel entry (i.e. work/home/cell etc).

I'm implementing this at the

[2015-12-13 17:59] crti commented on #1113
Ok, any progress is certainly welcome. Any voip phone manufacturer giving attention to this feature detail (compatibility) certainly has a selling advantage. Just for the G-Searches of the responsible persons I add some brands with the number of models on the market: Aastra DeTeWe (15) Agfeo (6) Alcatel (24) Auerswald (10) Cisco (104) elmeg (7) Gigaset (20) Grandstream (18) Konftel (2) Panasonic (

[2015-12-13 19:27] marneu commented on #1113
nice idea...

[2015-12-17 13:28] webwude opened #1114 "Contact photos - sync with Android 5.1.1 - photos disappear"
### Steps to reproduce
1. opening contact app on Android phone 5.1.1
2. add a contact photo to a contact and start sync with Davdroid
3. deactivate and reactivate sync with DAVdroid

### Expected behaviour
Contact photo should stick

### Actual behaviour
After second sync photo on Android has disappeared.

### Server configuration
**Operating system**:
webhoster all-inkl.com
**Web server:**
webhos

[2015-12-17 14:06] gvde commented on #1114
Did you search through the existing issues and pull requests before posting? Duplicate of #994, #1007, #1011, #1041?

[2015-12-17 14:47] webwude commented on #1114
I didn't find any fix so far? In #1067 it is mentioned that the fix should be merged...

[2015-12-17 14:50] gvde commented on #1114
You found the PR thus you have found the fix...

[2015-12-17 20:16] voggeneder commented on #1058
I've just received a new macbook running el cap 10.11.2 and foolishly erased the accounts before trying to reconnect. has anyone had contact with commercial cloud hosters? are they willing to bugfix this just for their apple clients?

[2015-12-17 22:24] ttmooney commented on #582
Running Owncloud  ownCloud 8.2.1 (stable), Ubuntu 14.04. I have 9000+ contacts. CardDav works fine, but the web client never loads.

[2015-12-23 17:09] sphakka commented on #283
Sorry for posting to a closed issue, but I need some specific feedback.

@chriskloe : you mentioned a modified Sogo addon for installation with SeaMonkey. Would you please share it, possibly with updates for SM-2.35 (or higer) that works with current OwnCloud versions ()? Indeed, it looks like no official sogo release exists for SM...

[2015-12-25 16:29] bserem commented on #1103
Bumped upon this issue when I wiped my WP8 device which was synced with Owncloud before the update to OC8.1
The fresh WP8 device couldn't sync the contacts, updating to OC8.2 didn't help either.

The only way I managed to make things work was:
* get a VCF file from owncloud web ui of all my contacts
* create a new addressbook from owncloud web ui
* import contacts file to this new addressbook
* sy

[2015-12-28 10:38] palensky opened #1116 "contacts re-share does not work"
### Steps to reproduce
1. user A shares address book contactsA with user B
2. user B shares (his) address book contactsB and (the shared) address book contactsA with user C

### Expected behaviour
User C should see both address books contactsA and contactsB

### Actual behaviour
User C only sees address book contactsB

### Server configuration
Debian 8/jessie/stable

**Web server:**
Apache 2.4.10

[2015-12-28 13:51] jancborchardt commented on #582
@ttmooney for 9.0, the Contacts sync backend moves into core and the frontend is being rewritten at https://github.com/Henni/contactsrework (btw @Henni @DeepDiver1975 time to finally move this to the ownCloud org?)

[2015-12-28 14:57] CriticalNoob opened #1117 "Can't load contacts after contacts import - "Allowed memory size of bytes exhausted""
### Steps to reproduce
1. Import a moderately large contact list (Around 150 contacts) ( .vcf file)
2. Try to load contact

### Expected behavior
Contacts should be displayed.

### Actual behavior
Spinning wheel forever and error 500

### Server configuration
**Operating system**:
Ubuntu 14.04
**Web server:**
Apache 2
**Database:**
Mysql
**PHP version:**
5.5
**ownCloud version:** (see ownCloud adm

[2015-12-29 10:29] droid001 opened #1118 "Contacts app hangs when opened as "...jquery-1.10.2.js was not found on this server.""
1. Open contacts
2. Spinner appears, freezes and page is unresponsive for a few seconds
3. Contact list appears unsorted in the background of a popup dialogue warning of the following:
[code]
When opening the debugger the following HTML is shown:
[code]
Close the developer tools and the contacts are sorted and Contacts page is fully functional.

Server: OC 8.2.2 (was also present in v.8.1.3), Cont

[2015-12-29 11:57] gvde commented on #1118
Please use the template from the contribution guidelines.

[2015-12-29 16:26] ttmooney commented on #582
@jancborchardt How about just patch the current version with pagination (break into pages of 20, 50, etc -- not 'lazy scrolling') or a blank page with a search function? Loading all contacts into one page is obviously not going to work, but perhaps finding a work around while a rewrite is complete is a solution.

[2015-12-29 18:54] jancborchardt commented on #582
@ttmooney that would require someone spending the time to work on it. And unfortunately this does not seem to be the case. And honestly it doesn’t make a lot of sense since it would probably require quite some time, which is better focused on the new version.

But this is a community project, so anyone can jump in. :)

[2015-12-29 21:25] crsqq commented on #808
This issue still exists in ownCloud 8.2.1 (stable).

Workaround: enable "Allow apps to use the Share API". (even if you have disabled the "share files" app)

[2015-12-29 21:30] RealRancor commented on #808
@crsqq As this issue is still open its unlikely that this got fixed. Furthermore apps like calendar and contacts apps are not updated by updating oC itself.

[2015-12-30 07:37] CriticalNoob commented on #1117
I tried something else :
I added my owncloud carddav account to my Apple Adressbook and manually added my contact to it.
It seems to have added some contacts but after a while I get :
`CoreDAVHTTPStatusErrorDomain erreur 500 on the mac.`

On the owncloud log I get a bunchload of
`{"reqId":"m\/CG9KcNZKWtps1r7XSK","remoteAddr":"88.168.xx.xx","app":"PHP","message":"Undefined index: addressBookId at \

[2015-12-30 07:53] CriticalNoob commented on #1117
Ok I found something :

I ran
`SELECT *
FROM  `oc_contacts_cards`
WHERE  `carddata` NOT LIKE  "%END:VCARD%"
LIMIT 0 , 30`

And found one contact that looked like :
`(3069, 12, 'Nicolas ', 'BEGIN:VCARD\r\nVERSION:3.0\r\nPRODID:-//ownCloud//NONSGML Contacts 0.5.0.0//EN\r\nN:;Nicolas ', 'da24e9d5-dce3-438a-a264-39714cc5cb6c.vcf', 1451460738);`
And everything is working back after I deleted him from t

[2015-12-30 08:05] gvde commented on #1117
VERSION:3.0
VERSION:3.0
VERSION:3.0
VERSION:3.0
VERSION:3.0
PRODID:-//ownCloud//NONSGML Contacts 0.5.0.0//EN
PRODID:-//Sabre//Sabre VObject 3.4.7//EN
PRODID:-//Apple Inc.//iOS 7.0.4//EN
N:;Nicolas

That card is severly broken. Fix the card before import.

The multiple VERSION and PRODID values have been fixed by #1068 (and #1054 for master branch). Apply the patch and report back in the pull reque

[2015-12-30 08:10] CriticalNoob commented on #1117
The multiple version is not the problem,  but I found what it is.

My contact had an emoji in his name for some reason, here is his card before import :

`BEGIN:VCARD
VERSION:3.0
PRODID:-//Apple Inc.//iOS 7.0.4//EN
N:;Nicolas 👾;;;
FN:Nicolas 👾
TEL;type=CELL;type=VOICE;type=pref:06 xx xx xx xx
X-SOCIALPROFILE;type=facebook;x-user=xxxrid=xxx
 x-displayname=X Xl:http://www.facebook.com/xxx
REV:2014-0

[2015-12-30 08:19] gvde commented on #1117
The multiple versions is a problem.

I repeat: You may want to go through the other open (and recently closed) pull requests for some more fixes...

Seriously. The pull requests for the FN property splitting might already help. If none of those pull requests help you should post detailed information on the problem...

[2015-12-30 08:29] CriticalNoob commented on #1117
Sorry I wan't clear enough : the multiple version didn't prevent any import and didn't cause any problem to me.

I checked the open an recently closed pull requests and didn't find anything related to emojis.
I can't find the pull requests for the FN property splitting and I'm not sure how it might help.

I'm sorry I don't know how I could post more detailed informations, what do you want to know

[2015-12-30 08:43] CriticalNoob commented on #1117
I tried the fix for multiple versions and nothing changed about emojis.

[2015-12-30 08:55] gvde commented on #1117
Please, please, please, READ what I write: I did not say that the multiple version prevents the import nor causes the previous issues. It does cause problems in certain circumstances and there is a fix for it. It has nothing to do with the emoji. I didn't say so.

I also wrote you should try pull request #1068 not #1067. #1067 is for stable 8.1, #1068 is for stable8.2. You supposedly have 8.2 that

[2015-12-30 09:11] CriticalNoob commented on #1117
I'm sorry if I appear to be rude, but seriously I'm not sure about what I should do.

-If the multiple version wasn't the supposed source of my problem, as I stated that the emoji was the problem, how the multiple version fix should help me, or how I could help ?
I would gladly report anything about this fix.
I'm sorry I was confused and tried #1067 instead of #1068, I will do so, but what should

[2015-12-30 09:27] gvde commented on #1117
1. You have posted a broken vcard which shows multiple VERSION and PRODID values. That is an issue fixed by #1068 and the master #1054. If you check the master pull requests #1054 you'll find links to the issue where it is referenced, some describe the issues which it fixes. There are various issues around this and it's a good idea to fix it if you come across it. That's why I have mentioned it. B

[2015-12-30 09:38] CriticalNoob commented on #1117
1. Thanks, the fix seems to work and remove the multiple versions, although they were present only from a vcf import and not from a sync. Do you want me to report it is working to the pull request ?

2. I will be more cautious, thanks you.

3. You said "I suggested #1064" but I saw no reference to it in your previous message, that's why I was confused.

4. The log are in the first and second page.

[2015-12-30 09:40] CriticalNoob commented on #1117
Ah and I found a better fix.

If I change the mysql columns from utf8 to utf8mb4 the problem disappear, so I guess the problem comes from an incompatibility between emojis and the current mysql structure.

[2015-12-30 10:23] gvde commented on #1117
Re 1.: yes it would be good if you would write in #1068 and #1054 (the pull request for the master branch) that the pull request removes the multiple property values from the imported card. (it's one part of what the pull requests fixes)

Re 4. The logs in the first and second posts are from "Import a moderately large contact list". It may contain the error related to the one broken card but it ma

[2015-12-30 10:42] CriticalNoob commented on #1117
Okay thanks.
So here are my logs for a single card import of the "broken" card.

[code]

And in apache2's logs :
[code]

I identified other problems with emoji, uploading a file with an emoji in its name work, but if you delete it you can't restore it, seems like a major incompatibility between emoji and the database. I'm going to fill an issue with core.
Thanks for your help and sorry if I someti

[2015-12-30 12:02] CriticalNoob commented on #1117
Ok this is what I have found :

https://github.com/owncloud/core/pull/17978#issuecomment-126332406

Can't use owncloud with both mysql and emoji until devs decide to change that.
I'm gonna run some test to see if my cloud is viable with sqlite or postgresql.

[2015-12-30 19:50] aspdye opened #12 "Use Contacts as CardDAV Client for non-ownCloud CardDAV Servers"

[2015-12-31 12:57] matmo commented on #1092
Thanks @mpuls, this fix works for me as well

[2016-01-01 03:11] raaomoka opened #1119 "Could not obtain lock type 2 on "/ownCloud/username/cache/contact-thumbnail-local::3::52"."
Hey guys,

Happy new year to you and your families.

System info:
[code]

I'm in the process of building my ownCloud server on a QNAP TS-470 Pro NAS to host my Contacts for the new year and future years to come.

I downloaded and installed the latest available Contacts app from the ownCloud app store and uploaded it to the apps directory on my QNAP NAS. I enabled it, viewed the blank app page, ren

[2016-01-01 15:29] gvde commented on #1119
Please use the template from the contribution guidelines.

[2016-01-01 17:55] raaomoka commented on #1119
And where might that template be? I didn't find any contribution guidelines thread in this repository...

[2016-01-01 18:06] gvde commented on #1119
The contribution guidelines are in the root directory of this app as well as the owncloud core repository...

https://github.com/owncloud/contacts
https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md

[2016-01-01 18:12] gvde commented on #1119
Also check the contact cards with id 131, 250, 293, 340. They seem to be broken, i.e. missing some parts, most likely the END:VCARD at the end.

[2016-01-01 19:10] RealRancor commented on #1119
Just for further reference:

https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md#short-version

This is linked in the yellow box when creating a new issue.

[2016-01-01 19:21] raaomoka commented on #1119
Updated it as per the template for your troubleshooting pleasure.

Hmm, what a coincidence, you mentioned 4 contacts that might be broken and it appears 4 contacts aren't syncing to my device from the server, according to ContactSync (408 on Server 404 on Client)...perhaps those are the 4.

Sorry to sound newbish, but how do I check them on my ownCloud server when I can't view them?

[2016-01-01 19:38] gvde commented on #1119
Look into the mysql database (e.g. using phpmyadmin) and check the table oc_contacts_cards. The numbers I have mentioned are the ids, i.e. column "id". Look for the rows with those id numbers and check the content of the card in column carddata.

[2016-01-02 02:33] raaomoka commented on #1119
Ok, I think I'm noticing a pattern between all the contacts that don't sync, besides the obvious fact that they're not on my SmartPhone :tongue: They start with the **BEGIN:VCARD** tag, but they ALL end with the **NOTE: (familiar and appropriate note on contact)** and there's no **END:VCARD** tag.

So, do I just delete them from the oc_contacts_cards table? Fortunately, I have these contacts backe

[2016-01-02 07:43] gvde commented on #1119
Possibly, the content of the note had some emoji or other character which was encoded into a 4 byte unicode character and breaks in the database and then gets cut off (see #1117).

To fix the broken cards, easiest way would be directly in the database. Is all the information in the current cards in the database or is there something missing? If there is nothing missing you could simply add the END

[2016-01-02 09:28] raaomoka commented on #1119
PRECISELY! That's what ALL of these contacts notes have in common; I put an emoji. From what I read at #1117, I would have to remove the emoji until MySQL devs officially support it...oh well, no big loss. Can I at least use the ancient text based smilies ?:-| Or are there any other special character incompatibilities I should be aware of?

Yes, there are important details, like their phone number

[2016-01-02 10:54] gvde commented on #1119
MySQL does only support unicode characters which use 3 or less bytes. emoji and many more are encoded with 4 bytes. A utf-8 character list is at http://www.utf8-chartable.de/unicode-utf8-table.pl?start=65776 The link shows you the first page of 4 byte utf-8 characters. All those and those on the following pages are 4 bytes encoded and thus would break in the mysql data. Those should be avoided unt

[2016-01-02 19:05] artemanufrij opened #1120 "Contact shows the address field twice after adding a new value."
See my screencast:
[owncloud contact address issue.webm.zip](https://github.com/owncloud/contacts/files/76359/owncloud.contact.address.issue.webm.zip)

[2016-01-02 19:36] gvde commented on #1120
Please use the template from the contribution guidelines.

https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md

[2016-01-02 19:46] artemanufrij commented on #1120
### Steps to reproduce
1. Open a exists contact
2. Add Address Field
3. Input the Address
4. Click "Close" button
5. Select contact again

### Expected behaviour
See address

### Actual behaviour
Address field exists twice

### Server configuration
**Operating system**: Ubuntu Server 14.04

**Web server**: Apache

**Database**: SQLite

**PHP version**: 5.5.9

**ownCloud version:** 8.2.1

[2016-01-02 20:14] untitaker commented on #802
Still a problem with ownCloud 8.2.2 and Contacts 0.5.0.0

[2016-01-03 02:24] raaomoka commented on #1119
Ok, so I just attempted adding the **END:VCARD** tag at the end of the card data for the 4 contacts, logged out of phpMyAdmin, logged into my ownCloud and attempted viewing the contacts...still got the same error message.

I then attempted syncing them to my SmartPhone via ContactSync, this time all **408 contacts**, including the broken 4, synced to my SmartPhone. Deleted the broken 4 off my Smar

[2016-01-03 03:46] kousu commented on #1092
My hoster is now running ownCloud 8.2.2 and my contacts are syncing properly again. I don't know if this means it's REPORT addressbook-query is working now or what, but for now I'll close this.

[2016-01-03 03:55] kousu commented on #1092
Oh wait, hang on, it's still screwy. Most of my contacts synced but I got this error message from DAVDroid, and the UIDs it lists are indeed missing from my phone:

[code]

[2016-01-03 07:52] gvde commented on #1092
This looks like a duplicate of #1103

[2016-01-03 07:54] gvde commented on #1119
As I wrote before: run this sql command and see what it returns:
[code]

[2016-01-03 07:58] gvde commented on #1120
Fill out the WHOLE template. Not only parts of it and leave out the most important parts. Or don't you have any applications installed and any logs?

[2016-01-03 10:15] kousu commented on #1092
For future reference, in case someone finds this and needs to repair their own database manually as well:

I exported my contacts from ownCloud. I opened Contacts.vcf and found a bunch of lines like
[code]
(the exporter wrapped them so you can't simply sed them out of the way)
I manually searched from every "UID:https://" and erased each. I deleted the address book from ownCloud and reimported the

[2016-01-03 10:15] #1092 closed

[2016-01-03 13:16] TG10 opened #1121 "Can't sync from android -> owncloud"
Everytime I want to sync from my android to owncloud, I get this error:

The sync from owncloud to android works without problem. I can add contacts to my cloud, and after the sync I find them on my android.
But as soon as I add a new contact on my android, I receive this error.

Any solutions?

[2016-01-03 15:43] raaomoka commented on #1119
Ok, I navigated to the oc_contacts_cards table via phpMyAdmin and ran the sql command (by clicking the SQL tab at the top, entering the command and clicking go in-case anyone else is wondering in the future) and it gave the following output implying no more broken contacts:

![owncontacts mysql result](https://cloud.githubusercontent.com/assets/2476232/12079429/eaff00d6-b1f5-11e5-81c7-c151f64c032f

[2016-01-03 16:29] gvde commented on #1119
Well, then all cards have a correct ending. None are reported. There is no "Document ended prematurely" message anymore.

 I guess you problem is related to the "Fatal core Unable to parse OCS content for app" messages. Those don't sound good. Maybe related to the locking app. Try to disable the file locking and see if it helps. It should get rid of those locking errors...

[2016-01-03 16:33] gvde commented on #1121
Please use the template from the [contribution guidelines](https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md).

[2016-01-03 18:14] raaomoka commented on #1119
Thank you very much for your continuous prompt and unambiguous support, really appreciate it!

I disabled the File Locking app via my admin account, logged in with my regular user account and that indeed seems to have fixed the issue :grinning: Now all my 400+ contacts are listed and editable :smiley: Haven't noticed any side-effects of disabling that File Locking app for now...coincidentally, tha

[2016-01-04 08:00] gvde commented on #1119
That's probably related to the file locking issue. It failed to obtain the locks on the thumbnail cache files and thus they are missing now. You may have to clear the thumbnail cache on the server but I am not sure who to clear it or how to make it recreate the thumbnails. The code looks as if it recreates the thumbnail cache if it is missing.

The thumbnails seem to be in your owncloud data direc

[2016-01-04 08:52] raaomoka commented on #1119
Hmm, might have something to do with QNAP permission system...I'm not certain of how to assign permissions to apps for specific folders...so, for now, I just made the **web/owncloud** folder and it's suaccessible to all and see what happens along the way.

Navigated to the contacts app without clearing any browser cache, turns out that seems to have fixed it :smiley: Now my contacts are appearing

[2016-01-04 10:37] raaomoka commented on #1119
Woh, this just got a whole lot more interesting. I was on the look out to do some final verification before I accept everything has been fixed, then I mistakenly stumbled across this; Google Chrome is still not displaying the picture of contacts who have images, but oddly enough, Internet Explorer 11 is displaying them perfectly :open_mouth:

I cleared the cache and cookies of both browsers, logge

[2016-01-05 20:50] artemanufrij commented on #1120
Hey Gerald,

I haven't installed any apps. It's a out of the box installation on my test vm without customising.

Which log file should I post?

[2016-01-05 21:14] gvde commented on #1120
As I wrote before: fill out the whole template.

If you don't have any owncloud apps installed there are no contacts. Thus what you write contradicts that. You must have some apps installed otherwise there is nothing that would allow you to edit contacts.

Thus, one more time: fill out the whole template... It includes a list of apps installed as well as which logs...

[2016-01-06 13:18] KekcuHa commented on #1114
This issue detaily described here - https://forums.bitfire.at/topic/827/owncloud-doesn-t-understand-vcard-photo-tag
OC converts v4.0 VCARDS to v3.0 without proper attached photos handling.

[2016-01-06 13:34] gvde commented on #1114
The problem has been reported multiple times. It has been fixed. There is a pull request. If no one tests those pull requests they will stall...

And technically the description of the problem is wrong. The symptoms may match but it's not a conversion problem...

[2016-01-06 15:07] KekcuHa commented on #1114
I have tests that pull request and it solved the problem.
What else can i do to see that patch in next update?

[2016-01-06 20:55] m1ght commented on #1058
Have same issue with Baikal and Radical.
Am i right that code error 405 is equal to http code?
"405 Method not allowed
The resource was requested using a method that is not allowed. For example, requesting a resource via a POST method when the resource only supports the GET method."

[2016-01-06 21:08] RealRancor commented on #1058
@m1ght 405 is method not allowed but should be a complete different issue. At least if your .well-known urls (https://doc.owncloud.org/server/8.2/admin_manual/issues/index.html#service-discovery) are correct.

[2016-01-08 06:58] josh4trunks opened #1122 "[8.2.2] Contacts App Icon Not Loading when hosting ownCloud with a webroot"
My ownCloud site is hosted under a webroot (https://EXAMPLE.com/owncloud) and as you can see in the screenshot, the icons for the Contacts and Calendar app do not load. The contacts app is presenting it's icon at ``/apps/contacts/img/contacts.svg`` when it should be at ``/owncloud/apps/contacts/img/contacts.svg``

![screenshot from 2016-01-07 22-54-39](https://cloud.githubusercontent.com/assets/10

[2016-01-08 06:59] josh4trunks commented on #1122
Same issue here https://github.com/owncloud/calendar/issues/1011

[2016-01-08 07:11] gvde commented on #1122
Don't post duplicates. It's just so annoying and makes any reasonable discussion impossible.

This works fine for me. Clear your browser cache and all cookies. Try another browser. Or remove and reinstall the apps.

Close both issues here and for the calendar app and open - if the problem perists - an issue in the owncloud core as it's a core function which determines the url for the apps. And don

[2016-01-08 07:17] josh4trunks commented on #1122
Ok, I've tried with multiple OS's/browsers. I will confirm by removing and reinstalling the apps.

Then I'll close these issues and post in https://github.com/owncloud/core/

[2016-01-08 07:17] #1122 closed

[2016-01-08 07:18] alpenjon commented on #1092
I can't believe I finally found the solution to this sync problem. I also had the problem with the UID's containing https://[USER]@[OWNDRIVESERVER] information, where my [USER] was from a previous, meanwhile non-existent Owncloud account.

Exporting the .vcf from Owncloud, deleting those UID's in the exported file, deleting my contacts on Ownccloud and then re-uploading the fixed .vcf back to Ownc

[2016-01-08 07:25] josh4trunks commented on #1122
@gvde to confirm, you are using owncloud 8.2.2 with a webroot and the contacts app icon shows? This only stopped working for me with the update to 8.2.2, so I'm assuming it's a depreciated function somewhere.

[2016-01-08 07:34] gvde commented on #1122
Yes:
[code]

Did you update the contacts app to the latest version?
Did you ever install owncloud in web root before and then migrated or moved it after installation?

[2016-01-08 07:41] josh4trunks commented on #1122
I don't remember ever updating the contacts app through the Apps page. But ``occ upgrade`` might have done it for me? I'm on version 0.5.0.0 of the contacts app currently.

No, I've been using a webroot since putting this server into production with ownCloud version 7.0.0.
I only recently installed( or enabled?) the contacts app a few months ago on the Apps page. I've been using the calendar app s

[2016-01-08 07:46] Bubu commented on #1028
This is still an issue with the latest contacts app version on owncloud 8.2.2.
I guess the relevant commit #1064 never got merged? Any chances of getting this fixed in a new version any time soon?

[2016-01-08 07:48] gvde commented on #1028
The more people test the pull requests and report back that it's working the sooner it may get merged. There is no maintainer of this app at the moment thus any progress is mostly community effort...

[2016-01-08 08:21] Bubu commented on #1028
I applied #1064 locally and it seems to work. I can finally import contacts from a Thunderbird formatted .csv list.

[2016-01-08 08:26] gvde commented on #1028
@bubu pls add a comment on the pull request (and on the master version pull request #1032). Thx

[2016-01-08 09:18] Bubu commented on #1028
I noticed a few more issues. I meed more time to test this.

The semicolons are gone and now there is a first and last name.But first and last name are reversed (Thunderbird import, but the xml description file seems to be correct.)
The address is still split up into n different addresses where n is the number of address fields there were before.

I'll try to investigate when I have more time.

[2016-01-08 09:47] fonzmike commented on #1105
The solution in #1103 doesn't solve this. The messed up cards in the Database are created by OC / Contacts itself via import of an vcf file in the Browser.

I did some testing: Importet cards cannot be read by any of the used carddav clients: evolution, thunderbird cardbook, Android easy DAV for owncloud and CardDAV sync. The reason are http 404 errors because of the extra slashes in the uri creat

[2016-01-08 10:07] gvde commented on #1105
Which solution exactly? It's difficult to track what people have/do and which patches they have applied and which not...

Now if you only posted that vcf file so that someone can have an actually look and test what happens and whether one of the outstanding pull requests already fixes it...

I don't know which "extra slashes" you mean. I have never seen "extra slashes" so far.

You mean "imported"

[2016-01-08 10:10] gvde commented on #1028
Please attach an example csv file for testing.

[2016-01-08 12:16] rakekniven commented on #766
So who is maintaining it now?

[2016-01-08 19:31] fonzmike commented on #1105
Extra slashes: Posted Nov/22:
The entries created by contacts import in table uri all are like
[code]
The apache access log only shows requests uris containing the last part starting at the last slash.
`/oc/remote.php/carddav/addressbooks/michael/kontakte/oCRFnz24AAAI3AQAAAA%3d%3d.vcf`

The path part of the uri is deleted by the clients and only the file part is appended to the base url.

And plea

[2016-01-08 19:46] gvde commented on #1105
During import it should use the UID in the card for the URI. If the UID contains the slash then it may get into the URI. I don't think UIDs should contain slashes... Ever... That's just ugly.

If you manually check the PROPFIND before you'll probably find that it reports the full URIs but your client strips them... That at least how it looks from the logs posted by others before...

[2016-01-08 20:04] fonzmike commented on #1105
Man, you are right. Those strange uids are in the vcf file! It is an export from MS Exchange. Its not the import, sorry for that.

I'll do some testing how to fix them and let you know the results.

Thanks a lot!

[2016-01-08 23:19] kodejak opened #1123 "All calendars and enries lost by upgrade of OC from 8.2.1.4 to 8.2.2.2"
Hello there,

I've lost all my calendars and entries by the upgrade of OC 8.2.1.4 to 8.2.2.2. My calendars version was / is 0.5.0.0 and I see no other version for OC 8.2 in this release channel.

What is the problem here?

[2016-01-09 07:11] gvde commented on #1123
You probably forgot to re-enable both apps. Fill out the template from the contribution guidelines...

https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md

[2016-01-09 16:02] dzogrim commented on #1117
I've the same problem here… with 3K contacts and I found I can't have any control on ""PHP","message":"Allowed memory size of 536870912 bytes exhausted" error no matter what I try to.

[2016-01-10 10:37] fonzmike commented on #1105
Ok, solved. For all googlies landing here:
I exported my contacts list from MS Outlook as vcf list. After import into Ownclouds Contacts App all WebDav/CardDav Clients failed to sync because Outlook creates uids containing slashes. This leads to garbled URLs resulting in http errors 404 "not found" when a clients tries to retrieve a card.

I simple replaced the slashes in vcf field UID by string A

[2016-01-10 10:37] #1105 closed

[2016-01-10 11:48] gvde commented on #1105
Could you try to replace the slash with %2F instead and see if that works?

[2016-01-11 00:04] godfuture commented on #1099
Have this issue without sharing the addressbook. Personally, I find my "current edit contacts" by clicking the group.

Its annoying, true!

[2016-01-11 16:44] kraftner commented on #1028
I can confirm the semicolons are gone, but each address field creates a new address, just as @Bubu said.

This is an example CSV file

    Vorname,Nachname,Anzeigename,Spitzname,Primäre E-Mail-Adresse,Sekundäre E-Mail-Adresse,Messenger-Name,Tel. dienstlich,Tel. privat,Fax-Nummer,Pager-Nummer,Mobil-Tel.-Nr.,Privat: Adresse,Privat: Adresse 2,Privat: Ort,Privat: Bundesland,Privat: PLZ,Privat: Land,Di

[2016-01-13 10:57] fonzmike commented on #1105
Nope, doesn't work. HTTP 404
2016.01.13 11:53:15:600 : ocKontakte : Can not get https://apps.imuh.de/oc/remote.php/carddav/addressbooks/michael/kontakte/AAMkAGI1OWM1ZmY4LThlNzYtNGRkNC05ODYyLWQyNGZlMzcxNGZlZgBGAAAAAADGryxXyUOaSL2Kaoax6u5LBwCBjXQARL8oQ7G%2F6AkRZ89uAAAAAAAQAACBjXQARL8oQ7G%2F6AkRZ89uAAHVB0kyAAA=.vcf (status : 404)

[2016-01-13 11:01] fonzmike commented on #1105
Replace slashes with "_" works.

[2016-01-13 15:19] fcturner opened #1125 "PHP errors feof() and fgets() after updating to v0.5.0.0"
As mentioned in #440, when "Dismissing" a reminder the following is shown within the data/owncloud.log on a oC 8.2.1 with contacts 0.5.0.0:

[code]

Which is about this piece of code in `owncloud/3rdparty/sabre/vobject/lib/Parser/MimeDir.php`:
[code]
A possible solution might be to replace the...
[code]
...to...
[code]
...but I don't know if this will break something else.

[2016-01-13 19:44] kallegit1950 commented on #1114
I tested PR #1068 on my owncloud installation. This fixes my photo issue I had with davdroid.

What else can I do to see that patch in the next update?

[2016-01-14 09:31] grunsch commented on #1121
+1

[2016-01-14 09:38] gvde commented on #1121
@grunsch Same answer.

[2016-01-14 12:49] djibux commented on #1007
I am having the issue.  Strangely it only happens with Davdroid and not with CardDav-Sync (org.dmfs.carddav.Sync).  After the first Davdroid sync the image appears corrupted on the server.  After the second Davdroid sync the image disappears from the device.

Here are some logs:
[code]

[2016-01-14 12:57] gvde commented on #1007
@djibux This is still a duplicate. And you still have to apply the pull request to fix it until the pull request gets into the next official release...

[2016-01-14 15:06] djibux commented on #1007
OK great.  I'll try the PR.

[2016-01-14 23:54] schuemann opened #1126 "Share contact groups not working"
I think issue #38 is currently not working in owncloud 8.2 with contacts 0.5.0.0. @fchiggins added a comment to pull request #668 which is supposed to fix it, stating that it is still a problem and I can confirm this.

[2016-01-15 14:42] tomcatcw opened #1127 "Undefined index: addressBookId at /var/www/owncloud/apps/contacts/lib/hooks.php#109"
Hi,

I updated owncloud to 8.2.2.2 on a Debian Server. When I want to create a new contact, owncloud does not save it. When I reload the contact page I only see an entry with "#" and nothing in it.

On admin page there was created a error entry named: Undefined index: addressBookId at /var/www/owncloud/apps/contacts/lib/hooks.php#109

Does someone noticed the issue?

Greetings

[2016-01-15 14:49] DeepDiver1975 commented on #1127
please reopen in https://github.com/owncloud/contacts - THX

[2016-01-15 14:50] DeepDiver1975 commented on #1127
sorry for closing :see_no_evil:

[2016-01-15 14:59] tomcatcw commented on #1127
In addition the following hint: I imported my entire contacts via *.vcf. When I edit contacts via iPhone, the changes are saved. However when I edit via owncloud website the changed are not saved and I get the above mentioned error entry.

[2016-01-15 15:15] gvde commented on #1127
Please use the template from the contribution guidelines...

[2016-01-15 15:25] tomcatcw commented on #1127
Sorry to this. Where can I find that template?

[2016-01-16 18:37] tilllt commented on #582
After updating to OC 8.2.2 this problem started to show up in my Owncloud installtion. Never had this in any version before.

[2016-01-16 21:40] Loki3000 opened #1128 "Sogo sync issue with non-latin URI"
I'm not sure that it's owncloud problem, but Sogo and Thunderbird sync not work with non-latin URI:
https://mydomain.com/remote.php/carddav/addressbooks/User/%D0%9A%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B
this URI not work. When I change uri field in DB to "contacts", CardDAV URI becomes follow
https://mydomain.com/remote.php/carddav/addressbooks/user/contacts
And it's work right.

[2016-01-16 21:52] Loki3000 opened #1129 "Issue in contacts app client side"
1. click gear sign
2. click "add new addressbook"
3. type name and click checkmark
4. appears "import" dialogue and dissappears "new addressbook" form.

Checked in FF and Chrome under Linux.
OwnCloud 8.2.2
Contacts 0.5.0.0

[2016-01-17 12:17] RealRancor commented on #1127
@tomcatcw When creating a new issue you're asked in a yellow box: "Please review the guidelines for contributing to this repository.". This link points to:

https://github.com/owncloud/contacts/blob/master/CONTRIBUTING.md#short-version

where you can find the issue template.

[2016-01-17 12:18] RealRancor commented on #1127
The message itself looks similar to https://github.com/owncloud/contacts/issues/1121 where also no one has provided the needed infos yet.

[2016-01-17 13:31] gvde commented on #1129
Please use the template from the contribution guidelines...

[2016-01-17 20:56] protspot commented on #1035
In addition to the above stated types. I'd like to store my Threema contacts.

[2016-01-20 04:22] sndrsk opened #1130 "Invalid Mimedir file. Line starting at 14 did not follow iCalendar vCard conventions"
Yesterday I set up a new iPhone and synced it with my Contacts on oC via CardDAV. Everything went great. This morning I noticed there was (at least) one contact that didn't sync. It was a newer contact, so I waited. After a few hours it didn't show up. I tried disabling the CardDAV account on the iPhone and re-enabled it and then all of the contacts went away. I have tried completely removing the

[2016-01-20 04:26] sndrsk commented on #1130
Disregard, it looks like this is a Calendar issue and I need coffee. Closing.

[2016-01-20 04:29] sndrsk commented on #1130
Wait, no, the errors say it's CardDAV. Any ideas? Other issues I'm reviewing points to a bad calendar entry but the errors are making references to CardDAV.

[2016-01-20 05:31] gvde commented on #1130
One of your cards seems to contain something with ";UNKNOWN="GROUP". That looks pretty broken to me...

[2016-01-20 06:32] sndrsk commented on #1130
There were some cards with some groups left in the notes, I removed those, but I still had the same issue. I exported the contacts, deleted them in oC, then imported them to Gmail, then exported them from Gmail, and imported them to oC and they seem to be working now. Closing.

[2016-01-20 06:32] #1130 closed

[2016-01-20 09:09] anybodesign commented on #1058
Hi, I just upgraded to EL Capitan 10.11.3… and it's still impossible to **add** any carddav or caldav account. Others apps like Fantastical and BusyContacts are doing the job just fine, so the problem is not due to owncloud… but OS X.

[2016-01-20 09:26] RealRancor commented on #1058
@anybodesign Exactly, according to https://github.com/owncloud/contacts/issues/1058#issuecomment-154090785 :-)

[2016-01-20 13:06] jancborchardt opened #13 "»This app has no maximum ownCloud version assigned. This will be an error in ownCloud 11 and later.«"
@Henni what’s the maximum ownCloud version?

@DeepDiver1975 What’s the best practice for setting this? Setting to current dev version, which is 9.0?

[2016-01-20 14:41] paskalito commented on #870
Hi
Problem presists with 8.2.2 and contacts 0.5.0.0
I tried it with exports from www.memotoo.com in following formats : ldif / csv / csv.
Progress bar stops always at the point of "automatic format recognition"(< my own translation). i tried to distunguish the imports end by monitoring server cpu load. mysql and www-data both get around 25% during import.
The result was diffrent dough after every

[2016-01-20 15:52] ngrundmann commented on #1058
I requested a statusupdate on this case, but it takes really long for the Dev-Team to reply... I hoped it will be fixed with 10.11.3 but no...

[2016-01-20 15:54] anybodesign commented on #1058
Let's hope for 10.11.4 then... or let's roll back to 10.10

[2016-01-20 15:56] ngrundmann commented on #1058
In 10.10 I had the same problems

[2016-01-20 16:00] anybodesign commented on #1058
Really? Adding/Syncing carddav and caldav accounts worked OK for me, in Yosemite. Since my clean install of El Capitan, impossible to add these accounts anymore.

[2016-01-20 16:07] ngrundmann commented on #1058
Calender work fine in Yosemite and El Capitan. But in Yosemite I was able to add only one Addressbook, too.

[2016-01-20 16:12] voggeneder commented on #1058
although i'm aware that apple wants it's users to migrate to their icloud ecosystem, it still surprises me that sync services like cardav and caldav aren't of higher priority.

[2016-01-20 21:52] #13 closed, assigned to nobody

[2016-01-21 02:44] Happyfeet01 commented on #593
Still have the same issue with the Chrome browser and other.

Owncloud 8.2.2
Php 5.5.9
Apache2
Android 6.0.1

[2016-01-21 11:09] jancborchardt commented on #593
@Happyfeet01 and others:

With ownCloud 9.0 we will most probably ship a new Contacts app which will not have this problem anymore. Unfortunately fixing the old Contacts app is a bit out of scope since we need to focus on developing the proper one.

[2016-01-23 23:53] RealRancor commented on #1121
@TG10 @grunsch Could you please provide the info asked in the issue template? Without that the bugreport here is nearly useless.

[2016-01-24 10:05] jutoft opened #1131 "Add addressbook button opens import menu"
When pressing "add addressbook" (in danish "Tilføj adressebog") and pressing the checkmark the import menu is opened.

Pressing enter will create the addressbook.

[2016-01-24 17:18] AccountToPostOwncloudIssue opened #1132 "Loading of XML files can fail resulting in VCard import failures"
On my Owncloud installation, importing contacts stored in a VCard file failed. it irregularly actually worked, but most of the times it failed. It just finished with the message 0 contacts imported.

I tracked the problem down to the code in `importmanager.php` that reads the list of available importers by parsing their XML files. I got this error message by libxml:
```failed to load external enti

[2016-01-25 13:59] babelouest commented on #1132
That's odd, you seem to have a problem with external entity that are loaded by `simpleXML`, but why ?

Have you checked your apache/php installation to be clean ?

For now I don't think I'll add `libxml_disable_entity_loader(false)` like you did because it's said to be non thread-safe, and I don't want owncloud to cause other problems in people's configuration.

Is there any other web application

[2016-01-25 22:42] AccountToPostOwncloudIssue commented on #1132
I did a few more experiments, and the behaviour is really strange. I created this simple test file and put it on the server:

[code]

If I reload this file repeatedly, it sometimes parses the XML (and returns nothing as `$loadedEntities`) and sometimes it does not load the file, but instead give this warning:
[code]
and returns 1 as last setting.

I haven't found any documentation on what the defa

[2016-01-25 22:43] AccountToPostOwncloudIssue commented on #1132
The server is also running roundcube and tiny-tiny-rss.

[2016-01-25 23:04] AccountToPostOwncloudIssue commented on #1132
Yes, it seems that the setting is preserved over multiple script executions. When I set it to a certain state at the end of the test script, after a few reloads, it will always have this value at the beginning of the script. So after a few reloads it seems that all server-threads were changed to the new value. When I then change the value in the php and reload again, they will switch back after mo

[2016-01-26 15:34] billboule commented on #1131
Same issue here !

[2016-01-26 15:59] billboule opened #1133 "Too many contacts displayed in one page"
After the import of 500 contacts, I get some issue regarding the display of the page in my browser (same thing on Firefox and on Chromium). It looks like it's taking time to render the page in the browser (almost 8 sec). I guess this comes because all contacts are displayed at once. I would suggest to split in different pages.

OC 8.2.2.2, Contact 0.5

[2016-01-26 21:08] jcharaoui commented on #596
With the current version of Contacts, groups are no longer displayed on the left sidebar. However, while categories are still displayed as a column in the shared address book, only the owner of the address book can manage concact groups and their membership, even though modify permissions are granted.

[2016-01-26 21:44] Georg-Git commented on #1127
### Steps to reproduce
Insert new contact in android
sync via DAVDroid to OC

### Expected behaviour
sync to OC without error

### Actual behaviour
New contact is synced from android to OC

But OC Log Error:
Undefined index: addressBookId at .../apps/contacts/lib/hooks.php#109

### Server configuration
Linux gentoo x86_64
Apache
MariaDB Version: 10.0.22
PHP Version 5.5.31 FPM/FastCGI

ownCloud 8.2

[2016-01-27 05:12] gvde commented on #1127
You are missing the web server logs. You have three owncloud log messages covering 12 minutes. That is definitely not a single new contact synced into owncloud...

[2016-01-27 08:04] Georg-Git commented on #1127
?
There is only one error message related to contact app:

1. OC Log Error .../functions.php#36
known core Bug when requesting the admin panel in a browser
https://github.com/owncloud/core/issues/17468

2. OC Log Index Error .../hooks.php#109
21:20:46 WebLog: PUT Message of DAVDroid with one new contact
21:20:48 OC Log: Index Error in /hooks.php#109
see web log attached.

3. OC Log Error functions

[2016-01-27 08:40] Georg-Git commented on #1127
Addendum:
I can reproduce OC Log Index Error in /hooks.php#109 also with adding a new contact directly in OC Contact App. So this error is not related to android or DAVDroid.

But different to the initial bugreport of tomcatcw I have no errors inside of my contact data: in OC contact app I could add a new contact, store it, edit it again and changes of data were stored in OC correctly.

In my case

[2016-01-27 08:45] gvde commented on #1127
It's extremely helpful if people posted only related log messages and not completely unrelated ones... It makes things so much easier...

Try PR #1134

[2016-01-27 08:48] gvde commented on #1121
Duplicate of #1127
PR available

[2016-01-27 10:25] grunsch commented on #1121
Unfortunately this problem is not reproducable any more on my side. So I can't give any further informations, but I had this behavior in the past some times.

Am 27. Januar 2016 09:48:30 MEZ, schrieb Gerald Vogt <notifications@github.com>:

[2016-01-27 10:28] grunsch commented on #1121
@RealRancor Unfortunately this problem is not reproducable any more on my side. So I can't give any further informations, but I had this behavior in the past some times. 

Am 24. Januar 2016 00:54:00 MEZ, schrieb RealRancor <notifications@github.com>:

[2016-01-27 10:30] gvde commented on #1121
The error always appears if you create a new contact. That should still be reproducible unless you apply the PR.

[2016-01-27 12:56] Georg-Git commented on #1127
@gvde: Yes - that is exactly my point of view!!

It could be so easy, because we are talking only about 0 and 1, only black and white - and we are talking here not about the grey shadowed real world.

I would like to reduce this complicated things even furthermore:
0 and 1 meaning false and true.

But I do not want to accept false any more!
Lets reduce this complicated world to the true state!

So

[2016-01-27 13:22] gvde commented on #1127
That's a different issue and has nothing to do with the subject of this issue. Please open a new issue for that. And don't forget to try all open and closed pull requests regardings those semicolons or FN/N properties. There are still some open pull requests and some are merge but not yet released...

[2016-01-27 14:46] Georg-Git commented on #1127
@tomcatcw: please take over.
I am not interested in any gui problems of the old contact app.

I am desperately waiting for the new contact app, coming in March 2016, hopefully ...
 ;-)

[2016-01-27 14:53] Georg-Git commented on #1127
FN and N Problem is here:
https://github.com/owncloud/contacts/issues/1059

[2016-01-27 17:36] RealRancor commented on #1133
From my PoV a dup of https://github.com/owncloud/contacts/issues/582 and https://github.com/owncloud/contacts/issues/1039

[2016-01-29 10:31] sokai commented on #1127
FYI: I noticed that error message today, too. :-/

**Steps:**
* Created a new abook (GUI).
* Created a new contact with TB (38.5.1, SOGo Connector 31.0.2) produced the error message
[code]
* **But:** the new contact was created successfully.

**Info:**
Creating new contacts with GUI  and sync in TB also works without error message.
Error message appears if I **create** a new contact **or move** (f

[2016-01-29 10:35] gvde commented on #1127
@sokai Apply the fix and it's gone...

[2016-01-29 11:01] Georg-Git commented on #1127
And before applying the fix please download first this version of contact:
[https://github.com/owncloud/contacts/tree/stable8.2]

Due to the missing maintainer of this old contact app, the version number is not changed after the last merge, but the last merged PR is very important!

After loosing to much data of my contacts when syncing with sogo I change and want to recommend this new add in for

[2016-01-29 16:22] oliwel opened #1137 "Sync with cardDAV@Android 5.1 does not get all contacts / updates"
### Steps to reproduce
1. Have >100 contacts in your addressboox
2. Install cardDAV on Android
3. Try to sync

### Expected behaviour
Fetch all contacts and updates

### Actual behaviour
With the default cardDAV timeout of 120 seconds I received only 80 contacts, after raising the timeout to 1200! I now received 188 contacts out of 215 after resyncing multiple times. If I change a contact, I dont

[2016-01-29 22:31] Happyfeet01 commented on #939
I have this issue also.
I have create an Calendar with the name "Persönlich". The CALDAV URL showing /remote.php/caldav/calendars/Lars/pers%C3%B6nlich

When I open the Caldav URL at the Browser, I get this info "There was no handler found for this "GET" method"

And the ownCloud log says:

Sicherheits- & Einrichtungswarnungen

All checks passed.
Teilen
Anwendungen erlauben, die Share-API zu benutz

[2016-01-29 23:04] Happyfeet01 commented on #939
I have the same issue. I create an Calendar with the name: "Persönlich".
With this URL:
https://Domain.tld/remote.php/caldav/calendars/Lars/pers%C3%B6nlich

When I open this URL in an Browser, I have this message.

"There was no handler found for this "GET" method"

The ownCloud Log says this error:

Fatal	caldav	Exception: {"Message":"HTTP\/1.1 501 There was no handler found for this \"GET\" meth

[2016-01-30 00:02] RealRancor commented on #939
@Happyfeet01 There is no issue here. The message about GET is the expected behavior there.

Please ask for support at the forums.

[2016-02-01 15:27] #1127 closed

[2016-02-01 15:28] DeepDiver1975 commented on #1127
prs fixing this have been merged

[2016-02-05 11:37] majki09 commented on #785
I've had the same issue with my polish names. The Notepad++ detected UCS-2 Little Endian of google's file. However the conversion to UTF-8 with Notepad++ helps and everything's seems to be fine with names.
Could the conversion be done "over the air"?

[2016-02-05 15:35] meduz commented on #1058
+1

the workaround using an .htaccess file does not help.

I guess the only way is to complain to apple... is there any guideline as to how to do that?

[2016-02-05 15:36] LukasReschke commented on #1058
There is radar which some people claim redirects to /dev/null: https://bugreport.apple.com/

[2016-02-05 15:45] gvde commented on #1058
@meduz .htaccess does work if done properly and if applicable...

[2016-02-05 15:50] meduz commented on #1058
@gvde I used the .htaccess from the documentation and get the following answer:

[code]
which looks like the answer I'll expect to make the redirection (my webserver sits on a QNAP NAS).

[2016-02-05 16:05] gvde commented on #1058
@meduz What do you get on https://myserver/owncloud/remote.php/carddav? If your owncloud server is there then you should be able to get it working with OS X...

[2016-02-05 16:09] RealRancor commented on #1058
@meduz

This doesn't look correct.

[2016-02-05 16:13] gvde commented on #1058
@RealRancor No. That's correct. QNAP proxies requests to the backend server at port 8081...

[2016-02-05 16:14] meduz commented on #1058
@RealRancor: in fact I redacted my server's name, but the port is really 8081, sorry for the possible confusion
@gvde: following the URL you give (https://myserver:8081/owncloud/remote.php/carddav), I enter my credentials and I get "<d:error><s:sabredav-version>2.1.7</s:sabredav-version><s:exception>Sabre\DAV\Exception\NotImplemented</s:exception><s:message>There was no handler found for this "GET

[2016-02-05 16:16] gvde commented on #1058
@meduz So it's working correctly. I don't know if OS X handles the port number with automatic configuration. Maybe it always tries port 80 or 443 and if doesn't find the .well-known there it won't work.

[2016-02-06 10:22] riotweb opened #1138 "Feature request: Pagnation and Search for contacts"
Hi !
I think it will be helpful to have a search form for contacts and pagnation coz long loading time with big addressbook. :)

[2016-02-06 13:39] RealRancor commented on #1009
@srt10coupe As you can see this is a duplicate you can close this issue on your own by hitting the "close" button below the comment field. There is no need to keep this open.

[2016-02-06 13:43] RealRancor commented on #1138
@riotweb Search is already planned to be brought back: https://github.com/owncloud/contacts/pull/966 where you can find a lot of duplicates linked in its title.

Pagnation is a duplicate of https://github.com/owncloud/contacts/issues/1133, https://github.com/owncloud/contacts/issues/582, https://github.com/owncloud/contacts/issues/1039

So i think that one can be closed to avoid having multiple is

[2016-02-06 16:47] cwr10010 commented on #1125
Got that too and the above suggestion is a quick shot that does not help but break the flow handling (rawLine will not be initialized) Any help appreciated!

[2016-02-08 20:05] pierreozoux opened #1139 "mobileconfig profile for iOS devices"
As an iOS user, I'd like to go to my oC UI, and click a link to configure contact synchronization on my device.

Do you plan to implement such a link in oC?
You can find one example in [mailinabox](https://mailinabox.email/).

Here is a file that is working:
[code]

[2016-02-08 20:15] kwoxer opened #1140 "New address books not able to change name and do not belong to the main account"
Latest owncloud 8.2.
Latest Ngnix and fpm-php

My issue is that I'm not able to change the settings of new created addresse books.

I'm using the Calendar addon of owncloud. It works nice as I have just one address book. But I tried to create a new book, which also worked. But after that changing the name is not working. I also mentioned that I'm not able to change to name of the main address book

[2016-02-09 22:34] tflidd opened #1141 "Contacts error when opening the calendar"
I get a strange error when opening the calendar app:
[code]
I was sent here to find the problematic contact:
https://github.com/owncloud/calendar/issues/1031

Why does this error show up in the calendar app? I don't see any error when I use the contacts-app.

[2016-02-10 06:44] gvde commented on #1141
Please use the template from the contribution guidelines...

[2016-02-10 08:06] tflidd commented on #1141
I updated my initial post.

[2016-02-10 08:15] M0ses commented on #1125
looks like the same problem here

[code]

This appears in the access log:

[code]
might have to do something with the data sets in my addressbook. other accounts can syncronize contacts (but missing shared calender). Exporting addressbook and reimporting did not help.

[2016-02-10 08:18] gvde commented on #1141
Duplicate of #1095

[2016-02-10 08:49] tflidd commented on #1141
Ok, I found the culprit:
[code]
The lastmodified-lined suggest that this is an old entry (1343676928->July 2012) and I haven't seen this error before.

Why is this feature ignored? Or if it isn't/can't be used, why is this entry in the database?

[2016-02-10 09:04] gvde commented on #1141
This is an sogo extension. It's not in any rfc. It's not a feature.

Older versions didn't fully check RFC compliance and that way it got into the database (which is why it works at all with any carddav server & sogo).

[2016-02-10 09:16] tflidd commented on #1141
And why did it show up in the calendar app?

[2016-02-10 09:45] gvde commented on #1141
It's a message from the contacts app. You don't post your Apache logs but somewhere you access contacts, or maybe birthdays...

[2016-02-10 15:38] DeepDiver1975 opened #17 "Propfind props for groups"
![bildschirmfoto von 2016-02-10 16-36-08](https://cloud.githubusercontent.com/assets/1005065/12951852/a28c008c-d014-11e5-926b-584bf044082f.png)

[2016-02-10 16:07] #17 closed, assigned to nobody

[2016-02-10 17:22] #5 closed, assigned to nobody

[2016-02-10 18:53] cwr10010 commented on #1125
For me it worked to disconnect and reconnect Calendar.app to the account. Btw I have shared calendars, but no shared addressbooks.

[2016-02-11 11:02] M0ses commented on #1125
Sorry for bothering you (but at least my Problem is now documented for others :-) )

Finally I found out, where the Problem was. Some of my addressbook entries had URL in the UID field, which completly broke sync with davdroid. I exported to VCF, cleaned the broken entries and reimported. Now it works.

[2016-02-12 12:16] jancborchardt opened #24 "Show first contact by default"
The content-detail view should always display a contact. On start, simply the first one in the list.

[2016-02-12 12:17] jancborchardt opened #25 "Show favorite contacts first in list"
Instead of having a separate group/section for favorite contacts, they should always be shown first in the list.

In the future we can even sort them by frequency of contact through the Mail app. ;)

[2016-02-12 12:49] jancborchardt opened #26 "Whole row should be clickable"
Instead of only the name / first line, the whole `app-content-list-item` row should be clickable to open the contact.

[2016-02-12 13:40] babelouest commented on #785
As I mentioned earlier, the conversion to UTF8 is made `over the air` by the import process, but the conversion is not full: https://github.com/fruux/sabre-vobject/wiki/Sabre-VObject-StringUtil

Maybe this will help: http://php.net/manual/function.mb-convert-encoding.php

I will make a pull request asap

[2016-02-12 15:28] #26 closed, assigned to DeepDiver1975

[2016-02-16 10:02] timreeves commented on #582
A client of mine tried uploading 2400 contacts to OC  - gulp...

So I took the current version of the contacts app from GIT and whacked it in - some good fixes in it - so hopefully his Sync will work better now. But the GUI, oh dear - we all know the problem. I have added the fix for not displaying the avatars, but it's not enough. The major browsers run out of resources trying to display the page

[2016-02-16 10:06] tilllt commented on #582
This running out of resources already happens with my 650 or so contacts. Firefox complains about an unresponsive script. Chrome load it fine though.

[2016-02-16 11:14] jancborchardt commented on #582
Folks – we are working on the Contacts rework for 9.0: https://github.com/owncloud/contactsrework

@timreeves @tilllt and anyone here asking for it – you can easily help in several ways:

- test everything and open issues!
- have a look at issues and contribute (or ask developer friends to help): https://github.com/owncloud/contactsrework/issues
- review pull requests https://github.com/owncloud/c

[2016-02-16 12:12] tilllt commented on #582
I guess the issue is irritating since it was newly introduced in one of the 8.x updates, before it didn't happen.

[2016-02-16 13:54] jancborchardt commented on #582
In any case, there are no resources to work on the old Contacts app. So please help us in making the rework nice.

[2016-02-17 20:37] jancborchardt opened #34 "Test the new Contacts app and contribute!"
We are working on the Contacts rework for 9.0: https://github.com/owncloud/contactsrework
The CardDAV syncing was moved into core, and this is the repo for the new Contacts app frontend.

I’m using this issue to cc everyone who worked on Contacts in the past:
@babelouest, @jbtbnl, @ockham, @derkostka, @jakobsack, @schuemann, @tribut, @mroi, @lupusmeatus, @BernhardPosselt, @AdamWill, @LEDfan, @vgez

[2016-02-17 21:11] jancborchardt opened #36 "Mobile styles"
We need to copy over the mobile styles from the Mail app so contacts properly works on small screens.

[2016-02-17 21:13] derkostka opened #37 "Cannot log-in after enabling the App"
Maybe something is missing, but i cannot get into my owncloud after enabling the contactsrework.

a) Do i have to disable the "deprecated" contacts app ?
b) Do i need to rename this new app to "contacts" ?

Log is:
{"reqId":"4vhxURWv5wF2+UtkmEqB","remoteAddr":"192.168.6.1","app":"index","message":"Exception: {\"Exception\":\"RuntimeException\",\"Message\":\"image not found: image:app.svg webroot:

[2016-02-17 21:13] jancborchardt opened #38 "Highlight currently open contact in list (also groups in sidebar)"
The currently open contact should get a class `active` added to its `app-content-list-item` in the list of people for proper highlighting.

[2016-02-17 22:03] #37 closed, assigned to nobody

[2016-02-18 10:05] 2edff206 opened #1142 "Pictures not syncing for every contacts"
### Steps to reproduce
1. On your android 5 phone, sync your contacts to your owncloud account.
(i am using an app called Easydavfurandroid to create an owncloud contact account on my phone)

### Expected behaviour
Every contacts should sync with all their details

### Actual behaviour
All my contacts are synced to my server but only a few of them have their pictures. For the rest of them, only th

[2016-02-18 10:16] fcturner commented on #1125
Got that too and the above suggestion is a quick shot that does not help but break the flow handling (rawLine will not be initialized) Any help appreciated!

Well, I thought that it *shouldn't* be initialized, since the error only happens when `$rawLine` is false:
[code]
But you're right, my suggestion only keeps the log clean :)
From this code and the code I posted earlier, one must ask himself w

[2016-02-18 10:20] gvde commented on #1142
You have to apply the other open pull requests as well. Your cards probably use 4.0 vcards with uri photos...

[2016-02-18 10:22] 2edff206 commented on #1142
Could you please tell me which one are you referring to ? I don't want to install wrong things. Thanks

[2016-02-18 10:26] gvde commented on #1142
There are two open pull requests regarding photos. The older one may already be in your current version, the newest one has not been merged, yet...

[2016-02-18 10:28] 2edff206 commented on #1142
Sorry to bother you but are you talking about this ? https://github.com/owncloud/contacts/pull/1112
I am new to github and I don't clearly understand what is what.

Thanks a lot for your help

[2016-02-18 10:43] gvde commented on #1142
Look at https://github.com/owncloud/contacts/pulls and you'll see all open pull requests. There are two related to photos...

[2016-02-18 10:47] 2edff206 commented on #1142
I have applied https://github.com/owncloud/contacts/pull/1112 https://github.com/owncloud/contacts/pull/1066 and https://github.com/owncloud/contacts/pull/1067 and it still doesn't work. Am I doing something wrong?

[2016-02-18 11:47] nickvergessen opened #41 "Do not use .well-known/carddav url"
For me there is a 404 request to the .well-known/carddav url in the network log:
`http://localhost/.well-known/carddav`

[2016-02-18 12:23] gvde commented on #1142
Did you sync your cards again? Without the patch the cards in the owncloud database are broken and nothing will fix those. Clear the address book and sync working cards into owncloud...

Otherwise you will have to post those broken cards from the database to see what's going on...

[2016-02-18 13:18] 2edff206 commented on #1142
I deleted them all and I synced them again. Can you tell me which data do you want? And maybe the mysql query to get it ? thanks

[2016-02-18 13:22] gvde commented on #1142
First do
`select id,fullname from oc_contacts_cards;`
and find the id of a card which is broken. Then do
`select carddata from oc_contacts_cards where id = <id>;`
to get the card in the database.

[2016-02-18 13:29] 2edff206 commented on #1142
For a broken card the data is :
`| BEGIN:VCARD
VERSION:3.0
UID:bb45de93-209c-4088-9002-7470e473167a
FN:(REMOVED FULL NAME)
N:(REMOVED LAST NAME);(REMOVED NAME);;;
TEL;TYPE=cell:(REMOVEC NUMBER)
PRODID:-//ownCloud//NONSGML Contacts 0.5.0.0//EN
REV:2016-02-18T10:58:53+00:00
END:VCARD
 |`

And for a valid one it is :

`| BEGIN:VCARD
VERSION:3.0
UID:22559b4e-499e-47de-92ee-8ec913717f4d
FN:(REMOVED FUL

[2016-02-18 13:53] gvde commented on #1142
The first card doesn't have a photo. It's not broken. It's missing.

Are you sure the original has a photo? Can you export the original card with photo from your Android device?

[2016-02-18 16:14] jancborchardt opened #45 "URL design"
- for a contact open in »All« (or a contact with no group): #/contact-id
- when a group is open without any specific contact you clicked (meaning the first is loaded): #/group-id
- for when a group and contact is open: #/group-id/contact-id

We need to make sure the highlights are correctly set then too: https://github.com/owncloud/contactsrework/issues/38

[2016-02-18 17:34] 2edff206 commented on #1142
Hello, I checked on my phone, every contact with missing picture is using the picture from Whatsapp. So I think that owncloud does not sync pictures if they are from Whatsapp.
Is it the expected behaviour or is it a bug ?

[2016-02-18 17:52] gvde commented on #1142
Noone can tell without seeing the card from your phone. Again: export the original card from your phone and post it. Without the original card it's impossible to tell what is originally synced into owncloud.

Also all logs would be extremely helpful from when you sync it into owncloud.

Does Andoird "link" social media accounts with contacts? If that's the case the original card may not even have

[2016-02-18 18:03] 2edff206 commented on #1142
Yes I was looking at it right now and the behaviour of my phone is quite strange. When I export the card from it there is indeed no picture for theses contacts, so the issue is not about owncloud. Sorry to have wasted your time...

But it would be great if there was some way to sync the picture linked to the contact to owncloud if someone could implement that :)

[2016-02-18 18:27] gvde commented on #1142
You still don't post one of those original cards, thus it's hard to say anything. I doubt there is anything the contacts app in owncloud could implement. If it's really a "linked" account on your Android than your android must take the picture from the linked account and copy it into the card before syncing. Owncloud doesn't have access to your whatsapp account nor can it influence what it receive

[2016-02-18 18:48] 2edff206 commented on #1142
Here is the original card for a contact without picture in owncloud:

`BEGIN:VCARD
VERSION:2.1
N:LASTNAME;NAME;;;
FN:NUMBER
TEL;CELL;PREF:+NUMBER
END:VCARD`

There is no picture. But on the contact app of my phone I can see a picture for this contact because I synced the pictures from Facebook with an app called Sync.me. Do you know any app that can copy the linked picture to the card?

[2016-02-18 19:00] gvde commented on #1142
Sorry but I don't know Android...

[2016-02-18 19:36] 2edff206 commented on #1142
Thanks again for your help. Have a great night

[2016-02-19 00:45] enoch85 opened #47 "Can you release Alpha/Beta versions?"
I wonder if you could release Alpha/Beta versions so that I can integrate them in the [same way I do with the calendar app](https://github.com/enoch85/ownCloud-VM/blob/master/beta/owncloud_install.sh#L267-L281) on the VMs.

This is useful for testing purposes.

[2016-02-19 16:20] irgendwie opened #48 "Contacts not showing up after refresh"
_How to reproduce:_
- Click 'Add contact'
- Refresh the page

_Expected Result:_
- Contact showing up

_Actual Result:_
- Not a single contact showing up

---

The PROPFIND request returns the correct list of contacts,
but it seems like they are not handled and shown afterwards.

[2016-02-19 16:55] #41 closed, assigned to DeepDiver1975

[2016-02-19 20:56] aspdye opened #49 "Integrate Search"

[2016-02-23 16:23] jcharaoui commented on #839
I'm seeing the same problem, using ownCloud 8.2.2 and Contacts 0.5.0

[2016-02-24 15:52] jancborchardt opened #52 "Add custom favicon"
Note to self, we should have a nice custom favicon with the app icon (including .ico file cause otherwise it will not show up).

[2016-02-24 18:16] tomneedham opened #54 "Addressbook share icon doesnt show in Firefox or safari"
Hover over an addressbook in firefox of safari and the sharing icon does not appear. Similar issue appeared in Calendar-rework so need to look at how it got fixed. I had a suspicion that it was related to adblockers removing it - not sure if there is any merit in this

[2016-02-24 20:12] jancborchardt commented on #54
- [ ] clicking on the share icon should not only show the share box, but also focus it with the cursor
- [ ] the suggestion dropdown should overlay the content below, not move the whole thing up like now
- [ ] remove the dash behind the name in the list

[2016-02-25 18:07] #52 closed, assigned to nobody

[2016-02-25 21:05] #4 closed, assigned to nobody

[2016-02-25 21:13] jancborchardt opened #58 "Adding new contact should open that contact and insert it first in the list"
Currenty a Contact »Max Mustermann« is just inserted in the middle of the list.

Instead, this should happen:
- [x] insert a contact »New contact« first item in the list of contacts
- [x] automatically open up that contact with focus on the Name field (I’m adding a placeholder text in a design PR)

[2016-02-25 21:14] jancborchardt opened #59 "Deleting a contact should close the detail view of that contact"
Currently that stays open, which is kind of weird.

The contact gets deleted in the list, so the detail view of the next contact (lower down) should then be opened. When it was the last contact, the next one up.

[2016-02-25 21:15] #38 closed, assigned to DeepDiver1975

[2016-02-26 14:43] aspdye opened #1143 "Moving repository / rename of rework-repository"
I think we should:

- [x] Move this Repository to the "ownCloud Archive" organization.
- [x] Rename the "contactsrework"-repository to "contacts"

cc @DeepDiver1975

Same will be done for calendar and calendar-rework soon: https://github.com/owncloud/calendar/issues/1037

[2016-02-27 22:56] aspdye opened #63 "README.md - Redesign"
Hi there,

I think we should redesign the README.md of the contacts app as @georgehrke described for calendar-rework in https://github.com/owncloud/calendar-rework/issues/159 ;)

I have already done this task for the ownCloud core's README.md and I am planning to do this for contacts in the next days ;)

It will be based on my guidelines i published here: https://github.com/owncloud/core/wiki/READ

[2016-02-29 10:54] rrustema commented on #1058
Still looking for an alternative for iCloud from Apple for CardDAV en CalDAV, using at least one machine with El Capitan. Do I understand this thread correctly if I say that there is still a defect in El Capitan (OS X 10.11.3) that prevents ownCloud to work without a workaround as described above?

[2016-02-29 11:00] mroi commented on #1058
That is correct.
However, 10.11.4 should not be that far away.
I am running the beta build, but the NDA prevents me from disclosing details.
I’m just saying 10.11.4 should not be that far away.

[2016-02-29 11:00] anybodesign commented on #1058
@rrustema exactly :( and also, this workaround only works for existing accounts, absolutly not for newly created ones... let's hope 10.11.4 will fix it.

[2016-02-29 11:03] gvde commented on #1058
Not quite. It depends on your set up. If your owncloud installation is in document root, it works (well, technically the work around works out of the box then).

If it's in a sub directory of document root, you'll need to implement the workaround until OSX allows you to make the necessary configuration without crashing accountd.

So if it's https://owncloud.example.com/ it should work with Apache.

[2016-02-29 11:04] DeepDiver1975 opened #66 "Navigating to a non existing group leads to error in browser console"

[2016-02-29 11:08] anybodesign commented on #1058
my owncloud install is in document root... so I guess I did it wrong, because it doesn't work at all :(
I tried all the rewrite rules with my hoster with no success

[2016-02-29 11:09] gvde commented on #1058
@anybodesign I removed and reconfigured the owncloud contacts account several time with the workaround in place and it works. Can't tell why it doesn't work for you but it's not an "absolutely not"...

[2016-02-29 11:12] gvde commented on #1058
It always depends on where https://owncloud.example.com/.well-known/carddav redirects to. If the redirect is good it should work...

[2016-02-29 11:12] anybodesign commented on #1058
ok my mistake then :)
I read some tread on the Apple forums about similar issues with new accounts.

[2016-02-29 11:16] anybodesign commented on #1058
this redirects to : https://owncloud.example.com/remote.php/carddav/
whereas I usually use :  https://owncloud.example.com/remote.php/carddav/principals/my_login/

[2016-02-29 11:23] rrustema commented on #1058
I also asked in the forum of Apple, might give news about Apple's position. https://discussions.apple.com/message/29854469#29854469

[2016-02-29 11:36] gvde commented on #1058
@anybodesign the redirect is correct. OS X will create the principal URI from there. You should check the logs to see what is accessed after the well-known URI. For me, if I use the correct user name it works fine...

@rrustema the problem is definitely an Apple bug. Look into Console on you Mac and you'll see crashes of accountd logged whenever you enter the necessary custom/advanced configuratio

[2016-02-29 12:00] #66 closed, assigned to DeepDiver1975

[2016-02-29 12:23] DeepDiver1975 commented on #1143
As discussed with @karlitschek - we will walk this path .... will execute this today ...

[2016-02-29 12:30] #1020 closed

[2016-02-29 14:04] #1143 closed

[2016-02-29 14:05] jancborchardt commented on #48
And that addressbook selector should only show up when there are more than 1 addressbooks, of course. :)

[2016-02-29 17:30] ghost commented on #63
Re-post from: https://github.com/owncloud/calendar/issues/1037#issuecomment-190285228

-> Make sure that the README.md contains the info that this is the repository of the new calendar app and that:
- issues within the CardDAV backend code should reported to core
- issues within the old contacts app shouldn't reported here

[2016-02-29 19:41] Henni commented on #24
fixed by #64

[2016-03-01 08:15] DeepDiver1975 opened #70 "remove emtpy group"
as soon as the last contacts is deleted from one group we should remove the group from the group list

[2016-03-01 08:15] #59 closed, assigned to DeepDiver1975

[2016-03-01 14:49] jancborchardt opened #72 "»No contacts« placeholder should not show until everything is loaded"
Currently the »No contacts« placeholder shows first, which is quite confusing and leads one to think of data loss. Instead we should display a spinner for feedback. Only when there really is no contact, show that message.

[2016-03-01 14:51] jancborchardt opened #73 "Adding new field which already exists results in existing field being emptied"
Instead of the field being emptied, there are 2 cases:
- If the field can only exist once (like »Organization« or »Nickname« or »Notes«) the entry should be removed from the »Add new field« dropdown as soon as the field already exists
- If there can be multiple fields (like telephone, address, email), there should of course be another one added.

Not sure how much of this is possible til release,

[2016-03-01 14:53] DeepDiver1975 commented on #73
known ... working on it

[2016-03-02 08:41] #58 closed, assigned to nobody

[2016-03-02 13:44] #73 closed, assigned to DeepDiver1975

[2016-03-02 14:42] irgendwie opened #84 "Empty fields don't get removed"
When creating additional fields (nickname, categories, etc.),
empty ones don't get deleted.
Whenever an additional field is empty,
the property should be removed.

Multiple fields introduced by #82
@DeepDiver1975

[2016-03-02 14:42] jancborchardt opened #85 "Remove colons (:) after field labels"
Because they are not necessary.

[2016-03-02 14:44] jancborchardt opened #86 "detailsitems need class of type of field so they can be identified"
For styling the address fields for example, I need the `detailsitem` elements to have a class. For example for the address detailsitem, give it a class="address" or whatnot. Otherwise I can’t specifically style it. cc @Henni @DeepDiver1975

[2016-03-02 14:59] jancborchardt commented on #86
Aaaah ok, I can do this myself apparently? Just found the detailItems folder. :)

[2016-03-02 14:59] jancborchardt commented on #85
I’ll do this myself now that I found the detailItems folder. ;)

[2016-03-02 15:13] jancborchardt commented on #86
Actually I can’t add the classes since they should be on the detailItems container wrapped around. Can you help me there @DeepDiver1975 @Henni

[2016-03-02 15:24] Henni commented on #86
@jancborchardt I'll take a look

[2016-03-02 15:32] jancborchardt opened #89 "Creation of multiple fields for Organization and Nickname possible"
This should not be possible, right? Fields like organization and nickname should only exist once I assume?

[2016-03-02 15:35] jancborchardt commented on #85
Fix at https://github.com/owncloud/contacts/pull/90

[2016-03-02 15:36] jancborchardt commented on #86
It’s not that important anymore btw since I found that just wrapping a div around the label+input groups will take care of the layout already. :)

[2016-03-02 15:53] DeepDiver1975 commented on #89
sure - on it

[2016-03-02 16:15] Henni commented on #89
@DeepDiver1975 do you have an approach where we can store this in the `vCardMeta` object?

[2016-03-02 16:30] DeepDiver1975 commented on #89
yep - https://github.com/owncloud/contacts/pull/92

[2016-03-02 21:19] enoch85 commented on #47
I saw the release, but could you please draft a release as well? What I would want is to be able to do [this](https://github.com/enoch85/ownCloud-VM/blob/master/beta/owncloud_install.sh#L269-L283). Thanks!

[2016-03-02 22:02] DeepDiver1975 commented on #47
Hopefully this will happen tomorrow

[2016-03-03 11:48] #89 closed, assigned to DeepDiver1975

[2016-03-03 12:51] jancborchardt opened #97 "Rename »URL« to »Website«"
URL is much too technical, it should be called »Website«.

[2016-03-03 12:52] jancborchardt opened #98 "After adding a field, the »Add field« select should switch back to »Add field«"
Currently the select label stays at the field which was last added, which is a bit confusing. Should switch back to the default »Add field« state.

[2016-03-03 12:55] jancborchardt opened #99 "Also add select for Email, Website and IM?"
They should also have the Private / Work etc dropdown, no?

[2016-03-03 12:56] jancborchardt opened #100 "Default select state (Home, Work, etc) when adding new address or phone number"
Currently it’s an empty select, which looks really weird. And can it even be empty?

It should be the first entry (Private) by default. If one already exists with private, use the next one (Work). And so on. This is how Android does it as well.

[2016-03-03 13:03] #85 closed, assigned to jancborchardt

[2016-03-03 13:04] jancborchardt commented on #24
@Henni doesn’t work on initial load or refresh yet. Related: https://github.com/owncloud/contacts/issues/72

[2016-03-03 13:16] DeepDiver1975 commented on #99
im : https://tools.ietf.org/html/rfc6350#section-6.4.3
email: https://tools.ietf.org/html/rfc6350#section-6.4.2
url: should have as well

[2016-03-03 13:53] jancborchardt opened #103 "Make Organization and Title a group"
Similar to the address fields, the fields for »Organization« and »Title« belong together and should be made a group. Title should always appear below the Organization field. That’s also how Android and others do it.

Visually, we could then also add some whitespace above and below that group similarly to how we do with the address.

[2016-03-03 15:03] #97 closed, assigned to DeepDiver1975

[2016-03-03 15:04] DeepDiver1975 commented on #98
hmm - doesn't work any more ...

[2016-03-03 15:40] schiessle opened #106 "Allow user to add federated cloud id to contact"
I just tried the new contacts app and first let me say that it looks already really good! :-)

The old contacts app allowed the user to add th federated cloud ID to a contact.

The cloud id was stored this way in the vcard:

[code]

It supported the same types as the email field so that a user could have multiple federated cloud IDs, e.g one personal ID and one work ID.

The share dialog also sear

[2016-03-03 15:59] #100 closed, assigned to nobody

[2016-03-03 16:04] #98 closed, assigned to DeepDiver1975

[2016-03-03 16:04] #86 closed, assigned to jancborchardt

[2016-03-03 16:14] DeepDiver1975 commented on #48
@irgendwie this should be fixed afaik

[2016-03-03 16:17] irgendwie commented on #48
Is fixed, still - always fill in a name! :blush:

[2016-03-03 16:17] #48 closed, assigned to nobody

[2016-03-03 16:29] irgendwie commented on #84
Fixed by unknown commit! :blush:

[2016-03-03 16:29] #84 closed, assigned to DeepDiver1975

[2016-03-03 16:42] ngrundmann commented on #1058
I asked my supporter from Apple again about the status of my ticket because I didn't received a reply on my last email. He told me that he'll ask the development team and will send me the answer. Let's hope this will happen before 10.12 is released. I keep you guys informed when I have an answer

[2016-03-03 16:43] tomneedham commented on #103
@DeepDiver1975, been trying to crack this one. Tried adding a template for 'organisation' type which included the title field but they then share the same ng-model.

Second attempt I tried adding a check when 'org' is selected and also adding the 'title' field. Now need to filter out title from the add field selector.

Also... what is `role` when there is `title` as well? Is title meaning 'Mr' or

[2016-03-03 16:44] DeepDiver1975 commented on #103
https://tools.ietf.org/html/rfc6350#section-6.6.1

[2016-03-03 16:44] DeepDiver1975 commented on #103
@tomneedham I have no clue on how to handle this - TBH

[2016-03-03 16:47] anybodesign commented on #1058
@ngrundmann thanks !
@gvde thanks for your help, but unfortunatly it does not work for me... Still impossible to create an account (and my login infos are correct, it works with another contact app)

[2016-03-03 16:56] gvde commented on #1058
@anybodesign As I wrote before: check the logs. If you don't post the logs it's impossible to tell...

[2016-03-03 16:57] DeepDiver1975 commented on #47
@enoch85 I just pushed a new tag https://github.com/owncloud/contacts/releases/tag/v0.0.0.3

travis will soo build the tar and place it in there - feel free to grab it and have fun - THX a lot!

[2016-03-03 17:11] anybodesign commented on #1058
@gvde ok I'll try to get the logs from my hoster !

[2016-03-03 17:40] enoch85 commented on #47
@DeepDiver1975 I can only find the source code, no built packages?

[2016-03-03 17:43] LukasReschke opened #110 "Consider signing the application"
You might want to consider signing the application when uploading to the appstore. Uploaded release balls on GitHub can everybody modify :see_no_evil: :speak_no_evil: :hear_no_evil:

It would be an additional step before TAR'ing, see https://doc.owncloud.org/server/9.0/developer_manual/app/code_signing.html#how-to-get-your-app-signed on how to request a certificate.

[2016-03-03 18:04] Henni commented on #110
@DeepDiver can we automate this with Travis?

[2016-03-03 18:24] jancborchardt commented on #103
@DeepDiver1975 seeing as there is even more confusion about the »Role« field I now would vote »yes« for that we do not show it at all. ;) As long as it’s preserved in the backend that’s fine.

[2016-03-03 18:24] #1138 closed

[2016-03-03 23:09] enoch85 commented on #47
@DeepDiver1975 Ok, turns out the VM is already running the latest as it pulls from master and you changed name of the repo. So contacts are in the latest VM. I will do some adjustments and release a new version soon. Please retweet when I do. Thanks for your great work!

[2016-03-03 23:09] #47 closed, assigned to DeepDiver1975

[2016-03-03 23:11] enoch85 opened #111 "Import / Export of contacts"
This was in the previous version. What happened to that? Very useful and user friendly.

[2016-03-03 23:17] Henni commented on #111
Definitely planned! Maybe it'll make it into 1.0, otherwise it will be implemented shortly after.

[2016-03-03 23:20] enoch85 commented on #111
@Henni What's your nick on IRC?

[2016-03-04 01:09] jancborchardt opened #112 "Using datepicker causes crash"
Use the datepicker, as soon as you pick a date the JS console spits out something like this:

[code]

(Long error, best test for yourself)

And after that, no fields can be added or deleted until refresh.

[2016-03-04 01:27] jancborchardt opened #113 "Only show url-link arrow element for website when an actual value was put in"
Otherwise it makes no sense to show the linking arrow as it has no function.

[2016-03-04 01:31] jancborchardt opened #114 "Replace labels with icons"
Since we are using placeholders on the fields now and the labels make the whole thing a bit busy I was thinking of replacing them with icons. E.g. marker icon for address, mail icon for email, etc. Most of them already exist so it would be quite simple.

What do you think @Henni @DeepDiver1975?

[2016-03-04 01:36] jancborchardt opened #116 "Only show delete icon on hover of that respective row, or when the corresponding field is focused"
Currently it is very busy due to the icons, and that would help a lot. The icon even showing when the field is focused also ensures it will work with touch devices.

[2016-03-04 01:39] jancborchardt opened #117 "When adding a new contact, insert some detailItems by default"
Currently there’s only an empty view with the name input and you need to add fields by yourself.

Instead, these common fields should be pre-inserted, in that order:
- Phone
- Email
- Address

[2016-03-04 01:47] jancborchardt opened #118 "Order of detail items"
Currently the fields are ordered alphabetically in the dropdown, and by i-have-no-idea in the details view.

The order should be like this in both the details view and dropdown (**bold** items are shown by default):
- Organization & title (should be combined

^ we could put that in the header as well, smaller below the name
- **Phone**
- **Email**
- **Address**
- Instant messaging

^ that’s all th

[2016-03-04 01:50] jancborchardt opened #119 "Favorites"
Will favorites work for 9.0? Will it be a read-only indicator maybe? Or not at all?

Either way, if we don’t finish that, we should hide the star in the contact list and then move the avatar a tad down for visual balance.

[2016-03-04 08:08] DeepDiver1975 commented on #119
let's do that - we need to finish 1.0 by Monday

[2016-03-04 10:16] DeepDiver1975 commented on #114
For sure worth a try

[2016-03-04 10:21] DeepDiver1975 commented on #118
I like this - @tomneedham for #103

[2016-03-04 10:21] DeepDiver1975 commented on #118
I'll take care about the ordering

[2016-03-04 10:24] Henni commented on #118
@DeepDiver1975 my idea would be to create a filter which orders the attributes based on the order in vCardMeta...

[2016-03-04 10:26] DeepDiver1975 commented on #118
no need for a custom filter - orderby can be used

[2016-03-04 10:28] DeepDiver1975 commented on #118
grrr .... can NOT be used

[2016-03-04 10:30] Henni commented on #118
you probably need to write your own filter because props is an object and not an array

[2016-03-04 10:40] Henni opened #122 "Support text based birthdays"
[RFC 6350](https://tools.ietf.org/html/rfc6350#section-6.2.5) allows vCards entries like `BDAY;VALUE=text:circa 1800` which should be supported as well as date birthdays

[2016-03-04 10:47] DeepDiver1975 commented on #118
yes - on it

[2016-03-04 10:47] #112 closed, assigned to DeepDiver1975

[2016-03-04 11:08] #106 closed, assigned to DeepDiver1975

[2016-03-04 11:10] DeepDiver1975 commented on #118
giving up on this one ....

[2016-03-04 11:10] DeepDiver1975 commented on #118
@Henni feel free to take a look :wink:

[2016-03-04 11:16] Henni commented on #118
I'm on it

[2016-03-04 11:19] #113 closed, assigned to DeepDiver1975

[2016-03-04 11:19] #117 closed, assigned to DeepDiver1975

[2016-03-04 11:20] DeepDiver1975 commented on #118
thx

[2016-03-04 11:33] jancborchardt opened #124 "Second line not working anymore"
Previously the second line was automatically populated with a value like the email address. Now this doesn’t happen anymore it seems.

It should show the organization, or if there’s none set for that contact, the phone number – if that’s not set either, the email address.

If neither are set, then show nothing, also as some kind of a hint about that contact having incomplete info. (We could also f

[2016-03-04 11:35] irgendwie opened #125 "Creating new contact and adding additional fields leads to JS error"
- Create a new contact
- Add an additional Mail field

`Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: propData in prop, Duplicate key: object:147, Duplicate value: {"value":[""],"meta":{"type":["HOME"]}}`

Same error occurs for the other pre present fields.

[2016-03-04 11:44] DeepDiver1975 commented on #125
caused by #94

[2016-03-04 11:49] DeepDiver1975 commented on #125
maybe ...

[2016-03-04 11:56] #125 closed, assigned to DeepDiver1975

[2016-03-04 12:36] WaaromZoMoeilijk opened #128 "carddav oc 9.0.0 rc1"
Any plans on adding it? It seems to just sync to www.myserver.com without anything after .com (before it was remote.php/etc/etc) caldav works that way, but i cant specify to which address book it needs to be synced. great app, thanks!

ezra

[2016-03-04 13:11] DeepDiver1975 commented on #128
The app will be published to the appstore soon - ready for use as soon as oc9 will be released

[2016-03-04 13:18] LukasReschke commented on #110
It should work easily using encrypted keys: https://docs.travis-ci.com/user/encryption-keys/

HOWEVER, anybody that can push to the repository can basically get this key back by maliciously editing the .travis.yml file :see_no_evil:

In a perfect world you'd either sign this locally or write a small external web service that takes a secret and does the signing in combination with some audit loggin

[2016-03-04 13:46] #124 closed, assigned to DeepDiver1975

[2016-03-04 14:14] #118 closed, assigned to nobody

[2016-03-04 14:47] enoch85 commented on #47
@DeepDiver1975 @Henni https://twitter.com/techandme_se/status/705619820960620544

[2016-03-04 14:49] enoch85 commented on #128
@ezraholm50 The latest master is in [our VM](https://www.techandme.se/pre-configured-owncloud-installaton/). Or did I forget to tell you ;) :smile:

@DeepDiver1975 So in other words, the address will be the same as before - without any need to change?

[2016-03-04 14:51] enoch85 commented on #34
The Contacts app (master) are now included in the ownCloud beta VM: https://twitter.com/techandme_se/status/705619820960620544

[2016-03-04 15:32] jancborchardt opened #132 "Align first line in row nicely if there’s no content in second line"
When there’s no content in `.app-content-list-item-line-two`, then `.app-content-list-item-line-one` should get the additional class `.no-line-two`. That will make it nicely layouted.

(Creating an issue so we don’t lose track.)

[2016-03-04 15:33] jancborchardt opened #133 "details-item- classes don’t work anymore"
@Henni @irgendwie emergency! This breaks a lot of styles. I only get `details-item-`, but not the actual identifier afterwards.

[2016-03-04 16:42] #133 closed, assigned to nobody

[2016-03-04 16:51] WaaromZoMoeilijk commented on #128
Nice, and how about the carddav options in the testing version? Cause I cant seem to get my contacts to show in the app. Should I specify myserver.com/remote.php/carddav/user/adressbook or something like that? As stated before the caldav only requires the server domain without any extension to the url.
Thanks

[2016-03-04 17:10] jancborchardt opened #137 "Pressing enter in the address book field after putting in a name should create it"
When one entered a name and presses enter, submit should be triggered.

[2016-03-04 17:13] jancborchardt opened #139 "Last address book, should it be deletable?"
Seems like the last address book should not be possible to delete. Contacts without an address book does not make sense, and this could happen mostly by accident.

You should only be able to delete an address book when there are at least two. When there’s a single address book, the delete icon should not be there.

[2016-03-04 17:17] jancborchardt commented on #139
Tried with `ng-if="addressBooks.length > 1"` on the action span, but doesn’t work. :\

[2016-03-04 19:40] habakuk007 opened #140 "Carddav - Adressbook - exception Sabre\DAV\Exception\NotImplemented"
Hello,

if i try to open the carddav-link that is shown by owncloud in the ontacts app I get his error:

[code]

The Url looks like https://example.com/remote.php/carddav/addressbooks/Stefan/kontakte

I use Contacts 0.5.0.0 with ownCloud 8.2.2

Any ideas what is wrong?

Best regards!
    Stefan

[2016-03-04 19:47] habakuk007 commented on #140
If I try the link https://example.com/remote.php/carddav/addressbooks/Stefan/kontakte?export I get this error:

[code]

[2016-03-04 23:03] Henni commented on #140
This contacts app only works with owncloud 9.0, which will be released on Monday.

[2016-03-04 23:03] #140 closed, assigned to nobody

[2016-03-05 06:42] MeCias opened #142 "The possibility to open / import vcf files over the Files app"
Hi,

similar to my [request](https://github.com/owncloud/calendar/issues/263) for the calendar app just that this function was not available in the old contacts app.

Thanks

[2016-03-05 06:52] MeCias opened #143 "Birthdays don't get saved"
Hi,

I am using the last master and try to add some sample contacts at the moment I have just issues to get the birthdays in. If I add the field Birthday and hover over it the mouse changes to an hand but nothing else happens even if I click into the field. If I write a birthday manually in like 01.01.1999 it sticks for the moment but disappears as son the page get refreshed.
What should happen as

[2016-03-05 06:58] MeCias commented on #128
Can't get it to work either.

[2016-03-05 07:07] MeCias opened #144 "Contact images"
Hi,

I can see that there is no functionality for adding contact images like in the old contacts app at the moment and I can not get the synchronisation with cardav to work, so that I can not see if the contact images would get displayed at all.
To add or edit the images over the web interface would be nice , is it planned to implement?

Thanks again

[2016-03-05 09:24] BernhardPosselt opened #145 "When upgrading from older versions to the built in stuff in 9.0, all previous contacts are lost"
Either refuse the upgrade if older installs are present or migrate the old contacts using appinfo/updrade.php

[2016-03-05 11:03] #132 closed, assigned to nobody

[2016-03-05 11:33] Henni commented on #144
This is a planned feature. Hopefully very soon.

[2016-03-05 11:35] Henni commented on #63
@aspdye any update on this?
Would be great to have a prettier README for the 9.0 release on Monday.

[2016-03-05 11:38] Henni commented on #99
fixed by #107

[2016-03-05 11:38] #99 closed, assigned to nobody

[2016-03-05 11:38] aspdye commented on #63
@henni do you have a good screenshot of the contacts-app?

[2016-03-05 11:38] Henni commented on #116
Would be nice for 1.0 but not necessary.

[2016-03-05 11:39] Henni commented on #63
I'll prepare one.

[2016-03-05 11:58] Henni commented on #63
This should be good enough for now:
![image](https://cloud.githubusercontent.com/assets/1267827/13547408/db85f36e-e2d1-11e5-81c0-626b65b88a13.png)

@jancborchardt feel free to contribute on this ;)

[2016-03-05 11:59] aspdye commented on #63
cool ;) put this into the screenshot-repository :wink:

[2016-03-05 12:06] Henni commented on #63
https://github.com/owncloud/screenshots/pull/9

[2016-03-05 12:14] Henni commented on #143
@MeCias which browser do you use?

[2016-03-05 12:17] BernhardPosselt commented on #145
https://github.com/owncloud/core/issues/22883

[2016-03-05 12:17] #145 closed, assigned to nobody

[2016-03-05 12:19] MeCias commented on #143
I am using Firefox 45

EDIT

I tried now as well the Firefox 44.0.2 Desktop and here it is not working eiher on the 44.0.2 mobile I get the input calendar to see. It works on the mobile version in my case. Even if I switch off all addons on the Desktop version of the Firefox I have still no input calendar.

If I put in the right format (1999-01-01) then it seems to work as well.

[2016-03-05 12:50] Henni commented on #143
Seems like Firefox still doesn't support date inputs.

[2016-03-05 13:07] MeCias commented on #143
Yes I see, seems to be a 4 year old feature request that still has not made it into Firefox desktop

https://bugzilla.mozilla.org/show_bug.cgi?id=825294

[2016-03-05 18:49] ghost commented on #140
@habakuk007 Issues with the "old" contacts app should be reported to https://github.com/owncloudarchive/contacts/issues.

However this app is deprecated and unsupported so if there is an issue with the old app its very unlikely that it gets fixed.

[2016-03-05 19:40] DeepDiver1975 commented on #128
We need to show the addessbook URLs somewhere.

[2016-03-05 19:42] DeepDiver1975 commented on #142
Related to create import request #111

[2016-03-05 19:44] #63 closed, assigned to nobody

[2016-03-05 20:52] jancborchardt commented on #63
Yeah, possible enhancements: Add some groups, and add some avatars. :)

[2016-03-05 21:36] Henni commented on #128
Should be easy enough to add them to the addressbooklist

[2016-03-05 21:52] aspdye opened #150 "Short Description"
I think we should replace the short description of the repository, which is currently

with:

:busts_in_silhouette: Contacts app for ownCloud 9+

like ownCloud Calendar does :wink:

[2016-03-06 00:00] #150 closed, assigned to nobody

[2016-03-06 07:09] aspdye commented on #150
:+1:

[2016-03-06 12:06] tflidd opened #151 "Content-Security-Policy error"
### Steps to reproduce
1. Get recent version from github
2. Activate app
3. load app and check error console
### Expected behaviour

no errors
### Actual behaviour

there are some messages:

[code]

My owncloud is available via https://myhost/oc9, please note that the last log line shows the url `http://oc9/remote.php/...`.

I have some problems with the interface when adding a new address book. I

[2016-03-06 13:23] irgendwie commented on #151
That is a known issue, which will be fixed in the future. It's just a visual thing and shouldn't affect functionality.

To the rest: @DeepDiver1975 @Henni, ideas?

[2016-03-06 23:07] Henni opened #152 "Cleanup"
Issue to remember places that should be cleaned up:
- [ ] addressBookCtrl: remove `addressBook` from parameters
- [ ] addressBookCtrl: bind settings to `ctrl` instead of `addressBook`

more to come

[2016-03-07 00:08] irgendwie opened #155 "Switch from gaye/dav to evert/davclient.js"
No further information for now.

[2016-03-07 14:37] DeepDiver1975 commented on #151
Which browser? Can you verify this in another browser?

@LukasReschke regarding csp - THX

[2016-03-07 14:43] Pastafarianist commented on #785
@babelouest I have just tested it using ownCloud 8.2.2. The error was exactly as before: the original file I had exported from Google contacts produced unreadable characters, but after I converted it to UTF-8 manually ownCloud managed to import it successfully.

[2016-03-07 14:50] Pastafarianist commented on #771
In ownCloud 8.2.2 the filter is disabled entirely.

[2016-03-07 14:50] #771 closed

[2016-03-07 14:51] LukasReschke commented on #151
Will be fixed once we finally move to jQuery 2. This is a false positive in jQuery 1.x that however has no impact except just being there :wink:

[2016-03-07 15:04] DeepDiver1975 commented on #151
THX @LukasReschke

[2016-03-07 15:04] #151 closed, assigned to nobody

[2016-03-07 15:23] DeepDiver1975 commented on #143
Looks like we need to pull in yet another angular module
- https://github.com/g00fy-/angular-datepicker/wiki/Getting-started
- https://material.angularjs.org/latest/demo/datepicker

[2016-03-07 16:04] MeCias commented on #143
The date picker in the new calendar app works with firefox

[2016-03-07 16:12] Henni commented on #143
https://angular-ui.github.io/bootstrap/, which we already include, contains a date widget.

[2016-03-07 20:26] #143 closed, assigned to nobody

[2016-03-07 22:00] jancborchardt opened #159 "Adding a new contact does not switch the highlight in the list to that one"

[2016-03-07 22:01] jancborchardt opened #160 "When a new contact has no details at all filled in yet, it should not be possible to add another one"
Right now you can just add empty contacts endlessly, which makes little sense.

When a new contact has no specific info filled in yet, clicking »Add new contact« should just focus the name field of the already added one.

[2016-03-07 22:02] jancborchardt opened #161 "Deleting a contact does not switch the highlight to the next one"
While the content correctly switches to the next one, the highlight in the list does not yet.

[2016-03-07 22:08] jancborchardt opened #162 "When changing groups, the highlight doesn’t update either"
When changing groups, the first contact is always selected. The highlight in the contact list doesn’t update to reflect that though.

[2016-03-07 22:14] jancborchardt opened #163 "Add groups field to default fields of new contacts"
The groups field should be a default field for new contacts, and all contacts.

It also doesn’t make a whole lot of sense to be able to remove this, so the deletion functionality should be disabled.
Basically same for the last email, phone, and address – these should always stay there by default. Just as you can not remove the name.

[2016-03-08 10:31] DeepDiver1975 commented on #163
new issue please

[2016-03-08 10:54] jancborchardt opened #167 "Hide delete function for last email, phone and address field"
When there is only one field for email, phone, or address, the delete function should be hidden. Just as you can not remove the name, it makes more sense to permanently have them there for structure, even when not filled in.

[2016-03-08 12:47] jancborchardt opened #169 "Empty entry in group select2"
When you click in the select2, there’s an empty row:
![capture du 2016-03-08 13-46-06](https://cloud.githubusercontent.com/assets/925062/13602012/37eaee66-e534-11e5-9a46-4b27d28e1a9f.png)
When you add it, this is how it looks:
![capture du 2016-03-08 13-46-20](https://cloud.githubusercontent.com/assets/925062/13602013/37eb2c0a-e534-11e5-95bb-f0f9d638dbdc.png)

cc @DeepDiver1975 @Henni

[2016-03-08 12:53] #163 closed, assigned to DeepDiver1975

[2016-03-08 13:09] jancborchardt commented on #169
The group then also gets shown in the left navigation:
![capture du 2016-03-08 14-04-22](https://cloud.githubusercontent.com/assets/925062/13602514/59eb3b3a-e537-11e5-8289-b740a3184a33.png)

[2016-03-08 13:10] jancborchardt commented on #169
(But when clicked, every contact gets shown.)

[2016-03-08 13:15] jancborchardt opened #171 "No immediate feedback on address book deletion"
When deleting an address book, currently nothing happens.

Instead, the address book should directly vanish from the interface, as should all the contacts and groups inside of it.

[2016-03-08 13:17] jancborchardt commented on #137
Seems fixed now, great! :)

[2016-03-08 13:17] #137 closed, assigned to nobody

[2016-03-08 13:18] Henni commented on #171
The addressbook should disappear immediately (which is correct).
Groups, and contacts probably still stay (which is a bug).

[2016-03-08 13:42] jancborchardt commented on #171
The addressbook doesn’t disappear immediately for me at least.

[2016-03-08 14:07] DeepDiver1975 commented on #169
I have seen this as well - unclear where this is coming from - maybe some crap living in one of the vcards

[2016-03-08 14:16] jancborchardt commented on #169
Happens in a completely fresh addressbook created from the web interface as well.

[2016-03-08 14:33] #103 closed, assigned to DeepDiver1975

[2016-03-08 20:51] nicokaiser opened #173 "Field names are broken/not translated ("INTERNET,HOME,pref")"
### Steps to reproduce
1. Add ownCloud Contacts to external CardDAV client (for instance, iOS)
2. On the external client, add a new contact, with any E-mail address
3. Open the contact in ownCloud Contacts web frontend
### Expected behaviour

The contact's E-mail address should be labeled as ("E-mail", "E-mail Home", or even "Home")
### Actual behaviour

Instead of any useful field label, the fiel

[2016-03-08 21:11] nicokaiser opened #174 "Contact app tries to connect to broken URL"
### Steps to reproduce
1. Open Contacts app
### Expected behaviour

No error messages in the console
### Actual behaviour

The JavaScript console complains about an access violation for "http://remote.php/dav/addressbooks":

[code]

There seems to be a broken URL generation function which does not consider the host, and even forgets about the protocol (the site is served as HTTPS, which is known t

[2016-03-08 21:30] nicokaiser opened #175 "Some contact images are not displayed (broken base64 URLs)"
### Steps to reproduce
1. Have an address book with some JPEG and PNG images, e.g. created by iOS or OS X
2. Open Contacts app
### Expected behaviour

Contact images should display correctly
### Actual behaviour

Some contact images are broken.

Some of the {{data:image/...;base64}} URLs that seem to be generated by the frontend are broken, there seems to be garbage before the actual image content

[2016-03-08 21:36] nicokaiser opened #176 "Slow app start / the complete address book is being transferred"
### Steps to reproduce
1. Open Contacts app
### Expected behaviour

The Contacts app should open fast
### Actual behaviour

The Contacts all takes a lot of time to load and transfers lots of data.

Upon startup, the whole addressbook is being transferred, which, for medium-sized addressbooks (like ~200 contacts, some of them with photos) can be quite large. In this case ~10 MB of data is being tra

[2016-03-08 21:46] nicokaiser opened #177 "Organization entry gets an additional comma"
### Steps to reproduce
1. Create a contact in any CardDAV client, with the "Organization" field set to anything
2. Open Contacts app
3. View this contact
### Expected behaviour

The "Organization" entry should be like saved in the client
### Actual behaviour

An additional comma is added to the "Organiziation" entry. See screenshot, instead of "BörseGo AG" the input field says "BörseGo AG,". I did

[2016-03-08 21:47] Henni commented on #176
We are aware of this issue. This will be changed in the future by:
- introducing caching
- only loading parts of the contacts at once

[2016-03-08 21:53] Henni commented on #173
This might be, because we currently don't handle the `pref` property.

[2016-03-08 21:58] Akhenaton opened #178 "[Enhancement] Select the addressbook we want to show on the web ui."
If we have more than one addressbook, we can't select the one we want to show, and all the contacts of all addressbooks are mixed.

A "selection button" would be great ! Thank you.   :+1:

[2016-03-08 22:04] nicokaiser commented on #173
Ok, I see. However this might be confusing, as many popular CardDAV clients (iOS?) do set this property for default fields.

[2016-03-08 22:05] Henni commented on #175
It is possible to inspect REPORTs in Chrome DevTools:
![image](https://cloud.githubusercontent.com/assets/1267827/13618014/08eec2ec-e582-11e5-8003-5edd64d655a7.png)

BTW: thanks for reporting all the detailed issues

[2016-03-08 22:07] nicokaiser commented on #177
![screen shot 2016-03-08 at 22 41 06](https://cloud.githubusercontent.com/assets/238631/13618084/74725f42-e582-11e5-80c3-3e26d810aa9d.png)

[2016-03-08 22:11] Henni commented on #173
@nicokaiser this is definitely a bug, that should and will be fixed.

[2016-03-09 09:22] joswart commented on #176
I am not sure if I am seeing exactly the same issue here, but it looks like it.

My address book is slightly bigger (over 500 contacts). When I open the contacts app it tells me that there are "No contacts in here". Monitoring my server I see two apache processes jump to 100% CPU use. If I give it enough time (like close to an hour), the contact app lists all my contacts.

Pressing F5 sends me int

[2016-03-09 09:29] nicokaiser commented on #176
@joswart iOS / CardDAV syncing seems to work for me, I thought only the frontend is broken (as it tries to be a CardDAV client since ownCloud 9)

[2016-03-09 09:36] Henni commented on #176
@joswart iOS syncing isn't influenced by this app. Please report this in core. (Are you sure you are using the right url? [see documentation](https://doc.owncloud.org/server/9.0/user_manual/pim/sync_ios.html))

[2016-03-09 12:01] DeepDiver1975 commented on #176
We need to introduce some lazy loading techniques - we will come up with a solution in the next major dev cycle.

@joswart ios might stop syncing because of all server resources are consumed by the contacts web app.

[2016-03-09 12:04] DeepDiver1975 commented on #175
@nicokaiser can I ask you for a example vcard to reproduce this issue? THX

[2016-03-09 12:07] DeepDiver1975 commented on #174
afaik this is related to the fact that we use an old jquery version - right @LukasReschke

[2016-03-09 14:50] pierreozoux opened #181 "app.ownCloud.org - wrong link for ownCloud9"
As a user, when I go to the download page
https://apps.owncloud.com/content/show.php/Contacts?content=168708

and I click on download for version 9
https://apps.owncloud.com/content/download.php?content=168708&id=1&tan=15892076

The version I get is 0.0.0.4

It should be 1.0.0.0

[2016-03-09 14:52] DeepDiver1975 commented on #181
The next tag will be in sync with the version in the appstore

[2016-03-09 14:57] joswart commented on #176
@Henni: I believe the URL mentioned in the documentation is actually wrong. It is not the one reported in owncloud 9.

The contacts app says: /owncloud/remote.php/dav/addressbooks/users/[username]/contacts/
The doc says: example.com/remote.php/dav/principals/username

Trying the one from the doc fails on my IOS devices. Shall I file a documentation bug?

[2016-03-09 15:05] Henni commented on #176
@joswart that would be great! @DeepDiver1975 can you verify that this is a bug in the documentation?

[2016-03-09 15:17] nicokaiser commented on #174
I'm pretty sure the URL is built wrong, as the string "http://remote.php/dav/addressbooks" is passed through several instances. I was not able to completely trace it, but I can try again.

[2016-03-09 15:24] nicokaiser commented on #175
For two of the three requests to "contacts/" Chrome says "Failed to load response data" in the Inspector -> Response section, and the third request seems to only contain loads of metadata. I'll attach my vCard, which is displayed with a broken image.

https://gist.github.com/nicokaiser/581d546e856abab3a664

[2016-03-09 15:27] DeepDiver1975 commented on #175
THX @nicokaiser

[2016-03-09 15:31] joswart opened #182 "Documentation issue for owncloud 9.0 carddav sync"
For setting up carddav the documentation listed here: https://doc.owncloud.org/server/9.0/user_manual/pim/sync_ios.html reports entering the following string:

`example.com/remote.php/dav/principals/username`

This will result into a validation error. The owncloud 9 contacts app actually reports another string, which seems to work:

`/owncloud/remote.php/dav/addressbooks/users/[username]/contacts/

[2016-03-09 15:35] DeepDiver1975 commented on #175
I see the image on the latest master of contacts app

![bildschirmfoto von 2016-03-09 16-34-43](https://cloud.githubusercontent.com/assets/1005065/13640432/e5715b16-e614-11e5-9b1f-d3431a3a92c9.png)

[2016-03-09 15:48] nicokaiser commented on #175
@DeepDiver1975 This is strange. Maybe the base64 gets corrupted on the way, I'll try to figure out what is actually transferred to the client.

[2016-03-09 15:59] ghost commented on #182
@joswart Thanks for your report. The documentation is done in https://github.com/owncloud/documentation/issues where this seems that a review of the docs is already tracked: https://github.com/owncloud/documentation/issues/2074

[2016-03-09 16:04] nicokaiser commented on #175
@DeepDiver1975 In the DAV response that is transferred to the frontend, the photo seems to be prefixed with cropping settings, see screenshot. Maybe this leads to problems when creating the URL version?

<img width="762" alt="screen shot 2016-03-09 at 17 01 43" src="https://cloud.githubusercontent.com/assets/238631/13641500/f019feb6-e618-11e5-97ff-627aff285335.png">

[2016-03-09 16:06] DeepDiver1975 commented on #175
How does the vcard look like in the database?

[2016-03-09 16:18] nicokaiser commented on #175
@DeepDiver1975: Like above, but of course without encoding:

[code]

[2016-03-09 16:29] DeepDiver1975 commented on #175
Let me test the app with this data ....

[2016-03-09 16:44] DeepDiver1975 commented on #175
@nicokaiser can I ask you to share the vcard with me? THX

[2016-03-09 18:00] MeCias commented on #143
Hi,

can that be that the date picker disappeared? At least I don't see him no more on my OC 9.0 Final with Contacts 1.0.

[2016-03-09 20:42] DeepDiver1975 commented on #143
the version with the datepicker is not yet pushed to the appstore - will do asap

[2016-03-09 21:55] nicokaiser commented on #175
@DeepDiver1975 I sent it to you via E-mail

[2016-03-09 23:13] LukasReschke commented on #174
Yep. In this case the CSP error is legit here. ownClouds AppFramework CSP does not allow JS connections to external resources if they are not whitelisted. And `http://remote.php` is considered an untrusted endpoint, which it also is :)

[2016-03-10 05:27] skjnldsv commented on #178
Yes please! :+1:
The contacts app is in the right track now. Thanks for all your work!

[2016-03-10 05:28] skjnldsv commented on #144
Thank you!

[2016-03-10 06:11] DeepDiver1975 commented on #175
Got it. Thx

[2016-03-10 06:17] MeCias commented on #143
Thanks a lot!

[2016-03-10 09:57] DeepDiver1975 opened #183 "Update vcard.js"
refs https://github.com/Heymdall/vcard/pull/1

Once the pr is merged we need to update the vcard.js library

[2016-03-10 09:58] oljask opened #184 "Contact name does not fit"
Name field is to small. My address book entries dont fit in it.
![image of contacts](http://i63.tinypic.com/1695a2a.png)
The Name on green background missing last characters.

[2016-03-10 10:12] DeepDiver1975 commented on #175
This is a parsing issue in the vcard library we use on client side.

[2016-03-10 10:45] DeepDiver1975 commented on #175
fixed with https://github.com/Heymdall/vcard/pull/2

[2016-03-10 10:54] DeepDiver1975 commented on #184
@jancborchardt to some extend we need to respect longer names in organization and title as well ....

[2016-03-10 10:55] #182 closed, assigned to nobody

[2016-03-10 10:55] DeepDiver1975 commented on #182
tracked in https://github.com/owncloud/documentation/issues/2074

[2016-03-10 11:12] DeepDiver1975 commented on #177
So - the organization attribute can be a semi-colon separated string. https://tools.ietf.org/html/rfc6350#section-6.6.4

I suggest to display only the first element which is the true orga - other elements of the array will be kept as is so that we do not kill data

[2016-03-10 12:49] aspdye opened #186 "[Enhancement] Contact as Company"

[2016-03-10 15:16] tomneedham opened #188 "Phone number type option shows strangely when created in OSX"
Stepss to reproduce
1. Create contact on OSX
2. View in browser
### Expected behaviour
- Should show 'Mobile'
### Actual behaviour

![screen shot 2016-03-10 at 15 15 42](https://cloud.githubusercontent.com/assets/660805/13673879/005c909e-e6d3-11e5-82a3-c8135835363a.png)

[2016-03-10 15:18] #177 closed, assigned to DeepDiver1975

[2016-03-10 15:20] tomneedham commented on #184
Noticed this myself earlier and submitted https://github.com/owncloud/contacts/pull/187 (adds ellipses so its clearer for the users and extends the title field slightly)

I'd suggest once we know the mobile styling arrangements a bit better we can extend the fields depending on the device.

[2016-03-10 16:35] DeepDiver1975 commented on #174
I cannot reproduce this - no idea where that call is coming from - sorry

[2016-03-10 18:02] MeCias commented on #122
Hi,

Does it mean that it is also possible to save a Birthday without the year? Is this the example for it? `BDAY:--0415`

[2016-03-10 21:05] Curatio opened #190 "Wrong illustration of birthday dates"
Hello,

in the new version of the contacts app the Birthday shows in die follwinig format: YYYY-MM-DD.
In the old version it was DD-MM-YYYY for a german ownlocud. Is this a bug or a new feature that can be change in some settings/files? I can't change it manuell. If I insert DD-MM-YYYY the field will be empty after reload.

Thanks,
curatio

[2016-03-10 21:48] DeepDiver1975 commented on #190
Which browser are you using?

[2016-03-10 21:48] DeepDiver1975 commented on #190
And please use the issue template - it's there for a reason .... :wink:

[2016-03-11 09:35] gour commented on #178
:+1:

[2016-03-11 10:02] gour opened #191 "Croatian (native) characters are not displayed"
### Steps to reproduce
1. none of the contact entries which contain Croatian characters (čČ,ćĆ,đĐ,šŠ,žŽ) are displayed neither in the main contacts list nor in the entry's fields.
### Expected behaviour

Tell us what should happen

To have all the characters rendered.
### Server configuration

**Operating system**:
Linux Fedora (iirc), it's at Webfaction hosting provider: 3.10.0-327.4.5.el7.x86_64

[2016-03-11 10:07] Henni commented on #191
@gour could you attach the vCard, please?

[2016-03-11 10:11] gour commented on #191
@Henni you mean real vCard file or shot?

[2016-03-11 10:12] Henni commented on #191
Either paste the contents of the vCard or make a screenshot of it.

[2016-03-11 10:32] gour commented on #191
Here is the vCArd as exported from the Evolution (just changed some non-important data):

[code]

[2016-03-11 12:01] Henni commented on #191
I added this vCard to my owncloud instance and it seems to work for me:
![image](https://cloud.githubusercontent.com/assets/1267827/13701584/3655bd9a-e789-11e5-8ef0-ec79dfca5710.png)

@gour which browser do you use?

[2016-03-11 12:14] gour commented on #191
@Henni Firefox (Iceweasel) 44.0.2 under Debian Sid

Indeed, with Epiphany & Chromium Version 49.0.2623.87 built on Debian stretch/sid, running on Debian stretch/sid (64-bit) it works.

[2016-03-11 12:20] Henni commented on #191
Good to know!
I'll test it later with Firefox

[2016-03-11 13:31] irgendwie commented on #191
Not reproducible with Firefox 45.0 and Chromium 49.0.2623.87
@Henni can't reproduce this problem either.

@gour Have you tried opening it in a private session window in firefox?

[2016-03-11 13:56] nicokaiser commented on #173
This is even worse than expected: when edited, the entry is saved as "INTERNET\,WORK\,pref" and thus displayed as such in other clients.

[2016-03-11 13:57] nicokaiser commented on #188
See #173

[2016-03-11 13:58] mbiebl opened #192 ""Keine Kontakte vorhanden" message displayed even though contacts exist"
Version: 9.0

I made a fresh installation of owncloud 9 and created a test user.
Yet the contacts app still shows "Keine Kontakte vorhanden" next to the newly created user.
Screenshot attached

![contacts](https://cloud.githubusercontent.com/assets/3609611/13703978/b093cb8c-e799-11e5-87be-fcbf1121d690.png)

[2016-03-11 14:00] DeepDiver1975 commented on #191
Looks like to be an environmental issue ... maybe some language pack missing on FireFox?

I tend to close this ....

[2016-03-11 14:06] Henni commented on #192
@mbiebl  Clicking the contact should replace the "Keine Kontakte vorhanden" message with the contact details, right?

[2016-03-11 14:09] nicokaiser opened #193 "Contact photos are always displayed with square aspect ratio, and without crop"
### Steps to reproduce
1. Create a contact with Mac OS X Contacts app
2. Add a non-square picture and crop it, save the contact
3. Open the contact in ownCloud
### Expected behaviour

The picture should be displayed correctly cropped
### Actual behaviour

Seems like OS X saves the un-cropped image along with cropping information, which ownCloud cannot apply. So the images is displayed uncropped ye

[2016-03-11 14:09] nicokaiser commented on #193
Here is the original vCard: https://gist.github.com/nicokaiser/31256b16535bb4854342

[2016-03-11 14:09] #175 closed, assigned to DeepDiver1975

[2016-03-11 14:09] #183 closed, assigned to nobody

[2016-03-11 14:17] DeepDiver1975 commented on #193
We need to understand how this cropping works

[code]

[2016-03-11 14:19] mbiebl commented on #192
@Henni It does, yes

[2016-03-11 14:21] Henni commented on #192
This may get fixed with https://github.com/owncloud/contacts/pull/129

[2016-03-11 14:31] gour commented on #191
@irgendwie Same problem with private window session.

[2016-03-11 14:32] DeepDiver1975 commented on #188
close because of being a duplicate

[2016-03-11 14:32] #188 closed, assigned to nobody

[2016-03-11 14:34] gour commented on #191
@DeepDiver1975 Let me just say that the contacts were displayed properly with the same version of Firefox and Owncloud-8.2.1?

[2016-03-11 14:35] DeepDiver1975 commented on #191
strange

[2016-03-11 14:54] v1r0x commented on #193
How does it look in OS X?

[2016-03-11 15:03] gour commented on #191
When I tried to inspect element in Firefox showing just my name and changing the 'font-family' in inputs.css:38 from 'inherited' into e.g. 'serif':

[code]

it fixed rendering.

Any hint?

[2016-03-11 15:07] DeepDiver1975 commented on #191
@jancborchardt we need your insights into font fun regarding this issue - THX

@gour maybe there is a font missing on your system?

[2016-03-11 15:09] nicokaiser commented on #193
<img width="383" alt="screen shot 2016-03-11 at 16 09 19" src="https://cloud.githubusercontent.com/assets/238631/13706005/a18aea8a-e7a3-11e5-8610-3343994cb009.png">

[2016-03-11 15:10] nicokaiser commented on #193
There is some code on cropping here: https://github.com/blind-coder/rcmcarddav/pull/15/files

[2016-03-11 15:15] v1r0x commented on #193
Ok, looks like the one I cropped in GIMP.
So the values are: `X-ABCROP-RECTANGLE=ABClipRect_1&<x>&imgHeight - cropHeight - <y>&<cropWidth>&<cropHeight>&`

[2016-03-11 15:24] gour commented on #191
@DeepDiver1975 it looks something is wrong with the stylesheet, iow. even when I explicitly change 'font-family' to:

[code]

it renders properly, which proves that font is there, but something is wrong with CSS cascading.

[2016-03-11 15:26] DeepDiver1975 commented on #191
Okay - we need some CSS wizards here @jancborchardt @Henni THX

[2016-03-11 15:40] DeepDiver1975 commented on #193
nice - THX - would be great to have that code in javascript ....

[2016-03-11 15:43] nicokaiser commented on #193
Apart from the mentioned PR not having any consistency checks (so page could be crashed if there were too few "&", etc.), the main problem would be solving this in CSS (not sure if there currently is an elegant way to resize and crop image using only CSS)...

[2016-03-11 15:53] ngrundmann commented on #1058
Hello everyone. So my supporter from Apple just called me and said they can reproduce this error with different software but the developers can't tell when it will be fixed. We need to wait.
I did an upgrade to ownCloud 9 and tried to sync my addressbook with an OS X machine but it didn't worked. So the new contacs and CardDAV implementation in ownCloud 9 isn't the fault. I hope this will be fixed

[2016-03-11 15:55] Henni commented on #191
sorry, no idea.
@jancborchardt any idea what could cause this?

[2016-03-11 16:03] Henni commented on #193
There are possibilities in CSS to get close to what we want (using `object-fit` or `background-size`) but they are neither well supported nor solving it perfectly.
We have to fix this in JS.

[2016-03-11 16:40] rolandu commented on #1058
Is there any other mac app for contact management with working carddav integration that also integrates well with mail and other mac apps? I tried busycontacts but it does not seem to integrate with mail at all.

Also, why did this project move to archive? Is contacts no longer a focus of owncloud?

[2016-03-11 16:54] RealRancor commented on #1058
The old contacts app is deprecated, unmaintained and was replaced with https://github.com/owncloud/contacts/issues in 9.0. All discussions about CardDAV and CalDAV backends now belongs to https://github.com/owncloud/core/issues

[2016-03-11 17:18] v1r0x commented on #193
I'd fix this, but had no time to have a closer look at the app. The JS-Code for it shouldn't be that hard

[2016-03-11 18:11] aspdye opened #194 "Maintenance and Release Schedule for contacts"
Like calendar has already:
https://github.com/owncloud/calendar/wiki/Maintenance-and-Release-Schedule

[2016-03-11 21:05] crazy-max commented on #111
I have tried with Android stock app (+ DavDroid) and Thunderbird but i cannot retrieved categories and phone type changed on ownCloud 9.

So i have used [eM Client](http://www.emclient.com/) to synchronize my contacts.vcf (exported from ownCloud 8.2) with my ownCloud 9 carddav and it worked very well and i have kept categories and phone type (cell, work, etc...).

A contact on my contacts.vcf look

[2016-03-11 21:15] DeepDiver1975 commented on #184
fixed with #187

[2016-03-11 21:15] #184 closed, assigned to nobody

[2016-03-11 22:36] DeepDiver1975 commented on #173
as far as I can tell this is an issue in the vcard.js library

[2016-03-11 22:58] DeepDiver1975 commented on #194
TBH: in the current development state and given the rather variable time contributors can spend I suggest to do this more in a dynamic way.

[2016-03-11 23:03] DeepDiver1975 commented on #193
maybe this is of help: https://github.com/alexisnomine/ngCropper

[2016-03-12 05:07] bunnyfu opened #197 "Long loading time"
After upgrading to owncloud 9.0 contacts web app takes around 1 minute to initially load. This is obviously related to my having around 1000 contacts, many with profile photos. In the previous version loading time was instant. Perhaps the app is now trying to load all contacts into memory before displaying anything.

**Operating system**: Debian 8
**Web server:** Nginx
**Database:** Mysql
**PHP ve

[2016-03-12 08:17] aspdye commented on #197
dup of #176

[2016-03-12 09:17] aspdye opened #198 "Make Telephone Numbers, Mails and Locations clickable"
- [ ] Telephone Numbers (could be realized with tel:)
- [ ] Mails (could be realized with a direct link to the Mails-App or by opening Local Mail Client)
- [ ] Locations (could be realized with a direct link to the Maps-App or by opening another Client)

[2016-03-12 09:58] #197 closed, assigned to nobody

[2016-03-12 13:45] aspdye commented on #194
Question: Is this different to the calendar guys?

[2016-03-12 14:57] tsumi commented on #174
Hi,
same happen to me on a fresh install of OC9.

Environment details:
Operating system: CentOS 7
Web server: Apache 2.4
Database: MySQL 5.5
PHP version: PHP 5.6
ownCloud version: 9.0.0
Contacts version: 1.0.0.0
Browser: Firefox 45.0

[2016-03-12 15:22] fracture-point opened #199 "Owncloud Upgrade 8.2.2 to 9.0 - Major Contact Issues"
### Steps to reproduce

9.0 Upgrade from 8.2.2:
1. apt-get update, apt-get upgrade, apt-get dist-upgrade
2. sudo -u www-data php occ upgrade
3. sudo -u www-data php occ maintenance:mode --off
4. log in as administrator and re-enable contact and calendar apps.
5. log in as normal user, navigate to contacts, and gasp at new issues.
### Expected behaviour

Data should be identical to values in 8.2.2

[2016-03-12 15:44] gvde commented on #199
Well I did basically the same update on the ubuntu 14.04 platform and it works good with some minor, known issues. No "lots". So I guess you should be more specific in the issues you have, what's missing and what's not working properly... From that one sentence noone will know...

[2016-03-12 15:46] fracture-point commented on #199
Sorry!  @gvde - I was copy-pasting because the ticket was so long, and forgot to add the important part (the issues!).  I updated the ticket above.

[2016-03-12 15:50] DeepDiver1975 commented on #194
Ask the calendar guys :Wink:

[2016-03-12 16:25] #194 closed, assigned to nobody

[2016-03-12 18:31] Curatio commented on #190
Okay for the next time I will ;)

I use different browser for example Firefox 44 and 38, Safari and Safari mobile. The bug is in all browsers the same. On another ownlocud 9.0 (sqllite and apache) its the the problem with the birthday. So I guess its a problem with the app. I use nginx and mysql. So I think it's the same problem with HOME or CELL for the adresses/numbers. It looks like a bug in co

[2016-03-13 18:34] DeepDiver1975 commented on #199
should work better with #195 - please test - THX

[2016-03-13 18:34] DeepDiver1975 commented on #199
Can I ask you for an example vcard for testing? THX

[2016-03-13 18:35] DeepDiver1975 commented on #199
we know this - we will improve on this for sure - it was important for us to have somehting useful for oc9

[2016-03-13 18:39] DeepDiver1975 commented on #199
we generate the list of groups from the categories entries of all contacts - I'm not sure if we need to explicit generate a group

Can explain this more in detail - I dont get it - THX

Planned for the next releases.

True - @jancborchardt we need that?

Planned

Can you paste a screenshot? THX

[2016-03-13 18:40] DeepDiver1975 commented on #199
we might want to split this up into individual issues .....

[2016-03-13 18:41] DeepDiver1975 commented on #192
@mbiebl can you test #129 please to see if this fixes your observation - THX

[2016-03-13 18:44] DeepDiver1975 commented on #34
the app is in the appstore - i guess we can close this

[2016-03-13 18:44] #34 closed, assigned to nobody

[2016-03-14 08:17] mbiebl opened #200 "No longer able to set a photo for a contact"
Version: 9.0

Somehow I'm no longer able to set a photo when creating a new contact or editing an existing one.
This worked fine with 8.2

[2016-03-14 08:17] mbiebl commented on #200
And if there is a way to set a contact photo, it's well hidden.

[2016-03-14 08:19] mbiebl opened #201 "No longer able to undelete a contact"
Version: 9.0

When deleting a contact in the contacts app, the contact is removed immediately.
There is confirmation dialog  ora way to undo this action, as existed in 8.2.
This seems like a major regression compared to previous releases

[2016-03-14 08:42] DeepDiver1975 commented on #200
duplicate #144

[2016-03-14 08:42] #200 closed, assigned to nobody

[2016-03-14 12:33] skjnldsv opened #202 "Link to addressbook partially inaccessible behind tool bar"
The "link-share-delete icon" span is over the input when open. So half of the html element is unselectable.

A very minor issue, but hey, that's the little things that matter :)
![capture d ecran_2016-03-14_13-27-08](https://cloud.githubusercontent.com/assets/14975046/13744593/133d7e8a-e9e9-11e5-8c54-be39a913dbeb.png)

Ps: congrats on the new app, good job, a lot remains to do, but looking great!

[2016-03-14 12:36] Henni commented on #202
@jancborchardt can you take a look?

[2016-03-14 14:04] fracture-point commented on #199
_Yes, users need to be able to create new groups._

_I navigate to contacts, and wait a few minutes until the list of contacts shows up (middle pane).  At this time, the left pane (groups) is still completely blank - which makes me think that I have lost all my groups.  If I click in the right pane (details), or left pane (groups), nothing changes.  If, however, I click on an individual contact (m

[2016-03-14 14:26] DeepDiver1975 commented on #199
Can I have that vcard as well? THX

[2016-03-14 14:28] DeepDiver1975 commented on #199
Any may I ask how many contacts you have in total? Just to have a realistic test number? ;-)

[2016-03-14 14:31] fracture-point commented on #199
[contact-photo-missing.txt](https://github.com/owncloud/contacts/files/172130/contact-photo-missing.txt)

There are two things that make this different from some other contact photos:
1. The photo was added using the (now old) contacts interface, by clicking Upload new Photo.
2. The source image is larger than most (close to 1MB).  It appears that cropping in the old UI did not remove the rest of

[2016-03-14 14:32] fracture-point commented on #199
sure - it's at the top -

[2016-03-14 14:33] DeepDiver1975 commented on #199
thx - sorry - to many issues processing all day long :wink:

[2016-03-14 14:34] fracture-point commented on #199
No prob!  Thanks for the help!

[2016-03-14 14:34] DeepDiver1975 commented on #199
@> Vcard of contact with many of the issues mentioned (numbers, name, etc. sanitized, renamed from .vcf to .txt):

Okay - the issue i related to the way the phone numbers are stored in the vcard

The label is store in a property of it's own and two properties are linked to each other - I'll create a new issue for this - https://github.com/owncloud/contacts/issues/204

[code]

[2016-03-14 14:36] DeepDiver1975 opened #204 "Read property type (and X-ABLABEL?) from linked property"
example data as below

[code]

[2016-03-14 14:37] DeepDiver1975 commented on #199
this is related to the X-ABCROP-RECTANGLE stuff - we fixed this a few days back ....

[2016-03-14 14:37] fracture-point commented on #199
re: linked properties:

I'm not sure which application stored it that way, but I suspect it was Google.

This contact was exported from Google, imported into OC, and then maintained (a few updates here and there) using OSX Contacts.  I don't think the attributes you reference have been changed since Google.

[2016-03-14 14:39] DeepDiver1975 commented on #199
afaik apple is doing this

[2016-03-14 14:39] DeepDiver1975 commented on #199
Current master and changes as of https://github.com/owncloud/contacts/pull/195 all together:

![bildschirmfoto von 2016-03-14 15-38-45](https://cloud.githubusercontent.com/assets/1005065/13747929/eaeca160-e9fa-11e5-8437-bce4da1a9ede.png)

[2016-03-14 14:40] DeepDiver1975 commented on #199
sorry for the German localization :wink:

[2016-03-14 14:42] fracture-point commented on #199
ah, that is better

[2016-03-14 14:45] DeepDiver1975 opened #205 "Group management: explicit create a group"

[2016-03-14 14:46] DeepDiver1975 commented on #199
https://github.com/owncloud/contacts/issues/205

[2016-03-14 14:46] DeepDiver1975 commented on #199
#119

[2016-03-14 14:47] DeepDiver1975 opened #206 "Group management: add group 'Not Grouped'"

[2016-03-14 14:47] DeepDiver1975 commented on #199
https://github.com/owncloud/contacts/issues/206

[2016-03-14 14:49] DeepDiver1975 opened #207 "Type handling: allow the user to enter a custom type"
We can basically use select2 here as well.
But we need to think about multiple selection and the repesentation.

It should be possible to select HOME, VOICE, CELL, IPHONE from the dropdown - but how to display this nicely?

@jancborchardt

[2016-03-14 14:50] DeepDiver1975 commented on #207
maybe we start without multiple select and go for single selection and custom input

[2016-03-14 14:50] DeepDiver1975 commented on #199
https://github.com/owncloud/contacts/issues/207

[2016-03-14 14:52] DeepDiver1975 commented on #199
Anything related to initial loading performance is handled in https://github.com/owncloud/contacts/issues/176

[2016-03-14 14:53] DeepDiver1975 commented on #199
@fracture-point please double check if all your issues got addressed - I'd like to close this issue then an proceed in the individual issues - THX

[2016-03-14 15:02] gvde commented on #207
Maybe it helps to see a list of what various clients came up with:

https://github.com/owncloudarchive/contacts/issues/1044#issuecomment-141421267

and the following comments...

[2016-03-14 15:11] ghost opened #208 "Contact sort/display order missing"
### Expected behaviour

There should be a way to sort the contact list/change the display order (like it was on oc 8.2 contacts app).

![kontakte_owncloud2](https://cloud.githubusercontent.com/assets/6527854/13748912/48c4cb56-e9ff-11e5-8710-101cbcbbcb73.png)

I was told this wasn't implemented yet, so no further information, I just created this ticket as a backlog.

[2016-03-14 15:17] DeepDiver1975 commented on #208
Thanks a lot!

[2016-03-14 15:19] DeepDiver1975 commented on #207
nice - THX a lot!

[2016-03-14 16:06] fracture-point commented on #199
@DeepDiver1975 this covers everything (ability to add custom types is in #207 ).

You may close this issue.  Thanks.

[2016-03-14 16:07] #199 closed, assigned to nobody

[2016-03-14 20:02] joergmschulz commented on #192
the retrieval of a longer contact list on a slowish machine takes a long time; first, only the 'Keine Kontakte vorhanden' message pops up and no contact can be seen; after > 30 seconds the list appears but the message doesn't disappear.
And, images of large file size will no longer be displayed (adding this in the hope it has the same root cause)

[2016-03-15 07:51] codethief commented on #171
I'm having the same issue. Neither the addressbook nor the contacts it contains disappear.

[2016-03-15 08:04] Henni commented on #171
@jancborchardt we should look into this at the next meetup

[2016-03-15 08:51] codethief opened #209 "Birthday field shown to be empty even though birthday is set"
I recently switched from Baikal to ownCloud and used the Android app "Contacts Backup Ultimate" to export the contacts from my Baikal account and import them into my OwnCloud account. (It seems to be one of the few apps that exports contact photos in full resolution.) After the synchronization with my ownCloud server finished, I wanted to make sure it had worked as expected. So I removed all my Ca

[2016-03-15 10:10] DeepDiver1975 commented on #209
Can I ask you for an example vcard with the birthday which is not displayed

[2016-03-15 11:28] DeepDiver1975 commented on #192
tracked in #197

[2016-03-15 11:29] DeepDiver1975 commented on #192
Can I ask you to provide a example vcard for testing? THX

[2016-03-15 13:56] #202 closed, assigned to nobody

[2016-03-15 21:02] joergmschulz commented on #192
Yes, this is the example (anonymized, except large image, renamed to .txt)

[First Name.vcf.txt](https://github.com/owncloud/contacts/files/174811/First.Name.vcf.txt)

[2016-03-16 10:43] DeepDiver1975 commented on #192
Works on latest master ... we will soon publish a new version to the appstore

![bildschirmfoto von 2016-03-16 11-43-11](https://cloud.githubusercontent.com/assets/1005065/13809709/4fb6c540-eb6c-11e5-9b31-0343678167ba.png)

[2016-03-17 01:18] #49 closed, assigned to nobody

[2016-03-17 04:12] NeilMonday commented on #111
I'll be waiting (im)patiently for this.

Update: The workaround from @crazy-max also works with a vcf generated from gmail and imported with eM Client.

[2016-03-17 07:52] WolfgangFahl opened #219 "Where is issue 1058?"
https://forum.owncloud.org/viewtopic.php?t=29982 points toi issue 1058 but the link is broken. The problem on El Capitan seems not to have been fixed so I am wondering which issue tracks it.

[2016-03-17 08:19] aspdye commented on #49
Are we releasing this with 2.0 or can we integrate it with 1.1 :question:

[2016-03-17 08:33] nicokaiser opened #220 "Multiple escaping in addresses"
### Steps to reproduce
1. Open ownCloud Contacts
2. Add new contact
3. Enter an address field (e.g. street) with commas
### Expected behaviour

The address should not break
### Actual behaviour

Any comma in an address field is escaped multiple times, so upon save (i.e. focus blur) "Main Street, 1st floor" is changed to "Main Street\, 1st floor". When the field is focused and blurred again, it cha

[2016-03-17 09:36] DeepDiver1975 commented on #111
Waiting time can be shorted by contributing to this open source project! :wink:

[2016-03-17 09:37] DeepDiver1975 commented on #219
The link on the forum should be updated to https://github.com/owncloudarchive/contacts/issues/1058

[2016-03-17 09:37] #219 closed, assigned to nobody

[2016-03-17 09:38] DeepDiver1975 commented on #49
will be in 1.1

[2016-03-17 09:39] DeepDiver1975 commented on #220
I have seen this on e.g. tel type as well - I suspect the vcard lib going wild :angry:

[2016-03-17 09:55] WolfgangFahl commented on #219
Thanks for the pointer that is helpful. What i do not get is: that issue is not closed. So why is this issue closed that points out that the problem persists? As it looks there would at least be a workaround available that could be mentioned here. The link in the apple discussion board https://discussions.apple.com/thread/7256481?start=0&tstart=0 is also broken which makes it hard for this problem

[2016-03-17 11:08] DeepDiver1975 commented on #219
owncloudarchive/contacts#1058 is not closed because it most probably still persists - TBH: it will not be fixed I guess sine the old contacts app is unmaintained for years and we dropped it with oc9.

oc9 comes with a new implementation of the caldav and carddav interface which lives in core.
feel free testing the new caldav and carddav endpoints with mac osx - in case you find issues - please ope

[2016-03-17 11:31] WolfgangFahl commented on #219
The issue is not about the contacts app but about the carddav interface. The problem with El Capitan's addressbook persists af of oc9. On a test with Mac OS 10.11.3 contacts version 9.0 build 1679.4
entering username, password, server address and serverpath as it would work on a Mac OS mavericks will fail with "accountname/password" could not be verified.

[2016-03-17 13:22] #169 closed, assigned to nobody