[2016-03-17 13:46] #206 closed, assigned to DeepDiver1975

[2016-03-17 14:07] irgendwie opened #222 "JS error when deleting group from contact"
Deleting a group out of a contact leads to a JS error:

`Refused to execute JavaScript URL because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-eval'". Either the 'unsafe-inline' keyword, a hash ('sha256-...'), or a nonce ('nonce-...') is required to enable inline execution.`

![bug](https://cloud.githubusercontent.com/assets/8360698/13848401/e4103e7a-ec5

[2016-03-17 14:52] irgendwie opened #224 "Search matches wrong stuff"
![search_bug](https://cloud.githubusercontent.com/assets/8360698/13849895/3b026e46-ec58-11e5-8344-a72e03a8d46a.png)

**VCARD ist not the only wrong stuff, the search matches.**

[2016-03-17 15:22] DeepDiver1975 commented on #219
yes - this is what I was explaining above and therefore this has to be reported in the core repo.

[2016-03-17 15:23] matyas1995 opened #225 "Contacts not showing after upgrade"
I upgraded my oc from 8.2.2 to 9 and the contacts app to 1.0.0.

Now none of the contacts can be seen in the contacts app, even though they are still in the database. CardDav clients can still sync, create and edit contacts. If I create a new contact in the contacts app, it only shows up in the list but cannot be edited in the app because no details are shown. When the page is reloaded it is not s

[2016-03-17 15:31] DeepDiver1975 commented on #225
Migration issues have to be reported in core - please use the issue template - THX

[2016-03-17 15:31] #225 closed, assigned to nobody

[2016-03-17 15:35] DeepDiver1975 commented on #224
Okay - maybe matching the full vcard was a bit toooooooo radical

https://github.com/owncloud/contacts/blob/master/js/models/contact_model.js#L155

[2016-03-17 22:41] #152 closed, assigned to Henni

[2016-03-18 14:31] irgendwie commented on #171
Should be fixed with the last cleanup PRs from @Henni

[2016-03-18 14:31] #171 closed, assigned to nobody

[2016-03-18 14:32] irgendwie commented on #161
Should be fixed with the last cleanup PRs from @Henni.

[2016-03-18 14:32] #161 closed, assigned to nobody

[2016-03-18 14:32] irgendwie commented on #159
Should be fixed with the last cleanup PRs from @Henni.

[2016-03-18 14:32] #159 closed, assigned to nobody

[2016-03-18 14:41] jancborchardt commented on #202
Thanks a lot @skjnldsv! :) Great contribution, you are very welcome in our IRC channel #owncloud-contacts as well!

Also consider joining #owncloud-design as we always need more folks proficient with CSS and design. :)

[2016-03-18 14:46] jancborchardt commented on #191
Hm … I have no clue here either.

@gour when you inspect the field, does the value have the correct name with the special characters?

And does the issue also occur elsewhere in ownCloud, like in the users management?

[2016-03-18 14:48] jancborchardt commented on #207
What do you mean by multiple selection? You can use multiple attributes for a phone number?

I thought this is only about adding a custom value. And that can be done with either select2 or our multiselect.js library.

[2016-03-18 15:25] gour commented on #191
@jancborchardt It is present with e.g. user's Lastname, then in Calendar for the entries containing native chars etc.

I'm not 100% clear what do you mean with "does the value have the correct name with the special characters?" since e.g. for address field, the value is pulled from the following code:

[code]

[2016-03-18 19:43] ITwrx opened #234 "[Enhancement] Custom fields"
The ability to create fully custom fields would be nice. So in additionj to static field labels, a user could create a new custom label name and designate what type of input they expected. such as date, text input, textarea or whatever. This field type would then be available for all contact creation/edit.

i understand that this adds work and maintenance but it would also make contacts useful for

[2016-03-18 19:53] Henni commented on #234
This is a feature I would also like to see. But currently other stuff has higher priority.
-> backlog for now

[2016-03-18 19:55] ITwrx opened #235 "[Enhancement] contact folders"
It would be nice if users could create folders for contacts in the Contacts dialogue. Contacts could use the Files app in the background to do all the work, i would guess. This would just be a way for users to organize by contact/link contacts with folders without having to do it manually/directly in Files app. They should also be able to view the contacts' folders inside the profile for a contact

[2016-03-18 20:01] ITwrx commented on #234
Great, thanks. If i get any time, i'll try to take a look and see if i can be any help on it.

[2016-03-18 20:02] Henni commented on #235
@ITwrx vCards offer groups which we support and have a similar functionality to folders.
Contacts aren't stored as files on the server and thus cannot be managed by the files app.

[2016-03-18 20:02] #235 closed, assigned to nobody

[2016-03-19 03:44] skjnldsv commented on #202
Thank you for the kind words! :)

[2016-03-19 06:33] jancborchardt commented on #202
Of course! I’m always excited if there’s some other CSS/design folks around. :)

[2016-03-19 06:35] jancborchardt commented on #191
@gour I mean when you right-click the field in your browser and use »Inspect«, you will see the code. Does the name show up correctly there? Or is it also cut off?

@Henni @irgendwie so what’s the difference between this field and e.g. the Name field in personal settings?

[2016-03-19 08:03] gour commented on #191
@jancborchardt I bet that now you can see, based on the pasted code above that the name is shown correctly, right?

[code]

[2016-03-19 17:07] #24 closed, assigned to nobody

[2016-03-19 17:07] #72 closed, assigned to nobody

[2016-03-19 17:37] ghost commented on #219
@WolfgangFahl As stated quite often in https://github.com/owncloudarchive/contacts/issues/1058 this is not an issue within ownCloud but within El Capitan itself (Ref: https://github.com/owncloudarchive/contacts/issues/1058#issuecomment-195424801, https://github.com/owncloudarchive/contacts/issues/1058#issuecomment-190169043 and some more)

There is nothing to fix from ownCloud side here (except ma

[2016-03-19 19:46] TecJon opened #238 "Around half of contact images are not loaded"
Instead of the contact photo the broken image symbol of the browser is shown. Right click on it and "show image" or "reload image" didn't change it. The photos are correctly displayed iOS and Thunderbird.
### Steps to reproduce
1. Upgrade owncloud from latest 8.x to 9.0 via .tar.bz2
2. Update all apps
3. Sync contacts with iOS
4. Open contacts web interface using Firefox
### Expected behaviour

Di

[2016-03-19 20:15] Rello commented on #174
+1
clean install from zip archive

[2016-03-19 23:24] irgendwie commented on #238
Hello @SamEliotFisher, thanks for the report! Could you provide an example vcard, where the photo doesn't get loaded? I suspect it has cropping information / a weird syntax in it.

The comma issue could be associated to #173.

[2016-03-20 06:20] gvde commented on #238
Commas in the types are in #173. Commas in the values are in #220.

[2016-03-20 08:20] janrudolf opened #240 "owncloud contact as an libre office data source"
Guten Morgen, ;-)

I thought about the possibility to get the owncloud contacts get connected as a data source in libreoffice. Has anybody thought about this yet? But I guess, its more a question for libreoffice, isn't it?

I am excited about your ideas!

[2016-03-20 08:32] gvde commented on #240
That's up to libreoffice and seems to be for a long time: https://bugs.freedesktop.org/show_bug.cgi?id=51969

[2016-03-20 09:23] TecJon commented on #238
@irgendwie thank you for your answer. I have attached a vCard which I created for this purpose, it is displayed in the web interface like shown on the screenshot. Please let me know if additional sample data would be helpful.

![contact_screenshot](https://cloud.githubusercontent.com/assets/11375752/13903644/a74cc2ee-ee84-11e5-9c8e-ac9dca7e8591.png)

[contact.zip](https://github.com/owncloud/conta

[2016-03-20 11:05] TecJon commented on #238
Editing the name in the web interface broke the contact photo also for Thunderbird.
iOS also received the change but the image is still showing correctly. After editing the contact in iOS, the Thunderbird contact image is repaired.

However, I noticed a different inconvenience, changing the name of the contact in the web interface only changes the 'display name' the attributes 'forename' and 'last

[2016-03-20 11:27] #173 closed, assigned to DeepDiver1975

[2016-03-20 11:30] irgendwie commented on #238
@SamEliotFisher Thanks for your example vcard! :+1:
With the current master branch most issues should already be fixed.
At least your issues are not reproducible for me. Do you use version 1.0.0.0? Could you try if the same issues occur for the current master branch?

#195 did fix the commas in types issue (#173 was not automatically closed)
#189 did fix the photo problems.

#220 is still present

[2016-03-20 11:35] dniku commented on #111
Has anybody found a way to import GMail contacts into ownCloud using only Linux software?

[2016-03-20 11:39] irgendwie commented on #111
@Pastafarianist You can checkout the PR #237 - basic import functionality is worked on there.
It's already possible to import single *.vcf files (with one contact in them).
Feel free to contribute! :blush:

[2016-03-20 12:02] TecJon commented on #238
Yes, I'm using 1.0.0.0. Currently, I only have a production environment, not one for testing. I'll see if I can set something up.

[2016-03-20 12:52] #174 closed, assigned to nobody

[2016-03-20 13:41] dniku commented on #111
@crazy-max @NeilMonday which CardDAV url did you specify in eM Client? For me, the one which worked for DAVDroid (`/owncloud/remote.php/carddav`) fails with "error: method not allowed" in eM.

[2016-03-20 13:58] TecJon commented on #238
Somehow I quickly broke it.
Getting lots of that in the browser log

[code]

I'm unable to get the web contacts interface working again, currently, it is completely blank, only showing the settings label and icon.
Re-installing the contacts master doesn't change it. Maybe I missed some steps. I did a fresh oc 9 install and replaced the apps/contacts folder with the master branch.

[code]

[2016-03-20 14:17] NeilMonday commented on #111
I tried 2 apps like davdroid and neither worked (possibly due to user error). Maybe try em client with wine?

[2016-03-20 14:35] Henni commented on #238
@SamEliotFisher you have to initialize your development environment.
We didn't document this yet, but to make it work you have to run the following commands inside the contacts app directory:
`npm install`
`bower install`
`gulp`

cc @DeepDiver1975 we really need to set up nightly builds.

[2016-03-20 14:48] NeilMonday commented on #111
Sorry, misread your comment. I think I used this URL https://myurl.com/remote.php/dav/addressbooks/users/myusername/default/. Obviously replace myurl and myusername with what you have.

[2016-03-20 15:13] TecJon commented on #238
@Henni thank you for your advice. As I have still trouble: that is

[code]

in the apps/contacts folder, right?

[2016-03-20 15:24] Henni commented on #238
I believe you have to run:

[code]

[2016-03-20 15:29] TecJon commented on #238
Mh.. Something still seems to be missing, I get the same error messages as described above.

[2016-03-20 15:30] Henni commented on #238
[code]

[2016-03-20 15:44] heikojansen opened #242 "Birthdays from shared addressbook not visible"
I run an owncloud instance for my family. My wife and I both have a personal calendar and address book and in my account there is an additional calendar and an address book which I share with my wife.

In my contact app I have two address books ("Private" and "Shared").
In my calendar app I have three calendars; two ("Private" and "Shared") were created by me; one ("contact_birthdays") was apparen

[2016-03-20 15:46] heikojansen commented on #242
Just realized that this might not be the right place to report this issue, since it could also be an issue for the calendar app (or perhaps for the dav component in core). Feel free to close it and point me to the right place to open a new report...

[2016-03-20 15:49] DeepDiver1975 commented on #242
There is already an open issue in the core repo.
Thanks for reporting.

[2016-03-20 15:49] #242 closed, assigned to nobody

[2016-03-20 15:51] aspdye opened #243 "Prevent change of contact-color when changing a contacts adressbook"

[2016-03-20 15:51] #128 closed, assigned to nobody

[2016-03-20 15:51] dniku commented on #111
@NeilMonday thanks, it worked, but the groups were not preserved (I imported the contacts through *.vcf exported from Google). Did it work in your case?

**UPD:** I haven't found any reference to my old contact groups in the *.vcf file I exported from Google. Regardless, they are present in the *.csv export. Could someone post an example of a *.vcf entry which uses groups, so that I could merge th

[2016-03-20 16:15] irgendwie commented on #54
@tomneedham Icon is shown on firefox for me, issue still present?

[2016-03-20 16:22] NeilMonday commented on #111
I don't use groups unfortunately. You could export/import one group at a time maybe?

[2016-03-20 16:25] TecJon commented on #238
@Henni thank you, I got it to work. :+1:
Sorry for the noise, lets get back to the actual issue. Here are my findings:
1. The photo is shown on the contacts without complications.
2. When not setting a year of birth for a birthday, the web interface shows year of birth 1604
3. The iOS field type 'mobile' is shown on the web interface as 'Cell Voice' (not sure if intended)
4. The URL for iOS seems

[2016-03-20 16:46] Henni commented on #111
@Pastafarianist take a look at https://www.w3.org/2002/12/cal/vcard-examples/john-doe.vcf
It contains groups, which are called CATEGORIES in the vCard standard.

[2016-03-20 16:51] Henni commented on #238
@SamEliotFisher so the initial issue was fixed. -> let's close this issue then.

We should open new issues for all other points you mentioned:
@irgendwie is currently working on fixing 4.
Some/most/all of the phone type issues already exist.

[2016-03-20 16:55] TecJon commented on #238
@Henni agreed. :-) I will open new issues for my mentioned findings.

[2016-03-20 16:55] #238 closed, assigned to nobody

[2016-03-20 17:43] dniku commented on #111
@Henni will ownCloud recognize **CATEGORIES** as a comma-separated string?

[2016-03-20 17:44] Henni commented on #240
This looks like it has to be fixed by libreoffice.
Thank you @gvde for referencing the bug.

[2016-03-20 17:44] #240 closed, assigned to nobody

[2016-03-20 17:45] Henni commented on #111
@Pastafarianist yes
BTW: you are all welcome in our irc channel #owncloud-contacts

[2016-03-20 17:48] Henni opened #245 "Style and move import button"
The import button is currently simple text and placed inside the settings.
@jancborchardt could you please apply a bit of CSS to it and maybe reposition it to where you think it fits best.

[2016-03-20 17:54] irgendwie commented on #245
Also cool would be an overlay with information about the current import progress,
to give a visual feedback.

[2016-03-20 17:57] Henni opened #246 "Import types"
We currently support importing plain `.vcf` files containing a single or multiple vCards.

There are other formats we should support (copied from the old contacts app):
- [ ] Gmail `.csv`
- [ ] Outlook `.csv`
- [ ] Thunderbird `.csv`
- [ ] Yahoo `.csv`
- [ ] Gmail `.vcf`
- [ ] Yahoo `.vcf`
- [ ] any type of LDAP data

[2016-03-20 17:57] #181 closed, assigned to DeepDiver1975

[2016-03-20 18:04] Henni opened #247 "Export Contact"
Add option to export a single contact as a vCard

[2016-03-20 18:05] Henni opened #248 "Export Addressbook"
Add option to export an addressbook with all its contacts.

[2016-03-20 18:09] Henni commented on #111
Partially fixed by #237 which implemented vCard import.
Closing in favor of a new label [feature:import/export](https://github.com/owncloud/contacts/issues?q=is%3Aissue+is%3Aopen+label%3Afeature%3Aimport%2Fexport)

[2016-03-20 18:09] #111 closed, assigned to nobody

[2016-03-20 18:10] irgendwie commented on #192
Fixed by #233.

[2016-03-20 18:10] #192 closed, assigned to nobody

[2016-03-20 18:18] dniku commented on #111
Here is a very dirty example of how to convert a Google CSV to a VCF file: https://gist.github.com/Pastafarianist/6262b184ca3a8c990d4a

[2016-03-20 18:39] dniku opened #249 "[Feature request] An option to add notes"
Currently, the contact notes exported from Google are displayed, but new ones cannot be added.

![image](https://cloud.githubusercontent.com/assets/1315874/13906316/6e5e060e-eee4-11e5-81a5-354ac4f52fde.png)

Please add "notes" as an option to the list of contact fields.

**ownCloud version:** 9.0.0

**Contacts version:** 1.0.0.0

**Updated from an older ownCloud or fresh install:** updated from 8.

[2016-03-20 18:48] Henni commented on #249
I cannot reproduce this.
For me there is an entry "Notes" in the "Add field" dropdown.

[2016-03-20 18:53] Henni opened #250 "Long url overlaps icon"
![image](https://cloud.githubusercontent.com/assets/1267827/13906389/4084bf16-eed5-11e5-9b5d-12d914342b8d.png)

[2016-03-20 18:58] irgendwie commented on #249
Can't reproduce this either.

[2016-03-20 19:04] dniku commented on #249
I must have only taken a look at this dropdown list in a contact which already had a note added. Sorry for the disturbance.

[2016-03-20 19:04] #249 closed, assigned to nobody

[2016-03-20 19:12] irgendwie commented on #249
@Pastafarianist Don't worry, thanks for reporting the issues! They are very helpful!

[2016-03-21 06:42] enoch85 commented on #111
@Pastafarianist

The DAVDroid client will be updated, they released 1.0 beta now: https://davdroid.bitfire.at/configuration/owncloud/
https://twitter.com/davdroidapp/status/711675959582334976

[2016-03-21 08:22] j-ed opened #251 "OC9 - no contacts found message shown until an address record has been selected"
## Expected behavior

When opening the contacts app a message like 'loading contacts' etc. should be
shown until all address data have been loaded instead of `no contacts found`.
## Current behavior

When opening the contacts app the higly irritating `no contacts found` message is
shown as long as no contact has been selected, although address data has already
been loaded.

![2016-03-21 09_19_35-k

[2016-03-21 08:27] j-ed opened #252 "OC9 - total number of records in address book missing"
## Expected behavior

When opening the contacts app the total number of records in an address book should
be shown as it has been done in the OC8 Contacts app.
## Current behavior

When opening the contacts app the total number of records in an address book is missing.

![2016-03-21 09_19_35-kontakte - owncloud](https://cloud.githubusercontent.com/assets/2572764/13913448/0be707d8-ef47-11e5-98bc-5c

[2016-03-21 08:42] j-ed opened #254 "OC9 - field labels in address record missing or overlapped"
## Expected behavior

All fields of an address book entry should be labled with a label and a separate type selection.
## Current behavior

When selecting an address book entry several field labels are missing or maybe overlapped
by a type drop-down, which unfortunately couldn't handle multiple types too.

![2016-03-21 09_19_35-kontakte - owncloud](https://cloud.githubusercontent.com/assets/257276

[2016-03-21 08:54] gvde commented on #254
This is a dup of #173...

[2016-03-21 08:55] j-ed opened #255 "OC9 - for what purpose has a separate letter box field added?"
## Expected behavior

Only necessary address book fields should be shown by default. Unrequired
fields should be suppressed, like e.g. the `letter box` field.
## Current behavior

When selecting an address book entry a new `letter box` field is shown on top of
an address book record which usually is empty. Unfortunately I don't have a clue
for what purpose this field has been added, because only b

[2016-03-21 08:56] aspdye commented on #251
Duplicate of #24 :wink:

[2016-03-21 09:26] #251 closed, assigned to nobody

[2016-03-21 10:23] irgendwie commented on #255
@jancborchardt Do we want to suppress that field by default and make optional?

[2016-03-21 10:29] #250 closed, assigned to nobody

[2016-03-21 10:32] irgendwie commented on #254
This issue was fixed with with PR #195.
@Henni We need nightly builds or a new version in the app store. :rocket:

[2016-03-21 10:32] #254 closed, assigned to nobody

[2016-03-21 10:37] DeepDiver1975 commented on #252
I'd like to postpone this until we have restructured the client-server interaction - we need to move away from the load-all-contacts concept first - then we can see how to collect such information

[2016-03-21 10:38] DeepDiver1975 commented on #255
This is yet another example of bad translation :angry: this is the post office box - known in Germany as Postfach - a quite common required field.

[2016-03-21 10:40] DeepDiver1975 commented on #255
How shall we do this? Add a button to display this field? I don't think we get much out of this.

[2016-03-21 10:46] Henni opened #256 "Nightly Builds"
We need nightly builds!
They would enable testing of new features without having to set up npm, bower, etc.

[2016-03-21 10:55] irgendwie commented on #256
@enoch85 You are doing nightly builds for owncloud/mail or not? Are you interested in also providing nightly builds for owncloud/contacts? :blush:

[2016-03-21 11:19] DeepDiver1975 commented on #256
We can create a nightly tag which will trigger releasing to github

[2016-03-21 12:54] tsumi commented on #256
Hi, just for information, is there a manual about how build the package?
Thanks

[2016-03-21 13:15] enoch85 commented on #256
@irgendwie I could provide for contacts as well, but it seems like @DeepDiver1975 have a better soulution.

[2016-03-21 15:32] DeepDiver1975 commented on #256
the first automated tag - https://github.com/owncloud/contacts/releases/tag/v0.0.0.7

[2016-03-21 15:32] #256 closed, assigned to DeepDiver1975

[2016-03-21 15:37] DeepDiver1975 commented on #246
I'm honestly uncertain about this - we should not put top much features into this app.
The purpose of this app is simple contacts management - adding a hell of import converters will blow up the app again and result _once again_ in an unmaintainable blob

[2016-03-21 15:46] schiessle opened #258 "Integrate Federated Sharing into the Contacts App"
Since ownCloud 8.1 we have the concept of federated sharing for files. You can share a file with any user on any server by sharing it with <user>@<ownCloudServer>. We can even auto-complete this user IDs from the contacts app and from system wide address books synced between ownClouds.

I wonder if this wouldn't be a nice feature for the contacts app to allow federated sharing of address books? Im

[2016-03-21 16:32] timreeves opened #259 "Content Security Policy (Firefox)"
### Steps to reproduce
1. Enter or upload some contacts
2. View your contacts page in Firefox
### Expected behaviour

There should be no complaints from FF about Content Security Policy
### Actual behaviour

There are two (look in the FF console - ctrl-shift-k):
1. Content Security Policy: Die Einstellungen der Seite haben das Laden einer Ressource auf self blockiert ("script-src https://owncloud.

[2016-03-21 16:38] timreeves opened #260 "REPORT called twice for same URL"
### Steps to reproduce
1. Enter or upload some contacts
2. View the page in a browser (FF) and view the network calls
### Expected behaviour

There should be no duplicate calls to the same URL
### Actual behaviour

But there are:
REPORT   https://owncloud.hidden.de/remote.php/dav/addressbooks/users/TimReeves/default/
REPORT   https://owncloud.hidden.de/remote.php/dav/addressbooks/users/TimReeves/d

[2016-03-21 16:58] irgendwie commented on #259
duplicate of #174 - should be fixed since PR #239.
Would you mind testing again with this version:
https://github.com/owncloud/contacts/releases/tag/v0.0.0.7

[2016-03-21 16:59] DeepDiver1975 commented on #258
Once we have the basic work in core we can integrate the sharing capabilities in the app.

[2016-03-21 17:37] timreeves commented on #259
Thanks for your prompt answer!
I fetched and uploaded the current version you linked - but sadly, no change.
The "unsafe-eval" seems to be in the core - it also appears for the files page. The http(s) issue is definitely the contacts app. Sorry I could not report any improvement.

[2016-03-21 20:22] fracture-point commented on #246
my 2c - when I went to convert out of google, I ran into tons of issues with the Gmail csv import, so I just loaded them in via vcard anyways.  Sure, I had to re-create my groups, but I think everything else was intact.

I'd just keep it at vcard data.

[2016-03-22 06:55] jancborchardt commented on #255
The point of @j-ed is still true:

And I also told you I wasn't happy with the introduction of that field. ;)

Did you check out how the previous contacts app handled address input? One field, with the ability to expand to modify the details. Can we do it like that? Cause e.g. Android contacts does it similar, and it's much simpler than an ugly form field list.

[2016-03-22 07:21] DeepDiver1975 commented on #255
The old contacts app had a concept where view Mode and edit Mode are different. We don't have that by now.
Once we have that this issue will resolve by itself.
But I see a ton of more important issues by now.
Id like to get 1.1 out asap

[2016-03-22 09:17] jancborchardt commented on #255
That’s unrelated though. I was saying that ideally the input/edit function of the address is only one field. And you put in addresses comma-separated like one usually does. And the app parses it using some address resolver or whatnot. Then when you want to edit some additional details, you could expand the fields to the more complicated display.

TL;DR yes I know this is hard, but much like name i

[2016-03-22 09:30] DeepDiver1975 commented on #255
This is even more painful - the comma separated parts have an explicit meaning and we don't want people to type in technical data.

The correct format is specified here https://tools.ietf.org/html/rfc6350#section-6.3.1

Applying some magic parsing in contrary will just blow it up.

[2016-03-22 10:55] DeepDiver1975 commented on #207
there are combinations possible like HOME and CELL and IPHONE and TEXT and VOICE - which means: 'this is my private iphone used for text messaging and calls'

crazy - but this is all possible - some even add the carrier to the phone number like 'Vodaphone'

[2016-03-22 11:13] jancborchardt commented on #207
Ok, while I know it’s cool to be tecnically correct and all – how about we look at how big players like Google Contacts, iCloud contacts and the Contacts apps on iOS and Android do it and model it after that? Otherwise we just implement lots of complicated logic for stuff people are neither used to nor will ever use.

[2016-03-22 11:13] jancborchardt commented on #207
(Cause also here – I see plenty of other more important things than this. It will cost us lots of time and be a pain just for the questionably good feeling of being 100% compliant to a theoretical dreamworld spec.)

[2016-03-22 13:05] skjnldsv commented on #54
Same here, don't have this issue.

[2016-03-22 13:18] DeepDiver1975 commented on #207
Well - writing data into wrong field is simply a bug :wink:

Android Contacts - has 4 fields in edit mode street, city, state, postal code - no idea where they put the others ....

[2016-03-22 15:30] schiessle commented on #176
I see something similar I have around 200 contacts and loading the contacts app takes about 13 seconds. In this 13 seconds I see nothing, just a empty address book. If I look at the network console of my browser I see a huge number of propfinds.

Good to know that you are aware of it and that you are working on a solution for the next release because beside the performance issue the new contacts a

[2016-03-22 19:18] aspdye opened #263 "Enhancement: iOS / OS X Autoconfig-Profiles"

[2016-03-22 20:17] DeepDiver1975 commented on #263
What is that? Please add some description. Thx

[2016-03-22 20:59] mroi commented on #1058
CardDAV works fine for me with OS X 10.11.4.

[2016-03-22 22:43] rrustema commented on #1058
Not in OS X 10.11.3, but now it works in OS X 10.11.4? That sounds like Apple fixed it? Too good to be true...

[2016-03-22 22:56] voggeneder commented on #1058
can confirm, carddav is working here as well, my provider recently upgraded to OC9. still no luck with caldav though, although I haven't yet looked into this properly. :(

[2016-03-23 06:32] gvde commented on #1058
What works for me now on OS X 10.11.4 (owncloud server in subdirectory, .well-known redirects removed):

Add a CardDAV or CalDAV account through "Internet Accounts" in "System Preferences".

Account Type: Advanced
User Name: myusername
Password: userpassword
Server Address: www.example.com
Server Path: /owncloud/remote.php/carddav/principals/myusername/
Port: 443
Use SSL: X

Replace carddav with c

[2016-03-23 07:39] anybodesign commented on #1058
That's good news :) Unfortunately I rolled back toYosemite 2 days ago. (I also had issues with the keychains...) I'll try it on a test volume.

But I noticed something quite strange… It was also impossible to add a card account with Yosemite ! Same error "can't verify password"… whereas it worked perfectly back in the days of yosemite release… I also tried with Mavericks on an older Mac: same thin

[2016-03-23 07:48] Zettt commented on #1058
@gvde:

I can confirm that this now works, but it was working for me in "manual" too. There are three steps, the automatic one, manual, and advanced. I did not put in the effort to rewrite any `.htaccess` file.

Think we can close this issue now?

[2016-03-23 07:54] voggeneder commented on #1058
@Zettt did you also erase the .well-known files? I got carddav up and running, but can't get caldav to work.

[2016-03-23 08:04] gvde commented on #1058
.well-known is a redirect, not a file. If you have files called .well-known you MUST remove them. No good comes from files (or directories) called .well-known...

[2016-03-23 08:10] voggeneder commented on #1058
@gvde vielen dank for the reply, I'm not maintaining an OC installation, I'm just looking for possible hints to point my admin to ;), I'll cease to post here for now.

[2016-03-23 08:19] Zettt commented on #1058
@gvde: I mentioned your post, because it mentions the "advanced" setting, implying you'd have to use it. But we can use manual too. I didn't want to address my post specifically to you, but generally to this issue/bug on GitHub.

@voggeneder: I did not. I don't know what .well-known files are. I did not do anything. It just works™.

[2016-03-23 08:36] etiennerunge opened #264 "Can't select an adress book"
Hi there,

So, problem is in Contacts App, when I create an adressbook. I can't select an adressbook, it doesn't appear in adressbooks column. I can find it in settings, but can't see it and can't add addresses in it.
This issue is repported  by _onecloud_ on: Mar 14 2016 at https://apps.owncloud.com/content/show.php/Contacts?content=168708 too.

Thanks
### Server configuration

**Operating system

[2016-03-23 08:44] irgendwie commented on #264
Duplicate of #178

Currently it is not possible to select which addressbook is to be shown. (Still, this is a planned feature)
But you can change in which addressbook a contact is saved by looking into the details of a contact and changing the value of the addressbook.
When only one addressbook is available, that option is not changeable as it doesn't make much sense. :wink:

[2016-03-23 08:44] #264 closed, assigned to nobody

[2016-03-23 08:53] etiennerunge commented on #264
Oh ok, thanks !
The field used to save a contact in address book is the field named "Groups" ? (in french : "Groupes"). Is it correct ? Because it doesn't autocomplete the field.
Thanks ;)

[2016-03-23 11:07] nWRqenkF opened #265 "[Enhancement] Separate fields for first name, last name lost in new GUI"
### Steps to reproduce
1. Open new contacts gui
2. Open any contact
### Expected behaviour

In the old contacts gui (and in most contact clients I know, e.g. android contacts app, thunderbird, outlook) there are separate fields for first name and last name. at least as a detail dialogue
### Actual behaviour

Only a single input field for name exists
### Server configuration

**Operating system**:

[2016-03-23 11:29] spuntotheratboy commented on #1058
Just installed 10.11.4 and I still can't add my CardDav account! :-(

[2016-03-23 11:37] gvde commented on #1058
Then you seem to do something wrong...

[2016-03-23 14:16] rrustema commented on #1058
**The server responded with an error.** There was an unexpected error with the request (domain CalCalDAVErrorDomain / error 14).

is what I get in iCal after connecting. There is a grey triangle with an exclamation mark in it which gives the above error when you click on it. The calendar, user etc. exists because I can browse through the calendar using the owncloud webinterface.

I chose port 80,

[2016-03-23 14:31] gvde commented on #1058
@rrustema Simply trying some settings won't help.

If your server does not have https but only http there is no point trying port 443 and SSL. It's not there. Trying it won't do a thing. Posting what happens when you try 443 even though your server doesn't do https is only misleading... If your server doesn't support https (i.e., https://www.example.com/owncloud/ for your server won't get connecte

[2016-03-23 15:47] rrustema commented on #1058
Account Type: Advanced
User Name: myusername
Password: userpassword
Server Address: caldav.laatbestuurdersbesturen.nl
Server Path: /owncloud/remote.php/carddav/principals/myusername/
Port: 80
Use SSL:

And myusername and userpassword I copypasted from my 1Password app directly, so it can't go wrong there either.

In the error log I see no errors and this in the apache_access log:

`82.157.211.29 -

[2016-03-23 15:53] rrustema commented on #1058
Just recreated an account with the same settings but port 80.

**The server specified an invalid calendar home.** No calendar home was specified for the account “caldav.laatbestuurdersbesturen.nl”.

[2016-03-23 15:54] DeepDiver1975 opened #268 "SearchProxy has to stay as an file on it's own due to loading chain"
@irgendwie

[2016-03-23 15:55] gvde commented on #1058
You shouldn't use the carddav URL for a caldav client...

[2016-03-23 16:04] rrustema commented on #1058
Seems to work now. As usual the problem could be found between keyboard and chair...

[2016-03-23 16:04] bunix42 commented on #176
We also noticed this issue. At least some kind of loading animation should be shown so one knows it is doing something without using firebug or looking on the servers CPU ;)

[2016-03-23 16:33] #1058 closed

[2016-03-23 16:34] DeepDiver1975 commented on #1058
I'm closing this since there are ways to male it work and the code is anyhow unmaintained.

Any future issues in this area should be opened in core - THX

[2016-03-23 17:35] aspdye opened #270 "Enhancement: Link Facebook or other Profiles with Contacts"
- Profile Pictures (Import and Sync with Facebook, Twitter, Google+, Diaspora, ...)
- Links to Profiles
- Import Contact Details (Birthdays, ...) from Profiles like Facebook, Twitter, ...
- Import whole Contacts

[2016-03-23 18:15] skjnldsv commented on #270
For the profile pic & birthdays, there is an app available: https://apps.owncloud.com/content/show.php/FbSync?content=174311

[2016-03-23 21:23] DeepDiver1975 commented on #270
We should add this to the Import issue and close this one

[2016-03-23 23:06] #270 closed, assigned to nobody

[2016-03-23 23:07] DeepDiver1975 commented on #246
from #270
- Profile Pictures (Import and Sync with Facebook, Twitter, Google+, Diaspora, ...)
- Links to Profiles
- Import Contact Details (Birthdays, ...) from Profiles like Facebook, Twitter, ...
- Import whole Contacts

[2016-03-24 09:23] nWRqenkF opened #273 "[Enhancement] Provide date picker for birthday"
### Expected behaviour

The birthday field should provide a date picker
### Actual behaviour

Simple text input field
### Server configuration

**Operating system**: Debian Wheezy

**Web server:** nginx

**Database:** MySql

**PHP version:** 5.6.17

**ownCloud version:** (see ownCloud admin page) 9.0.0

**Contacts version:** (see ownCloud apps page) 1.0.0.0

**Updated from an older ownCloud or fre

[2016-03-24 09:28] nWRqenkF opened #274 "Birthday field should provide error message for illegal formats"
### Steps to reproduce
1. Create a new contact
2. Add field "Birthday"
3. Enter "31.01.2001"
4. Focus on any other contact field
5. Select any other contact and then the newly created contact
### Expected behaviour

At least after step 4 the ui should provide an error message, that the entered format is illegal and/or that the expected format ist 2001-01-31
### Actual behaviour

After step 4 nothi

[2016-03-24 09:30] alweiler opened #275 "Error with contacts sync with webdav and contacts 9.0 after upgrade"
After upgrade sync is not working
in log

Exception: {"Message":"Invalid Mimedir file. Line starting at 8 did not follow iCalendar\/vCard conventions","Exception":"Sabre\VObject\ParseException","Code":0,"Trace":"#0 \/var\/www\/owncloud\/3rdparty\/sabre\/vobject\/lib\/Parser\/MimeDir.php(189): Sabre\VObject\Parser\MimeDir->readProperty(';UNKNOWN=\"MOBIL...')\n#1 \/var\/www\/owncloud\/3rdparty\/sabr

[2016-03-24 09:48] nWRqenkF opened #276 "Name changes lost when using CardDAV and UI"
### Steps to reproduce
1. Create a new contact using Android contact app with the name "Aaaa Test" (use the single input field). (After this step android automagically fills the first name with "Aaaa" und the last name with "Test")
2. Synchronize Android with OC
3. Edit the name of the contact in OC UI to "Bbbb Btest"
4. Synchronize Android with OC
5. View contact in Android contact app
### Expect

[2016-03-24 09:52] gvde commented on #275
1. carddav is part of the core, i.e. this is a core issue.
2. You have a card which contains a line starting with ';UNKNOWN=\"MOBIL...'. That is broken. Fix the card to in the database...

[2016-03-24 10:17] alweiler commented on #275
In which table. In zsdcards, or somewhere else

[2016-03-24 10:26] gvde commented on #275
What is "zsdcards"? Usually the table is called "oc_contacts_cards".

But again: it's a core issue. Open an issue in the core...

[2016-03-24 10:34] alweiler commented on #275
ok. But also I can't  see contacts after upgrade. They are in table, but from web interface I can't see them

[2016-03-24 11:07] gvde commented on #275
It's in the database of your owncloud server.

[2016-03-24 11:17] trancilo commented on #178
:+1:

[2016-03-24 13:01] alweiler commented on #275
yes, in database table. But through web gui it is empty

[2016-03-24 13:11] DeepDiver1975 commented on #273
![bildschirmfoto von 2016-03-24 14-10-45](https://cloud.githubusercontent.com/assets/1005065/14017793/3a061296-f1ca-11e5-83a1-cb898aaa32d7.png)

[2016-03-24 13:11] #273 closed, assigned to nobody

[2016-03-24 13:11] DeepDiver1975 commented on #273
Already there - will soon be published

[2016-03-24 13:11] DeepDiver1975 commented on #274
there is a date picker in place already

[2016-03-24 13:11] #274 closed, assigned to nobody

[2016-03-24 13:12] DeepDiver1975 commented on #276
Oh - yes - this is the missing sync of FN and N - THX for reporting

[2016-03-24 13:14] DeepDiver1975 commented on #275
because the data is broken and cannot be displayed

[2016-03-24 13:14] #275 closed, assigned to nobody

[2016-03-24 13:14] DeepDiver1975 commented on #275
closing this because if invalid data - nothing we can do

[2016-03-24 13:15] DeepDiver1975 commented on #178
@trancilo what are you trying to tell us?

[2016-03-24 14:04] trancilo commented on #178
Just that I'd like to see this feature too. nvm the link to my owncloud account.

[2016-03-24 14:31] gvde commented on #275
@DeepDiver1975 Well, I think it should handle invalid data in the database more gracefully than throwing an exception and leaving carddav or the web app in an undefined state... I could of a couple of things that you could do...

[2016-03-24 14:31] gvde commented on #275
@alweiler

Fix the card in the database and it should work again...

[2016-03-24 14:57] DeepDiver1975 commented on #275
generally speaking you are right - but vcards are validated before they are put to the db - so scenarios like this should not happen .... well should :see_no_evil:

feel free to open an issue in the core repo - THX

[2016-03-24 15:36] gvde commented on #275
Well should... In particular if people wouldn't upgrade from previous versions...

I opened an issue this morning but somehow I don't find it anymore. Now again, maybe here: owncloud/core#23566

[2016-03-24 15:43] DeepDiver1975 commented on #275
THX

[2016-03-24 16:26] alweiler commented on #275
and second problem for me is, that I cant add contacts through web gui. There are lot javascript errors dav.js?v=1509952…:3669 Refused to connect to 'http://remote.php/dav/addressbooks' because it violates the following Content Security Policy directive: "connect-src 'self'".

[2016-03-24 16:28] gvde commented on #275
a second problem is a different issue. Open a new issue...

[2016-03-24 16:52] DeepDiver1975 commented on #275
there is already one ... somewhere ...

[2016-03-24 20:37] malfatti commented on #111
Hi!

I installed this app by cloning this repo into apps/ and then enable it on admin apps page. I can see the import button, but when I try to import a vcf with 257 contacts, I got no feedback, no loading, no nothing, and I waited for more than 30'. The same file imported sucessfuly in OC8.2.3, so the file seems to be ok.

Am I doing something wrong?

Thanks!

[2016-03-24 21:03] Henni commented on #111
@malfatti In theory it should work. We haven't implemented feedback for the import yet (e.g. progress bar). Please open a separate issue.

[2016-03-24 21:03] robertwenner opened #277 "Birthday dates reduced by one day"
### Steps to reproduce
1. Add a new contact, enter a name
2. Add birthday field, enter e.g., 2000-01-01
3. Click on another contact, then go back to the new contact

This also seemed to happen with all my exiting contacts. Maybe it's a matter of displaying the date vs actually storing the wrong date?
### Expected behaviour

Birthday should be 2000-01-01
### Actual behaviour

Birthday is 1999-12-31

[2016-03-24 21:14] #260 closed, assigned to DeepDiver1975

[2016-03-24 21:36] #268 closed, assigned to nobody

[2016-03-24 21:58] robertwenner commented on #277
I don't understand what you are trying to say here. Looks like ISO 8601 format is accepted, from both what your picture show and what I tried. (At least I did not get an error message.) So I am not sure how a date picker would make a difference here.

That said, my owncloud does not offer a date picker. Did you mean that the date picker will be available in a future version?

Also note that existi

[2016-03-24 22:06] DeepDiver1975 commented on #277
oh - sorry - I missinterpreted your report.

[2016-03-25 07:04] abyssox opened #279 "Import button overlaps settings button in german ui"
In german ui the import button overlaps the settings button.
![2016-03-25__08_00_01](https://cloud.githubusercontent.com/assets/4539953/14039744/c07189c4-f25f-11e5-908b-9f5b661e2158.png)
**ownCloud version:** 9.0.0
**Contacts version:** 1.1.0

[2016-03-25 07:34] DeepDiver1975 commented on #277
The Datepicker is part of 1.1.0.0 which was pushed to the appstore yesterday

[2016-03-25 07:34] #224 closed, assigned to DeepDiver1975

[2016-03-25 12:52] j-ed opened #281 "contacts v1.1.0.0 - contact groups are not displayed anymore"
## Expected behavior

When opening the contacts app the available contact groups should be shown in the left
column.
## Current behavior

After upgrading the contacts app from v1.0.0.0 to v1.1.0.0 no contact groups at all are
displayed anymore when opening the contacts app.

![20160325_contact_groups_missing](https://cloud.githubusercontent.com/assets/2572764/14044403/8de66d7c-f290-11e5-9e24-831b4

[2016-03-25 12:54] irgendwie commented on #277
Not reproducible for me. :-1:

[2016-03-25 12:56] irgendwie commented on #281
Thanks @j-ed for reporting - are there any errors in the console?

[2016-03-25 12:59] irgendwie commented on #209
@codethief Is this bug still occurring in 1.1? Is it possible for you to provide an example vcard?

[2016-03-25 13:00] irgendwie commented on #162
Should be fixed since a cleanup PR from @Henni.

[2016-03-25 13:00] #162 closed, assigned to nobody

[2016-03-25 13:07] skjnldsv commented on #281
Can't reproduce here. Strange.

[2016-03-25 13:14] j-ed commented on #281
I've enable the debug logging but nothing is logged when I open the contacts app.

[2016-03-25 13:18] irgendwie commented on #281
The app is just a javascript frontend - maybe something in the Javascript console?
(https://webmasters.stackexchange.com/questions/8525/how-to-open-the-javascript-console-in-different-browsers/77337#77337)

[2016-03-25 13:24] j-ed commented on #281
I've now tested it with a brand new FF profile and the contact groups are displayed properly, although starting FF with my usual profile didn't show it. I've then cleared the temporary file cache and restarted the browser and now the categories are shown again.
Sorry for having rung the bell on this but in the past it had worked without clearing the local FF file cache.

[2016-03-25 13:29] #281 closed, assigned to nobody

[2016-03-25 13:46] irgendwie commented on #281
Np mate, nonetheless a weird issue :smile:

[2016-03-25 14:05] j-ed opened #283 "contacts v1.1.0.0 - impossible to assign name details to the right fields"
## Expected behavior

When editing a contact it should be possible to edit the name details, like title, first, middle
and last name of a contact as in the previous contact app to make sure that the information
is assigned to the right fields.
## Current behavior

It isn't possible to edit the name details separately anymore, instead only one single name line
is shown in the contact header record.

[2016-03-25 14:24] j-ed opened #286 "contacts v1.1.0.0 - company and job role information almost impossible to read"
## Expected behavior

When editing and/or displaying the contact details, the company and job role information should
be shown in full length, one per line.
## Current behavior

The company and job role information is cropped and displayed in a single line which makes it
almost impossible to read it correctly. There is sufficient space on a desktop PC or tablet PC screen
and no need to crop the in

[2016-03-25 14:30] robertwenner commented on #277
Would a short screencast help? I guess you still wouldn't be able to reproduce it, but at least it would show that I am not totally crazy ;-)

[2016-03-25 15:03] DeepDiver1975 commented on #283
Known issue. Thx

[2016-03-25 15:03] #283 closed, assigned to nobody

[2016-03-25 15:05] DeepDiver1975 commented on #286
Nice idea. @jancborchardt

[2016-03-25 15:40] DeepDiver1975 opened #288 "No coverage displayed on codecov.io"
https://codecov.io/github/owncloud/contacts

[2016-03-25 15:49] Henni commented on #288
This might be because we test `public/script.js` which isn't part of the repository.
We could change it to test the source files instead of the concatenated file.

[2016-03-25 15:55] DeepDiver1975 commented on #288
Nice idea. Are you preparing a PR?

[2016-03-25 15:58] Henni commented on #288
I'm on it

[2016-03-25 16:07] DeepDiver1975 commented on #288
:+1:

[2016-03-25 16:37] #288 closed, assigned to nobody

[2016-03-25 16:48] rakekniven opened #291 "Import of vcf file incl. multiple contacts does not work"
### Steps to reproduce
1. Open my productive ownCloud v8.2.3 and export all my contacts (about 400) to vcf file.
2. Opem my testing ownCloud v9.0.1 beta 1 with contacts app v1.1.0.0
3. Open import dialog and select vcf file
4. Nothing happens
### Expected behaviour

Contact should be imported
### Actual behaviour

Nothing happens. No spinning wheel, no dialog, no log entries
### Server configurati

[2016-03-25 16:51] tomneedham commented on #291
Anything in the web browser console?

[2016-03-25 16:52] tomneedham commented on #291
Are you able to check with another .vcf file to check that import is working on your install. I can import from OSX Contact. Just exporting from OC like you and will try import.

[2016-03-25 17:02] rakekniven commented on #291
Web browser console does not contain any entry. Cleared after loading page.
Started import action and nothing is in.
Also tried to import another vcf. Small one containing just one single contact. Same behaviour.

Just did same action for some of my calendars and that worked pretty well.

What else can I provide?

[2016-03-25 17:08] gpgmailencrypt opened #292 "contacts 1.1.0.0 import button"
should the newly introduced import button work in 1.1.0.0 under owncloud 9?
In my case it opens a file window to select the import file (a former  oc 8.2 exported addressbook) but then nothing happens. Neither the contacts will be imported nor any message in owncloud.log will be displayed.

[2016-03-25 17:35] tomneedham commented on #292
Duplicate of https://github.com/owncloud/contacts/issues/291 please continue discussion there.

[2016-03-25 17:35] #292 closed, assigned to nobody

[2016-03-25 17:36] tomneedham commented on #291
Ah I can now reproduce this in Chrome - however it is working in Safari for me.

[2016-03-25 17:39] meras1894 opened #294 "PreconditionFailed when Adding contact in Contacts app"
Don't know if that's a problem of core or of contacts:
### Steps to reproduce
1. Adding new contact in Contacts App
2. Switching to another site on owncloud
3. Switching back to Contact App
### Expected behaviour

Contact should be there
### Actual behaviour

Contact isn't there
In Log, there is a "PreconditionFailed"-Error

### Server configuration

**Operating system**:
Ubuntu 14.04

**Web serve

[2016-03-25 17:57] ghost commented on #291
Failed for me too. I made a fresh installation based on ubuntu 14.04 lts, php 5.6, mysql and ownCloud9.
Neither a new created single-vcf nor my exported multi-vcf (271 items from ownCloud 8.2.3) will be imported. The Import-Dialouge disappeard after selecting the file without any errors. As well no error- or log-entries can be found. May i assist you with reproducing this behaviour or anything els

[2016-03-25 18:03] Henni commented on #291
@criegerde Can you share the vcf files with us?

[2016-03-25 19:51] macmeck opened #295 "not loading/empty page after upgrade to v1.1.0.0"
### Steps to reproduce
1. Install contacts v1.1.0.0 over v1.0.0.0
2. open contacts app
### Expected behaviour

Contact lists and contacts should be shown
### Actual behaviour

page remains empty apart from owncloud navigation bar
works when switching back to v1.0.0.0
### Server configuration

**Operating system**: Xubuntu 15.10

**Web server:** nginx

**Database:** mariadb 10.0.23

**PHP version:*

[2016-03-25 20:52] ghost commented on #291
for sure...please find attached the single vcf
appologize, i made an incorrect information:about my php
my correct PHP Version: 5.5.9-1ubuntu4.14
[criegerde.zip](https://github.com/owncloud/contacts/files/190072/criegerde.zip)
i could also provide an account and login to my environment?

[2016-03-25 21:28] BernhardPosselt opened #296 "Provide a uniform way to build the app (fetch libraries and compile assets)"
Since most apps now don't bundle compiled JavaScript/CSS and vendor libraries (bower/npm/composer), it got a lot harder to update and develop on a version from git.

What I'm proposing is to provide a uniform interface for all apps (will later also add this to ocdev templates) which follows the very well known Makefiles from other projects:

Building the whole project (fetching 3rdparty libs, mini

[2016-03-25 22:05] macmeck commented on #276
I think it's the same issue if you create a contact in the OC UI and then sync it to Thunderbird using the SoGo connector. First name and last name fields are empty, only display name is being set. Therefore Thunderbird cannot display the contact properly.

[2016-03-26 00:39] DeepDiver1975 commented on #296
I honestly think that the way apps are developed is individual to each project and developer.

All which we need to take care of - from a developer perspective - is that the development process is described somehow - ideal in the readme.

I really don't want to force any methodology upon anybody.

[2016-03-26 00:42] BernhardPosselt commented on #296
Sure but this becomes quite a pain when you want to update/build more than one app ;)

I'm running git versions of multiple apps on my own server and reading into all readmes and creating separate build scripts seems a waste of time.

The most important thing for me is a uniform way to build it, the rest is just stuff that can be free (if generated by ocdev)

[2016-03-26 00:48] BernhardPosselt commented on #296
Uniform entry point would probably be a better wording. You can run any package managers and build tools you want, as long as the package can get built by simply running make ;)

[2016-03-26 10:36] hitam4450 opened #297 "Menue Item misplaced"
The 'Action' menu item  **import contacts **is located in the settings menu, which is not intuitive at all and logically not correct, to place an '**action**' item in the '**settings**' menu!

The same holds true in the calendar app !! (https://github.com/owncloud/calendar/issues/348)

regards, hitam4450

### Steps to reproduce

1.
2.
3.
### Expected behaviour

Tell us what should happen
### Actua

[2016-03-26 10:51] skjnldsv commented on #297
Hello, thanks for your feedback.
Where do you suggest we should put the import button?

[2016-03-26 10:59] hitam4450 commented on #297
I would suggest a prominent location on the left pane e.g. in the top part, so it is visible to everyone, no search is required, no support questions asked!
KISS= Keep it Simple Stupid!

regards, hitam4450

[2016-03-26 11:20] Mi3012 opened #298 "Endless loading when username has blankspace"
I tried with various names, everytime I use a blankspace in the name (like Test User) the contacts app won't stop loading. I tried the fix to add 'enable_avatars' => false, in config.php but nothing happens. But names like Testuser work fine.

(in owncloud 8.1 it worked)

[2016-03-26 11:25] gvde commented on #297
I wouldn't place the import function into such a prominent place. It's not something to be used on a daily basis thus putting it into the menu is the perfect place for me.

Instead, I wouldn't call that menu 'Settings' as sharing, url view, deleting address books is not really a "setting" to begin with. I would rather call that menu something like "Advanced" or "Tools" which is more like what it c

[2016-03-26 11:39] Henni commented on #298
I can't reproduce this.
@Mi3012 can you share a vcf file with us?

[2016-03-26 12:06] hitam4450 commented on #297
Hi, everything menu item different  then Settings is Ok with me........

However, the solution should be consistent across all OC apps: calendar, music, gallery, contacts, etc.

[2016-03-26 12:08] skjnldsv commented on #297
Maybe adding an action bar just under the Settings label?
But we would need more option to put in that bar, just having he "import"  link isn't good enough.

[2016-03-26 12:17] Henni commented on #297
I also thought about placing it like the "Deleted files" in the files app:
![image](https://cloud.githubusercontent.com/assets/1267827/14059974/d76303d8-f354-11e5-8b2e-922f8df93893.png)

But in the end I believe the right place is the settings menu, because this is also where the export function will be.

Maybe it would make sense to rename "Settings" to "Addressbooks" and choose a different icon.

[2016-03-26 12:18] Henni commented on #297
@owncloud/designers where should we place the Import feature in your opinion?

[2016-03-26 12:27] Mi3012 commented on #298
Sry I don't mean the name of an contact I mean as ownCloud username. I have users with dots like T.User which work with the app but the users with blankspace like Test User see a endless loading symbol when they open the app:

<img width="1194" alt="bildschirmfoto 2016-03-26 um 13 24 02" src="https://cloud.githubusercontent.com/assets/18085058/14060016/2ad6e9ac-f356-11e5-98cf-a73e1f398733.png">

[2016-03-26 12:33] Henni commented on #298
@Mi3012 Thanks for the clarification

[2016-03-26 15:15] DeepDiver1975 commented on #297
Having Import down in the settings isfine for me. Its not a feature you use every day.

[2016-03-26 15:16] skjnldsv commented on #297
Same here!

[2016-03-26 18:07] IwishIcanFLighT opened #300 "Invisible contacts letter avatar"
### Expected behaviour

Contact list with different colors.
### Actual behaviour

Some contacts avatars are invisible. Selecting the list make the letter appears.

![capture](https://cloud.githubusercontent.com/assets/4090502/14061578/de212ea0-f383-11e5-861e-1eb3d04d37fa.JPG)

Also, those contact edit page looks like this:
![2](https://cloud.githubusercontent.com/assets/4090502/14061607/85fbc23e-f

[2016-03-26 18:29] skjnldsv commented on #220
The vcard vendor is good.
When loaded, the data is ok: https://github.com/Heymdall/vcard/blob/master/src/vcard.js#L56

We need to do the same replace in the model I think, so that we don't display the backslash on the view.

EDIT: it seems to only happen in the address fields.
![dsq](https://cloud.githubusercontent.com/assets/14975046/14072315/7ae697e8-f4bf-11e5-9a00-8c87ce122d46.png)

[2016-03-26 19:21] jc97 opened #301 "Users have allways writeaccess to shared addressbooks."
### Steps to reproduce
1. Share an addressbook with an user and don't gain write access.
2. Login as another user and open the contacts app
3. Try to edit an existing contact in the shared addressbook.
### Expected behaviour

You should not be able to edit this addressbook. You even should not be able to change the sharing-configuration.
### Actual behaviour

You can do what you want like the addr

[2016-03-26 19:58] thorsten19 opened #302 "German translation for Home should be changed to Privat"
**Expected behaviour**
German translation for 'Home' should be 'Privat'
Privat is used for other systems allowing CardDav sync (i.e. Android, iOS).
Tried to find/fix this on transifex but there translation for Home is shown as Home. Could not find how to fix it there.

**Actual behaviour**
German translation for 'Home' is 'Zuhause' (same was the case for Contacts used in Owncloud 8.2).
Besides the

[2016-03-26 20:27] thorsten19 opened #303 "Enhancement: Delete Addressbook should display confirmation dialog"
**Steps to reproduce**
1. Open Contacts and click on Settings
2. A click on the trash bin icon deletes the addressbook right away

**Expected behaviour**
Deleting the addressbook should display a confirmation dialog. Else the addressbook is gone without a way to undo this significant action.

**Actual behaviour**
Deliting the addressbook deleted the same right away.

**Server configuration**
Opera

[2016-03-26 20:37] thorsten19 commented on #297
Having the import function in the settings section is the right place. This is nothing a user will do frequently.
I suggest to only display an icon that uses the arrow in up direction (similar to what you currently use next to the Import text) and to place it in the same row wher you currently have the 'Show Url' and 'Share Addressbook' icons/links. Then you do do not have any more issues for this

[2016-03-26 20:44] jancborchardt commented on #286
Sorry, but no. This takes way too much focus away from the name and clutters everything up visually.

I would be fine with making the fields wider, yes. But not a line for each. No other field is soo wide.

[2016-03-26 20:50] jancborchardt commented on #297
Folks – look at the old Contacts app. For the initial empty experience, the import button is big and fat inside the empty state. That is where it belongs and we need to do the same again.

Same for Calendar actually cc @georgehrke @raghunayyar

[2016-03-26 20:50] jancborchardt commented on #297
(And yes, it should also be in settings for any subsequent need for importing.)

[2016-03-26 20:56] jancborchardt opened #304 "Development setup instructions"
Are missing from the README. ;) I have no idea right now how to make the app not look empty.

cc @Henni @BernhardPosselt @DeepDiver1975  which kinda crazy build toolchain is it now? ;D

[2016-03-26 21:01] georgehrke commented on #297
@jancborchardt Concerning the calendar app - What about:
If there there is no writable calendar, show an `Import calendar` button below the `new calendar` button?

[2016-03-26 21:14] jancborchardt commented on #297
@georgehrke yeah, sounds good. (Forgot that there is not really an empty state since we have the Calendar grid.)

[2016-03-26 21:18] macmeck commented on #295
This issue seems to be related to commit https://github.com/owncloud/contacts/commit/967c9949264151daa67eec6e54b2e2d21c1c42ba when the vendor libs were removed. It only happens when I clone the git repository. The release package seems to be fine.

[2016-03-26 23:14] macmeck commented on #295
See also issue #304

[2016-03-26 23:20] macmeck commented on #300
Especially the contact edit form thing is pretty annoying since you cannot even read the name of the contact.

[2016-03-27 05:55] skjnldsv commented on #302
I think the translation is only done via transifex :)

[2016-03-27 06:16] skjnldsv commented on #300
Hum, this is strange.
Does the contacts have pictures?

Could you give me some contact uid? The color is generated from the contact uid.

[2016-03-27 07:31] skjnldsv opened #307 "[Design] Add Letter in contact header too"
I find the header incredibly empty, especially without picture.
Do you think this is a good Idea?

![alice](https://cloud.githubusercontent.com/assets/14975046/14064301/be900b62-f3fe-11e5-95d9-18482034f502.png)

[2016-03-27 08:27] DeepDiver1975 commented on #302
Yes - change it on transifex

[2016-03-27 08:52] #295 closed, assigned to nobody

[2016-03-27 08:54] DeepDiver1975 commented on #301
Issue in core. Fixed with 9.0.1

[2016-03-27 09:23] bohni commented on #300
I investigated this yesterday and just run over this issue as I wanted to create one.

The reason is that the backgorund color is generated from the contacts UID. The UID is expected to be a hash value. See `contactColor_filter.js`.

But some contacts have another UID, eg. `20131217T100925.ac9f58a2cd@example.com`

So the background-color could not be generated as the JavaScript-Method returns NaN

[2016-03-27 09:38] skjnldsv commented on #300
That's what I though! It's strange that you have those kinds of uids.
@DeepDiver1975 Should we override the uids in the contact app to preserve the pattern we're using?
I could also correct the filter.

[2016-03-27 10:25] gvde commented on #300
According to RFC 2426 3.0 cards UID can have any text as value. Only with 4.0 cards you have URIs by default, but then a UID can look like this: UID:urn:uuid:f81d4fae-7dec-11d0-a765-00a0c91e6bf6...

And I think you should not modify properties of cards unless absolutely necessary. You'll never know where else this UID is used...

[2016-03-27 13:08] skjnldsv commented on #300
@gvde this should fix it. Replace

[code]

by

[code]

in /js/public/script.js (arround line 1620)

[2016-03-27 15:41] bohni commented on #300
@skjnldsv Thanks, this fix works for me.

[2016-03-27 15:47] Henni commented on #300
@skjnldsv we should never override any property in a vcard without the interaction of a user. This could lead to strange bugs if multiple clients are connected and try to convert the uids to their format, for example.

[2016-03-27 15:49] skjnldsv commented on #300
That's what i though too, but wanted to ask anyway! :)

[2016-03-27 16:41] thorsten19 commented on #302
Thanks. Requested to be added to the owncloud translation group for German and once I get approved I'll change it there.

[2016-03-27 17:35] IwishIcanFLighT commented on #300
Woah, you guys are fast!
I can't wait to test the fix! :smile:
Thanks!

[2016-03-27 18:31] aspdye opened #308 "Company Field is too small"

[2016-03-27 21:13] #308 closed, assigned to nobody

[2016-03-27 21:13] DeepDiver1975 commented on #308
Duplicate. Already being discussed in another issue

[2016-03-27 21:25] aspdye commented on #308
ref #286

[2016-03-28 00:39] codethief commented on #209
@DeepDiver1975 Sorry for the delay. I've been quite busy the past days.

@irgendwie Thanks for telling me about v1.1! I just updated and it seems to work now.

On a different note, is "YYYYMMDD" (without any intermediate spaces, slashes or dots) really the way the birthday is supposed to be shown?

[2016-03-28 03:59] skjnldsv commented on #307
@Henni @DeepDiver1975 ?

[2016-03-28 04:43] skjnldsv commented on #302
Can we close the issue then?

[2016-03-28 06:03] DeepDiver1975 commented on #307
I like that

[2016-03-28 06:14] DeepDiver1975 commented on #302
accepted - thanks a lot!

[2016-03-28 06:14] #302 closed, assigned to nobody

[2016-03-28 06:27] skjnldsv commented on #245
Closed, continue in #297 and #290

[2016-03-28 06:27] #245 closed, assigned to nobody

[2016-03-28 08:04] skjnldsv commented on #220
Adding this to /js/components/detailsItem/detailsItem_controller.js seems to do the trick, but I'm not sure that is the best way.
It just correct a previous change made god knows where. So when you write a comma, the input still gets updated and your cursor still goes back at the end. Not really great!
However, this issue seems to only affect the Arrays data (like the address), the simple fields a

[2016-03-28 15:55] thorsten19 commented on #302
Thank you @DeepDiver1975. Translation has been updated

[2016-03-28 19:02] TecJon commented on #291
I experienced the same error.
However, when reloading now I get this Browser error log and a never ending spinning wheel.

[code]

### Steps to reproduce
1. Select .vcf file created by an Android 5 device in the contacts import window
2. Hit Open

### Expected behaviour

See progress of upload and import process.
List of imported contacts.

### Actual behaviour

Nothing. No Spinning wheel, empty c

[2016-03-28 21:49] Ieubts opened #310 "No contact export or import"
### Steps to reproduce

1.
2.
3.
### Expected behaviour

Tell us what should happen
### Actual behaviour

Tell us what happens instead
### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Contacts version:** (see ownCloud apps page)

**Updated from an older ownCloud or fresh install:**

**Signing statu

[2016-03-28 22:15] aspdye commented on #310
Can you give a little description of the enhancement, or fill out the issue template :wink:

[2016-03-28 22:15] #310 closed, assigned to nobody

[2016-03-28 22:16] aspdye commented on #310
Dup of many other issues :stuck_out_tongue_winking_eye:

[2016-03-28 22:27] Ieubts commented on #310
Thank you.  I'm new to Owncloud and I guess I really made a mistake with upgrading.  I converted to using the contacts app (worked great) and now after I upgraded today  to 9.0... and I guess contacts 1.1?.... most of the functionality is gone.  Can you point me to where I can at least read about what has happened? (a forum?).  I need to roll back as now I can't import/export, delete multiple cont

[2016-03-29 04:38] DeepDiver1975 commented on #310
- Import of a single contact is possible in the settings menu
- Export needs to be implemented
- multiple delete needs to be implemented
- groups can be managed within each contact

Feel free to open a new issue for multi delete - THX

[2016-03-29 04:39] DeepDiver1975 commented on #303
We better go for the undo feature

[2016-03-29 04:39] #303 closed, assigned to nobody

[2016-03-29 04:41] DeepDiver1975 commented on #303
See #201

[2016-03-29 08:51] ghormoon opened #311 "Some characters make contacts load forever"
Some characters (like 0x0c) make contacts load forever (spinning wheel).
The same contacts were working in 8.2.2, after upgrade to 9.0.0 (and later to 9.0.1 beta), contacts of one user stopped working - I've managed to export them using seamonkey and pinned down one of the broken ones. Except that, there are still some I can't even export and some of these are broken too.
Best I got after fixing t

[2016-03-29 09:11] skjnldsv commented on #36
Should I suggest this? :)
![contacts owncloud](https://cloud.githubusercontent.com/assets/14975046/14103142/e64ceed0-f59e-11e5-8a03-d08b50d29100.png) ![contacts owncloud2](https://cloud.githubusercontent.com/assets/14975046/14103141/e64c5e02-f59e-11e5-8e2f-e5ce3edf3b88.png)

Instead of this:
![contacts owncloud3](https://cloud.githubusercontent.com/assets/14975046/14103146/e95b8fd2-f59e-11e5-8979-

[2016-03-29 09:12] skjnldsv commented on #36
Okay, just saw that's exaclty what  @tomneedham  did in the PR, good job! ;)

[2016-03-29 09:42] ghormoon commented on #139
actually I'm glad I can delete them all when I break things when testing because one of my user has way too broken data :)))
I'd prefer only something like alert window that it's not a good idea to delete them all, but actually have the option

[2016-03-29 09:50] skjnldsv opened #312 "First contact loading issues"
If you have some contacts starting with a special char (like _ for example), it appear on top list but isn't the loaded contact.
- Only happen on page loading.
- Does not happen when selecting a Group.

![contacts owncloud](https://cloud.githubusercontent.com/assets/14975046/14104246/6d426c9e-f5a4-11e5-884e-9f296b0a42df.png)

On page loading, reclicking the 'all contact' link make the loaded conta

[2016-03-29 09:54] skjnldsv commented on #312
@DeepDiver1975 @Henni
Refs: #251 #24 #233

[2016-03-29 13:39] #296 closed, assigned to nobody

[2016-03-29 13:40] jancborchardt commented on #307
I see some problems with this:
- It duplicates a meaningless placeholder which already is in the Contact list itself.
- The color of the top bar should be the same as the background color of the avatar circle. So there would need to be 2 colors to even have the circle show up. That’s too much.
- Since the name is aligned with the fields below, I don’t find it much of an issue.

I would say that wh

[2016-03-29 13:47] skjnldsv commented on #307
The colors don't seems to be an issue for me as it is just a simple design, and having a darker tone doesn't really make it that different.
But I agree with you for the image uploader. When the uploader will be operational, we would have to remove the first letter and replace it by an upload icon.

[2016-03-29 13:54] DeepDiver1975 commented on #311
Looks like a parsing issue in the vcard.js library

[2016-03-29 13:56] Henni commented on #307
@jancborchardt what should this upload icon look like?
It would be great if you or @skjnldsv could implement it, so that I have a starting point to implement the image upload.

[2016-03-29 14:00] jancborchardt opened #313 "Import JS issue"
On trying to import my production vcf (3.7 MB), I get this in the JS error console:

[code]

@Henni let me know if I need to send you the vcf file, or preferably which part of it. :)

[2016-03-29 14:10] jancborchardt commented on #307
The upload icon would simply be the icon `.icon-upload` in a white lined circle. (`border: 1px solid #fff; border-radius: 50%;`)

[2016-03-29 14:12] jancborchardt commented on #307
Oh and btw, my vision for the header bar for the future is that when there is a profile picture, a blurry bigger version of it could show as background in that bar. Do you know what I mean? (Lotsa profile pages do that.)

[2016-03-29 14:14] skjnldsv commented on #307
I know perfectly, the idea is good, we'll see what we can do :)

For the upload button: (?)
![feds156](https://cloud.githubusercontent.com/assets/14975046/14111034/5ea90466-f5c9-11e5-89e0-e1efa43d8160.png)

[2016-03-29 14:16] DeepDiver1975 commented on #311
... no .. its the dav library

@irgendwie have fun :wink:

[2016-03-29 14:18] ghormoon commented on #311
I may try to pin down other corrupted entries too, but I'm not sure if I can safely delete/insert in oc_card or if I'll break things that way. If you're interested in more, I may try it out in cloned database.

[2016-03-29 14:31] jancborchardt commented on #139
Sure, but that should never happen in the first place and would be fine to have as a console command only.

It’s way too risky and prone to data loss to have the delete button on the only address book (which is the most common case).

[2016-03-29 14:32] jancborchardt commented on #36
@skjnldsv yeah dude, and additionally your replacing of the menu button with the back button in the details view is great! :)

[2016-03-29 14:35] skjnldsv commented on #36
Eheh

[2016-03-29 16:28] ghormoon commented on #139
actually even when having multiple there may be some sort of "are you f**\* sure?" prompt when deleting some to avoid missclick, though that's not top priority imho.

[2016-03-29 16:47] skjnldsv commented on #312
Also, when loading an url with the #/GroupName (replace groupname by a group you own), the first contact to be loaded isn't part of the group.
![contacts owncloud](https://cloud.githubusercontent.com/assets/14975046/14116150/a1a03dc4-f5de-11e5-8a78-983be37578fc.png)

[2016-03-29 17:03] jancborchardt commented on #139
Well yeah, there should always be undo. (Not a confirmation dialog, for reasons pointed out in [this blog post](http://alistapart.com/article/neveruseawarning).)

[2016-03-29 17:06] jancborchardt commented on #307
Yeaah, nice! I just realized though that I need to update the upload-white icon in core because this is still the old version. :D

[2016-03-29 17:17] ghormoon commented on #139
I think that article misses a sort of BFU. I've actually seen a user complaining that they lost data in system cleanup ... because they were having them in recycle bin "because there I know where to find it" ... so it may happen that someone just bends the undo to something else than it was mean to.
Likely still better than the warning window though. (and tbh, I can't think of better solution, so

[2016-03-29 20:46] sedrubal opened #315 "Broken base64 brake contact images"
### Steps to reproduce
1. Addressbook with jpeg and png contact pictures (added by Android/DavDroid)
2. Open `/index.php/apps/contacts/`
### Expected behaviour

All contact pictures should be show
### Actual behaviour

Some contact pictures look like this:

![ocbug](https://cloud.githubusercontent.com/assets/5571650/14122419/04a6c1f0-f5fc-11e5-9e92-f3f89be34966.png)

The problem is quite similar t

[2016-03-29 21:28] DeepDiver1975 commented on #315
Can we have an example vcard? THX

[2016-03-29 22:40] sedrubal commented on #315
Sorry, I've no idea, how I can export single contacts as vCard. When I export them from my client software (Android contacts or Kontact (part of KDE)) there is no profile picture for these contacts...

[2016-03-29 22:40] aspdye opened #316 "[Enhancement] Show Birthday in Calendar"

[2016-03-30 00:31] urbenlegend commented on #291
I have the same issue with owncloud 9 and Contacts 1.1.0.0. Chrome and Firefox can't import a VCF file, but Safari can.

[2016-03-30 06:18] skjnldsv commented on #315
https://DOMAIN.EXT/remote.php/dav/addressbooks/users/USER/ADDRESSBOOK/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.vcf

Replace the information with your data and replace the uuid by the contact you want to download.

[2016-03-30 06:20] skjnldsv commented on #316
This is a good idea I think!
Something like that?
![gfdw5](https://cloud.githubusercontent.com/assets/14975046/14133630/1d4b0608-f651-11e5-8e7f-5d8825653ac7.png)

[2016-03-30 07:38] aspdye opened #317 "[Enhancement] Search for duplicates and merge them"

[2016-03-30 08:07] DeepDiver1975 commented on #315
... or you just grab it from the database

[2016-03-30 08:35] skjnldsv commented on #316
@DeepDiver1975 do we have direct link to calendar days?
It doesn't seems to.

[2016-03-30 08:59] jancborchardt commented on #139
The comparison is confirmation window vs undo. ;) Anything else is a different discussion. There is not and there will not be a »trash bin« for address books.

[2016-03-30 09:00] skjnldsv commented on #317
If we want to do a check for approximate Names, we can use the jaro-winkler algorithm, it's pretty amazing!

[2016-03-30 10:08] skjnldsv commented on #307
@Henni should we start a branch for the image uploader? And then I could add the missing-avatar-upload div so you could start working on it?

[2016-03-30 11:33] Henni commented on #307
@skjnldsv :+1:

[2016-03-30 12:49] jancborchardt commented on #307
Yeah, go for it!

[2016-03-30 12:52] aspdye opened #318 "[Enhancement] Link to specific contact"
Give Apps (like Calendar) the possibility to link e.g. Birthday Events to specific contacts

https://github.com/owncloud/calendar/issues/383

cc @DeepDiver1975 @Henni @georgehrke @skjnldsv

[2016-03-30 13:02] skjnldsv commented on #318
I'm planning on fixing #312, which means modifying the base url loading.
So I should allow the direct uid link and fix the contact load :)

[2016-03-30 13:25] jancborchardt commented on #313
This is because there is no address book initially. There should be a default address book called »Contacts« always. :)

When there is no address book, this also happens when you click on »Add new contact«.

[2016-03-30 13:25] jancborchardt commented on #313
(Cause when I now just added an address book, import worked.)

cc @jospoortvliet for that blog post.

[2016-03-30 13:26] jancborchardt opened #319 "Import doesn’t directly show the groups"
When importing, contacts directly show. The groups in the left navigation bar only show up after a manual refresh though.

[2016-03-30 13:49] sedrubal commented on #315
Ah it took a while until I realized that the UID is part of the URL after clicking on the contact... Why isn't there an export button (e.g. next to trash icon in contacts app)?

I grabbed this by searching in the database. I've made the data anonymous... https://gist.github.com/sedrubal/b596ce247982a1aaf542a5a911230564#file-debug-vcard

The error might be this:

[code]

instead of

[code]

This mi

[2016-03-30 14:05] gvde commented on #315
This is a bug of the old contacts app with photos in 4.0 vcards, i.e. you had this problem before upgrading to owncloud 9.0. See https://github.com/owncloudarchive/contacts/issues/1072

The problem is the broken uri. It should be
`PHOTO:data:image/jpeg;base64,/9j/`
instead of
`PHOTO:dataimage/jpegbase64/9j/`

Of course, it should be 4.0 card for that. Your card, however, is 3.0 and has an old styl

[2016-03-30 14:09] Henni commented on #318
It should be possible via:
http://localhost:8080/index.php/apps/contacts/#/All%20contacts/87119bde-04fd-4926-aa84-21ddd88de7ea
But there is currently a bug which discards the uid and instead opens the first contact.

@DeepDiver1975 maybe we should remove the localization from the URL to allow generic links from outside the app.

[2016-03-30 14:38] skjnldsv commented on #318
@Henni Yep, we should allow direct uid access without group.
I don't think the localization would be a problem, we could do like that:
- group & uid set and uid in group -> display contact
- uid set -> display All contact group + contact
- group set -> display group and first contact
- group & uid set but uid not in group -> change to the correct group and display contact
- group & uid set but uid

[2016-03-30 14:44] skjnldsv commented on #315
Doesn't the vcard lib allow for reparations with the forgiving parameter?
http://sabre.io/vobject/vcard/

Do we use that? It could be great to have some kind of "debug" explaining your vcard is corrupted but we tried and imported it anyway?

[2016-03-30 15:01] gvde commented on #315
Well, the broken PHOTO data uri is a result of the repair function in the old contacts app...

I would always recommend to import only what complies with the RFC. If something is broken tell the user where and what so that the user can manually fix it.

Automated repair should only be an additional option and I would even like to see that an import with automated repair provides a detailed compari

[2016-03-30 15:16] skjnldsv commented on #315
I agree!

[2016-03-30 15:37] skjnldsv commented on #307
@Henni https://github.com/owncloud/contacts/tree/avatar-upload-form
Here you go! \o/
![contacts owncloud](https://cloud.githubusercontent.com/assets/14975046/14148014/1f728d8c-f69e-11e5-85c6-c061d8868a4b.png)

[2016-03-30 15:59] jancborchardt opened #320 "Don’t create »default« address book if another one already exists"
Besides, the »default« address book should be called »Contacts«, a less technical name.

[2016-03-30 18:38] Henni commented on #307
@skjnldsv nice thanks!

[2016-03-30 18:41] Henni commented on #318
i think we should always have a group.
If you don't want a specific group you should set it to 'all'
So the path should look like:
`/apps/contacts/#/all/87119bde-04fd-4926-aa84-21ddd88de7ea`

[2016-03-30 21:32] ufgum opened #322 "Addressbook entry's not shown, but synchronized"
I have a lot vcard entry's, which contain only the "N" line, the "FN" line is missing. I don't know, where they are coming from, maybe from an old "kaddressbook" app or from older owncloud version, or from android before, no way to find out anymore. If I actually add an address, the "FN" is there.
Anyway on owncloud prior version 9, this entry's was shown. On android this vcard entry's are shown,

[2016-03-30 22:47] DeepDiver1975 commented on #318
The uid is not enough the address book is has to be encoded in there as well - remember we want to build the app to load data as lazy as possible.

[2016-03-30 22:48] DeepDiver1975 commented on #318
In other words: the group has no meaning in this case.

[2016-03-31 06:15] skjnldsv commented on #297
So, what are we deciding?
Should we merge #279 and wait for a language to have a bigger word and moving the button?
Or should we wait for more action to make an action menu inside the settings? (import +download? +fix duplicate?)

[2016-03-31 07:24] aspdye opened #324 "Distinction between first and last name"

[2016-03-31 07:29] skjnldsv commented on #318
Should be fixed in #323 !
Please review.

Url will be https://localhost/index.php/apps/contacts/#/all/2cbf6908-4a5b-403f-8e68-77165679b3bb for a direct access to a contact

[2016-03-31 07:44] jancborchardt commented on #324
We should definitely try to do this in the backend. It’s already painful to need to put in the address in 5 or 6 different fields (everyone _HATES_ forms) so we definitely should not have separate input fields for the name. The old Contacts app didn’t have it either, at least not by default.

cc @tanghus @jbtbnl @babelouest if you feel like contributing again. :)

[2016-03-31 08:24] DarkSteve commented on #291
I'm having the same issue with a fresh install of ownCloud 9, Contacts 1.1.0.0, MySQL 5.6, PHP5.6, and Apache2.4. After choosing the VCF file, nothing happens, no response, no errors, no importing.

On Win 10 I can't import via IE11, Edge, Seamonkey, or Pale Moon. On Win7 I can't import via IE11 or FF38. On Cyanogenmod11 I can't import via Pale Moon, Fennec, or the built-in browser.

I'm guessing

[2016-03-31 08:38] jancborchardt opened #325 "Search doesn’t seem to search through address data"
For example, I often look for contacts in a specific city or country. When I search for »Canada«, there are no results though even though I have contacts with addresses there. For example, from this piece of the vcard:

[code]

[2016-03-31 08:39] Henni commented on #322
The dav library we use only loads vcards which contain the FN attribute.
This decision was probably made because all vCard have to contain a FN based on the [RFC](https://tools.ietf.org/html/rfc6350#section-6.2.1)

We have to wait for #216 to fix this, I think.

[2016-03-31 08:41] TecJon commented on #291
@DarkSteve I've been wondering the same thing as I can't get the import feature working at all. Not on production cloud not on testing cloud with multiple browsers and file types (.vcf, .csv, .ldif). I even went ahead and tried the iOS Safari browser on my phone, wouldn't work there either.

[2016-03-31 09:44] DeepDiver1975 commented on #324
Name editing in the old contacts app

![bildschirmfoto von 2016-03-31 11-43-27](https://cloud.githubusercontent.com/assets/1005065/14171922/d1e8b346-f735-11e5-9f84-e0dcb98e3480.png)

[2016-03-31 09:45] DeepDiver1975 commented on #324
editing addresses in old contacts app

![bildschirmfoto von 2016-03-31 11-44-31](https://cloud.githubusercontent.com/assets/1005065/14171948/fc19a7ce-f735-11e5-8ce2-dcf14067923d.png)

[2016-03-31 09:50] jancborchardt commented on #324
Damn … then it was probably wishful thinking, or it of course works like that on Android etc. ;)

[2016-03-31 10:31] DeepDiver1975 commented on #318
This will not work once we have a different model in terms of loading contacts - see https://github.com/owncloud/contacts/issues/318#issuecomment-203671768

[2016-03-31 10:49] skjnldsv commented on #318
We will edit the code when necessary then no?
Or will those change be in the 1.2?

Can you take a look at the PR?

[2016-03-31 11:22] ufgum commented on #322
I'm wonder, because if no FN is in "oc_cards_properties" the contact does load, but if no FN in "oc_cards.carddata" the contact does not load.

[2016-03-31 13:15] jancborchardt opened #328 "Error in single vcard stalls app"
JS console:

[code]

owncloud.log:

[code]

The vcard should be skipped and the contact/field marked as erroneous in the list. @Henni @irgendwie @skjnldsv
(I have no idea which parameter I changed and why it’s broken now.)

[2016-03-31 13:16] jancborchardt commented on #328
cc @tomneedham @DeepDiver1975 as well

[2016-03-31 13:19] skjnldsv commented on #328
A little more details pls?
This is related to the import issue with corrupted vcard right?

What exactly were you trying to do?
All I can see now is that you're missing the vcard dependencies.

[2016-03-31 13:46] #325 closed, assigned to nobody

[2016-03-31 13:49] jancborchardt commented on #328
No clue … it just was broken at some point. How can I supply more details? I don’t have more info than the js log and owncloud.log, but am happy to provide more if you let me know what you need. ;)

[2016-03-31 13:50] skjnldsv commented on #328
Ahah, well, Can't tell what i need, not sure what I'm looking at! :/

[2016-03-31 15:02] tomneedham commented on #328
I think you have to run `bower install` now as vCard is in the `bower.json` file. If someone else can confirm this is correct then we should stick this in the readme for how to contribute.

[2016-03-31 15:03] tomneedham commented on #328
(It isn't an error with a vcard, you're missing the dependancy)

[2016-03-31 15:06] jancborchardt commented on #328
Eh … can we please put this in the makefile as well? I hope you know that keeping the compile process simple is very important to get more contributors onboarded. cc @Henni @BernhardPosselt sure it’s fun to play with all these tools but at the end of the day it needs to work. ;)

[2016-03-31 15:16] tomneedham commented on #328
Yeah 100%. @Henni can help here - since I'm not sure when the vendor folder got removed and can't figure out how to trace that back in github history.

[2016-03-31 15:16] jancborchardt commented on #328
After a `bower install --force` it works a gain, for the record.

[2016-03-31 15:16] BernhardPosselt commented on #328
bower install && bower update should be in the makefile already

[2016-03-31 15:17] BernhardPosselt commented on #328
So running make should fix it ;)

[2016-03-31 15:24] tomneedham commented on #328
Ahh I've got it now. `npm` installs bower and runs `bower install` as part of the build command which is in the Makefile. @jancborchardt did `make` not work for you originally?

[2016-03-31 15:27] jancborchardt commented on #328
No, make did not work for me originally, as said. I was running make every pull.

[2016-03-31 15:31] BernhardPosselt commented on #328
http://bower.io/docs/api/#force

"It also forces installation even when there are non-bower directories with the same name in the components directory"

Edge case issue? I'd rather not add force to the build command since its very expensive

[2016-03-31 15:43] jancborchardt commented on #328
Not sure if it’s an edge case since it just happened out of the blue without any specific setup. No idea what build tool sorcery this is, but it should not take precedence over it simply working.

[2016-03-31 20:49] ufgum commented on #322
Ok. I found the source of this issue: My Jolla phone does not create the `FN` and on some contacts it just deletes the existing `FN`
Should be fixed soon: [merproject](https://git.merproject.org/mer-core/buteo-sync-plugin-carddav/commit/9c7d183efb7524158599118e6c3a4fd340a0a8d9)
But anyway, it would be nice for the contacts app, to show all the contacts, which are in the DB!

[2016-04-01 04:31] skjnldsv commented on #320
This come from dav :)
https://github.com/owncloud/core/blob/master/apps/dav/lib/hookmanager.php#L114

[2016-04-01 05:46] DeepDiver1975 commented on #320
Please reopen in core

[2016-04-01 05:46] #320 closed, assigned to nobody

[2016-04-01 07:53] jancborchardt commented on #320
Reopened at https://github.com/owncloud/core/issues/23720

[2016-04-01 08:50] hitam4450 commented on #297
I vote for to make a separate "Action menu", where all "action" items are grouped together!

regards, hitam4450

[2016-04-01 09:07] jancborchardt commented on #248
Yes! This is quite important regarding our principle of data portability.

[2016-04-01 09:22] #167 closed, assigned to nobody

[2016-04-01 13:32] jenslauterbach opened #332 "Can't add contact in Safari 9+"
### Steps to reproduce
1. Open Developer Console in Safari (CMD + Option  + i)
2. Switch to Console tab
3. Open Contacts app
4. Press "Add contact" button
### Expected behaviour

A form should open
### Actual behaviour

Nothing happens
### Server configuration

**Operating system**: [Official Docker Image](https://hub.docker.com/_/owncloud/)

**Web server:** [Official Docker Image](https://hub.doc

[2016-04-01 14:52] aspdye commented on #332
I can't reproduce this with Safari on OS X El Capitan. :confused:

[2016-04-01 19:51] jenslauterbach commented on #332
I also tried it in Chrome and Firefox to no avail.

[2016-04-01 21:47] DeepDiver1975 commented on #328
Obviously a faulty build on @jancborchardt 's environment - I had the same once - having a closer look at the output of bower install reviles that vcard could not be installed because teh vcard folder already existed - removing that folder and rerun bower install fixes this.

[2016-04-01 21:47] #328 closed, assigned to nobody

[2016-04-02 19:25] DoumeDuSud opened #333 "bug : import of contact not working"
### Steps to reproduce
1. I try to import a contact file in .csv provide from google contact also a .cvf file)
2. nothing happen, no importation
### Expected behaviour

The importation of my contact
### Actual behaviour

nothing

I don't know if it's in relation with this #313
### Server configuration

**Operating system**:
ubuntu server 15.4
**Web server:**
apache 2
**Database:**
maria DB
**PHP v

[2016-04-02 19:40] DarkSteve commented on #333
Sounds related to issue [https://github.com/owncloud/contacts/issues/291]. Hopefully this will be fixed soon, it's a major pain in my rectum.

[2016-04-02 19:45] DoumeDuSud commented on #333
Yes @DarkSteve it's the same, sorry I don't see that issue

Thanks for all working on it :-)

[2016-04-02 22:31] aspdye opened #334 "Import some Mail-Stuff"
If the Mail-App is enabled, contacts could:
- Automaticly find new Mail-Adresses and add them to already existing contacts (with giving users the chance to review)
- Automaticly find new Mail-Adesses and add them together with Name (and maybe Adresses from Signatures) to contacts (with giving users the chance to review)

Inspired by Apple Mail and Apple Contacts (OS X; iOS)

[2016-04-02 22:52] #333 closed, assigned to nobody

[2016-04-03 09:56] schaal opened #335 "Support for organization-only contacts"
### Steps to reproduce
1. Import or add contact with only the organization set and name not set
2. Reload page
### Expected behaviour

Contact should be added and displayed in the contacts list
### Actual behaviour

Contact doesn't show up in the browser interface, although it is still added to the database and also available in external dav clients (tested with DavDroid)
### Server configuration

[2016-04-03 09:59] aspdye commented on #335
duplicate #186

[2016-04-03 11:02] skjnldsv commented on #324
In Android I think the contact app split automatically the Name you enter and divide the data into the FN field.

Example, if you type "John Doe", it will set John as first name and Doe as last name.
Maybe we should do that with a div expand possibility to correct the FN fields?

[2016-04-04 05:23] DeepDiver1975 commented on #335
Please provide example vcard

[2016-04-04 08:03] irgendwie commented on #335
@DeepDiver1975 Contacts with no name are not shown currently.

[2016-04-04 10:26] DeepDiver1975 commented on #335
understood - I still need example data :wink:

[2016-04-04 10:33] diluex opened #336 "No contacts in app but sync working"
### Steps to reproduce
1. git clone https://github.com/owncloud/contacts.git
2. open Contacts app
### Actual behaviour

Contacts who showed up before and are perfectly syncing over carddav, are not there.
There's nothing, just a white page.
### Server configuration

Raspbian

nginx

MySQL

php 5.5

oc 9.0.19

last few commits

fresh install

[code]

Enabled:
- activity: 2.2.1
- bookmarks: 0.7.1
-

[2016-04-04 10:53] schaal commented on #335
Sample vcard with no name, exported from Google Contacts
[contacts.vcf.txt](https://github.com/owncloud/contacts/files/202251/contacts.vcf.txt)

[2016-04-04 12:56] DeepDiver1975 commented on #335
@schaal THX

[2016-04-04 14:15] aspdye commented on #335
again: this is the same like #186 :wink: should we close #186 now? I think it does not make sense to leave 2 issues open about the same Issue/Enhancement :grin:

[2016-04-04 14:23] DeepDiver1975 commented on #335
@aspdye this is not the same issue from my understanding since in #186 there is company as well as the name of a person set

[2016-04-04 14:23] DeepDiver1975 commented on #186
@aspdye do you have an example vcard for testing? THX

[2016-04-04 14:33] DeepDiver1975 commented on #335
@jancborchardt @tomneedham @Henni @irgendwie this is how this looks like
![bildschirmfoto von 2016-04-04 16-29-40](https://cloud.githubusercontent.com/assets/1005065/14251325/a8394632-fa82-11e5-815c-1788f49d982f.png)

Should we in this case simply use the org field as name and hide org and title?
Once we do this there is no way to add a name - thinking about the case that somebody adds a new conta

[2016-04-04 14:42] DeepDiver1975 commented on #336
you need to build the app first - run make

[2016-04-04 14:42] #336 closed, assigned to nobody

[2016-04-04 14:43] DeepDiver1975 commented on #334
I see this more as a feature of the mail app to detect the required information and push this into the system using carddav - nothing to do in the contacts app.

@aspdye please open this in the mail repo - THX

[2016-04-04 14:43] #334 closed, assigned to nobody

[2016-04-04 14:49] #243 closed, assigned to nobody

[2016-04-05 02:28] DarkSteve commented on #291
Has this bug been assigned to anybody? Is it planned to be patched for the 1.2 milestone? Any feedback on timeframes?

I can't code to save my life, otherwise I'd volunteer. But this bug is extremely inconvenient. I'll either have to re-type ~100 contacts (then wait until I can add photos) or wait until I can import my old vcf. Either way I have to wait to get back to what I had in previous ownClo

[2016-04-05 04:52] DeepDiver1975 commented on #291
The next Version will have a better importer.
Until then: connect any carddav client and import from there.

[2016-04-05 06:19] DarkSteve commented on #291
Thanks DeepDiver, I will try another carddav importer.

I mainly use contacts via the ownCloud web interface or on my phone. While the contacts are currently in my phone, Carddav Sync Free won't allow me to edit the URL to reconnect to ownCloud 9.0 ("Failed to launch Activity" when I hit edit) and any new account won't contain the contacts.

I'll have to find a desktop carddav client and go from t

[2016-04-05 10:18] ionum commented on #324
Currently new Contact only have FN-Value (Displayname) and N-Value (Full Name with Family Name, Given Name, Additional Names, Honorific Prefixes, and Honorific Suffixes as in RFC 2426) is not editable.

[2016-04-05 10:21] ionum commented on #324
A lot of progams use algorithms to split names (eg. Outlook, Android, iOS), but none works perfectly. there are too much ways to write a full name....

[2016-04-05 10:34] DeepDiver1975 commented on #220
fix is here - https://github.com/Heymdall/vcard/pull/4

[2016-04-05 10:37] ionum opened #337 "Background of Header must no be white"
### Expected behaviour

Background of VCARD-Header must not be white
### Actual behaviour

If UID (which seems to be used for calculating the background color) contains an mail-like value (eg 20140426T014914.e765f629e7@domainname.net) background-color is white, which is bad for readability...
### Server configuration

ownCloud version:9.0.0
Contacts version: 1.1.0.0

[2016-04-05 10:38] skjnldsv commented on #220
Good job! :+1:

[2016-04-05 12:33] #286 closed, assigned to nobody

[2016-04-05 12:40] #220 closed, assigned to DeepDiver1975

[2016-04-05 13:43] ghost opened #340 "OC8 fails when converting sqlite3 to mysql"
Hello,

I'm trying to migrate my OC8 (8.2.3) sqlite database to mysql.
When doing a php occ db:convert-type --all-apps --clear-schema mysql owncloud 127.0.0.1 owncloud
it fails with:

[code]

Seems as if the contact-photo is to large?!
Any hints how to fix this (despite of deleting dozends of photos)?

Stefan

[2016-04-05 14:14] Henni commented on #340
Please report this to owncloud/core.
This repository only contains the contacts app for 9.0

[2016-04-05 14:14] #340 closed, assigned to nobody

[2016-04-05 14:32] #312 closed, assigned to skjnldsv

[2016-04-05 14:32] #318 closed, assigned to skjnldsv

[2016-04-05 15:15] skjnldsv commented on #337
Duplicate  #300
See #306

We're waiting for https://github.com/owncloud/core/pull/23768 to be merged so we can use the core function and fix this issue.

[2016-04-05 17:25] #337 closed, assigned to nobody

[2016-04-05 22:02] DeepDiver1975 commented on #248
The Backend is already providing this feature.
We need to trigger the download only in the web ui.

[2016-04-06 03:15] #307 closed, assigned to nobody

[2016-04-06 08:05] jancborchardt commented on #307
@skjnldsv can you open a work-in-progress pull request with the upload icon so it's more visible than a branch? Then @Henni can continue work in there.

[2016-04-06 08:06] skjnldsv commented on #307
Of course, in return, please review my last pr! ;)

[2016-04-06 10:22] skjnldsv commented on #160
I'm willing to take care of this issue.
Small question first. I'm suggesting that adding a new contact should block adding a new one until the first one is valid.
To be valid only the FN field has to be present right?

So as long as our first new contact doesn't have a valid fullName field, we won't add a new one!
Agreed @jancborchardt ?

[2016-04-06 10:36] Henni commented on #160
@skjnldsv :+1:

[2016-04-06 11:48] jancborchardt commented on #160
Yup, sounds good!

[2016-04-06 15:50] volker-raschek opened #344 "Can't find some functions or doesn't work correctly - export function, CalDav link, upload contact photo, share adressbook, share about federed-cloud-id"
Hey together,
I wondered, because I don't find some important functions in the new Concact App in owncloud 9.
1. I don't know how I can change the contact photo from a contact. I can't find the upload button -.-'
2. In the old Contact Version under owncloud 8 I could copy the CalDav link over an icon. Now I can only copy it about the source code from the delivered page. Now I must hold the mouse c

[2016-04-06 16:28] Henni commented on #344
1. not implemented yet (#342)
2. take a look in the settings, there is an icon for every addressbook to show its CardDAV url
3. known issue. Will be fixed for 9.0.1
4. Please open an issue for this. We might have to fix this.

[2016-04-06 16:28] #344 closed, assigned to nobody

[2016-04-06 21:23] DeepDiver1975 commented on #304
https://github.com/owncloud/contacts#building-the-app

[2016-04-06 21:23] #304 closed, assigned to nobody

[2016-04-07 06:21] skjnldsv commented on #298
This is what I got

[code]

[2016-04-07 09:48] #36 closed, assigned to nobody

[2016-04-07 09:52] skjnldsv commented on #247
We just have to put a download icon to the dav link?

[2016-04-07 09:55] Henni commented on #247
@skjnldsv I think so

[2016-04-07 09:56] skjnldsv commented on #247
Well, that shouldn't be too hard ^^

[2016-04-08 06:11] ghost commented on #300
Just updatet to 9.0.1 (PHP 7.0.4), error still exist. Should it be solved in 9.0.1?

[2016-04-08 06:13] skjnldsv commented on #300
No it should not.
It will be fixed in the 1.2 version of contacts.

[2016-04-08 06:16] ghost commented on #300
perfekt, thx.

[2016-04-09 10:01] hubgitti commented on #265
An option to sort the contacts by last name would be nice also. Currently my contacts are sorted by first name. (OC 9.0.1, Contacts 1.1.0.0)

[2016-04-09 10:08] aspdye commented on #265
https://github.com/owncloud/contacts/issues/324

[2016-04-09 19:36] jc97 commented on #301
The problem partially still exists: When "can edit" is not set, can still edit the fields, but now the changes are not saved. In addition the users can edit the sharing-configuration (even if "can edit" is not set. In this case they can even set "can edit".)

[2016-04-09 20:46] aspdye commented on #301
Should be fixed in Frontend (owncloud/calendar) I guess :grin:

Should be checked (reproduce and fixed) in the Backend (owncloud/core) I guess. Please open an issue there, if 9.0.1 did not solved this, and there is no similar issue :wink:

[2016-04-10 06:24] DeepDiver1975 commented on #301
Reopened to fix readonly Contacts in ui

[2016-04-10 09:19] nWRqenkF commented on #324
related to #276 ??

[2016-04-10 09:26] nWRqenkF commented on #324
@ionum Somehow we already have an algorithm: "do nothing". Which is really annoying when using any other contact application.
Personally I would prefer the 8.1 contacts behaviour:
- Show only a single input field and try to split the input to first name and given name with an algorithm
- Give the user the possibility to display and edit the name detail fields, if he needs to correct the result of

[2016-04-10 09:50] skjnldsv commented on #248
@DeepDiver1975 do you know how the backend is providing this? What is the url for the download?
The contacts are https://domain.ext/remote.php/dav/addressbooks/users/USER/ADDRESSBOOK/UID.vcf, but can't figure out for addressbooks :)

[2016-04-10 10:46] DeepDiver1975 commented on #248
the correct url is  https://domain.ext/remote.php/dav/addressbooks/users/USER/ADDRESSBOOK?export - but we need to fix core first - https://github.com/owncloud/core/pull/23893

[2016-04-10 11:43] skjnldsv commented on #248
You're awesome! :)
:+1:

[2016-04-10 19:00] DeepDiver1975 opened #350 "App has js errors on loading ....."
even if there is not single addressbook and no contact the app has js errors ....

analysing ....

[2016-04-10 19:08] DeepDiver1975 commented on #350
bisect says: 74ff3b5339f43dca1dd7a83d84f30570a643cbb3

[2016-04-10 19:10] DeepDiver1975 commented on #350
seems to be fixed with https://github.com/owncloud/contacts/pull/347 :question:

[2016-04-10 19:13] #350 closed, assigned to DeepDiver1975

[2016-04-10 19:25] octacian opened #351 "Blank Page"
### Steps to reproduce
1. Download and Install Newest Version
2. Open with Firefox
### Expected behaviour

Contacts should load allowing me to add new contacts, and all the other normal contacts things.
### Actual behaviour

A blank page is shown with the Settings menu also shown, but non responsive on click.
### Server configuration

**Operating system**: Ubuntu Server 15.10

**Web server:** Apac

[2016-04-10 19:27] octacian commented on #351
To summarize all of that, whenever I load Contacts, a blank unresponsive page is shown. From the Network log, many 404 errors are shown, and the ownCloud log shows that some resources could not be found.

[2016-04-10 19:27] #160 closed, assigned to nobody

[2016-04-10 19:31] #300 closed, assigned to skjnldsv

[2016-04-10 19:32] DeepDiver1975 commented on #335
@jancborchardt @tomneedham @Henni @irgendwie ping

[2016-04-10 19:34] DeepDiver1975 commented on #351
you have to run make - the app is not usable after a simple close from the repo

[2016-04-10 19:34] #351 closed, assigned to nobody

[2016-04-10 19:37] octacian commented on #351
How do I run make @DeepDiver1975? I have used make before but am not very familiar, so thanks for your help. A list of the commands I need to run would be useful, as I am especially unfamiliar with using a Makefile that is already included.

I do not believe I have CMake installed on my server, so am running `sudo apt-get install cmake`.

[2016-04-10 19:37] DeepDiver1975 commented on #332
@jenslauterbach are you still experiencing this? We cannot repoduce and the issue information holds no hint to identify an issue - I fear we have to close this one ....

[2016-04-10 19:44] DeepDiver1975 commented on #193
@nicokaiser please retest the latest version - we do not yet fully process X-ABCROP-RECTANGLE - but at least the aspect is preserved - for now this fullfills the needs from my pov.

I'd like to close this issue once you agree on - THX

[2016-04-10 19:44] octacian commented on #351
I now have CMake installed, but of course simply running `make` does not work, so I would really appreciate help on this.

Thanks again.

[2016-04-10 19:45] DeepDiver1975 commented on #222
@irgendwie still an issue?

[2016-04-10 19:47] DeepDiver1975 commented on #351
make not cmake :wink:

[2016-04-10 19:48] DeepDiver1975 commented on #351
In case you don't want to build the app yourself you can use the official release from the appstore or use your nightlies - https://github.com/owncloud/contacts/releases

[2016-04-10 19:49] octacian commented on #351
OK, I've got make. But how do I make Contacts with make? @DeepDiver1975 I could use the latest release, but since there has been some commits since, I might as well make it myself if it is simple enough you can tell me how.

[2016-04-10 19:52] octacian commented on #351
Also, I had previously installed the latest release but opted to go right off the source code as whenever I opened the app, it would just say it was loading endlessly. The screen on the right would say **No Contacts Yet** or whatever, but the middle contacts list would just sit and load, load, load.

[2016-04-10 19:53] DeepDiver1975 commented on #351
this was fix a few minutes ago ...

[2016-04-10 19:54] DeepDiver1975 commented on #351
https://github.com/owncloud/contacts#building-the-app

[2016-04-10 19:56] irgendwie commented on #222
Nope, seems to be fixed :+1:

[2016-04-10 19:56] #222 closed, assigned to nobody

[2016-04-10 19:56] octacian commented on #351
Oh OK, thanks! Can't believe I didn't notice there were instructions before. I will make sure I have the newest version and make it myself since I would guess the release won't be updated till tomorrow.

Thanks again for your patience in helping me!

[2016-04-10 23:17] octacian commented on #351
@DeepDiver1975, upon trying to build Contacts (I just got to it), I get the following error with npm:

[code]

I have updated nodejs to the latest version as it had an errors previously, and I tried to update bower with `npm install -g bower` but that does not seem to work or bower is not the problem. I have also used `bower-update` and `npm-check-updates`

Thanks.

[2016-04-10 23:46] octacian commented on #351
I will create a new issue on this.

[2016-04-10 23:48] octacian opened #352 "Error When Building"
Upon trying to build Contacts, I get the following error with npm:

[code]

I have updated nodejs to the latest version as it had an errors previously, and I tried to update bower with `npm install -g bower` but that does not seem to work or bower is not the problem. I have also used bower-update and `npm-check-updates`

Any help appreciated. Thanks.

[2016-04-11 03:54] DeepDiver1975 commented on #352
Are you running make as root or with sudo?
You should not according to the error message

[2016-04-11 05:05] octacian commented on #352
I have been running make with sudo (`sudo make`), as when I run make by itself without sudo, I am presenting with another error saying that sudo is required. 

The Contacts directory I am running make in is located within `/var/www/owncloud/apps/contacts` and chown ownership is set to `www-data:www-data`. I wonder if I should try running make with Contacts owned by the user (`server:server`)? 

I

[2016-04-11 08:18] DeepDiver1975 commented on #248
addressbook export will be part of 9.0.2 - https://github.com/owncloud/core/pull/23897

@skjnldsv we better have a version check to see if addressbook export is enabled or not

[2016-04-11 10:05] DeepDiver1975 commented on #352
I really advise to not build the app on the server - unless you really know what you are doing.

Please use the nightly releases - will be much more convenient for you.

[2016-04-11 10:05] #352 closed, assigned to nobody

[2016-04-11 11:26] skjnldsv commented on #248
Okay!
On it!

[2016-04-11 11:30] jancborchardt commented on #324
@XZS1cpXn yes, sure. Just for clarification, the reason for this is that it's a completely new app which replaced the old one. Since unfortunately resources are scarce, some things are not done yet. :)

[2016-04-11 11:35] Henni commented on #335
The RFC specifies that every vCard needs a FN attribute.
This is an example from the RFC:

[code]

I'm aware that we needn't follow the specification precisely, but I think it makes sense to require the FN attribute (even for organizations).

[2016-04-11 11:41] jancborchardt commented on #335
I would say in the contact list we simply use the org name for the first line if no full name is present, that would cover the use case and sounds easiest, right?

[2016-04-11 13:03] Henni commented on #335
@jancborchardt :+1:

[2016-04-11 14:58] octacian commented on #352
Yes, I can use the nightly releases and will do so for now. However, if for some reason I needed to go straight of the source code, that would create a problem as I am still being given an error. Would you be willing to explain this error to me?

I am running `make` in the home directory of my server (`/home/server`) after running `chown -R server:server ~/contacts-master` to be sure the folder is

[2016-04-11 15:11] DeepDiver1975 commented on #352
I suggest to Google for the error message and see what is causing this. I never experienced this - sorry.

[2016-04-11 15:12] octacian commented on #352
OK. Thanks @DeepDiver1975. BTW, I am really liking the contacts app, great work!

[2016-04-11 20:38] aspdye opened #354 "Split Contact Details into two colums"
Otherwise, i think that it looks strange on larger screens :grin:

cc @jancborchardt

[2016-04-11 20:42] captainwasabi commented on #248
I need this too!!! I have applied owncloud/core#23897 by hand.  Waiting for client side.

Oops, never mind.  Clicked the wrong button and deleted the whole address book! :(  Might I suggest perhaps a confirmation dialog before two days work of hand entering addresses is destroyed?  Oops, too late it's gone. ;)

[2016-04-12 02:39] skjnldsv commented on #248
It's planned  too!

[2016-04-12 08:03] ghost commented on #291
I'm on OS X and I can't either upload my vcf file to OC9.0.1 it always creates {{ as Names and does not save the contacts. I'll lose them overtime when I change the site.
I tried to reproduce it with 8.2.3 and there, exactly the same vcf file works and the contact will be imported.

[2016-04-12 09:40] DeepDiver1975 commented on #291
please open a new issue in here - sounds like a real issue we need to work on - THX

[2016-04-12 12:27] jancborchardt commented on #354
Yes, definktely. We had that in the old app too. We can for sure put the big address blocks in the second column, then it's also consistent.

[2016-04-12 14:22] ghost opened #355 "Importingg VCF file leads to Strange Names."
### Steps to reproduce
1. download and installed fresh 9.0.1
   2.installed contacts app from owncloed store"
2. import attaached vcf file
### Expected behaviour

import the VCF correctly like it does on OwnCloud 8.2.3 (Same Server, same environment, just another folder on the Webspace
### Actual behaviour

![bildschirmfoto 2016-04-12 um 16 11 56](https://cloud.githubusercontent.com/assets/3584431

[2016-04-12 20:38] eppfel commented on #291
I can confirm the issue for Chrome.

No reaction in Chrome after .vcf import with 400 cards (nothing in the console either), but worked out in Safari 9.1.
Mac OSX 10.10.5
ownCloud 9.0.1
Contacts 1.1.0.0

[2016-04-12 22:39] DeepDiver1975 commented on #355
Can we have the vcard for testing please? THX

[2016-04-13 05:59] ghost commented on #355
Of Course, But I guess it works with everyone :)
I couldnt upload it here because the file was not supported, so I just waited if someone would request it.
https://karinundpatrick.de/oc1/index.php/s/aqjMK1AqNd28oKf

I tried to import this vcf also on OS X Contacts, and there, its working aswell like on OC 8.2.3

[2016-04-13 07:32] ghost opened #356 "Add "iOS/OS X CardDAV address" to Settings"
### Steps to reproduce
1. Open contacts app
2. Open settings (cogwheel at the bottom left)
### Expected behaviour

iOS/OS X CardDAV address `https://example.com/remote.php/dav/principals/users/USERNAME/` is shown
### Actual behaviour

iOS/OS X CardDAV address is not shown
### Server configuration

**ownCloud version:** 9.0.1

**Contacts version:** 1.1.0.0

[2016-04-13 07:48] ghost commented on #356
This could also include the "Primary CardDAV address":

http://example.com/remote.php/dav/

like the Calendar app is doing it. ~~However the question if this "Primary" address can be used at all? (See: https://github.com/owncloud/calendar/issues/461)~~

[2016-04-13 09:43] aspdye commented on #356
Maybe we can solve this together with the Autoconfig Profiles for iOS and OS X 😉

https://github.com/owncloud/contacts/issues/263

[2016-04-13 10:59] bobblkabb commented on #291
Same here (Firefox 45 ).

**Operating system:**
Ubuntu 14.04.4 LTS
**Web server:**
Apache 2.4.7
**Database:**
MySQL 5.5.47
**PHP version:**
5.5.9
**ownCloud version:**
9.0.1
**Contacts version:**
1.1.0.0

Updated from an older ownCloud version (8.2.3). Contacts were exported from contactplus

[2016-04-13 11:09] caTenschert opened #357 "Header white Color Text on white color background"
### Steps to reproduce
1. open the app
2. selecting a contact
### Expected behaviour

show the contact information First and Name
### Actual behaviour

if the collor of the contact icon is white you cant see the text becoause its white too
most contacts have color white, create bevore oc 7
### Server configuration

debian 8 amd64
apache2                    2.4.10-10+deb8u4   amd64              Apa

[2016-04-13 14:21] DeepDiver1975 commented on #357
can we have a screenshot please? THX

[2016-04-13 17:31] TecJon commented on #357
![untitled](https://cloud.githubusercontent.com/assets/11375752/14502995/4d0e1fc0-01ae-11e6-86e5-919ea152ed5c.png)

[2016-04-13 17:34] TecJon commented on #357
Contact list on the left.
![untitled](https://cloud.githubusercontent.com/assets/11375752/14503049/98228c1c-01ae-11e6-8921-eca2ad3236d3.png)

[2016-04-13 18:05] DeepDiver1975 commented on #357
What is the uid of the contact? Somthing with an `@` inside?

[2016-04-13 18:39] TecJon commented on #357
@DeepDiver1975 correct.
Example:

[code]

This issue exists since contacts 1.1
Side node: the domain in the uid is the OC url of a previous owncloud installation.

[2016-04-13 18:53] DeepDiver1975 commented on #357
Will be fixed with the next release.

[2016-04-13 18:53] #357 closed, assigned to nobody

[2016-04-13 20:27] gazbarg commented on #357
Same problem here, _except_ the UIDs do not always have an @ inside.

[2016-04-13 21:03] gazbarg opened #358 "Backslashes (lots of !) added before coma into address field"
### Steps to reproduce
1. Edit (or define, for a new contact) the address field with a  comma in it
2. Comma gets backslashed when editing another field of the address (city, country)
3. Backslash gets backslased when editing another field of the address (city, country)
4. And so on.
5. Seems to stop at 6 backslashes
### Expected behaviour

No extraneous backslashes displayed
### Actual behaviour

[2016-04-13 21:07] gazbarg commented on #358
Small correction : there does **not** seem to be an obvious limit to the number of backslashes added.

[2016-04-14 05:57] DeepDiver1975 commented on #358
Fixed with the next release

[2016-04-14 07:00] gazbarg commented on #358
Great ! Any idea when this release will come out ?

[2016-04-14 10:32] DeepDiver1975 commented on #358
I guess after the next meetup in Munich - April 21st

[2016-04-14 10:32] #358 closed, assigned to nobody

[2016-04-14 15:29] dniku opened #359 "The contacts wouldn't load in the web interface after an upgrade"
### Steps to reproduce
1. On Debian Jessie, perform the following upgrade (copied from `/var/log/apt/history.log`): `Upgrade: tzdata:armhf (2015g-1, 2016c-0+deb8u1), owncloud-deps-php5:armhf (9.0.0-1.1, 9.0.0-2.1), owncloud:armhf (9.0.0-1.1, 9.0.0-2.1), owncloud-files:armhf (9.0.0-1.1, 9.0.0-3.1)`
2. Perform `occ upgrade` and disable maintenance mode by editing `config/config.php` manually.
3. Go

[2016-04-14 15:39] DeepDiver1975 commented on #359
Most probably there is one vcard holding a character which is causing issues on the transport layer of the app

[2016-04-14 15:42] DeepDiver1975 commented on #355
Oh - yes and org only vcard - duplicate

[2016-04-14 15:42] #355 closed, assigned to nobody

[2016-04-14 15:42] DeepDiver1975 commented on #355
https://github.com/owncloud/contacts/issues/335

[2016-04-14 15:43] DeepDiver1975 commented on #332
please reopen if still an issue

[2016-04-14 15:43] #332 closed, assigned to nobody

[2016-04-14 15:50] dniku commented on #359
I'm not sure if this is relevant, but Thunderbird with SoGo is unable to sync the contacts with a proper encoding. [The ArtLebedev decoder](http://www.artlebedev.ru/tools/decoder/) thinks that whatever Thunderbird displays can be decoded as `7-bit ASCII → ISO-8859-5`. This produces a result that is readable but is not correct (the lowercase letters become uppercase and uppercase letters become gar

[2016-04-15 06:51] ghost commented on #355
what does org only vcard means?
Vcards with organisation only?
I have also my full vcard with all contacts, those contains also contacts with a fullname and without a company name.
Those contacts will also not be imported. May I send you this vcard in private? dont want to offer all such informations

[2016-04-15 06:55] aspdye commented on #355
org only does mean, that the contact has no name (like John Doe) - it is only an organization (like Doe Inc.)

You can see an example in the screenshot of this issue 😉

[2016-04-15 06:57] aspdye commented on #335
What about doing this like OS X does? If you create an org-contact, the org filed is the big one, and the name is under it (as the org is in current versions of ownCloud Contacts) 😉
<img width="292" alt="ohne titel 2" src="https://cloud.githubusercontent.com/assets/12893462/14553670/1dd29660-02e8-11e6-938a-38e550ea8059.png">

[2016-04-15 07:01] ghost commented on #355
Then its a quite bad example.
Please check this vCard, it contains a surname and a name, without any company name. The behaviour is exactly the same.
Would you please so kind to confirm that with this vCard aswell?
http://karinundpatrick.de/oc1/index.php/s/5uKkZ9guWF1dh4c

[2016-04-15 07:08] aspdye commented on #355
Please don't change parts of your questions and comments, or add other aspects to them 😁 THX 😄
My answer was only to the following question:

[2016-04-15 07:12] ghost commented on #355
Sorry, some ppls doesn't like it to add another post if there is no reply.
Then  I add it as a new information now :D
I get the same behavior by adding the vCard (a spam phone number, without any company name) http://karinundpatrick.de/oc1/index.php/s/5uKkZ9guWF1dh4c
And I get the behaviour when I add a mix, like the company name only and the spam phone vCard as one vCard.
behavior:
Spam phone (w/

[2016-04-15 07:19] guidtz opened #360 "Owncloud Contacts import Active Directory users info"
Hello,

in Owncloud 8 there was a possibility tu add an adresse book with ldap backend. So i don't show this features in owncloud 9.

So th question is how I can import Active Directory informations like : name, surname, phone, address, and others from Active Directory to an adress book on owncloud ?

I would like to do that in script for automated this.

Thanks for you're ideas.

Guidtz

[2016-04-15 07:52] nicokaiser commented on #193
This looks good in the latest version! Thanks!

[2016-04-15 07:52] #193 closed, assigned to nobody

[2016-04-15 08:43] critzinger opened #1144 "user app (internal user account management) hangs when opened as "...jquery-1.10.2.js was not found on this server."
Hello,

we have upgraded from 8.2.2 to 9.0.1.3
Now we have problems to manage our account (>800) over the internal user account management app.

The app hangs when opened. In firefox debugging console we can see "The requested URL /owncloud/core/vendor/jquery/jquery-1.10.2.js was not found on this server".

we have uploaded the jquery-1.10.2.js manually, but the failure still exists.

following ap

[2016-04-15 08:52] DeepDiver1975 commented on #360
This is something which needs to be implemented outside the scope of the new contacts app.

The new contacts app is 'just' a JavaScript based CardDAV client.

In order to import LDAP contacts into an addressbook someone needs to implement a tool which takes the data from LDAP and put this into an addressbook.

A script like this can basically be implemented using any language since you can import

[2016-04-15 08:54] DeepDiver1975 commented on #355
this has no FN - known issue as well

![bildschirmfoto von 2016-04-15 10-53-48](https://cloud.githubusercontent.com/assets/1005065/14556398/63cb548a-02f8-11e6-91d8-8ce22fd1bf10.png)

[2016-04-15 08:56] DeepDiver1975 commented on #335
@aspdye I guess I already asked for it - we need an example vcard for such a contacts.
I want to know if the information about being a company contact is part of the vcard.

[2016-04-15 09:15] ghost commented on #355
Thats quite interesting, because I can see on my iphone that I entered a surname and the name itself.
When I add FN instead of N, my OSX contacts looks different, and it only appears as Spam and no more as Spam Phone.

[2016-04-15 09:31] critzinger commented on #1144
i think the failure should better placed under "core"
can any admin move it please?

[2016-04-15 09:32] #1144 closed

[2016-04-15 09:43] aspdye commented on #335
There you go 😉 https://goo.gl/MLBb0J @DeepDiver1975

[2016-04-15 09:44] guidtz commented on #360
Ok thanks for this information. Where I can found information about how to

Thanks

[2016-04-15 09:47] DeepDiver1975 commented on #335
[code]

[2016-04-15 09:48] DeepDiver1975 commented on #335
Apple specific Kung-Fu

[2016-04-15 09:51] ghost commented on #335
I was free to import this aswell. My Owncloud doesnt show the name Frank Karlitschek afterall.

[2016-04-15 09:56] DeepDiver1975 commented on #335
yes - because it is stored in N which we currently no not take into considerations

[2016-04-15 09:58] #319 closed, assigned to nobody

[2016-04-15 10:02] DeepDiver1975 commented on #1144
github offers no capability to move issues

[2016-04-15 10:03] DeepDiver1975 commented on #186
This is apple specific Kung-Fu .... backlog is a good milestone for this :wink:

[2016-04-15 10:09] gazbarg opened #363 "Cannot rename contact group"
### Steps to reproduce
1. Create a contact group if none exists
### Expected behaviour

It should be possible to rename a group or delete a non-empty group
### Actual behaviour

No button or any obvious way to rename a contact group
### Server configuration

GNU/Linux Gentoo 3.10.69-gentoo-LTS
### Web server:

Apache/2.2.31 (Unix) mod_ssl/2.2.31 OpenSSL/1.0.2g PHP/5.6.20-pl0-gentoo
### Database:

[2016-04-15 10:19] irgendwie commented on #363
This feature is currently not available.

[2016-04-15 10:35] flo1o1 opened #364 "Unable to customize the avatar"
### Steps to reproduce
1. Create a new contact
2. Hover over the default (dynamic) avatar
### Expected behaviour

According to the [official documentation](https://doc.owncloud.org/server/9.0/user_manual/pim/contacts.html#customizing-an-avatar), there should be two options how to change the avatar. This can be done by clicking one of the icons which are above the current avatar:

![Contact Picture

[2016-04-15 12:17] DeepDiver1975 commented on #364
we are working on that - https://github.com/owncloud/contacts/pull/342

[2016-04-15 12:56] TecJon opened #365 "Missing field types and values and different labels"
### Steps to reproduce
1. Create a contact in iOS using different fields
2. Open contact in owncloud web interface.
### Expected behaviour

See the contact with the same labels and values.
### Actual behaviour

Some fields are missing or have different labels (field types):
- Social media fields are all missing
- Date "anniversary" is missing
- "mobile" type is called "Cell Voice" - but I believed

[2016-04-15 12:57] TecJon commented on #365
I'm curious, is there a reason the website field is framed in red and is a clickable link to the owncloud index?

[2016-04-15 13:18] DeepDiver1975 commented on #365
looks like a bug

[2016-04-15 13:19] DeepDiver1975 commented on #365
All the other fields are currently not supported

[2016-04-15 13:34] aspdye commented on #364
Dup of #144 isn't it :grin:

[2016-04-15 13:50] #364 closed, assigned to nobody

[2016-04-15 15:34] DeepDiver1975 commented on #365
@SamEliotFisher here is the fix - https://github.com/owncloud/contacts/pull/366

[2016-04-15 15:42] TecJon commented on #365
@DeepDiver1975 thank you for explaining (and fixing)!

[2016-04-15 16:05] #335 closed, assigned to DeepDiver1975

[2016-04-15 18:32] DeepDiver1975 commented on #70
already fixed with #353

[2016-04-15 18:51] DeepDiver1975 commented on #291
1.2.0.0 will be much better with this respect - I successfully imported a vcard with 2000 contacts.

[2016-04-17 06:19] skjnldsv commented on #354
Agreed!
Like this?
![contacts owncloud](https://cloud.githubusercontent.com/assets/14975046/14585423/15c88176-0475-11e6-87c3-c3b5bf8cd7fe.png)

[2016-04-17 07:03] aspdye commented on #354
Oh no ... It was about the Details (phone, adress, ...) we want to split :grin:

[2016-04-17 07:15] skjnldsv commented on #354
Okay, I need to learn to read again...
Well, looked fun anyway :D

[2016-04-17 12:21] jancborchardt opened #369 "Build warnings"
Just some warnings I get on `make`, not sure if relevant:

[code]

[code]

Also, is it possible to have so that make doesn’t require a network connection? For example when changing branches or changing code locally when offline, it would be really cool if one could still build the app with the already locally existing node modules and not need to check for new ones.

[2016-04-17 12:29] jancborchardt opened #370 "»No contacts« placeholder still shows for a very short time on loading"
When loading the app or refreshing, the »No contacts« placeholder still shows for a very short time. This is always a bit disconcerting and makes it seem like there was data loss.

Since this is never the case, this placeholder should only really be shown when there are absolutely no contacts. It’s not a loading placeholder, that’s what the spinner is for. ;)

[2016-04-17 14:23] jancborchardt commented on #354
LOL :D Yeah, definitely not two rows of contacts.

[2016-04-17 14:53] dethos commented on #359
I'm not sure if related, but after an upgrade my contacts do not load as described in this issue (I get the same blank page), however the i get the following in the browser console log:

In my case the desktop clients seem to work as they would normally.

[2016-04-17 15:49] #139 closed, assigned to nobody

[2016-04-17 21:16] h-2 opened #371 "Endless loading of Contacts screen (even for empty address books)"
### Steps to reproduce
1. create a new user called "test"
2. login in to owncloud and select "contacts"

This might be related to #298 (but there are no blanks in my case) or #311 (but it appears even for empty address books).
### Expected behaviour

You see an empty address book.
### Actual behaviour

![scr](https://cloud.githubusercontent.com/assets/2996863/14589984/841246ec-04ef-11e6-9c0f-a9c88

[2016-04-17 21:18] h-2 commented on #371
Could be a duplicate of #295 however I want to stress that this happens for empty address books, too, so it seems unrelated too any non-standard characters anywhere.

[2016-04-18 08:01] DeepDiver1975 commented on #369
These warnings are not really of an issue - we will work on them over time.

The comment regarding online/offline is quite valid ....

[2016-04-18 08:14] DeepDiver1975 commented on #371
I'm pretty sure this will be fixed with 1.2.0.0

[2016-04-18 08:14] #371 closed, assigned to nobody

[2016-04-18 08:44] flo1o1 commented on #144
Well if this is a feature, which doesn't exist yet, then probably the [documentation should reflect this](https://doc.owncloud.org/server/9.0/user_manual/pim/contacts.html#defining-a-contact-avatar). Right now, to me it is a bug (see #200 and #364), not an enhancement… :confused:

[2016-04-18 08:58] skjnldsv commented on #370
This is strange because we're checking the loading state

[code]

EDIT: we're checking at the wrong location. We shouldn't wait for addressbooks to set the contactdetails as NOT loading. But wait for a contact to be selected.

[2016-04-18 09:39] skjnldsv commented on #370
Okay, I tried to do a few tests. If we put the `ctrl.loading = false` in the `ctrl.changeContact = function(uid)`  the message disappear and the loading sate is disabled when a contact is loaded. That's what we want.

But we also want to display the no contact message when the addressbook is empty. The problem is waiting for the promise. If we put something like

[code]

Into the `AddressBookServi

[2016-04-18 13:04] DeepDiver1975 commented on #144
documentation issue has been raised in https://github.com/owncloud/documentation/issues/2359

[2016-04-18 15:03] pbek commented on #359
I also upgraded (from ownCloud 8.2.x) to ownCloud 9.0.1 with Contacts 1.1.0.0 and get the same "empty" page.
When I load the contact page I only get some errors like this in the browser console:

[code]

...no errors in the `owncloud.log`.
@DeepDiver1975 is there a way to find out if there are broken calendar objects that might cause problems? I have about 2700 calendar objects.

[2016-04-18 15:22] DeepDiver1975 commented on #359
I assume you mean contacts/vcard - right? :wink:

[2016-04-18 15:28] pbek commented on #359
Sorry, you are right, we are talking about vcards. Although I also have troubles with the Tasks app. ;) Calendars seem to work.
Do you have any insights about the calendar problem or a way to produce some meaningful log messages by the dav backend?

[2016-04-18 15:30] DeepDiver1975 commented on #359
The dav backend is most probably not causing any issues - I know of issues in the client side lib used in the contacts app where the full vcard is not received by the application code because of one char causing issues .... we need to analyse this in depth.

Maybe we add a temporary work around to ignore that empty card and continue processing ....

[2016-04-18 15:43] pbek commented on #359
That would be awesome! :tada:

[2016-04-18 17:23] h-2 commented on #371
@DeepDiver1975 thanks! Any ETA for 1.2? Or preliminary patches?

I have just realised that its not a plain display problem, but that actually my davdroid also cannot sync the addressbook anymore which is kind of a problem :sob:

[2016-04-18 17:34] h-2 commented on #371
Strike that out, it's just that the dav url changed. Now it works / only the web frontend is broken.

[2016-04-18 18:11] DeepDiver1975 commented on #371
1.2 is planned by the end of this week - after the Munich Meetup http://www.meetup.com/owncloud-munich/events/229939736/

[2016-04-18 18:43] rob9 opened #372 "Most clicks take 80 s for 6,000 contacts"
For large address books, the Contacts app is unusable due to its extensive slowness.
- the old Contacts app had same problem, but worked somewhat after the initial timeout

In the new app, practically every mouse click is 80 s.
- All server requests must be paginated
- Do NOT store all contact info in a memory structure. It will become too large, slow and unreliable
- Either paginate from the serv

[2016-04-18 18:46] rob9 opened #373 "Support custom vCard type values"
According to rfc, type values (the descriptor like home, work other) supports lists of values and in particular custom values prefixed by x-

It is beneficial to further describe phone numbers, addresses, and emails using a custom free-form type value.

Contacts version 1.0.0.0 does not support custom type values.
Ensure inter-operability with Android that does support this feature
Refer to Google

[2016-04-18 19:51] DeepDiver1975 commented on #372
We are pretty much aware of this - will be taken care of - refs https://github.com/owncloud/contacts/issues/176

[2016-04-18 19:51] #372 closed, assigned to nobody

[2016-04-18 19:53] DeepDiver1975 commented on #373
refs https://github.com/owncloud/contacts/issues/207
refs https://github.com/owncloud/contacts/issues/234

[2016-04-18 19:53] #373 closed, assigned to nobody

[2016-04-18 21:02] gazbarg commented on #363
If I'm not mistaken, it did exist in OC8, or I'm wrong/daydreaming ?

[2016-04-18 21:12] DeepDiver1975 commented on #363
AFAIK this was working in oc8 - nevertheless it is currently not supported.

[2016-04-19 09:31] gazbarg commented on #255
Hello,

I beg to differ. PO Boxes are not that rare event for private people (especially if self-employed). Around here (France), we do have contacts with street address + PO Box or PO Box only. It would be nice to keep this in OC.

[2016-04-20 06:00] #247 closed, assigned to nobody

[2016-04-20 08:31] #311 closed, assigned to DeepDiver1975

[2016-04-20 08:57] ghormoon commented on #311
I've just tested it, it helped on the example I've given, but my user still has some broken contacts in his database :( too bad those didn't appear when I've exported that, so I'll have to mess in with the database tables to pin that down :(

[2016-04-20 10:02] DeepDiver1975 commented on #311
@ghormoon I'm happy to debug deeper into this issue - but I need example vcards which are falling apart - please open a new issue - THX

[2016-04-20 10:04] ghormoon commented on #311
Just to confirm, is it safe to select the cardbook and insert it into another (with different PKeys) and then  delete cards until I manage to find out which was the bad one? I ddin't manage to find other that this one with exporting and importing back :(

[2016-04-20 10:07] DeepDiver1975 commented on #311
Should work - yes. But please do this on some test server and do backups before killing data :wink:

[2016-04-20 10:08] ghormoon commented on #311
I have only "prod" server (~5users), but I do it at least on other user and have snapshot of whole VM just in case :)

[2016-04-20 18:47] #70 closed, assigned to nobody

[2016-04-20 19:38] llucax opened #376 "Unicode characters are not sorted properly"
### Steps to reproduce
1. Create a contact named "Mab"
2. Create a contact named "Máa"
3. Create a contact named "Mb"
4. Look at the contacts list
### Expected behaviour

The order should be Máa, Mab, Mb (accentuated characters have the exact same "weight" as the non-accentuated character (i.e. "á" when considered for sorting, can be, for all practical purposes, be replaced with "a"). Android cont

[2016-04-20 20:58] #359 closed, assigned to nobody

[2016-04-20 20:59] DeepDiver1975 commented on #359
address with #374

[2016-04-20 21:00] DeepDiver1975 commented on #313
@jancborchardt please retest with latest master an let me know if issues still arise - THX

[2016-04-20 21:01] DeepDiver1975 commented on #313
Please supply example vcard for testing

[2016-04-20 21:19] #291 closed, assigned to nobody

[2016-04-21 05:51] #376 closed, assigned to DeepDiver1975

[2016-04-21 08:07] guidtz opened #381 "Multi line address separator"
Hello,

   if I try to add address with two lines : exemple : ZI tartuff, 2 Rue des bosquest. Owncloud contacts put a \, and sometomes \\\,.

   There is a problem or he line separator is not a ',' but something else ?

Thanks

[2016-04-21 08:14] DeepDiver1975 commented on #381
Fixed with 1.2

[2016-04-21 08:14] #381 closed, assigned to nobody

[2016-04-21 08:19] #322 closed, assigned to DeepDiver1975

[2016-04-21 10:01] DeepDiver1975 commented on #298
The issue is here - https://github.com/owncloud/contacts/blob/master/js/dav/lib/accounts.js#L98

account.principalUrl is encoded but response.href is not and because of that the response is not found.

We'll address this with 1.3 - maybe already by having the new dav client lib in place - let's see

[2016-04-21 11:29] jancborchardt commented on #313
Well, it still occurs when there’s no address book and you click on the »Add new contact« button. No specific vcard needed.

But I guess since we force an address book to exist and prevent the last one to be deleted, this can be closed?

[2016-04-21 11:33] #313 closed, assigned to jancborchardt

[2016-04-21 11:37] jancborchardt opened #382 "Sorting issues after import"
On a recent import, this happened:
![capture du 2016-04-21 13-35-31](https://cloud.githubusercontent.com/assets/925062/14707640/fe8c5290-07c5-11e6-8d29-64505592a410.png) ![capture du 2016-04-21 13-27-27](https://cloud.githubusercontent.com/assets/925062/14707639/fe8bfd2c-07c5-11e6-89d0-ec442d4abc65.png)
Obviously there’s something wrong here … random contacts which start with »J« are sorted first

[2016-04-21 11:38] DeepDiver1975 commented on #382
Please retest with https://github.com/owncloud/contacts/pull/378 being reverted

[2016-04-21 11:39] DeepDiver1975 commented on #382
Which browser?

[2016-04-21 12:07] jancborchardt commented on #382
Ah, Chrome only (also incognito window). Firefox is ok.

[2016-04-21 12:09] jancborchardt commented on #382
And with the commit before https://github.com/owncloud/contacts/pull/378 it works ok!

[2016-04-21 13:03] DeepDiver1975 commented on #382
Seems to be a Chrome bug related to the function localeCompare

[2016-04-21 14:54] robertwenner commented on #277
Problem went away after upgrading to 9.0.1

[2016-04-21 14:54] #277 closed, assigned to nobody

[2016-04-21 15:24] aspdye commented on #277
...the question is: why 💭

[2016-04-21 16:07] ka223 opened #1145 "some contacts pictures are missing, sync pictures from android to owncloud not working"
Hi,

my contacts pictures are not working correctly.
Maybe this bug is somehow related to:
https://github.com/owncloudarchive/contacts/issues/1142

Template from https://github.com/owncloudarchive/contacts/blob/master/CONTRIBUTING.md
### Steps to reproduce
1. Sync contacts with pictures from Android (DAVdroid) to Owncloud

### Expected behaviour
any contact with pictures without error

### Actual

[2016-04-22 07:28] DeepDiver1975 commented on #1145
I'm sorry to say but this app will no longer receive updates - please update to owncloud 9 and get the new contacts app

[2016-04-22 09:01] #382 closed, assigned to nobody

[2016-04-22 10:09] DarkSteve opened #385 "Can't import contacts VCF file"
### Steps to reproduce
1. Click "Import" button
2. Choose VCF file
3. Receive "Invalid file type" error
### Expected behaviour

Contacts should be imported.
### Actual behaviour

"Invalid file type" error and nothing imported.
### Server configuration

FreeBSD 10.2

Apache 2.4

MySQL 5.6

PHP 5.6

ownCloud 9.0.1

Contacts 1.2 (released just minutes ago)

Fresh install of ownCloud
### Client config

[2016-04-22 10:23] DeepDiver1975 commented on #385
Which browser?
What is the file name?

[2016-04-22 10:27] DeepDiver1975 commented on #385
ah - mind giving a try with another browser?

[2016-04-22 12:40] hasselk opened #386 "Add possibility to rename and or disable adressbooks"
that would be nice, if i remember correctly it was possible sometime

[2016-04-22 12:55] DarkSteve commented on #385
Yep. Actually, just after I wrote the Issue, I tested on IE11, Edge, and Seamonkey 2.40 (on Win10) and the built in browser and Fennec Fox on Cyanogenmod11.

I get the same error. This was a VCF I exported from ownCloud 8.2 before I reinstalled from scratch - have I pooched my ownCloud? Or do I have to do something with my VCF?

[2016-04-22 13:20] DeepDiver1975 commented on #385
Looks like the browser cannot properly detect the mimetype of the file.
Is the file named foobar.vcf? AFAIK the correct extension name is required

[2016-04-22 13:21] DeepDiver1975 commented on #385
Just because I'm curious - why did you reinstall from scratch?

[2016-04-22 14:02] bobblkabb commented on #385
Same here with Firefox 45.
**Operating system:**
Ubuntu 14.04.4 LTS
**Web server:**
Apache 2.4.7
**Database:**
MySQL 5.5.47
**PHP version:**
5.5.9
**ownCloud version:**
9.0.1
**Contacts version:**
1.2.0.0

[2016-04-22 15:06] aspdye opened #387 "Rename Build Names to v1.2.0.39 instead of v0.0.0.39"
...to make clear that it was not released before 1.0 😁 ...what do you think?

@DeepDiver1975

[2016-04-22 15:12] DeepDiver1975 commented on #385
@bobblkabb what is the name of the file you want to import?

[2016-04-22 15:25] aspdye commented on #385
can we add some code, that adds **.vcf** if it is not in the filename? 😕

[2016-04-22 15:50] pravussum commented on #385
Same here with FF38 and the file named "Standard.vcf" or "Contacts.vcf" respectively.

[2016-04-22 16:22] jancborchardt commented on #297
@skjnldsv I’d say let’s just put the import button in its own row. The import icon should also be to the left of the text, we never put it to the right.

[2016-04-22 16:26] bobblkabb commented on #385
bobblkabb.vcf

[2016-04-22 16:37] DarkSteve commented on #385
@DeepDiver1975
I reinstalled from scratch because I'm an idiot.

I'm on FreeBSD 10.2, and I was running php5.5, but wanted to upgrade to php5.6. During the upgrade, I somehow managed to completely mess up my system. Both ownCloud and Roundcube stopped working, and Apache 2.2 started misbehaving.

I took the opportunity to uninstall Apache 2.2, php5.5, ownCloud 8.2, and even dropped the MySQL datab

[2016-04-22 17:05] DarkSteve commented on #385
@DeepDiver1975
Do you have a known working test or example vcf I could try? That would demonstrate whether it is my vcf or my server that is misbehaving.

[2016-04-22 17:22] DeepDiver1975 commented on #385
Its a pure client (contacts web app) issue. Let me See what I can do ....

Please Import with any carddav client e.g. Evolution on Gnome or whatever you have.

[2016-04-22 17:34] DarkSteve commented on #385
"Please Import with any carddav client e.g. Evolution on Gnome or whatever you have."

Bummer. My desktop/laptop is Windows, my server is headless and I interact with it via PuTTY or via web UI. Basically I have Thunderbird (which doesn't work) or my Cyanogenmod mobile (which doesn't have anything that works).

I'll keep tinkering for a while, but it looks like I'll eventually copy 'n paste almost

[2016-04-22 22:22] llucax commented on #376
Thanks for the quick fix!

[2016-04-23 07:24] Henni commented on #385
@aspdye blindly adding `.vcf` to the file name isn't a good idea. As there are other formats which contain contact data (e.g. `.csv`, `.xml`)

[2016-04-23 09:04] aspdye commented on #385
Is it possible to add autodetection and add .csv, .xml import too :grin:

[2016-04-23 09:15] Henni commented on #385
That would be the long term goal and I believe there was a proposal for GSoC but nobody took it.

[2016-04-23 10:07] fireba11 commented on #357
Info: Happens when the contact is created on a client and then synced to ownCloud, does NOT happen when the contact is created in the web gui.

[2016-04-23 15:07] DarkSteve commented on #385
The file name extension isn't my problem, my file has the vcf extension. However, I think auto-detection of the file type is a laudable goal.

That said, it shouldn't be a high priority. We're talking about people that run their own cloud servers here, making things work as expected is the primary goal. Making things work for people that don't know what they're doing is the secondary goal. Spinnin

[2016-04-23 20:31] rosenstein3478 commented on #385
Encountered the same problem and solved it by importing my vcf files into the remote owncloud address book in thunderbird. Had to overcome a few obstacles due to missing fields and wrong charset, but finally got it working using an addon in thunderbird called MoreFunctionsForAddressBook, which was able to extract all fields from my vcf files correlty. Even encoded images have been imported success

[2016-04-24 04:20] DarkSteve commented on #385
@rosenstein3478
I'm very interested in how you got this working. I tried using Thunderbird but gave up when virtually no phone numbers or birthdays were imported, and no images either.

I tracked down MoreFunctionsForAddressBook and installed it but I'm not sure how you used it to import the vcf properly. I'm still having the same issues. What char set and other options did you use?

EDIT: Ah! I w

[2016-04-24 07:47] DeepDiver1975 commented on #357
This is fixed with 1.2

[2016-04-24 08:08] fireba11 commented on #357
Jup, updated the plguin yesterday and can confirm it's gone.

[2016-04-24 08:57] MeCias commented on #385
Maybe [Cardbook for Thunderbird](https://addons.mozilla.org/de/thunderbird/addon/cardbook/) can help. I haven't used it in this matter, looks promising though.

[2016-04-24 10:08] Bugsbane opened #388 "[enhancement] Way to select / update multiple contacts"
This is basically a wishlist to be able to select more than one contact at a time from the web ui. Mainly, my personal usecase is for selecting multiple contacts to delete, and for selecting multiple people from the same organization and enter that once instead of over and over again.

I imagine that the workflow would be ctrl/cmd/shift/long clicking the contacts (depending on the platform), which

[2016-04-24 11:19] rosenstein3478 commented on #385
I created my vcf files using owncloud 8.1.6 via the web GUI of calendars app. A typical entry looks like this:

[code]

Entries themselves are separated using line breaks. Here are the steps I did to get a vcf file into owncloud:
1. Install Thunderbird-Addon morefunctionsforAB
2. Create an empty address book in owncloud
3. Create a remote address book in thunderbird linking to the one create in st

[2016-04-24 11:38] DarkSteve commented on #385
Thanks so much rosenstein3478, you've been a huge help. I've now managed to import my vCard, including images, and it's working great. All the fields came through properly, I'm very impressed. You're the best!

[2016-04-24 14:30] TecJon commented on #385
Same problem here with Firefox 45 and Edge on Windows 10 using a file named contacts.vcf

[2016-04-24 17:21] frederiiiic commented on #385
Same for me, i don't really have time find a way myself for the moment...

[2016-04-24 17:34] DarkSteve commented on #385
@frederiiiic
You don't have the time? You run your own cloud server. All you have to do is read the comments in this thread, it gives you a means of getting around the issue.

[2016-04-24 18:06] frederiiiic commented on #385
I've seen it, but spend too many times for now making things working. I'll wait a bit for a simplest way.

[2016-04-25 05:53] pbek opened #389 "Old contacts are not showing up after upgrading to ownCloud 9.0.1 and Contacts 1.2.0.0"
As requested by @DeepDiver1975 in https://github.com/owncloud/contacts/pull/374:
I had several hundred contacts before the upgrade to ownCloud 9.0.1 and Contacts 1.2.0.0. After the upgrade they don't show up at the contact page.

Syncing via Dav still works.
If I create a new contact on the web interface in my old address book `Contacts` it doesn't show up on the web interface neither.
Although it

[2016-04-25 07:10] #248 closed, assigned to nobody

[2016-04-25 07:13] DeepDiver1975 opened #391 "Import button is only working once"

[2016-04-25 08:47] ghost commented on #385
to be honest.
On the Oc8 everything was working I think for alot of users. now with the redesigned app some issues occures.
for some users I think its easier to stay on the old version instead of building workarounds with some contacts apps. Me including.
The owncloud is a great application and service and very useful for ppls who would like to store theyre own data, but who are not very familiar

[2016-04-25 08:50] frederiiiic commented on #385
I've finally add my contact in my phone, and sync them with owncloud contact, that work too... pretty easy at the end.

[2016-04-25 08:53] ghost commented on #385
What filetypes are allowed? Is VCF not supported anymore?
Because the documentation states:
Adding Contacts¶

You can add contacts using one of the following methods:

[code]

[2016-04-25 09:34] DarkSteve commented on #385
@sectorchan "On the Oc8 everything was working I think for alot of users. now with the redesigned app some issues occures."

Yeah, ownCloud 8.2 was excellent. It was also the version that moved to the new development model, with a new version each year and point versions in between. The software had matured to the point that it's structure had become limiting, and OC9 needed to restructure in such

[2016-04-25 13:23] irgendwie opened #393 "Favicon disappears if you switch between apps back and forth"
The favicon is only visible on a fresh page visit. If you switch between apps, it disappears - only a reload makes it visible again.

[2016-04-26 09:06] creopard commented on #385
Same issue here with FireFox 45:
I exported my contacts from an existing OC v8.2.2 instance and wanted to import the created vcf-file to OC v9.0.1 using contacts v1.2 (filename "Kontakte.vcf").
It gives the same error as stated above "Invalid file type".

[2016-04-26 09:50] DeepDiver1975 commented on #385
Please test #392

[2016-04-26 15:47] creopard commented on #385
#392 did it! Thanks for fixing the issue!

_(However it took me some time to understand that I had to edit the file "contacts\js\public\script.js" because the file "contacts\js\services\contact_service.js" didn't exist.)_

[2016-04-27 08:06] DeepDiver1975 commented on #385
Better would have been to run make and build the app :wink:

[2016-04-27 08:07] #385 closed, assigned to nobody

[2016-04-27 12:11] dvinz commented on #389
Hi All,

Same problem for me.

## Server configuration

### Operating system:

PRETTY_NAME="Debian GNU/Linux 8 (jessie)"

### Web server:

Nginx

### Database:

MySQL

### PHP version:

PHP 5.6.19-0+deb8u1

### ownCloud version:

9.0.1

### Contacts version:

1.2.0.0

### Owncloud log tell  Fatal error webdav :

[code]

Best regards

[2016-04-27 12:37] DeepDiver1975 commented on #389
@dvinz you have an invalid vcard in your database - please try to fix it or delete the card from the database

[2016-04-27 12:44] dvinz commented on #389
@DeepDiver1975 Tanks,

How identify them ?

[2016-04-27 12:48] DeepDiver1975 commented on #389
this is where is break - run a query like (pseudo code - you might need to adopt this to work properly on mysql):

[code]

[2016-04-27 20:38] thommierother opened #394 "contact sharing: Shared contacts as optional replacement for private contacts"
I want to share a contacts list (and also a calendar) between all newly created members of an OC user group.

There should be a configuration option to replace the default (private) contacts, which are  automatically created upon account creation, with a shared contact list. This could be achieved through something similar like the 'skeletondirectory' directive for the files application. A second

[2016-04-28 10:36] susca opened #395 "cannot download/export contacts, no button"
### Steps to reproduce
1. open contacts app
2. look for download/export button
### Expected behaviour

There should be a possibility to download/export contacts, e.g. as .vcs
### Actual behaviour

In the recent version (1.2 with OC 9.0.1) there is no such button (or it is very well hidden.
### Server configuration

**Operating system**: Debian 8 (Jessie)

**Web server:** apache 2.4.10

**Database:

[2016-04-28 10:42] Henni commented on #395
This should work with contacts 1.2:
![image](https://cloud.githubusercontent.com/assets/1267827/14883396/4072f98e-0d3e-11e6-8d86-95d9d66d95d2.png)

[2016-04-28 10:45] DeepDiver1975 commented on #395
9.0.2 will fix this

[2016-04-28 10:45] #395 closed, assigned to nobody

[2016-04-28 10:54] susca commented on #395
@Henni : 1.2 is installed, screenshot looks different (attached)
![occontacts](https://cloud.githubusercontent.com/assets/5244779/14883740/32ca466e-0d40-11e6-900c-648249c16885.png)

@DeepDiver1975 : when will 9.0.2 be out? And why does it work when @Henni does it?

[2016-04-28 10:57] Henni commented on #395
@susca I'm running owncloud's master branch.
Take a look at https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2016-04-28 11:00] susca commented on #395
@Henni Thank you, I'll be patient for a few more days ;)

[2016-04-28 20:41] qwc commented on #389
EDIT: I was able to solve my problem through a backup after my wife confessed to me that she had done something on our tablet thinking she was editing her account, but was doing that on my tablet account...

[2016-04-29 08:54] jancborchardt opened #396 "Strange name of exported/downloaded address book"
When I export/download an address book, the name is something like `H37OfASi` (no extension). Rather it should be addressbookname.vcf, so by default »Contacts.vcf«.

cc @skjnldsv cause you worked on this. :)

[2016-04-29 09:21] gazbarg commented on #324
Moreover, i think it could help with contact sorting (issue #208).

[2016-04-29 09:57] #396 closed, assigned to nobody

[2016-04-29 09:58] DeepDiver1975 commented on #396
export is a core feature - and requires update of sabredav there

[2016-04-29 12:13] jancborchardt commented on #208
If we add it, let’s put that in the bottom left settings area though. And sorting by first name should be default.

[2016-04-29 12:41] Ucun opened #397 "android how to sync by carddav?"
thinks all owncloud dev. it's amazing!!!

i'm use android phone.how to sync by carddav APP?

[2016-04-29 12:43] Ucun commented on #397
I did by this guide:
http://www.slsmk.com/sync-android-contacts-calendar-and-files-to-owncloud/

It's not work.

[2016-04-29 16:02] DeepDiver1975 commented on #397
Which app are you using?

[2016-04-29 18:24] polkillas commented on #397
I personally used DAVdroid in previous Owncloud versions, but it doesn't seem to work with this new app.

[2016-04-30 04:10] DeepDiver1975 commented on #397
I know many people using davdroid. I did not try davdroid myself yet, but lets see ...

Which URL did you enter?

[2016-04-30 05:36] Ucun commented on #397
@DeepDiver1975  thinks for you patient.

 I davdroid url  use owncloud contacts app default url like:http://myowncloud/owncloud/remote.php/dav/addressbooks/users/myname/default/

[2016-04-30 05:38] aspdye commented on #397
Can you give us some Information about the device and the Android version?

[2016-04-30 05:48] Ucun commented on #397
# @aspdye

SOFTWARE INFORMATION
DAVdroid version: 1.0.8 (99) Wed Apr 27 15:44:38 GMT+08:00 2016
Installed from: APK (directly)
JB Workaround installed: no

CONFIGURATION
System-wide synchronization: automatically
Account: *******
  Address book sync. interval: 1440 min
  Calendar     sync. interval: 240 min
  OpenTasks    sync. interval: —

SQLITE DUMP
android_metadata
    |  locale |

##     |  z

[2016-04-30 09:15] Learath2 opened #398 "Vcf import issue"
### Steps to reproduce
1. Try to import vcf file
2. Get error "Invalid file type"
### Expected behaviour

The vcf should be imported fine
### Actual behaviour

I get the error "Invalid file type"
### Server configuration

**Operating system**: Debian 8 (jessie)

**Web server:** Nginx

**Database:** MariaDB

**PHP version:** 5.6.19

**ownCloud version:** 9.0.1

**Contacts version:** 1.2.0.0

**Upda

[2016-04-30 14:10] pierre-alain-b commented on #398
Exactly the same issue here. I confirm the bug with the same oC and Contacts versions.

[2016-04-30 18:05] TecJon commented on #398
See #385

[2016-04-30 19:03] Learath2 commented on #398
#392 fixes this.

[2016-04-30 19:03] #398 closed, assigned to nobody

[2016-05-01 14:01] dniku commented on #359
This is still broken on Debian with the version `owncloud:armhf (9.0.1-3.1)`. Did this fix get shipped in that version?

[2016-05-01 15:23] SebGer opened #399 "Vcf import failed - values are not decoded from quoted-printable format"
### Steps to reproduce
1. Import vcf with fields containing 'ENCODING=QUOTED-PRINTABLE'

Example (here in ADR, but can occure in every field):

[code]

I got such files by exporting contacts from an android mobile.
### Expected behaviour

Contact is shown with decoded values
### Actual behaviour

The according values are still shown as quoted printables
### Server configuration

**Operating system

[2016-05-01 15:44] livier commented on #399
+1

[2016-05-01 17:10] sebastianhaberey commented on #276
+1 for fixing this. As a first-time ownCloud user, I thought I was going crazy today. Naturally, I assumed I was not using ownCloud right. Turns out it's a bug.

[2016-05-02 07:43] DeepDiver1975 commented on #359
the fix is in the conatcts app 1.2 - did you update the app?

[2016-05-02 10:39] dniku commented on #359
Now I have and this bug is gone. Thanks.

[2016-05-02 11:16] dniku opened #400 "Broken encoding in Thunderbird"
### Steps to reproduce
1. Create a contact with Cyrillic characters in it (example name: `Михаил Лифшиц`)
2. Sync it to a latest Thunderbird with SoGo Connector
3. Observe broken encoding in the interface (example result: `8E08; 8DH8F`, or `b'\x1c8E08; \x1b8DH8F'` using Python's `repr()` notation)
### Expected behaviour

Correct encoding
### Actual behaviour

Broken encoding
### Configuration

P

[2016-05-02 12:10] DeepDiver1975 commented on #400
Can you please share the vcards - working and not working - THX

[2016-05-02 13:00] dniku commented on #400
@DeepDiver1975 how do I get them?

[2016-05-04 07:35] ralin3 commented on #397
https://davdroid.bitfire.at/configuration/owncloud/

[2016-05-05 07:01] Wikinaut commented on #389
Same problem here. No contacts are listed anymore  :-((
Contact App spinner is not cleared. Empty list.
- PHP version: PHP 7.0.5
- ownCloud version: 9.0.1
- Contacts version: 1.2.0.0

@DeepDiver1975
I do not have query results like `select * from oc_cards where carddata like '%AIM: 445%'`

[2016-05-05 12:54] llucax opened #401 "Invalid VCard exporting and via CardDAV"
Coming the Android app DAVdroid: https://forums.bitfire.at/topic/1078/error-while-uploading-created-modified-entries/20

Here is what the author said:

### Steps to reproduce
1. Create a contact with a " character in the address
   Get the contact via CardDAV
2. Get the contact via CardDAV or download feature
### Expected behaviour

A valid vCard is downloaded or received via CardDAV (either `"` i

[2016-05-05 12:55] llucax commented on #401
First reported to core: https://github.com/owncloud/core/issues/24448

[2016-05-06 06:53] DeepDiver1975 commented on #389
@Wikinaut of course not - AIM: 445 is specific for @dvinz to identify the broken card on his installation.

[2016-05-06 08:59] Wikinaut commented on #389
@DeepDiver1975
that's clear.

However, how can I (help to) locate the problem in the app, or in the contact database ?

[2016-05-06 15:44] skjnldsv commented on #54
@tomneedham still occurring? Can we close?

[2016-05-07 11:21] dvinz commented on #389
Hi all,

I clear all broken card and it work.
Thanks for you help

DVinz

[2016-05-07 11:26] Wikinaut commented on #389
@dvinz
But your solution is not a general solution. What do you mean by "broken" ? Why is the present OC version 9.0.1 not able to repair potentially broken cards, whereas the previous versions could do this.

[2016-05-07 11:27] Wikinaut commented on #389
I suggest, that app developers add some code to make the app more robust.

[2016-05-07 11:36] Wikinaut commented on #389
@DeepDiver1975 I am willing to help, but I do not know where to start - there are no php errors in the log file.

[2016-05-07 11:37] Wikinaut commented on #389
Perhaps a javascript issue ?

[2016-05-07 11:41] dvinz commented on #389
@Wikinaut I delete all vcard was povoc error (see your owncloud log to identify them) from my oc_cards DB. In my case, think some vcard attribute are not recognize bye new contacts apps.

[2016-05-07 11:43] Wikinaut commented on #389
@dvinz an my approach to software is to write what I call "self-healing software", I mean, to make software (here: the contact app) so robust, that it can cope with (some common) irregularities. perhaps I can help here later.

Can you tell me, what kind of irregularities your contact database had, apart from the reported problem ?

[2016-05-07 20:27] aspdye opened #403 "Empty vCards"

[2016-05-08 09:21] conan0276 commented on #389
Sorry guys this does not work for me either. My owncloud log does not show anything all contacts are gone in the web-ui and I get sync errors...

[2016-05-08 09:46] conan0276 opened #404 "Contacts gone after update"
### Steps to reproduce

Upgraded from newest 8.x version to 9.0 to 9.0.1 to 9.0.2

Behaviour is every time the same (with owncloud 9.0, 9.0.1 and 9.0.2). THE CONTACTS DO NOT SHOW UP.

Even after creating a new address book, deleting the old one, creating a new one and importing my contacts again from a vcf file. The contacts initially show up directly after the import, but they are gone as soon as

[2016-05-08 20:26] arjunsarin opened #405 ".vcf card import - Unknown Filetype error"
### Steps to reproduce
1. Create an .vcf contacts file (for example with another ownCloud instance)
2. Try to import this file into a new empty addressbook
### Expected behaviour

All contact cards from the .vcf file should be added to a new addressbook.
### Actual behaviour

It appears an yellow message box "Unknown filetype." and nothing else happens
### Server configuration

**Operating system*

[2016-05-09 06:02] DeepDiver1975 commented on #405
Already fixed with 1.3

[2016-05-09 06:02] #405 closed, assigned to nobody

[2016-05-09 06:09] arjunsarin commented on #405
Ok, sorry. But what is the best way to get this new version as soon as possible? The current version is still 1.2 so I cannot update the app with the ownCloud updater app.

[2016-05-09 07:08] DeepDiver1975 commented on #405
1.3 is not yet released

[2016-05-09 07:43] mr-gosh opened #406 "Addressbook visibility not switchable anymore"
### Steps to reproduce
1. go to contacts app
2. open the configuration gear
3. realize there is no visibility switcher in front of the addressbooks anymore
### Expected behaviour

the sivibility switcher is a great way to organize a lot of addressbooks
AND
to check if the import function is importing to the right addressbook (atm this can only be done through a third party like thunderbird or davd

[2016-05-09 11:16] skjnldsv commented on #406
@DeepDiver1975 is there an enable/disable function in core/dav?
If not, how do you think we can do this?

[2016-05-09 11:28] mr-gosh commented on #406
just to recap:
owc8 it looked like this and you were able to select the addressbook you wanna import to:
![owc8_contacts](https://cloud.githubusercontent.com/assets/3028703/15111793/d32ff890-15e9-11e6-8cc1-7fd8712f1a62.png)

now it looks like this and it imports to the latest added addressbook:
![owc9_contacts](https://cloud.githubusercontent.com/assets/3028703/15111810/f1b351d6-15e9-11e6-9420-fba

[2016-05-09 11:30] skjnldsv commented on #406
Yes, I see exactly what you need, and I also think it was a great feature! :)
We'll see if this is possible!

[2016-05-09 11:45] DeepDiver1975 commented on #406
the calendar app uses a custom webdav property to store the visibility

[2016-05-09 11:48] skjnldsv commented on #406
Nice! Thx!

[2016-05-09 12:48] mr-gosh commented on #394
this is allready possible, if you share an addressbook to an group - every user of that group will see this addressbook - right?
and i don't think its a good idea to take away the "private" addressbook...

[2016-05-09 12:53] thommierother commented on #394
It is only possible if you share the addressbook manually through the UI, but not automatically upon creation of a new account. My use case is an addressbook shared between a group of persons. And I also said this should be "optional" - nobody requested a replacement of the private address book in general.

[2016-05-09 15:54] h43mxyz opened #407 "Enhancement: Contacts Actions"
I want to request a couple of enhancements for the app if possible, I my opinion can be usefull.

Link actions anchors like the one used in website field for the phone and email fields, so we can click on them and perform desired action and use this app as a proper contact app in mobile devices for example.

For the phone field:
`<a ng-if="ctrl.data.value.length" class="phone-link ng-scope" target

[2016-05-09 16:02] DeepDiver1975 commented on #407
Mind submitting a PR? Thanks alot!

[2016-05-09 21:12] aspdye opened #408 "Provide Release as zip"
Because Contacts Source Code is not builded if you download it (calendar is) it would be nice if you could provide the releases not only as .tar.gz and also as .zip :wink: THX

[2016-05-10 04:59] Rello commented on #176
did I understand the thread correctly that the new app is just a carddav-client going via the standard carddav-interface/url?
and the old one was a real app going to the database directly on its own?
What was the reason to do this?

I remember that I could not run owncloud on my previous hoster because the the standard carddav-principles always transfer more or less the whole addressbook every tim

[2016-05-10 05:44] skjnldsv commented on #408
Why? Can't you untar instead of unzip? ^^

@aspdye bump!

[2016-05-10 18:47] bcutter commented on #1127
Still existing in OC v8.2.4 with corresponding contacts app version (0.5.0.0)... did I miss something?

[2016-05-10 20:00] RealRancor commented on #1127
@bcutter The old pre-oC9 is deprecated/unmaintained so this fix probably never was released. Just move on to oC9 and the new contacts app.

[2016-05-11 15:42] flo1o1 commented on #144
Thanks @DeepDiver1975! Do you know why this feature was kicked out? Feels like a degradation to me…

[2016-05-11 15:46] skjnldsv commented on #144
It's being implemented: #380

[2016-05-12 17:09] Mannshoch opened #410 "How could the Profile Picture get set in OC9?"
### Steps to reproduce
1. Wish to add / edit a addressbook profile picture
2. Wonder where to do that
### Expected behaviour

Icons appear near the place where the Picture is
### Actual behaviour

Nothing
### Server configuration

**Web server:** Apache

**Database:** MySQL

**PHP version:** 5.6

**ownCloud version:** 9.0.2

**Contacts version:** 1.2.0.0

**Updated from an older ownCloud or fresh

[2016-05-12 17:37] aspdye commented on #410
Adding, changing or removing Avatars in the contacts dringend is currently not implented. Such an function will come with the next version :wink:

[2016-05-12 17:59] Mannshoch commented on #410
Is the Old contact app also working with OC9.0.2? I need this to create a new list and share it.

Please add this info into:
https://apps.owncloud.com/content/show.php?content=168708

[2016-05-12 18:05] Mannshoch commented on #410
Will I be able to Link the Avatar from the Owncloud Users with the Avatar in my Adressbook if the User eMail address exist in my addressbock?

[2016-05-12 18:14] aspdye commented on #410
The old contacts app does not work with ownCloud 9.
You can add Profile Pictures with other CalDAV Clients (Android, iOS, ...) :wink:

[2016-05-13 13:50] sreutter commented on #405
Hello, great that a fix is already there.
when will that be released?

thank you

[2016-05-13 16:30] ghost commented on #404
I have a similar problem with mine, I had contacts and just realized that they're not showing up, settings seems broken as well.  I'm on a ubuntu 14.04 machine using the packages from the owncloud repos.

A difference is that I Do have things in my logs:

Error   contacts    Could not find resource file "/owncloud/apps/contacts/js/vendor/jquery-timepicker/jquery.ui.timepicker.js"  2016-05-13T12:21

[2016-05-14 09:19] skjnldsv commented on #410
duplicate of #344, #364.
see #380.

[2016-05-14 09:19] #410 closed, assigned to nobody

[2016-05-14 09:56] skjnldsv commented on #354
![capture d ecran_2016-05-14_11-56-05](https://cloud.githubusercontent.com/assets/14975046/15267762/db8c5378-19ca-11e6-928e-77343b8c3bef.png)

Like this?
This needs a lot of work, and fix _(jan, stop using absolute positionning, it's everywhere !!!!)_ But it's working great :)

[2016-05-14 15:25] aspdye commented on #354
Great work :rocket: That was exactly what i have meant.

[2016-05-15 04:32] skjnldsv commented on #397
@Ucun can we close this?

[2016-05-15 04:33] skjnldsv commented on #404
@conan0276 @SchroSct
Is it fixed then?

[2016-05-15 04:34] skjnldsv commented on #403
I saw that too :/
Don't know how we could do that.
- Don't create the card and wait for the FN field?
- Create a cron to clean empty cards in core/dav?

[2016-05-15 04:36] skjnldsv commented on #255
Agreed, we shouldn't remove or hide it.

[2016-05-15 04:50] Ucun commented on #397
@skjnldsv  OK.

[2016-05-15 04:54] #397 closed, assigned to nobody

[2016-05-15 11:22] thopiekar commented on #404
@skjnldsv: I've got the same here and my setup is the same like @conan0276 's.
So I guess upgrading does the trick here? When will be the latest changes released as stable?

Regards

[2016-05-15 12:15] skjnldsv commented on #404
Upgrading the contacts app?
The next update is planned for the 30 May (1.3) :)

[2016-05-15 12:27] aspdye commented on #408
For the Users without technical knowledge (and for users of Shared Hosting Plattforms) it would be easier, because they are only unzipping in their webinterface :grin:

[2016-05-15 12:30] skjnldsv commented on #408
But they're supposed to install it trough the oc app manager!
If they're smart enough to go and take the release from github, they should be smart enough to untar themselves! :p

[2016-05-15 12:31] aspdye commented on #408
Not only GitHub ... Also at "apps.owncloud.com" which is downloading from GitHub :wink:

[2016-05-15 12:32] skjnldsv commented on #408
Hum, indeed! :p
@DeepDiver1975 you're the one building the releases, do whatever you want :D

[2016-05-15 12:38] aspdye commented on #393
Reproducable trough Calendar? :confused:

[2016-05-15 12:39] lukasmalkmus opened #412 "Can't import contacts from vcard-file (.vcf)"
### Steps to reproduce
1. Go into the contacts app
2. Click "Settings -> Import" and select a vcard-file
### Expected behaviour

Contacts app should import the uploaded file.
### Actual behaviour

ownCloud throws an error: "Invalid file type."
### Server configuration

**Operating system**: CentOS 7.2

**Web server:** Apache 2.4.6

**Database:** MariaDB 5.5

**PHP version:** 7.0.6

**ownCloud vers

[2016-05-15 13:16] thopiekar commented on #404
Nice, I guess I can wait for that :wink:

[2016-05-15 13:17] skjnldsv commented on #404
Thank you :)

[2016-05-15 15:27] acidicX commented on #259
I have exactly the same here problem here as well. Let us know if you need any more info on that.

[2016-05-15 17:24] SonRiab commented on #259
~~For the "unsafe-eval" issue in core see owncloud/core#7212. For now, there is no fix for that.~~
Okay, the "unsafe-eval" issue seems to be a Firefox/jQuery bug, see owncloud/core#10314.

[2016-05-16 08:09] parshikov commented on #412
@LukasMa see #398

[2016-05-16 12:56] aspdye commented on #408
Closing after discussion in the IRC with @BernhardPosselt 😉

[2016-05-16 12:56] #408 closed, assigned to nobody

[2016-05-16 16:10] chrisisbd opened #413 "Colours in headings and unwanted avatars"
There is no way to configure the colours in the contacts list.  This gives me two problems:-

The round letter 'avatars' are just a distraction, especially as they are in a jumble of different colours,

The header backgrounds (in the same colours as the avatars) often make the white text illegible, in particular white on yellow isn't a good combination.

[2016-05-16 16:25] rakekniven commented on #413
Personally I do not have any problems with the round letters.
But the colors are really a pain. Some contacts are not readable. For one group it shows white chars on white.
Would be nice to have some config options to disable coloring.
Or make it stylable.

[2016-05-16 17:04] lukasmalkmus commented on #412
@parshikov Ah thanks. Haven't seen these reports. #392 looks good, but has it been released yet? It is merged into master, but I don't know the release strategy.

[2016-05-16 17:09] aspdye commented on #412
@LukasMa You can find informations about the release strategy of the contacts-app on the milestone page:

https://github.com/owncloud/contacts/milestones :wink:

[2016-05-16 17:27] bitsandnumbers commented on #389
Upon upgrading from 8.2.5 to 9.0.2 I have the same issue as above : no contact load in the contact app. All my contacts are gone. No log about this issue. The spinning wheel spin forever. I have not checked if sync is working (I hope it is though).

On a side note, I had to put asset pipeline to off for the calendar app to work. It's a lot of issues for a new release ^^

EDIT: I get a 504 Gateway

[2016-05-16 18:36] lukasmalkmus commented on #412
@aspdye Exactly what I've been looking for, thanks :)

[2016-05-16 18:36] #412 closed, assigned to nobody

[2016-05-17 06:41] MorrisJobke commented on #413
cc @owncloud/designers

[2016-05-17 07:01] DeepDiver1975 commented on #413
Hell no! No config Option for colors!
Keep it simple!

We better fix the color range.

[2016-05-17 07:07] aspdye commented on #387
Also - we should mark the Daily Builds as pre-release and not as the newest one :grin: @DeepDiver1975

[2016-05-17 07:22] chrisisbd commented on #413
Personally I don';t think the colours add anything, they're just a mess down the side of the screen where the (not) avatars are.  I'd prefer to only show the avatar when there's a real one and to have a single colour for the header background.  The colours are just confusing, they look as if they mean something but they don't.

A contacts list is a _utility_ that one refers to for information, any

[2016-05-17 07:42] aspdye commented on #413
We can talk about **what** colors we want to use - **that** we use them is right, IMHO :wink:
I think it will look nicer with the avatars, and maybe we can integrate an feature that takes a color which matches a bit with the avatar :grin: I think this is how Google Contatcs (and the Android app) does.

[2016-05-17 11:34] skjnldsv commented on #413
Are we talking about the new or the old color generator?
If this is the new, then we should be discussing this in core. :)

The new algo has a brightness calculator and lower its config for better readability.

[2016-05-17 11:46] chrisisbd commented on #413
But why have a 'random' colour generator, it's seems obtusely complex.  Surely it's should be a user preference. Apart from anything else there are _no_ colours that will always work for everyone, they need to be able to be set by the user.  Maybe the choice could be between a single colour (for those who prefer legibility and practicality) and the existing random colours (for those who want gaudi

[2016-05-17 11:49] skjnldsv commented on #413
In android you can't change a color contact, and the color is defined on the uid too, not on the avatar (at least on my stock android 4.4 and 5.0.1)
I'm with Deep and Asp too, you should not change the color yourself, too many options are not a great idea. :/

[2016-05-17 11:54] chrisisbd commented on #413
Yes, and I dislike Android too for that very reason!  Surely you can leave the multi-coloured default and allow the user to set a _single_ colour instead if they need to for legibility or whatever.  It's hardly a complex configuration choice.

[2016-05-17 12:07] skjnldsv commented on #413
Well, in fact this is. Vcard don't have (to my knowledge) a color field to be set. That would require us to create a new value in the database to just store the colors?
It's a lot of work for an option hardly few people will use! :)

[2016-05-17 13:16] chrisisbd commented on #413
It's only one value, a single item that says 'dark blue' or some such and, if it isn't set, then you get the default rainbow of colours.  Anyway there's loads of CSS in the contacts app that seems to set colours for most of it.  Are you overriding the colours in the CSS?

[2016-05-17 15:28] skjnldsv commented on #413
Well, we won't add this feature. Feel free to do a pull request for a better readability on the font color here or the core generator in owncloud/core, but we won't add the option.

[2016-05-17 19:27] arjunsarin commented on #399
I have the same issue. Is there already a fix or a workaround for this problem? As far as I know there is no release date for 1.3 given at the moment..

[2016-05-18 14:03] skjnldsv commented on #316
@aspdye any news on the direct link?

[2016-05-18 19:33] arjunsarin opened #414 "Specify address book for contacts import"
### Steps to reproduce
1. Import contacts from a file (*.ics)
### Expected behaviour

I would like to choose the right address book for the import. Similar to the calendar import.
### Actual behaviour

It is not shown to which address book new contacts are added. Neither can I choose the correct address book.
### Server configuration

**Operating system**: CentOS 6.7 (final)

**Web server:** Apach

[2016-05-20 17:05] jc97 commented on #301
Now i tested the current version of this app in OC 9.0.2 and have the following behaviour:

If "canEdit" is not set:
Users can not edit the contacts (good!), but the fields are still writeble, but the changes are not saved: The fields should be read-only.

[2016-05-20 17:12] MartinProefrock commented on #389
I had same issue as above:
Same problem here. No contacts are listed anymore :-((
Contact App spinner is not cleared. Empty list.

Tracked it down to entries with the "note" field having too much content
- Add the "note" field
- Enter some long text (> 100 chars?)
  Entry is saved without any warning
  OR
- Create an entry with a long "note" field on a client (e.g. thunderbird) and sync it

Re-ope

[2016-05-21 05:23] DeepDiver1975 commented on #399
No fix yet available ....

[2016-05-21 05:44] aspdye commented on #399
The release date for 1.3 is planned for the May 30, 2016 😉
Find out more about the milestones of ownCloud Contacts at: https://github.com/owncloud/contacts/milestones

[2016-05-23 09:27] dpavlotzky opened #415 "Three input fields all named email"
Hi,

The file [templates/contactDetails.html](https://github.com/owncloud/contacts/blob/0be9900fe3be99ba9dc7f0824ce7337319160a61/templates/contactDetails.html) contains three input fields. The names of all three input fields is "email".

The fields work as expected so it is mostly an aesthetic issue, but it looks wrong.

**ownCloud version:** (see ownCloud admin page)
9.0.2

**Contacts version:**

[2016-05-24 06:53] raaomoka opened #416 "How Can I Recover Contacts from my Database for the Same ownCloud Version?"
### Steps to reproduce
1. I wanted to rebuild my QNAP Server's storage to support the new Snapshot feature
2. I read that I should backup my ownCloud config and data folders + database
3. I manually backed-up the database via phpMyAdmin
4. I attempted using QNAP's Backup software backup my entire NAS folders (which I thought included the ownCloud folder) to my external 2TB SSD. I double checked be

[2016-05-29 08:44] Rello commented on #324
my first try #418

[2016-05-29 17:18] Rello commented on #407
in the GUI, the fields are input-fields due to its in-line-editing functionality.
adding an <a> would not help here.
`<input type="text" id="details-email" name="email" ng-model="ctrl.data.value" ng-model-options="{ debounce: 500 }" ng-change="ctrl.model.updateContact()" value="" placeholder="E-Mail" focus-expression="$parent.ctrl.focus === ctrl.name" class="ng-pristine ng-valid ng-scope ng-not-em

[2016-05-30 05:54] skjnldsv commented on #415
God, I should be ashamed... How did I get this merged without noticing!
Thanks @dpavlotzky. It's indeed not really an issue, but still...

[2016-05-30 06:00] #415 closed, assigned to nobody

[2016-05-30 06:16] #279 closed, assigned to skjnldsv

[2016-05-30 06:18] DeepDiver1975 commented on #297
fixed with #402

[2016-05-30 06:18] #297 closed, assigned to nobody

[2016-05-30 06:20] #413 closed, assigned to nobody

[2016-05-30 06:24] DeepDiver1975 commented on #54
works for me in FF45

[2016-05-30 06:24] #54 closed, assigned to nobody

[2016-05-30 06:26] DeepDiver1975 commented on #191
I'm closing this because we cannot reproduce this and have no idea on how to fix it. Sorry

[2016-05-30 06:26] #191 closed, assigned to nobody

[2016-05-30 06:27] DeepDiver1975 commented on #259
Thanks for cross ref - closing ....

[2016-05-30 06:27] #259 closed, assigned to nobody

[2016-05-30 06:28] DeepDiver1975 commented on #294
@meras1894 are you still facing this issue? I was not able to reproduce this. THX

[2016-05-30 07:53] raimund-schluessler opened #421 "Existing profile pictures not shown after update to 1.3.0."
### Steps to reproduce
1. Have a contact with already existing profile picture (set with old contacts app or imported from google one day)
2. Upgrade contacts app form 1.2.0.0 to 1.3.0.0
3. Have a look at the contacts profile picture
### Expected behaviour

The profile picture should be shown.
### Actual behaviour

The image is not shown, there is a problem loading the image although there is an e

[2016-05-30 07:58] raimund-schluessler commented on #421
When I click on the respective contact I see that there is a problem with CSP preventing the image form loading:

[code]

However, the embedded preview picture in the list is not loaded either.

[2016-05-30 08:02] raimund-schluessler commented on #421
The problem of the profile picture in the list is due to: #315.
When manually changing

[code]

to

[code]

the image is shown correctly.

So this image here is only about the CSP issue. Any ideas? Is my server configured wrong?

[2016-05-30 08:07] raimund-schluessler commented on #421
When I create a new contact and upload a picture, it is correctly shown in the contact details, but still not shown in the preview list.

[2016-05-30 08:37] DeepDiver1975 commented on #421
Can I ask you to post a sample vcard for debugging? THX

[2016-05-30 08:42] DarkSteve commented on #421
I'm experiencing the same thing. My server configuration is identical except I'm on FreeBSD 10.3.

Who'd have thought the Contact app could be so problematic!

[2016-05-30 08:43] DeepDiver1975 commented on #421
What are you trying to tell me?

[2016-05-30 08:46] DeepDiver1975 commented on #421
@Henni this seems to be causing this issue - https://github.com/owncloud/contacts/compare/v1.2.0.0...v1.3.0.0#diff-25fe07d2d32ea4ff3c47532c18614c20R97

[2016-05-30 08:50] DarkSteve commented on #421
Nothing bad! I didn't mean to offend!

It's just that since upgrading to ownCloud 9, the new Contacts app has had a few very hard to squash bugs. For me, importing vCards and ongoing profile picture issues have been the most prominent.

It's unfortunate, but not unexpected. I mean, the app had to be pretty much rewritten from scratch. I think you guys are doing great work!

[2016-05-30 08:55] raimund-schluessler commented on #421
@DeepDiver1975 You can find a vcf file here: https://gist.github.com/raimund-schluessler/b18d453873afc7d3cf2d0b5e55b65d41
I replaced sensitive information, but it seems as the vcf is still intact (reimport into contacts app worked).

[2016-05-30 10:49] DeepDiver1975 commented on #421
THX @raimund-schluessler

[2016-05-30 12:34] j-ed commented on #421
@DeepDiver1975 your fix https://github.com/owncloud/contacts/commit/e645ade626852f025b3223e9ea7d7bd783047566 modifies file `js/models/contact_model.js` which is currently not part of the 1.3.0.0 app archive. Is that correct or has an incomplete archive been published? I would like to apply the patch manually if possible.

[2016-05-30 12:43] raimund-schluessler commented on #421
@j-ed You have to edit line 1037 in `js/public/script.js`. This file is compiled from the source files in this repository here. However, I must admit, that I don't really understand why the compiled version is not part of the repo.

@DeepDiver1975 Is there a reason why the compiled version is not tracked here? I know it might be a bit redundant to track it, but it would enable people to test the a

[2016-05-30 13:36] DeepDiver1975 commented on #421
Merge conflicts and the constant failure of devs to regenerate the compiled file on checkin :wink:

[2016-05-30 13:43] j-ed commented on #421
@raimund-schluessler :+1: Thanks, I've applied the patch https://github.com/owncloud/contacts/commit/e645ade626852f025b3223e9ea7d7bd783047566 and the contact pictures are shown again.

[2016-05-30 13:45] pbek commented on #389
are there any news on this issue, @DeepDiver1975?

[2016-05-30 13:49] ManOki commented on #421
i uploaded an photo again and all changed in the vcard photo section is:

OLD: `PHOTO;ENCODING=B;TYPE=JPEG:/9j/4AAQSkZJRg`
NEW: `PHOTO;TYPE=image/jpeg:/9j/4AAQSkZJRg`

no need to update, just reupload all images or update database.

Note: i had very old contact images from owncloud 6, same as mentioned in #315

update: the type of the new vcf export does not seem valid (see [wiki](https://en.wikip

[2016-05-30 13:53] pbek commented on #389
I just updated to Contacts 1.3.0.0. Now there are no error messages and spinner any more, but the contacts from my old address book still will not show up. There are no significant javascript errors. Accessing them via carddav is still working, as is exporting the address book in Contacts.

[2016-05-30 14:07] JPustkuchen commented on #1113
Same problem here. We're using an ELMEG IP 120 Phone which we'd like to connect to owncloud contacts. Is there a solution?

[2016-05-30 15:13] meras1894 commented on #294
I don't have that issue anymore. I made a complete fresh installation of Ubuntu and Owncloud... don't know, whats different.

[2016-05-30 18:00] raimund-schluessler commented on #421
Uploading a new picture only solves this issue here (#421) and it is very cumbersome to do it for all contacts.

The fix provided in #422 solves both this issue here and #315 and is only a small fix. So I definitly go with that. Thanks a lot @DeepDiver1975

[2016-05-30 18:02] raimund-schluessler commented on #315
Try the fix in #422. This fixed the issue for me.

[2016-05-30 19:11] #421 closed, assigned to nobody

[2016-05-30 19:12] DeepDiver1975 commented on #315
-> close

[2016-05-30 19:12] #315 closed, assigned to nobody

[2016-05-30 20:50] #294 closed, assigned to nobody

[2016-05-31 07:04] torsten-winkler opened #423 "Contact photos invisible after update to 1.3.0.0"
### Steps to reproduce
1. update contacts app from 1.2.0.0 to 1.3.0.0 on Owncloud 9.0.2
2. go to contacts app
   3.
### Expected behaviour

normal contacts view with contact photos
### Actual behaviour

contact photos are invisible
### Server configuration

**Operating system**: Ubuntu 14.04.4 LTS Server

**Web server:** Apache 2.4.7

**Database:** Mysql 5.5

**PHP version:** 5.5.9

**ownCloud ver

[2016-05-31 08:29] paroj commented on #423
## Browser log

[code]

probably has something to do with this:
https://stackoverflow.com/questions/22754393/in-a-chrome-app-using-angularjs-can-i-use-the-ngsrc-directive-directly-for-inte

[2016-05-31 08:54] macmeck commented on #423
I guess this is the same as #421 and should be fixed by https://github.com/owncloud/contacts/commit/e645ade626852f025b3223e9ea7d7bd783047566.

[2016-05-31 11:50] torsten-winkler commented on #423
Sorry I didn't see the other thread, this looks indeed like a duplicate.

[2016-05-31 14:15] DeepDiver1975 commented on #423
1.3.1 was just released on the appstore to fix this

[2016-05-31 14:15] #423 closed, assigned to nobody

[2016-05-31 15:06] ManOki opened #425 "Invalid VCard PHOTO TYPE"
### Steps to reproduce
1. create a contact
2. upload any jpg image as photo
3. export vcf using contacts download button (via settings down-left)
4. open vcf with an editor
### Expected behaviour

the photo section of the contact should look like `PHOTO;ENCODING=B;TYPE=JPEG:/9j/4AAQSkZJRg`
### Actual behaviour

the photo section looks like `PHOTO;TYPE=image/jpeg:/9j/4AAQSkZJRg`
### Server configur

[2016-05-31 15:07] ManOki commented on #425
actual implementation seems to use the MIME type, but this is not standard (see [wiki](https://en.wikipedia.org/wiki/VCard#Properties))

[2016-05-31 23:49] DarkSteve commented on #423
That fixed it! I have my photos back :-D

Thanks DeepDiver!

[2016-06-01 07:21] Tuaneric opened #426 "update Contact 1.3 and 1.3.1. IOS can not synchronize with owncloud"
Hello
After doing the update Contact 1.3 and 1.3.1. I can not synchronize with owncloud.

My Iphone with IOS 9.3.2,
I added: https: //website/owncloud/remote.php/dav/addressbooks/users/my/default/

After validation: it changes: https: //website/owncloud/remote.php/dav/principals/users/my/default/

It is not normal.

thank you before

### Steps to reproduce

1.
2.
3.
### Expected behaviour

Tell us

[2016-06-01 15:01] Rello commented on #426
Hello,
you will need to post more info on "does not work".
Can you check from desktop e.g. Mac OS Addressbook?

try the URL
/owncloud/remote.php/carddav/principals/**_USER**_/

what Server are you using? nginx or apache?
Please post your redirects if they are correct

[2016-06-01 17:41] Tuaneric commented on #426
Hello
I used apache2 Raspberry 2.

My link https://pi.xxx.fr/owncloud/remote.php/dav/addressbooks/users/eric/default/

Iphone detects the correct information but the contacts are not displayed

Thank

[2016-06-01 19:48] Rello commented on #425
3.0: PHOTO;TYPE=JPEG;ENCODING=b:[base64-data]
4.0: PHOTO:data:image/jpeg;base64,[base64-data]

Actual behaviour:
PHOTO;TYPE=image/jpeg:/9j/4AAQSkZJRg

what is the vcard version, which is created by default?
it seems to be a bit of both parts

[2016-06-01 19:56] Rello commented on #425
#421

[2016-06-01 21:39] ManOki commented on #425
current export version is 3.0

[2016-06-02 06:04] ckujau commented on #389
I ran into this as well, but I happened sometime after upgrading from OC 9.0.1-1.1 to 9.0.1-3.1 or 9.0.2-1.1 (on Debian/Jessie). After that, a new table `oc_cards` was created but carried only about half the contacts from `oc_contacts_cards`. Unfortunately, I only noticed this some weeks later that "some" contacts are missing. I tried to [convert](https://gist.github.com/ckujau/779f9d4f77353b9cd36

[2016-06-02 08:18] herndlm opened #427 "contact name in vcard is not updated on changes (only the formatted name)"
### Steps to reproduce
1. Change the name of a contact (I changed "Akiko Ozakis" to "Akiko Ozaki")
2. Do a sync via DAVDroid with my Android device
### Expected behaviour

The name of the contact should change.
### Actual behaviour

What I noticed is that the old name is shown on my Android device but if I edit the contact it shows the new one. I dug further into the syncing process and got the ra

[2016-06-02 14:15] benedikt-buchert commented on #426
I'm having the same issue it works on my mac but not on the iphone..

I'm using https://xxx.xxx.xx/remote.php/dav/principals/users/admin/

I added the the dav succesfully but no contacts seem to appear in the app. It works with iOs though.

[2016-06-02 17:32] Rello commented on #427
#418

[2016-06-02 20:20] scriptPilot opened #429 "In web uploaded photos are not synchronized to iPhone"
I have connected ownCloud via CardDav to my iPhone SE.

When I add photos on the phone to contacts, they are displayed properly in ownCloud web some time later. But when I add them in the web, they are not shown on the iPhone - not even much time later.

[2016-06-03 07:14] Akhenaton opened #430 "Contacts 1.3.1 - Doesn't load (spinning wheel)"
### Steps to reproduce
1. update from 1.3 to 1.3.1
2. Do some sync with with KDE's Kaddressbook
3. Open in the web UI the app
### Expected behaviour

Contacts should appear.
### Actual behaviour

Spinning wheel and never loads.
### Server configuration

Linux
Apache2
Mysql
PHP 7.0.7
ownCloud 9.0.2
Contacts version 1.3.1

**List of activated apps:**
Enabled:
- activity: 2.2.1
- announcementcenter:

[2016-06-03 07:48] herndlm commented on #427
I see, thx for the notice!

[2016-06-03 07:48] #427 closed, assigned to nobody

[2016-06-03 08:37] druckpiloten commented on #430
same here and I need to login for "sabre/dav" again!

edit: I created a new user and login as this. Contact does load at this user.

[2016-06-04 06:41] benedikt-buchert commented on #426
I also noticed that adress changes automatically
https://xxx.xxx.xx/remote.php/dav/principals/users/user/my-calendar/
to https://xxx.xxx.xx/remote.php/dav/principals/users/user/

[2016-06-04 15:45] inv1sible commented on #430
Not sure if that helps anyone (either in solving the problem or use it as a workaround) but: when I
- _**disable**_ the PHP-Cache -> contacts works fine...

when reenabling php cache I face the same problem again... spinning wheel of death 😉

[2016-06-04 18:25] Sora1248 commented on #430
I just had the same problem.

This is what I've done:
1. I was adding some photos to my contacts with Kaddressbook. This was then synchronized to the Contacts OwnCloud App.
2. I tried to synchronize my Smartphone with OwnCloud using DAVdroid and got the same error message as Akhenaton already posted.
3. In the Contacts App itself I got the message "Keine Kontakte gefunden" (No contacts found) and

[2016-06-04 21:29] Akhenaton commented on #430
Bingo ! @Sora1248   :thumbsup:

That's exactly what i have done with KDE's Kaddressbook... just messing things with photos, i'm pretty sure...
Now the tricky part is to know exactly the affected records... i don't remember.... and i have more than 500 contacts in my addressbooks....

Thank you anyway for the nice  and detailed tip.

P.S. vCards get imported/exported with incorrect Photo Format Typ

[2016-06-05 15:35] Akhenaton commented on #430
Well, i'm thinking  to start again from scratch, but after cleaning all the related tables in my database...
(Unfortunately, when you uninstall an app. in owncloud, all the corresponding database tables are not removed and you ends-up with a terrible mess in the database.)

Actually, i have these tables (7) that i think related to the contact app.

Is there anothers one's ?... (I want to delete co

[2016-06-06 08:04] Tuaneric commented on #426
Hello
 
I installed Owncloud 9.0.2, plug-in contact on my raspberry 2
I can not add new contact. There really new version of the problem.

Thank you

[2016-06-06 08:46] Mte90 commented on #430
Same problem with owncloud 9.0.2, also I cannot access with carddav because I get an error with davdroid (https://forums.bitfire.at/topic/1108/owncloud-invalid-mimedir-file).

In the admin panel i have this error:

[code]

When i try to import a vcf file i get many errors on the browser console on dav.js.
Actually i cannot use my contacts and I have no idea if there are in the db.
The hosting aske

[2016-06-07 13:40] Pazu opened #431 "CardDAV URL for default address book contains unexpected suffix"
The CardDAV URL shown by the Contacts app for my default address book contains, after upgrading to owncloud 9.0.2 (and, indeed, before that upgrade) has long included an unexpected suffix.

https://example.com/remote.php/dav/addressbooks/users/my_username/family/

Where does the Contacts app get this URL? Does it come from core? Why does the default address book include that "family/" suffix?

[2016-06-07 14:05] Pazu commented on #431
(Once I know whether this belongs here or in core, I'll of course supply more detailed config information per the template.)

[2016-06-07 18:08] jancborchardt commented on #354
@skjnldsv nice! Just a few things:
- a bit more whitespace between the columns would be good
- I would put the one-liner stuff on the left (email, phone, etc) and the multiline post address on the right, so that it’s balanced

[2016-06-07 21:33] jancborchardt commented on #255
We mainly need to adjust the layout so the look is simplified. It should be something like:

[code]

(Intentionally that way so that the left column lists the most important info.) What do you think?

[2016-06-08 07:40] j-ed commented on #255
Wouldn't it be easier to handle PO box addresses separately from normal addresses, like entering a new address because it isn't only the PO box number which might change but also the zip code and city.
Currently it is differenciated between **Private**, **Work** and **Other**. By adding a new category **PO Box** we would get the whole flexibility to enter a PO box number, a new zip code etc. In ad

[2016-06-08 07:42] skjnldsv commented on #354
Yes, I haven't had the time to continue my work on it these days! :(
I should be available soon. :)

[2016-06-08 09:17] jancborchardt commented on #255
@j-ed yes, as I said:

But if we aim to make it work for most nations, let’s just go with this standard layout:

[code]

Reasoning:
- Street+number is one of the most important things. PO Box is optional for when it’s needed, or like a `c/o`
- Postcode is before city because that’s often done like that as @j-ed said

(We should not separate Street and house number – not even _more_ input fields pl

[2016-06-08 09:44] j-ed commented on #255
@jancborchardt I understand. What do you think about adding a new address category **PO Box**  instead of mingling street address and PO Box data. As I wrote, in Germany a PO Box is normally not located at the same address as a company/person reside and also may have a different zip code and city.

This would also allow to use the same field for the street address and PO box without the need to ad

[2016-06-08 10:01] jancborchardt commented on #255
Great point actually, why didn’t we think about that. :D It makes stuff a bit more complicated for when you do need a PO Box, but we could actually query the region format and for regions where a PO Box is used add it as automatic field.

@Henni @irgendwie @DeepDiver1975 what do you think about that?

[2016-06-08 11:25] enoch85 opened #432 "Color is too bright"
### Expected behaviour

Text in the name should be visible
### Actual behaviour

http://i.imgur.com/VP5bnXg.png
### Server configuration

**Operating system**:
Ubuntu Server 16.04
**ownCloud version:** (see ownCloud admin page)
9
**Contacts version:** (see ownCloud apps page)
1.3.1
### Client configuration

**Browser:**
Chrome
**Operating system:**
Debian